Repository hyperledger-iroha/iroha, pull requests merged in 2020-07, with the labels that each got.

#585 Bridge: remove clients
  iroha/src/account.rs
  iroha/src/bridge.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/permission.rs
Labels: iroha2

#578 Connect to Iroha functionality.
  iroha/Cargo.toml
  iroha/src/asset.rs
  iroha/src/bridge.rs
  iroha/src/domain.rs
  iroha/src/event.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/permission.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
  iroha_client/Cargo.toml
  iroha_client/src/client.rs
  iroha_client/tests/subscribe_to_changes.rs
  iroha_network/src/lib.rs
  iroha_network/tests/connect.rs
Labels: iroha2

#583 Block synchronization: diagrams
  iroha/docs/uml/block_sync/activity.puml
  iroha/docs/uml/block_sync/sequence.puml
Labels: iroha2

#587 Block validation corrections
  iroha/benches/validation.rs
  iroha/src/block.rs
  iroha/src/kura.rs
  iroha/src/merkle.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
Labels: iroha2

#586 Nested configuration
  docker-compose.yml
  iroha/benches/validation.rs
  iroha/config.json
  iroha/src/asset.rs
  iroha/src/bridge.rs
  iroha/src/config.rs
  iroha/src/crypto.rs
  iroha/src/event.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/main.rs
  iroha/src/maintenance.rs
  iroha/src/permission.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/wsv.rs
  iroha/tests/test_config.json
  iroha_client/Cargo.toml
  iroha_client/benches/torii.rs
  iroha_client/config.json
  iroha_client/src/client.rs
  iroha_client/src/config.rs
  iroha_client/src/lib.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/check_health.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/scrape_metrics.rs
  iroha_client/tests/subscribe_to_changes.rs
  iroha_client/tests/test_config.json
  iroha_client/tests/transfer_asset.rs
  iroha_client_cli/src/main.rs
  iroha_network/src/lib.rs
  scripts/setup_docker_test_env.sh
Labels: iroha2

#590 Configuration of connect functionality.
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
  iroha_client/src/config.rs
  iroha_network/src/lib.rs
Labels: iroha2

#591 Synchronize blocks in batches
  iroha/config.json
  iroha/src/block_sync.rs
  iroha/src/config.rs
  iroha/src/lib.rs
  iroha/tests/test_config.json
  iroha_client/tests/test_config.json
Labels: iroha2

#592 Store invalidated blocks hashes
  iroha/benches/validation.rs
  iroha/src/block.rs
  iroha/src/event.rs
  iroha/src/kura.rs
  iroha/src/sumeragi.rs
  iroha/src/wsv.rs
Labels: iroha2

#593 Max transactions per block configuration
  iroha/config.json
  iroha/src/config.rs
  iroha/src/lib.rs
  iroha/src/queue.rs
  iroha/tests/test_config.json
  iroha_client/tests/test_config.json
Labels: iroha2

#595 Transactions TTL
  iroha/benches/validation.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha_client/src/client.rs
  iroha_client/src/config.rs
Labels: iroha2

#589 Extract Iroha domain entities for no-std client
  Cargo.toml
  iroha_client_no_std/Cargo.toml
  iroha_client_no_std/src/account.rs
  iroha_client_no_std/src/asset.rs
  iroha_client_no_std/src/client.rs
  iroha_client_no_std/src/config.rs
  iroha_client_no_std/src/domain.rs
  iroha_client_no_std/src/event.rs
  iroha_client_no_std/src/isi.rs
  iroha_client_no_std/src/lib.rs
  iroha_client_no_std/src/peer.rs
  iroha_client_no_std/src/permission.rs
  iroha_client_no_std/src/query.rs
  iroha_client_no_std/src/tx.rs
Labels: iroha2

#594 General Connect Mechanism.
  docker-compose.yml
  iroha/config.json
  iroha/src/block_sync.rs
  iroha/src/crypto.rs
  iroha/src/event.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/tests/test_config.json
  iroha_client/src/client.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/subscribe_to_changes.rs
  iroha_client/tests/test_config.json
  iroha_client_no_std/src/client.rs
  iroha_network/src/lib.rs
  iroha_network/tests/connect.rs
Labels: iroha2

#598 Moves Sumeragi message handling into message impl
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
Labels: iroha2

#602 Tests for no-std client
  iroha_client_no_std/Cargo.toml
  iroha_client_no_std/src/asset.rs
  iroha_client_no_std/src/lib.rs
  iroha_client_no_std/tests/add_asset.rs
  iroha_client_no_std/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client_no_std/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client_no_std/tests/high_load_transfer.rs
  iroha_client_no_std/tests/test_config.json
  iroha_client_no_std/tests/transfer_asset.rs
Labels: iroha2

#600 Events sending of transactions and blocks.
  .github/workflows/rust.yml
  iroha/Cargo.toml
  iroha/src/event.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/Cargo.toml
  iroha_network/Cargo.toml
  iroha_network/src/lib.rs
  iroha_network/src/mock.rs
Labels: iroha2

#603 IR-802 Subscription to blocks statuses changes.
  iroha_client/src/client.rs
  iroha_client/src/config.rs
  iroha_client/tests/subscribe_to_changes.rs
Labels: iroha2

#604 Log improvements
  iroha/Cargo.toml
  iroha/config.json
  iroha/src/block_sync.rs
  iroha/src/config.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/main.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/tests/test_config.json
  iroha_client/Cargo.toml
  iroha_client/config.json
  iroha_client/src/config.rs
  iroha_client/tests/test_config.json
  iroha_client_cli/config.json
  iroha_client_no_std/Cargo.toml
  iroha_client_no_std/src/config.rs
  iroha_client_no_std/tests/test_config.json
  iroha_logger/Cargo.toml
  iroha_logger/src/lib.rs
  iroha_macro/iroha_derive/Cargo.toml
  iroha_macro/iroha_derive/src/lib.rs
  iroha_macro/iroha_derive/tests/log.rs
  iroha_network/Cargo.toml
Labels: iroha2

#607 eprintln to log macro
  iroha/src/block.rs
  iroha/src/block_sync.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
Labels: iroha2

#614 CLI functionality for Maintenance Connect.
  docker-compose-single.yml
  iroha/src/event.rs
  iroha_client/config.json
  iroha_client/src/client.rs
  iroha_client/tests/subscribe_to_changes.rs
  iroha_client_cli/Cargo.toml
  iroha_client_cli/config.json
  iroha_client_cli/src/main.rs
  iroha_client_cli/tests/test_config.json
  iroha_network/src/lib.rs
Labels: iroha2

#609 KeysManager: fixed keypair validation
  libs/crypto/keys_manager_impl.cpp
  shared_model/cryptography/crypto_provider/crypto_signer.cpp
  test/module/libs/crypto/keys_manager_test.cpp
Labels: 1.2.x, bug

#610 Ametsuchi: fixed root permission for account creation
  irohad/ametsuchi/impl/postgres_command_executor.cpp
  test/integration/executor/create_account_test.cpp
Labels: 1.2.x, bug

#557 fixed keypair validation
  libs/crypto/keys_manager_impl.cpp
  shared_model/cryptography/crypto_provider/crypto_signer.cpp
  test/module/libs/crypto/keys_manager_test.cpp
Labels: 1.x, bug

#616 Merkle tree root hash for block transactions
  iroha/src/block.rs
  iroha/src/kura.rs
  iroha/src/merkle.rs
  iroha/src/tx.rs
Labels: iroha2

#619 Update Github Actions workflows.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docker.yml
  .github/workflows/iroha2master.yml
  .github/workflows/iroha2pr.yml
  .github/workflows/rust.yml
Labels: iroha2

#623 Update Github Actions workflows.
  .github/workflows/iroha2master.yml
Labels: iroha2

#624 Fixes in master workflow.
  .github/workflows/iroha2master.yml
Labels: iroha2

#620 Event connections
  iroha/src/event.rs
  iroha/src/torii.rs
  iroha_network/src/lib.rs
Labels: iroha2

#564 PostgreSQL: reconnect to working database after failure
  irohad/main/impl/pg_connection_init.cpp
Labels: 1.x, bug

#626 Events filter
  iroha/src/event.rs
  iroha_client/tests/subscribe_to_changes.rs
Labels: iroha2

#627 Events cli improvements
  iroha/src/event.rs
  iroha_client/src/client.rs
  iroha_client/src/lib.rs
  iroha_client/tests/subscribe_to_changes.rs
  iroha_client_cli/src/main.rs
Labels: iroha2

#630 Iroha Monitor Guide and CLI.
  docs/source/guides/monitor-iroha-peer.md
  docs/source/index.rst
  iroha_client_cli/src/main.rs
Labels: iroha2

#611 PostgreSQL: reconnect to working database after failure
  irohad/main/impl/pg_connection_init.cpp
Labels: 1.2.x, bug

#631 Docker event connection test
  .github/workflows/iroha2master.yml
  .github/workflows/iroha2pr.yml
  docker-compose-single.yml
  docker-compose.yml
  iroha/src/event.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
  iroha_client/tests/subscribe_to_changes.rs
  iroha_client_cli/src/main.rs
  iroha_network/src/lib.rs
  iroha_network/tests/connect.rs
  scripts/test_connect_docker_compose.sh
Labels: iroha2

#625 Docs: fixed GetEngineReceipts description
  docs/source/develop/api/queries.rst
Labels: 1.2.x, 1.x, Documentation

#636 Bench master workflow fix
  .github/workflows/iroha2master.yml
Labels: iroha2

#628 ursa build deps fix
  cmake/Modules/Findursa.cmake
Labels: 1.x, bug

#629 ursa build deps fix
  cmake/Modules/Findursa.cmake
Labels: 1.2.x, 1.x, bug

#639 Replaces hardcoded config path with cli param
  iroha_client_cli/src/main.rs
Labels: iroha2

#637 Fix s390x build related issues
  CMakeLists.txt
  irohad/main/server_runner.hpp
  libs/common/permutation_generator.cpp
  test/framework/batch_helper.hpp
  test/framework/integration_framework/iroha_instance.cpp
  test/module/libs/common/permutation_generator_test.cpp
Labels: 1.x

#635 Iroha custom ISI guide and Cucumber tests.
  .github/workflows/iroha2master.yml
  .github/workflows/iroha2pr.yml
  docs/source/features/bridge.feature
  docs/source/guides/write-custom-instruction.md
  docs/source/references/glossary.md
  docs/source/tutorials/mint-your-first-asset.md
  iroha/src/asset.rs
  iroha/src/domain.rs
  iroha/src/query.rs
  iroha_client/Cargo.toml
  iroha_client/src/client.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/single_config.json
Labels: iroha2

#633 Fix ninja build in wsv_query_test
  test/framework/make_peer_pointee_matcher.hpp
  test/integration/acceptance/fake_peer_fixture.hpp
  test/module/irohad/ametsuchi/wsv_query_test.cpp
Labels: 1.x

#642 CODEOWNERS for Iroha 2 branches
  .github/CODEOWNERS
Labels: iroha2

#638 Fix s390x build related issues
  CMakeLists.txt
  irohad/main/server_runner.hpp
  libs/common/permutation_generator.cpp
  test/framework/batch_helper.hpp
  test/framework/integration_framework/iroha_instance.cpp
  test/module/libs/common/permutation_generator_test.cpp
Labels: 1.2.x

#632 Fix ninja build in wsv_query_test
  test/framework/make_peer_pointee_matcher.hpp
  test/integration/acceptance/fake_peer_fixture.hpp
  test/module/irohad/ametsuchi/wsv_query_test.cpp
Labels: 1.2.x

#641 Ametsuchi: remove sql dependency from VmCaller
  irohad/ametsuchi/CMakeLists.txt
  irohad/ametsuchi/impl/burrow_vm_caller.cpp
  irohad/ametsuchi/impl/burrow_vm_caller.hpp
  irohad/ametsuchi/impl/postgres_command_executor.cpp
  irohad/ametsuchi/vm_caller.hpp
  test/integration/executor/call_engine_test.cpp
  test/integration/executor/get_engine_receipts_test.cpp
  test/module/irohad/ametsuchi/mock_vm_caller.hpp
Labels: 1.x

#644 DEX Features.
  docs/source/features/exchange.feature
Labels: iroha2

#646 IR-860: Iroha Queries and tests.
  docs/source/features/bridge.feature
  docs/source/features/exchange.feature
  docs/source/features/queries.feature
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/domain.rs
  iroha/src/query.rs
  iroha/src/wsv.rs
  iroha_client/Cargo.toml
  iroha_client/benches/torii.rs
  iroha_client/src/client.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client_cli/src/main.rs
  iroha_client_no_std/tests/transfer_asset.rs
Labels: iroha2

#647 Initial support for different crypto alogorithms
  Cargo.toml
  docker-compose-single.yml
  docker-compose.yml
  iroha/Cargo.toml
  iroha/benches/sumeragi.rs
  iroha/benches/validation.rs
  iroha/config.json
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/block.rs
  iroha/src/block_sync.rs
  iroha/src/bridge.rs
  iroha/src/config.rs
  iroha/src/crypto.rs
  iroha/src/event.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/permission.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
  iroha/tests/test_config.json
  iroha_client/Cargo.toml
  iroha_client/config.json
  iroha_client/src/client.rs
  iroha_client/src/config.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/single_config.json
  iroha_client/tests/test_config.json
  iroha_client/tests/transfer_asset.rs
  iroha_client_cli/config.json
  iroha_client_cli/tests/test_config.json
  iroha_client_no_std/Cargo.toml
  iroha_client_no_std/src/account.rs
  iroha_client_no_std/src/asset.rs
  iroha_client_no_std/src/client.rs
  iroha_client_no_std/src/config.rs
  iroha_client_no_std/src/peer.rs
  iroha_client_no_std/src/query.rs
  iroha_client_no_std/src/tx.rs
  iroha_client_no_std/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client_no_std/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client_no_std/tests/high_load_transfer.rs
  iroha_client_no_std/tests/test_config.json
  iroha_client_no_std/tests/transfer_asset.rs
  iroha_crypto/Cargo.toml
  iroha_crypto/src/lib.rs
  iroha_crypto/src/multihash.rs
  iroha_crypto_cli/Cargo.toml
  iroha_crypto_cli/src/main.rs
Labels: iroha2

#653 Secp256k1 keypair support
  iroha_crypto/src/lib.rs
  iroha_crypto/src/multihash.rs
  iroha_crypto_cli/src/main.rs
Labels: iroha2

#654 Print generated keypair as json
  iroha_crypto/src/lib.rs
  iroha_crypto_cli/src/main.rs
Labels: iroha2

#656 README updates for key generation
  iroha/README.md
  iroha_crypto_cli/README.md
Labels: iroha2
