Repository hyperledger-iroha/iroha, pull requests merged in 2020-04, with the labels that each got.

#426 Update WSV and Migration to Scale
  .github/workflows/rust.yml
  iroha/Cargo.toml
  iroha/benches/torii.rs
  iroha/docs/references/wsv_update.md
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/block.rs
  iroha/src/client.rs
  iroha/src/client/command.rs
  iroha/src/client/query.rs
  iroha/src/crypto.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/main.rs
  iroha/src/peer.rs
  iroha/src/query.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/src/validation.rs
  iroha/src/wsv.rs
  iroha_client/tests/client.rs
Labels: iroha2

#416 add proposed design for conditional multisig
  iroha_2_whitepaper.md
Labels: iroha2

#427 Additional CI caches.
  .github/workflows/rust.yml
Labels: iroha2

#425 DOPS-935 Iroha support cli option in docker entrypoint.sh
  docker/release/Dockerfile
  docker/release/entrypoint.sh
Labels: 1.1.x

#428 Transformation of Commands into ISI contracts.
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
  iroha_client/src/client.rs
  iroha_client/tests/client.rs
Labels: iroha2

#429 DOPS-935 Iroha support cli option in docker entrypoint.sh
  docker/release/Dockerfile
  docker/release/entrypoint.sh
Labels: 1.x

#430 Iroha client query
  .gitignore
  iroha/benches/torii.rs
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/block.rs
  iroha/src/config.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/query.rs
  iroha/src/torii.rs
  iroha/src/wsv.rs
  iroha_client/config.json
  iroha_client/src/client.rs
  iroha_client/tests/client.rs
Labels: iroha2

#435 [DOPS-947] Python dependencies have been fixed
  docker/develop/Dockerfile
Labels: 1.1.x

#433 `Io`, `IntoContract` and `IntoQuery` traits and derive macros.
  Cargo.toml
  iroha/Cargo.toml
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/block.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/peer.rs
  iroha/src/query.rs
  iroha/src/tx.rs
  iroha_macro/Cargo.toml
  iroha_macro/iroha_derive/Cargo.toml
  iroha_macro/iroha_derive/src/lib.rs
  iroha_macro/iroha_derive/tests/serialize.rs
  iroha_macro/src/lib.rs
Labels: iroha2

#436 [DOPS-947] Python dependencies have been fixed
  docker/develop/Dockerfile
Labels: 1.x

#437 Benches tests positive cases.
  iroha/Cargo.toml
  iroha/benches/torii.rs
  iroha/src/asset.rs
  iroha/src/config.rs
  iroha/src/main.rs
  iroha/src/torii.rs
  iroha/src/wsv.rs
  iroha_client/Cargo.toml
  iroha_client/benches/torii.rs
  iroha_client/tests/client.rs
Labels: iroha2

#440 Networking
  Cargo.toml
  iroha_network/Cargo.toml
  iroha_network/src/lib.rs
Labels: iroha2

#445 Usage of temp dir for tests execution.
  iroha/Makefile.toml
  iroha/config.json
  iroha/src/config.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/torii.rs
  iroha_client/Cargo.toml
  iroha_client/benches/torii.rs
  iroha_client/tests/client.rs
Labels: iroha2

#420 fixed find fuzz test
  test/fuzzing/find_fuzz.cpp
Labels: 1.x

#446 Initial validation logic for transactions.
  .github/workflows/rust.yml
  iroha/src/asset.rs
  iroha/src/block.rs
  iroha/src/isi.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/merkle.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
  iroha_client/src/client.rs
  iroha_network/src/lib.rs
Labels: iroha2

#444 [Maintenance] Fix/python dependencies
  docker/release/Dockerfile
Labels: 1.1.x

#448 Pass state as the param for listen functions in iroha_network
  iroha_network/src/lib.rs
Labels: iroha2

#439 update whitepaper
  iroha_2_whitepaper.md
Labels: iroha2

#449 Usage of iroha_network in torii and client.
  iroha/Cargo.toml
  iroha/src/asset.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/query.rs
  iroha/src/torii.rs
  iroha/src/wsv.rs
  iroha_client/Cargo.toml
  iroha_client/benches/torii.rs
  iroha_client/src/client.rs
  iroha_client/tests/client.rs
  iroha_macro/iroha_derive/src/lib.rs
  iroha_macro/iroha_derive/tests/serialize.rs
  iroha_network/Cargo.toml
  iroha_network/src/lib.rs
Labels: iroha2

#413 Refactor pending txs storage test.
  test/module/irohad/pending_txs_storage/pending_txs_storage_test.cpp
Labels: 1.x

#450 Initial p2p module structure
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha_network/src/lib.rs
Labels: iroha2

#442 MST: use response from transport
  irohad/main/impl/pending_transaction_storage_init.cpp
  irohad/multi_sig_transactions/impl/mst_processor_impl.cpp
  irohad/multi_sig_transactions/mst_processor.hpp
  irohad/multi_sig_transactions/mst_processor_impl.hpp
  irohad/multi_sig_transactions/mst_types.hpp
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  irohad/multi_sig_transactions/transport/impl/mst_transport_stub.cpp
  irohad/multi_sig_transactions/transport/mst_transport_grpc.hpp
  irohad/multi_sig_transactions/transport/mst_transport_stub.hpp
  irohad/network/impl/async_grpc_client.hpp
  irohad/network/mst_transport.hpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  test/module/irohad/consensus/yac/peer_orderer_test.cpp
  test/module/irohad/multi_sig_transactions/mock_mst_transport.hpp
  test/module/irohad/multi_sig_transactions/mock_mst_transport_notification.hpp
  test/module/irohad/multi_sig_transactions/mst_mocks.hpp
  test/module/irohad/multi_sig_transactions/mst_processor_test.cpp
  test/module/irohad/multi_sig_transactions/transport_test.cpp
  test/module/shared_model/interface_mocks.hpp
Labels: 1.x

#451 `log` attribute macros for methods tracing.
  .github/workflows/rust.yml
  CONTRIBUTING.rst
  iroha/src/asset.rs
  iroha/src/query.rs
  iroha/src/torii.rs
  iroha_client/Cargo.toml
  iroha_client/src/client.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/client.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_macro/iroha_derive/src/lib.rs
  iroha_macro/iroha_derive/tests/log.rs
  iroha_network/Cargo.toml
  iroha_network/src/lib.rs
Labels: iroha2

#452 [Maintenance] Fix/1.1.x python dependencies
  docker/release/Dockerfile
Labels: 1.1.x

#454 Fixed bug with missing byte in u128 scale encoded TCP packet.
  iroha/src/lib.rs
  iroha/src/main.rs
  iroha/src/tx.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_network/src/lib.rs
Labels: iroha2

#455 forward pending transactions
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/queue.rs
  iroha/src/tx.rs
Labels: iroha2

#456 fixes rh2-59
  iroha/src/lib.rs
Labels: iroha2

#458 Changes in Transactions API - better creation and work with requests.
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/queue.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
  iroha_client/src/client.rs
Labels: iroha2

#461 Implementation of Iroha signature.
  .github/workflows/rust.yml
  iroha/src/asset.rs
  iroha/src/crypto.rs
  iroha/src/query.rs
Labels: iroha2

#463 Fixed bug in Request deserialization.
  iroha/src/crypto.rs
  iroha/src/lib.rs
  iroha/src/queue.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
  iroha_client/Cargo.toml
  iroha_client/src/client.rs
  iroha_network/src/lib.rs
Labels: iroha2

#467 Verify signatures on transaction acceptence.
  iroha/src/crypto.rs
  iroha/src/tx.rs
Labels: iroha2

#465 sumeragi initial
  iroha/src/block.rs
  iroha/src/crypto.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/sumeragi.rs
Labels: iroha2

#472 Crypto functions placed on top of the module and work with ursa signer encapsulated into Signature.
  iroha/src/block.rs
  iroha/src/crypto.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha_client/src/client.rs
Labels: iroha2

#473 Block sign with timestamp and previous block hash as payload.
  iroha/src/block.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/sumeragi.rs
Labels: iroha2

#474 Encapsulation of crypto logic inside crypto module.
  iroha/src/block.rs
  iroha/src/crypto.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha_client/src/client.rs
Labels: iroha2

#475 Encapsulation of network requests handling inside Torii
  CONTRIBUTING.rst
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
Labels: iroha2

#477 Peers communication via trusted peers list
  CONTRIBUTING.rst
  iroha/src/config.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
Labels: iroha2

#478 Add Peer instruction implemented instead of hardcode handling
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/wsv.rs
Labels: iroha2

#480 Encapsulation of network related information inside torii::uri and ir…
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
  iroha_network/Cargo.toml
  iroha_network/src/lib.rs
Labels: iroha2

#479 Benchmarks tuning
  iroha/src/lib.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/transfer_asset.rs
Labels: iroha2
