Repository hyperledger-iroha/iroha, pull requests merged in 2020-10, with the labels that each got.

#701 Docs: Iroha v1 Doc fixes
  CONTRIBUTING.rst
  README.md
  docs/source/build/index.rst
Labels: 1.2.x, Documentation

#331 Windows tests build
  .jenkinsci/builders/x64-win-build-steps.groovy
  .jenkinsci/helpers/ctest-to-junit.xsl
  .jenkinsci/helpers/transform_xml.py
  .packer/win/files/packages.config
  .packer/win/scripts/SetUpDevTools.ps1
  .packer/win/windows-build-server.json
  CMakeLists.txt
  Jenkinsfile
  cmake/functions.cmake
  example/python/permissions/commons.py
  goSrc/src/vmCaller/CMakeLists.txt
  iroha-cli/main.cpp
  irohad/ametsuchi/impl/postgres_block_index.cpp
  irohad/ametsuchi/impl/postgres_specific_query_executor.cpp
  irohad/model/converters/impl/json_command_factory.cpp
  irohad/model/converters/impl/json_query_factory.cpp
  irohad/model/converters/impl/pb_query_factory.cpp
  irohad/util/proto_status_tools.cpp
  libs/common/obj_utils.hpp
  libs/multihash/varint.hpp
  shared_model/interfaces/iroha_internal/transaction_sequence_factory.cpp
  shared_model/validators/block_validator.hpp
  shared_model/validators/field_validator.cpp
  shared_model/validators/protobuf/proto_block_validator.cpp
  shared_model/validators/protobuf/proto_command_validator.cpp
  shared_model/validators/protobuf/proto_proposal_validator.cpp
  shared_model/validators/transaction_validator.hpp
  shared_model/validators/transactions_collection/batch_order_validator.cpp
  shared_model/validators/transactions_collection/transactions_collection_validator.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/test_subscriber.hpp
  test/integration/binary/CMakeLists.txt
  test/integration/binary/launchers.cpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/integration/executor/get_account_detail_test.cpp
  test/module/irohad/ametsuchi/postgres_executor_test.cpp
  test/module/irohad/ametsuchi/tx_presence_cache_test.cpp
  test/module/irohad/ametsuchi/wsv_query_test.cpp
  test/module/irohad/main/server_runner_test.cpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/torii/command_service_test.cpp
  test/module/libs/cache/cache_test.cpp
  test/module/shared_model/mock_objects_factories/mock_query_factory.cpp
  test/module/shared_model/validators/validators_fixture.hpp
  test/system/irohad_test.cpp
Labels: 1.2.x

#703 Irohad: fixed flat_map in committed and rejected txs
  irohad/main/application.cpp
Labels: 1.2.x, bug

#712 update out of date lib
  iroha_http_server/Cargo.toml
Labels: iroha2
