Repository hyperledger-iroha/iroha, pull requests merged in 2020-03, with the labels that each got.

#368 [DOPS-886] Runtime vcpkg
  .jenkinsci/builders/x64-linux-build-steps.groovy
  .jenkinsci/builders/x64-mac-build-steps.groovy
  .jenkinsci/builders/x64-win-build-steps.groovy
  .jenkinsci/helpers/hash.py
  .jenkinsci/utils/utils.groovy
Labels: 1.1.x

#354 MST: assume state diff recieved
  irohad/multi_sig_transactions/impl/mst_processor_impl.cpp
Labels: 1.1.x

#375 Logger: remove fmt version from exception
  libs/logger/logger.hpp
Labels: 1.1.x

#380 Docs for #363
  docs/source/guides/configuration.rst
  example/config.sample
Labels: 1.1.x

#369 Initial Kura API.
  .travis.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  src/lib.rs
  src/main.rs
  src/model.rs
  src/storage/kura.rs
  src/storage/mod.rs
  tests/assets.rs
Labels: iroha2

#387 Transfer asset test and functionality.
  src/model/model.rs
  src/storage/kura.rs
  tests/assets.rs
Labels: iroha2

#390 Fixed tests and World State View initialization.
  src/model/model.rs
  src/storage/kura.rs
Labels: iroha2

#388 Disk storage prototype
  Cargo.toml
  src/model/model.rs
  src/storage/kura.rs
  tests/assets.rs
Labels: iroha2

#398 Initial Merkle Tree functionality with tests.
  src/cache/pending_tx_cache.rs
  src/model/mod.rs
  src/networking/torii.rs
  src/storage/kura.rs
  src/validation/mod.rs
  src/validation/stateful.rs
  src/validation/stateless.rs
Labels: iroha2

#402 use ursa::blake2
  Cargo.toml
  src/model/mod.rs
  src/validation/mod.rs
Labels: iroha2

#403 Code ejection from `mod.rs` files.
  src/cache/mst_cache.rs
  src/cache/pending_tx_cache.rs
  src/model/asset.rs
  src/model/block.rs
  src/model/commands/assets.rs
  src/model/commands/mod.rs
  src/model/commands/oob.rs
  src/model/crypto.rs
  src/model/mod.rs
  src/model/tx.rs
  src/storage/kura.rs
  src/validation/merkle.rs
  src/validation/mod.rs
  src/validation/stateful.rs
  src/validation/stateless.rs
  tests/assets.rs
Labels: iroha2

#404 Backport Short hash
  .jenkinsci/helpers/hash.py
Labels: 1.1.x

#392 Docs: add ca-certs to linux prereqs
  docs/source/build/index.rst
Labels: 1.x

#391 Docs: add ca-certs to linux prereqs
  docs/source/guides/build.rst
Labels: 1.1.x

#396 boost format -> fmt format in query executor
  irohad/ametsuchi/impl/postgres_specific_query_executor.cpp
  irohad/ametsuchi/impl/postgres_specific_query_executor.hpp
Labels: 1.x

#406 BDD like test scenario - transfer assets.
  src/cache/pending_tx_cache.rs
  src/client.rs
  src/client/command.rs
  src/client/query.rs
  src/consensus/sumeragi.rs
  src/lib.rs
  src/main.rs
  src/model/block.rs
  src/model/commands/accounts.rs
  src/model/commands/assets.rs
  src/model/commands/domains.rs
  src/model/commands/isi.rs
  src/model/commands/mod.rs
  src/model/commands/peers.rs
  src/model/tx.rs
  src/networking/torii.rs
  src/storage/kura.rs
  src/validation/merkle.rs
  tests/assets.rs
  tests/bdd.rs
Labels: iroha2

#372 in consensus ordering avoid vector copying
  irohad/consensus/yac/CMakeLists.txt
  irohad/consensus/yac/cluster_order.hpp
  irohad/consensus/yac/impl/cluster_order.cpp
  irohad/consensus/yac/impl/peer_orderer_impl.cpp
  irohad/consensus/yac/impl/peer_orderer_impl.hpp
  irohad/consensus/yac/yac_peer_orderer.hpp
  irohad/ordering/impl/kick_out_proposal_creation_strategy.cpp
  shared_model/validators/field_validator.cpp
  test/module/irohad/consensus/yac/mock_yac_peer_orderer.hpp
Labels: 1.x

#412 Get and Put requests handling for Torii.
  .github/workflows/rust.yml
  Cargo.toml
  benches/torii.rs
  docs/references/cqrs_api.raml
  docs/references/transfer_asset_sequence.puml
  src/client/query.rs
  src/consensus/sumeragi.rs
  src/main.rs
  src/model/block.rs
  src/model/tx.rs
  src/networking/torii.rs
  src/storage/kura.rs
  tests/bdd.rs
Labels: iroha2

#414 External configuration via environment variables.
  benches/torii.rs
  config.json
  src/config.rs
  src/lib.rs
  src/main.rs
  src/networking/torii.rs
  tests/bdd.rs
  tests/example_config.json
Labels: iroha2

#419 vcpkg: fix tbb repo
  vcpkg/patches/0003-fix-tbb-repo-in-vcpkg.patch
Labels: 1.x

#351 Cache redesign
  libs/cache/abstract_cache.hpp
  libs/cache/cache.hpp
  libs/common/ring_buffer.hpp
  test/module/libs/cache/cache_test.cpp
Labels: 1.x

#418 Refactoring of modules.
  CONTRIBUTING.rst
  Cargo.toml
  benches/torii.rs
  config.json
  src/account.rs
  src/asset.rs
  src/block.rs
  src/cache/mod.rs
  src/cache/mst_cache.rs
  src/cache/pending_tx_cache.rs
  src/client.rs
  src/client/command.rs
  src/client/query.rs
  src/config.rs
  src/consensus/mod.rs
  src/crypto.rs
  src/domain.rs
  src/isi.rs
  src/kura.rs
  src/lib.rs
  src/main.rs
  src/model/asset.rs
  src/model/commands/accounts.rs
  src/model/commands/assets.rs
  src/model/commands/domains.rs
  src/model/commands/isi.rs
  src/model/commands/mod.rs
  src/model/mod.rs
  src/networking/mod.rs
  src/peer.rs
  src/queue.rs
  src/storage/kura.rs
  src/storage/mod.rs
  src/sumeragi.rs
  src/torii.rs
  src/tx.rs
  src/validation.rs
  src/validation/mod.rs
  src/validation/stateful.rs
  src/validation/stateless.rs
  src/wsv.rs
  tests/assets.rs
  tests/bdd.rs
  tests/example_config.json
Labels: iroha2

#424 Workspaces
  .gitignore
  Cargo.toml
  iroha/Cargo.toml
  iroha/Makefile.toml
  iroha/benches/torii.rs
  iroha/config.json
  iroha/docs/references/cqrs_api.raml
  iroha/docs/references/transfer_asset_sequence.puml
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/block.rs
  iroha/src/client.rs
  iroha/src/client/command.rs
  iroha/src/client/query.rs
  iroha/src/config.rs
  iroha/src/crypto.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/main.rs
  iroha/src/peer.rs
  iroha/src/query.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/src/validation.rs
  iroha/src/wsv.rs
  iroha/tests/example_config.json
  iroha_client/Cargo.toml
  iroha_client/src/client.rs
  iroha_client/src/lib.rs
  iroha_client/tests/client.rs
Labels: iroha2
