Repository hyperledger-iroha/iroha, pull requests merged in 2020-05, with the labels that each got.

#484 Iroha CLI client.
  Cargo.toml
  iroha/src/domain.rs
  iroha/src/lib.rs
  iroha/src/main.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client_cli/Cargo.toml
  iroha_client_cli/README.md
  iroha_client_cli/config.json
  iroha_client_cli/src/main.rs
Labels: iroha2

#485 Sumeragi basic scenario
  iroha/src/account.rs
  iroha/src/config.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
Labels: iroha2

#486 Docker packaging of Iroha executable.
  .dockerignore
  Dockerfile
  Dockerfile.debug
  docker-compose.yml
  iroha/src/config.rs
  iroha/src/main.rs
Labels: iroha2

#487 Generation of key pairs was extracted from Iroha start.
  README.md
  iroha/src/config.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/merkle.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/tests/test_config.json
  iroha_client/benches/torii.rs
  iroha_client/config.json
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/test_config.json
  iroha_client/tests/transfer_asset.rs
Labels: iroha2

#464 DOPS-967 Update ci, push the right tag
  Jenkinsfile
Labels: 1.x

#491 Network mock cargo feature
  .github/workflows/rust.yml
  iroha/Cargo.toml
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
  iroha_client/tests/add_asset.rs
  iroha_network/Cargo.toml
  iroha_network/src/lib.rs
Labels: iroha2

#495 Migration to async-std API.
  iroha/Cargo.toml
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/add_asset.rs
  iroha_network/src/lib.rs
Labels: iroha2

#470 ring buffer size fix
  libs/common/ring_buffer.hpp
  test/module/libs/cache/cache_test.cpp
Labels: 1.x

#502 Sumeragi decoupling from Kura with channels
  iroha/src/block.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/wsv.rs
Labels: iroha2

#504 Consensus tests with network mock
  .github/workflows/rust.yml
  iroha/Cargo.toml
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_network/src/lib.rs
  iroha_network/src/mock.rs
Labels: iroha2

#505 Documentation linting rule.
  .github/workflows/rust.yml
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/block.rs
  iroha/src/config.rs
  iroha/src/crypto.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/query.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
Labels: iroha2

#506 Kura Mode enumeration and Trusted Peers configuration.
  iroha/src/config.rs
  iroha/src/kura.rs
  iroha/tests/test_config.json
Labels: iroha2

#507 ISI related methods for domain entities.
  iroha/benches/validation.rs
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/config.rs
  iroha/src/domain.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/merkle.rs
  iroha/src/peer.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/benches/torii.rs
  iroha_client/src/client.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client_cli/src/main.rs
Labels: iroha2

#510 Block header
  iroha/src/block.rs
  iroha/src/kura.rs
Labels: iroha2

#492 Refactor BatchHashEquality to another header
  irohad/multi_sig_transactions/state/impl/mst_state.cpp
  irohad/multi_sig_transactions/state/mst_state.hpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
  shared_model/interfaces/iroha_internal/transaction_batch.cpp
  shared_model/interfaces/iroha_internal/transaction_batch.hpp
Labels: 1.x

#509 Commit timeout handling
  iroha/src/crypto.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha_network/Cargo.toml
Labels: iroha2

#512 Reimplementation of Asset model into EC-S-.
  iroha/benches/validation.rs
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/wsv.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client_cli/src/main.rs
  iroha_network/Cargo.toml
Labels: iroha2

#511 synchronizer: continue applying blocks after failure on halfway
  irohad/synchronizer/impl/synchronizer_impl.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: 1.1.x, bug

#516 Fixes integration test with asset creation with several peers
  iroha/src/config.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
Labels: iroha2

#519 Module for Dex and crates for Bridges.
  Cargo.toml
  iroha/Cargo.toml
  iroha/src/bridge.rs
  iroha/src/dex.rs
  iroha/src/lib.rs
  iroha_substrate/Cargo.toml
  iroha_substrate/src/lib.rs
Labels: iroha2

#514 MST: fix rx usage to send state
  irohad/multi_sig_transactions/impl/mst_processor_impl.cpp
  irohad/multi_sig_transactions/mst_processor_impl.hpp
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  irohad/multi_sig_transactions/transport/impl/mst_transport_stub.cpp
  irohad/multi_sig_transactions/transport/mst_transport_grpc.hpp
  irohad/multi_sig_transactions/transport/mst_transport_stub.hpp
  irohad/network/mst_transport.hpp
  test/framework/integration_framework/fake_peer/fake_peer.cpp
  test/module/irohad/multi_sig_transactions/mock_mst_transport.hpp
  test/module/irohad/multi_sig_transactions/mst_processor_test.cpp
  test/module/irohad/multi_sig_transactions/transport_test.cpp
Labels: 1.x
