Repository hyperledger-iroha/iroha, pull requests merged in 2020-09, with the labels that each got.

#689 Implementation of missing ISI execute methods and test.
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/isi.rs
  iroha_client/tests/add_asset.rs
  iroha_data_model/src/isi.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  iroha_dsl/Cargo.toml
  iroha_dsl/src/lib.rs
  iroha_dsl/tests/dsl.rs
  iroha_dsl/tests/test_config.json
Labels: iroha2

#692 [IR-797] Register Trusted Peer in Peer Instruction implementation and…
  docs/source/features/instructions.feature
  iroha/src/config.rs
  iroha/src/isi.rs
  iroha/src/peer.rs
  iroha/src/query.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/cucumber.rs
  iroha_data_model/src/isi.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
Labels: iroha2

#693 Implementation transfer isi to Iroha_CLI
  iroha_client_cli/src/main.rs
Labels: iroha2

#691 Client API migration to http
  docker-compose-single.yml
  docker-compose.yml
  iroha/Cargo.toml
  iroha/benches/sumeragi.rs
  iroha/benches/validation.rs
  iroha/config.json
  iroha/src/config.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/Cargo.toml
  iroha_client/benches/torii.rs
  iroha_client/config.json
  iroha_client/src/client.rs
  iroha_client/src/config.rs
  iroha_client/src/http_client.rs
  iroha_client/src/lib.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/single_config.json
  iroha_client/tests/test_config.json
  iroha_client/tests/transfer_asset.rs
  iroha_client/tests/tx_rollback.rs
  iroha_client_cli/config.json
  iroha_client_cli/src/main.rs
  iroha_dsl/tests/dsl.rs
  iroha_dsl/tests/test_config.json
Labels: iroha2

#695 Ametsuchi: remove sql dependency from VmCaller
  irohad/ametsuchi/CMakeLists.txt
  irohad/ametsuchi/impl/burrow_vm_caller.cpp
  irohad/ametsuchi/impl/burrow_vm_caller.hpp
  irohad/ametsuchi/impl/postgres_command_executor.cpp
  irohad/ametsuchi/vm_caller.hpp
  test/integration/executor/call_engine_test.cpp
  test/integration/executor/get_engine_receipts_test.cpp
  test/module/irohad/ametsuchi/mock_vm_caller.hpp
Labels: 1.2.x

#688 ProtoCommandValidator: add precision validation
  shared_model/validators/protobuf/proto_command_validator.cpp
Labels: 1.2.x, bug

#651 PostgresSpecificQueryExecutor: case-insensitive hash checks
  irohad/ametsuchi/impl/postgres_specific_query_executor.cpp
Labels: 1.2.x, bug

#698 Doxygen: fix exclude filter to remove md files
  Doxyfile
Labels: 1.2.x

#699 Docs: Integrate Doxygen documentation into RTD
  Doxyfile
  docs/README.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/requirements.txt
Labels: Documentation

#700 Enable LTO for Release builds when available
  CMakeLists.txt
Labels: 1.2.x

#684 DOPS-1106 add iroha linux one build agent
  .jenkinsci/artifacts.groovy
  .jenkinsci/builders/x64-linux-build-steps.groovy
  .jenkinsci/text-variables.groovy
  Jenkinsfile
  cmake/dependencies.cmake
  docker/develop/Dockerfile
  vcpkg/VCPKG_COMMIT_SHA
  vcpkg/patches/0002-fixed-SOCI_CXX11-flag.patch
  vcpkg/patches/0002-vcpkg-add-missing-Makefile-flag-for-install-step.patch
  vcpkg/patches/0003-fix-tbb-repo-in-vcpkg.patch
  vcpkg/patches/0003-libpq-add-custom-Makefile-to-install-only-required-t.patch
Labels: 1.2.x

#696 Docs: Adding katacoda link to README among other resources
  README.md
Labels: Documentation

#561 Documentation: Python Examples for Key Pair Creation
  docs/source/develop/keys.rst
  docs/source/getting_started/python-guide.rst
Labels: 1.x, Documentation
