Repository hyperledger-iroha/iroha, pull requests merged in 2020-11, with the labels that each got.

#722 [fix] cppCheck
  .jenkinsci/build.groovy
Labels: 1.2.x

#723 Fixes coverage job
  iroha/Cargo.toml
Labels: iroha2

#731 Infrastructure: use LOCATION Python3 search policy for CMake
  .jenkinsci/builders/x64-mac-build-steps.groovy
Labels: 1.2.x

#717 Docs: Add information on Environment Variables configuration
  docs/source/configure/index.rst
Labels: 1.2.x, Documentation

#733 Queue tx tx number limit and Iroha initialization fixes
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha_client/tests/restart_peer.rs
Labels: iroha2
