Repository hyperledger-iroha/iroha, pull requests merged in 2020-08, with the labels that each got.

#657 [IR-868] Support transactions rollback\commit
  docs/source/references/glossary.md
  docs/source/references/isi.md
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/bridge.rs
  iroha/src/domain.rs
  iroha/src/event.rs
  iroha/src/isi.rs
  iroha/src/peer.rs
  iroha/src/permission.rs
  iroha/src/query.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
  iroha_client/tests/tx_rollback.rs
Labels: iroha2

#659 Introduces SignedQueryRequest
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/domain.rs
  iroha/src/lib.rs
  iroha/src/query.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
  iroha_client_no_std/src/account.rs
  iroha_client_no_std/src/asset.rs
  iroha_client_no_std/src/client.rs
  iroha_client_no_std/src/query.rs
  iroha_client_no_std/tests/add_asset.rs
  iroha_client_no_std/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client_no_std/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client_no_std/tests/high_load_transfer.rs
  iroha_client_no_std/tests/transfer_asset.rs
  iroha_crypto/src/lib.rs
Labels: iroha2

#661 Delivery artifacts for iroha subprojects
  .github/workflows/iroha2master.yml
  DockerfileCLI
  iroha_client/config.json
  iroha_client/src/client.rs
  iroha_client/src/config.rs
  iroha_client_cli/config.json
Labels: iroha2

#663 Fixes tx validation errors during benchmark tests
  .github/workflows/iroha2master.yml
  iroha/benches/validation.rs
  iroha/src/lib.rs
  iroha/src/permission.rs
Labels: iroha2

#660 Docs: Theme Changes for Decent HTML Output
  docs/source/conf.py
  docs/source/guides/index.rst
  docs/source/index.rst
  docs/source/references/index.rst
  docs/source/requirements.txt
  docs/source/tutorials/index.rst
Labels: Documentation, iroha2

#664 Test coverage pipeline improvements
  .github/workflows/iroha2master.yml
  README.md
Labels: iroha2

#669 Torii Benchmarks improvements
  iroha_client/benches/torii.rs
Labels: iroha2

#662 [IR-875] Implement DSL prototype
  .gitignore
  CONTRIBUTING.md
  Cargo.toml
  iroha_client/Cargo.toml
  iroha_crypto/src/lib.rs
  iroha_data_model/Cargo.toml
  iroha_data_model/src/isi.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  iroha_dsl/Cargo.toml
  iroha_dsl/src/lib.rs
Labels: iroha2

#671 Initial domains improvements
  docker-compose-single.yml
  docker-compose.yml
  iroha/config.json
  iroha/src/config.rs
  iroha/src/init.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/tests/test_config.json
  iroha_client/tests/single_config.json
  iroha_client/tests/test_config.json
  iroha_client_cli/tests/test_config.json
Labels: iroha2

#674 Refactors transaction stages
  iroha/benches/validation.rs
  iroha/src/block.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha_client/src/client.rs
Labels: iroha2

#676 Verifies account signature for transaction.
  iroha/Cargo.toml
  iroha/src/account.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha_client/Cargo.toml
  iroha_client/config.json
  iroha_client_cli/Cargo.toml
  iroha_client_cli/config.json
  iroha_client_no_std/Cargo.toml
Labels: iroha2

#667 Docs: fixed GetEngineReceipts description
  docs/source/develop/api/queries.rst
Labels: 1.x

#677 Develop Dockerfile: install setuptools and wheel
  docker/develop/Dockerfile
Labels: 1.2.x

#665 fix docs comment Caller in callEngine
  docs/source/develop/api/commands.rst
Labels: 1.2.x

#649 building: remove ursa feature build flags
  cmake/Modules/Findursa.cmake
Labels: 1.2.x, 1.x, bug

#682 Patched libssl.so.1.0.0 with symlink
  Dockerfile
  Dockerfile.debug
Labels: iroha2

#680 Introduces http server crate
  Cargo.toml
  iroha_http_server/Cargo.toml
  iroha_http_server/src/lib.rs
  iroha_network/Cargo.toml
Labels: iroha2

#685 Adds BLS signatures support
  iroha_crypto/Cargo.toml
  iroha_crypto/src/lib.rs
  iroha_crypto/src/multihash.rs
  iroha_crypto_cli/src/main.rs
Labels: iroha2

#687 Url query params parsing
  iroha_http_server/Cargo.toml
  iroha_http_server/src/lib.rs
Labels: iroha2
