Repository hyperledger-iroha/iroha, pull requests merged in 2020-06, with the labels that each got.

#520 Iroha Permissions
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/permission.rs
  iroha/src/wsv.rs
Labels: iroha2

#521 Faulty leader cases clarification
  iroha_2_whitepaper.md
Labels: iroha2

#524 Transaction Receipt handling
  iroha/src/config.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
Labels: iroha2

#526 CI: parallel builds for Linux compilers
  .jenkinsci/artifacts.groovy
  .jenkinsci/build.groovy
  .jenkinsci/builders/x64-linux-build-steps.groovy
  .jenkinsci/builders/x64-mac-build-steps.groovy
  .jenkinsci/builders/x64-win-build-steps.groovy
  .jenkinsci/utils/docker-pull-or-build.groovy
  .jenkinsci/utils/utils.groovy
  Jenkinsfile
Labels: 1.x

#360 Yac: enable eternal voting
  irohad/consensus/yac/cluster_order.hpp
  irohad/consensus/yac/impl/cluster_order.cpp
  irohad/consensus/yac/impl/yac.cpp
  test/module/irohad/consensus/yac/mock_yac_timer.hpp
  test/module/irohad/consensus/yac/yac_fixture.hpp
  test/module/irohad/consensus/yac/yac_rainy_day_test.cpp
  test/module/irohad/consensus/yac/yac_simple_cold_case_test.cpp
  test/module/irohad/consensus/yac/yac_sunny_day_test.cpp
  test/module/irohad/consensus/yac/yac_synchronization_test.cpp
Labels: 1.x

#525 Peer to peer docker example.
  docker-compose-single.yml
  docker-compose.yml
  iroha/config.json
  iroha/src/config.rs
  iroha/src/lib.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/tests/test_config.json
  iroha_client_cli/README.md
  iroha_client_cli/src/main.rs
Labels: iroha2

#528 fix compilation on gcc 7.4
  shared_model/cryptography/crypto_provider/crypto_signer.cpp
Labels: 1.x, bug

#531 Docker multiple peers fix
  docker-compose.yml
  iroha/config.json
  iroha/src/config.rs
  iroha_client_cli/src/main.rs
Labels: iroha2

#522 Docs: Multihash
  docs/source/develop/index.rst
  docs/source/develop/keys.rst
Labels: 1.x, Documentation

#513 Docs: Small Fixes in Config Section
  docs/source/configure/index.rst
Labels: 1.x, Documentation

#517 CommandExecutor: fix checkAccountGrantablePermission
  irohad/ametsuchi/impl/postgres_command_executor.cpp
Labels: 1.x

#518 synchronizer: continue applying blocks after failure on halfway
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/network/impl/block_loader_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/integration/acceptance/fake_peer_example_test.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: 1.x, bug

#529 Injection of Permission checks into OOB ISI.
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/block.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/permission.rs
  iroha/src/tx.rs
  iroha_client/src/client.rs
  iroha_client/tests/add_asset.rs
Labels: iroha2

#534 Testing: fixed fake peer destruction behaviour
  test/framework/integration_framework/fake_peer/behaviour/behaviour.cpp
  test/framework/integration_framework/fake_peer/behaviour/behaviour.hpp
  test/framework/integration_framework/fake_peer/behaviour/honest.cpp
  test/integration/acceptance/add_peer_test.cpp
Labels: 1.x, bug

#459 grpc: added default client timeout
  irohad/network/impl/block_loader_impl.cpp
  irohad/network/impl/grpc_channel_builder.hpp
  test/integration/grpc_retry_test.cpp
Labels: 1.x

#536 Initial work with Iroha changes listeners.
  iroha/src/isi.rs
  iroha/src/peer.rs
  iroha/src/permission.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/wsv.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/transfer_asset.rs
Labels: iroha2

#530 Bridge and RegisterBridge ISI
  iroha/Cargo.toml
  iroha/src/bridge.rs
  iroha/src/crypto.rs
  iroha/src/domain.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/wsv.rs
Labels: iroha2

#537 Add README files for Iroha crates.
  .rustfmt.toml
  CONTRIBUTING.md
  CONTRIBUTING.rst
  MAINTAINERS.md
  README.md
  iroha/README.md
  iroha_client/README.md
  iroha_client_cli/README.md
  iroha_macro/README.md
  iroha_network/README.md
Labels: iroha2

#538 [IR-756] Genesis Block functionality for Kura.
  iroha/src/kura.rs
Labels: iroha2

#539 Sumeragi Messages in the message module
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
Labels: iroha2

#540 Add Permission entity with transformation from Instructions.
  iroha/src/asset.rs
  iroha/src/lib.rs
  iroha/src/permission.rs
  iroha/src/wsv.rs
Labels: iroha2

#542 Introduces NetworkTopology struct
  iroha/benches/sumeragi.rs
  iroha/src/sumeragi.rs
Labels: iroha2

#543 Replacement of hardcoded bridge model with origin Iroha model.
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/bridge.rs
  iroha/src/isi.rs
  iroha/src/peer.rs
  iroha/src/query.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client_cli/src/main.rs
Labels: iroha2

#545 Glossary and How-to add Iroha Module docs.
  iroha/docs/guides/develop-iroha-module.md
  iroha/docs/references/cqrs_api.raml
  iroha/docs/references/glossary.md
  iroha/docs/references/transfer_asset_sequence.puml
  iroha/docs/references/wsv_update.md
Labels: iroha2

#546 Block creation timeout handling
  iroha/benches/sumeragi.rs
  iroha/src/config.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/test_config.json
  iroha_client/tests/transfer_asset.rs
Labels: iroha2

#547 [IR-754] Iroha Special Instructions related to Iroha events.
  iroha/docs/references/glossary.md
  iroha/src/event.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/wsv.rs
Labels: iroha2

#550 [IR-766] Separates construction from initialization in NetworkTopology
  iroha/benches/sumeragi.rs
  iroha/src/sumeragi.rs
Labels: iroha2

#548 Bridge registration changes & tests
  iroha/benches/validation.rs
  iroha/src/account.rs
  iroha/src/bridge.rs
  iroha/src/crypto.rs
  iroha/src/event.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/permission.rs
  iroha/src/wsv.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client_cli/src/main.rs
Labels: iroha2

#549 OnWorldStateViewChange trigger change - IrohaQuery instead of Instruc…
  iroha/src/event.rs
  iroha/src/lib.rs
Labels: iroha2

#551 TransactionReceipt validation refactoring
  iroha/src/event.rs
  iroha/src/sumeragi.rs
Labels: iroha2

#553 Minimum votes logic inside NetworkTopology
  iroha/src/sumeragi.rs
Labels: iroha2

#554 Binary-value asset store (first iteration)
  iroha/src/asset.rs
  iroha/src/bridge.rs
Labels: iroha2

#555 Signature validation in Sumeragi messages
  iroha/src/block.rs
  iroha/src/crypto.rs
  iroha/src/event.rs
  iroha/src/sumeragi.rs
  iroha/src/wsv.rs
Labels: iroha2

#560 docs: more datails on multihash code
  docs/source/develop/keys.rst
Labels: 1.x, Documentation

#562 Replace [u8;64] type alias with PrivateKey struct.
  iroha/src/config.rs
  iroha/src/crypto.rs
  iroha/src/sumeragi.rs
Labels: iroha2

#558 Bridge: register external asset
  iroha/src/bridge.rs
Labels: iroha2

#565 Validates the block before signing in Sumeragi
  iroha/src/sumeragi.rs
Labels: iroha2

#566 Sumeragi: peers in set b related TODO fixes
  iroha/src/sumeragi.rs
Labels: iroha2

#563 Bridge clients registration
  iroha/src/account.rs
  iroha/src/bridge.rs
  iroha/src/permission.rs
Labels: iroha2

#569 Demint ISI
  iroha/src/asset.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/permission.rs
  iroha/src/wsv.rs
Labels: iroha2

#567 Migration to serde-json.
  iroha/Cargo.toml
  iroha/config.json
  iroha/src/account.rs
  iroha/src/config.rs
  iroha/src/crypto.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/main.rs
  iroha/src/peer.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/tests/test_config.json
  iroha_client/benches/torii.rs
  iroha_client/src/client.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/test_config.json
  iroha_client/tests/transfer_asset.rs
  iroha_client_cli/src/main.rs
Labels: iroha2

#570 Simple Maintenance endpoint.
  iroha/src/lib.rs
  iroha/src/maintenance.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
  iroha_client/tests/check_health.rs
Labels: iroha2

#571 Bridge: manual external transfers handling
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/bridge.rs
  iroha_client/tests/transfer_asset.rs
Labels: iroha2

#568 Block chaining
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/merkle.rs
  iroha/src/sumeragi.rs
Labels: iroha2

#572 Not enough votes Sumeragi test
  iroha/src/sumeragi.rs
Labels: iroha2

#574 Docker compose test in pipeline
  .github/workflows/rust.yml
  docker-compose-single.yml
  docker-compose.yml
  scripts/cleanup_docker_test_env.sh
  scripts/setup_docker_test_env.sh
  scripts/test_docker_compose.sh
Labels: iroha2

#575 Simple metrics endpoint.
  iroha/Cargo.toml
  iroha/src/lib.rs
  iroha/src/maintenance.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
  iroha_client/tests/scrape_metrics.rs
Labels: iroha2

#576 Renaming
  iroha/src/account.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/high_load_transfer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_network/src/lib.rs
  iroha_network/src/mock.rs
Labels: iroha2

#577 AddPeer ISI
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/peer.rs
  iroha/src/sumeragi.rs
  iroha/src/wsv.rs
Labels: iroha2

#556 fixed synchronization
  irohad/synchronizer/impl/synchronizer_impl.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: 1.x, bug

#579 Block synchronization
  iroha/benches/validation.rs
  iroha/src/block.rs
  iroha/src/block_sync.rs
  iroha/src/event.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/wsv.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_network/src/lib.rs
Labels: iroha2
