Repository hyperledger-iroha/iroha, pull requests merged in 2021-09, with the labels that each got.

#1391 Added `RawGenesisBlock` to schema introspection
  Cargo.lock
  iroha/Cargo.toml
  iroha/src/genesis.rs
  iroha_schema/iroha_schema_bin/Cargo.toml
  iroha_schema/iroha_schema_bin/src/main.rs
Labels: iroha2

#1392 Improvements in peer start up
  Cargo.lock
  docker-compose-single.yml
  docker-compose.yml
  docs/source/references/config.md
  iroha/Cargo.toml
  iroha/config.json
  iroha/src/config.rs
  iroha/src/genesis.rs
  iroha/src/init.rs
  iroha/src/lib.rs
  iroha/src/tx.rs
  iroha/test_network/src/lib.rs
  iroha/test_network/tests/sumeragi_with_mock.rs
  iroha_cli/Cargo.toml
  iroha_cli/README.md
  iroha_cli/src/main.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/restart_peer.rs
  iroha_dsl/tests/dsl.rs
Labels: iroha2

#1376 Added precision for assets. Closes #1169.
  Cargo.lock
  iroha/src/smartcontracts/isi/asset.rs
  iroha/src/smartcontracts/isi/mod.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/genesis.json
  iroha_data_model/Cargo.toml
  iroha_data_model/src/lib.rs
  iroha_schema/Cargo.toml
  iroha_schema/src/lib.rs
Labels: iroha2

#1394 Remove old network implementation. Closes #1382.
  .dependabot/config.yml
  .github/workflows/iroha2-dev-pr.yml
  Cargo.lock
  Cargo.toml
  iroha/Cargo.toml
  iroha/src/torii/mod.rs
  iroha/test_network/Cargo.toml
  iroha_cli/Cargo.toml
  iroha_network/Cargo.toml
  iroha_network/README.md
  iroha_network/src/lib.rs
  iroha_network/src/mock.rs
  iroha_network/src/network.rs
Labels: iroha2

#1397 Fix iroha_client_cli::events (#1395)
  iroha_client_cli/src/main.rs
Labels: iroha2

#1399 Remove unnecessary dependencies
  Cargo.lock
  iroha_actor/src/broker.rs
  iroha_actor/src/lib.rs
  iroha_actor/tests/deadlock.rs
  iroha_cli/src/main.rs
  iroha_client/Cargo.toml
  iroha_futures/tests/basic.rs
  iroha_logger/Cargo.toml
  iroha_p2p/tests/mod.rs
Labels: iroha2

#1398 Altered representation
  Cargo.lock
  iroha_data_model/src/lib.rs
  iroha_schema/Cargo.toml
  iroha_schema/src/lib.rs
Labels: iroha2, api-changes

#1414 Removal of arguments from test_network crate
  iroha/src/init.rs
  iroha/src/lib.rs
  iroha/src/tx.rs
  iroha/test_network/src/lib.rs
  iroha_client/benches/torii.rs
  iroha_dsl/tests/dsl.rs
  iroha_p2p/src/network.rs
Labels: iroha2

#1432 Remove some useless lint allowences
  iroha/src/block.rs
  iroha/src/block_sync.rs
  iroha/src/kura.rs
  iroha/src/merkle.rs
  iroha/src/smartcontracts/isi/expression.rs
  iroha/src/smartcontracts/isi/mod.rs
  iroha/src/smartcontracts/isi/query.rs
  iroha/src/sumeragi/mod.rs
  iroha/src/sumeragi/network_topology.rs
  iroha/src/sumeragi/view_change.rs
  iroha/src/torii/mod.rs
  iroha/src/tx.rs
  iroha/test_network/src/lib.rs
  iroha/test_network/tests/sumeragi_with_mock.rs
  iroha_actor/src/broker.rs
  iroha_actor/src/lib.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/account_with_multiple_signatories.rs
  iroha_client/tests/add_account.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/add_domain.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/events.rs
  iroha_client/tests/genesis_submission_with_offline_peers.rs
  iroha_client/tests/multiple_blocks_created.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_client/tests/pagination.rs
  iroha_client/tests/permissions.rs
  iroha_client/tests/restart_peer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client/tests/tx_history.rs
  iroha_client/tests/tx_rollback.rs
  iroha_client/tests/unstable_network.rs
  iroha_crypto/src/lib.rs
  iroha_crypto/src/multihash.rs
  iroha_data_model/src/events.rs
  iroha_data_model/src/expression.rs
  iroha_data_model/src/isi.rs
  iroha_data_model/src/lib.rs
  iroha_macro/iroha_derive/src/lib.rs
  iroha_macro/src/lib.rs
  iroha_p2p/src/network.rs
  iroha_p2p/src/peer.rs
  iroha_permissions_validators/src/lib.rs
  iroha_substrate/src/lib.rs
  iroha_version/src/lib.rs
  lints.toml
Labels: iroha2

#1434 Update CODEOWNERS.md with new team members
  .github/CODEOWNERS
Labels: iroha2

#1112 Remove queue actor. Substitute with lock free queue
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-pr.yml
  Cargo.lock
  iroha/Cargo.toml
  iroha/src/genesis.rs
  iroha/src/lib.rs
  iroha/src/queue.rs
  iroha/src/sumeragi/mod.rs
  iroha/src/torii/mod.rs
  iroha/src/tx.rs
  iroha/test_network/src/lib.rs
  iroha/test_network/tests/sumeragi_with_mock.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_data_model/src/lib.rs
  iroha_p2p/src/peer.rs
Labels: enhancement, iroha2, api-changes

#1438 Fix http status codes
  iroha/src/smartcontracts/isi/query.rs
  iroha/src/torii/mod.rs
  iroha/src/torii/utils.rs
  iroha_version/src/lib.rs
Labels: iroha2

#1445 Add optional nightly tags with date
  .github/workflows/push-nightly.yml
Labels: iroha2

#1452 Updates workflow so that it matches main
  .github/workflows/iroha2-push-nightly.yml
Labels: iroha2

#1461 Make fields public in client
  iroha/src/sumeragi/mod.rs
  iroha_client/src/client.rs
  iroha_client/tests/multisignature_transaction.rs
Labels: iroha2

#1469 GaroRobe/issue1468
  .github/CODEOWNERS
Labels: iroha2

#1464 Fix overflow when subtracting durations (#1194)
  iroha/src/tx.rs
Labels: iroha2

#1470 GaroRobe/issue1465
  Cargo.lock
  iroha/Cargo.toml
  iroha_client/Cargo.toml
  iroha_crypto/Cargo.toml
  iroha_crypto/src/lib.rs
  iroha_data_model/Cargo.toml
  iroha_p2p/Cargo.toml
  iroha_p2p/src/lib.rs
  iroha_p2p/src/network.rs
  iroha_p2p/src/peer.rs
  iroha_p2p/tests/mod.rs
Labels: iroha2

#1463 Speedup ci
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-pr.yml
  .github/workflows/iroha2.yml
  Dockerfile
  docker-compose.yml
  iroha_client/tests/account_with_multiple_signatories.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/genesis_submission_with_offline_peers.rs
  iroha_client/tests/merge.rs
  iroha_client/tests/multiple_blocks_created.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_client/tests/tests/account_with_multiple_signatories.rs
  iroha_client/tests/tests/add_account.rs
  iroha_client/tests/tests/add_asset.rs
  iroha_client/tests/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/tests/add_domain.rs
  iroha_client/tests/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/tests/events.rs
  iroha_client/tests/tests/genesis_submission_with_offline_peers.rs
  iroha_client/tests/tests/mod.rs
  iroha_client/tests/tests/multiple_blocks_created.rs
  iroha_client/tests/tests/multisignature_transaction.rs
  iroha_client/tests/tests/pagination.rs
  iroha_client/tests/tests/permissions.rs
  iroha_client/tests/tests/restart_peer.rs
  iroha_client/tests/tests/transfer_asset.rs
  iroha_client/tests/tests/tx_history.rs
  iroha_client/tests/tests/tx_rollback.rs
  iroha_client/tests/tests/unstable_network.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client/tests/tx_history.rs
  iroha_client/tests/tx_rollback.rs
  scripts/setup_docker_test_env.sh
Labels: iroha2

#1474 Allow usage of HTTPS in Rust client lib
  .github/workflows/iroha2-dev.yml
  iroha/test_network/src/lib.rs
  iroha/test_network/tests/test_client_config.json
  iroha_client/Cargo.toml
  iroha_client/config.json
  iroha_client/src/client.rs
  iroha_client/src/http_client.rs
  iroha_client/tests/test_client_config.json
  iroha_dsl/tests/dsl.rs
  iroha_dsl/tests/test_client_config.json
Labels: iroha2

#1462 Queue fixup
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  iroha/src/queue.rs
  iroha_client/tests/tests/multisignature_transaction.rs
Labels: iroha2

#1482 Add header specification to client library
  iroha_client/Cargo.toml
  iroha_client/src/client.rs
  iroha_client/src/http_client.rs
Labels: iroha2

#1486 Log level fix
  iroha_logger/src/lib.rs
  iroha_logger/tests/log_level.rs
  iroha_macro/iroha_derive/tests/from_variant/03-container-enums.rs
  iroha_macro/iroha_derive/tests/from_variant/04-container-from.stderr
Labels: iroha2

#1475 Update docker publish target to hyperledger/iroha2 #1453 Fix some workflows #
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-push-nightly.yml
  .github/workflows/iroha2.yml
  docker-compose.yml
Labels: iroha2
