Repository hyperledger-iroha/iroha, pull requests merged in 2021-04, with the labels that each got.

#920 Replace constants with power of 2 IR-1035
  iroha/src/queue.rs
  iroha/src/torii.rs
  iroha_client/src/config.rs
  iroha_network/src/lib.rs
  iroha_network/src/mock.rs
Labels: iroha2

#915 Fixup tests and revert async-std upgrade
  .github/workflows/iroha2-dev-pr.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  iroha/Cargo.toml
  iroha/src/event.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/test_network/Cargo.toml
  iroha_client/Cargo.toml
  iroha_client/src/client.rs
  iroha_client/src/http_client.rs
  iroha_client/tests/unstable_network.rs
  iroha_client_cli/Cargo.toml
  iroha_dsl/Cargo.toml
  iroha_http_server/Cargo.toml
  iroha_http_server/src/lib.rs
  iroha_network/Cargo.toml
  iroha_network/src/lib.rs
  iroha_network/src/mock.rs
Labels: iroha2

#893 Fix of transaction size check during consensus
  iroha/src/block.rs
  iroha/src/block_sync.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha_data_model/src/lib.rs
Labels: iroha2

#929 Tests parallel setup
  .github/workflows/iroha2-dev-pr.yml
  Cargo.lock
  iroha/src/block_sync.rs
  iroha/src/genesis.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
  iroha_client/tests/tests.rs
  iroha_client/tests/tests/tests.rs
  iroha_client/tests/tests/tests/account_with_multiple_signatories.rs
  iroha_client/tests/tests/tests/add_asset.rs
  iroha_client/tests/tests/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/tests/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/tests/tests/events.rs
  iroha_client/tests/tests/tests/genesis_submission_with_offline_peers.rs
  iroha_client/tests/tests/tests/multiple_blocks_created.rs
  iroha_client/tests/tests/tests/multisignature_transaction.rs
  iroha_client/tests/tests/tests/pagination.rs
  iroha_client/tests/tests/tests/permissions.rs
  iroha_client/tests/tests/tests/restart_peer.rs
  iroha_client/tests/tests/tests/transfer_asset.rs
  iroha_client/tests/tests/tests/tx_history.rs
  iroha_client/tests/tests/tests/tx_rollback.rs
  iroha_client/tests/tests/tests/unstable_network.rs
  iroha_http_server/src/lib.rs
  iroha_network/src/lib.rs
  iroha_network/src/mock.rs
Labels: iroha2

#869 OnDemandOrderingServiceImpl: remove boost::adaptors::filter usage
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
Labels: 1.x

#935 Add @alerdenisov as a code owner of iroha2-dev branch
  .github/CODEOWNERS
Labels: iroha2

#913 Add iroha_config crate
  Cargo.lock
  Cargo.toml
  Dockerfile
  Dockerfile.debug
  docker-compose-single.yml
  docker-compose.yml
  docs/source/references/api_spec.md
  docs/source/references/config.md
  hooks/README.md
  hooks/pre-commit.sample
  iroha/Cargo.toml
  iroha/docs/Cargo.toml
  iroha/docs/src/main.rs
  iroha/src/asset.rs
  iroha/src/block_sync.rs
  iroha/src/config.rs
  iroha/src/genesis.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/main.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/wsv.rs
  iroha_client/Cargo.toml
  iroha_client/src/config.rs
  iroha_config/Cargo.toml
  iroha_config/iroha_config_derive/Cargo.toml
  iroha_config/iroha_config_derive/src/lib.rs
  iroha_config/src/lib.rs
  iroha_config/tests/simple.rs
  iroha_crypto/src/lib.rs
  iroha_crypto/src/multihash.rs
  iroha_http_server/Cargo.toml
  iroha_http_server/src/lib.rs
  iroha_logger/Cargo.toml
  iroha_logger/src/lib.rs
  scripts/test_genesis_docker_compose.sh
Labels: iroha2

#933 Add polling for tests and fix rarely breaking tests
  Cargo.lock
  iroha/src/genesis.rs
  iroha/src/sumeragi.rs
  iroha/test_network/Cargo.toml
  iroha/test_network/src/lib.rs
  iroha_client/benches/torii.rs
  iroha_client/src/client.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/tests.rs
  iroha_client/tests/tests/tests/account_with_multiple_signatories.rs
  iroha_client/tests/tests/tests/add_asset.rs
  iroha_client/tests/tests/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/tests/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/tests/tests/events.rs
  iroha_client/tests/tests/tests/genesis_submission_with_offline_peers.rs
  iroha_client/tests/tests/tests/multiple_blocks_created.rs
  iroha_client/tests/tests/tests/multisignature_transaction.rs
  iroha_client/tests/tests/tests/pagination.rs
  iroha_client/tests/tests/tests/permissions.rs
  iroha_client/tests/tests/tests/restart_peer.rs
  iroha_client/tests/tests/tests/transfer_asset.rs
  iroha_client/tests/tests/tests/tx_history.rs
  iroha_client/tests/tests/tests/tx_rollback.rs
  iroha_client/tests/tests/tests/unstable_network.rs
Labels: iroha2

#940 Introduces grantable permissions
  Cargo.lock
  iroha/Cargo.toml
  iroha/docs/src/main.rs
  iroha/src/permissions.rs
  iroha_config/src/lib.rs
  iroha_data_model/src/expression.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  iroha_permissions_validators/src/lib.rs
Labels: iroha2

#938 Ci doc check
  .github/workflows/iroha2-dev-pr.yml
  Cargo.lock
  lints.toml
  scripts/check_docs.sh
Labels: iroha2

#936 Substitute log with tracing lib
  Cargo.lock
  docs/source/references/config.md
  iroha/Cargo.toml
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/block.rs
  iroha/src/block_sync.rs
  iroha/src/domain.rs
  iroha/src/genesis.rs
  iroha/src/isi.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/src/world.rs
  iroha/src/wsv.rs
  iroha/test_network/src/lib.rs
  iroha_client/Cargo.toml
  iroha_client/src/client.rs
  iroha_http_server/Cargo.toml
  iroha_http_server/src/lib.rs
  iroha_logger/Cargo.toml
  iroha_logger/src/lib.rs
  iroha_macro/iroha_derive/Cargo.toml
  iroha_macro/iroha_derive/src/lib.rs
  iroha_macro/iroha_derive/tests/log.rs
  iroha_network/Cargo.toml
  iroha_network/src/lib.rs
  iroha_network/src/mock.rs
Labels: iroha2

#945 Added configuration for string length limits and validation of id's for NewAccount, Domain and AssetDefinition IR-1036
  docs/source/references/config.md
  iroha/src/domain.rs
  iroha/src/sumeragi.rs
  iroha/src/world.rs
  iroha/src/wsv.rs
  iroha_client/tests/tests/tests.rs
  iroha_client/tests/tests/tests/add_account.rs
  iroha_client/tests/tests/tests/add_asset.rs
  iroha_client/tests/tests/tests/add_domain.rs
  iroha_data_model/src/lib.rs
Labels: iroha2

#949 Grant Instruction
  iroha/src/account.rs
  iroha/src/isi.rs
  iroha/src/permissions.rs
  iroha_client/tests/tests/tests/permissions.rs
  iroha_data_model/src/events.rs
  iroha_data_model/src/isi.rs
  iroha_data_model/src/lib.rs
  iroha_permissions_validators/src/lib.rs
Labels: api-changes, iroha2

#961 Permission Validators use references in checks
  iroha/src/permissions.rs
  iroha/src/tx.rs
  iroha_permissions_validators/src/lib.rs
Labels: iroha2

#963 Iroha network fixup
  iroha_network/src/lib.rs
Labels: iroha2

#971 Remove Arc and Rwlock for channels
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
Labels: iroha2

#972 Fix wsv panic at adding asset IR-1061
  iroha/src/asset.rs
  iroha/src/query.rs
  iroha/src/wsv.rs
Labels: iroha2

#969 Remove all assets when their definition was removed
  iroha/src/domain.rs
Labels: iroha2

#975 Ci timeout test fix
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  iroha/src/event.rs
Labels: iroha2

#979 Fix ulimit, make tests on master threaded and increase timeout for iroha_network
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  iroha_network/src/lib.rs
Labels: iroha2

#977 IR-1060 Adds Grant checks for all the existing permissions
  iroha_client/tests/tests/tests/permissions.rs
  iroha_permissions_validators/src/lib.rs
Labels: iroha2

#981 Remove old code from iroha_config
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_config/iroha_config_derive/src/lib.rs
  iroha_config/src/lib.rs
  iroha_config/tests/simple.rs
  iroha_logger/src/lib.rs
Labels: iroha2

#974 Rework of Execute trait for instructions
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/tx.rs
  iroha/src/world.rs
  iroha_macro/iroha_derive/src/lib.rs
Labels: iroha2

#988 Add push docker images from dev branch
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2.yml
  Dockerfile.crypto_cli
Labels: iroha2

#989 Update libssl version
  Dockerfile
  Dockerfile.cli
  Dockerfile.crypto_cli
  Dockerfile.debug
Labels: iroha2

#986 Introduces Roles
  Cargo.lock
  iroha/Cargo.toml
  iroha/src/account.rs
  iroha/src/isi.rs
  iroha/src/permissions.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha/src/world.rs
  iroha_data_model/Cargo.toml
  iroha_data_model/src/isi.rs
  iroha_data_model/src/lib.rs
  iroha_permissions_validators/Cargo.toml
  iroha_permissions_validators/src/lib.rs
Labels: iroha2

#990 Fixup health endpoint
  .gitignore
  Cargo.lock
  docs/source/references/api_spec.md
  iroha/Cargo.toml
  iroha/src/maintenance.rs
  iroha/src/torii.rs
  iroha_client_cli/Cargo.toml
Labels: iroha2

#991 Update dockerfile for caching and faster ci builds
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2.yml
  .gitignore
  Dockerfile
  Dockerfile.cli
  Dockerfile.crypto_cli
  Dockerfile.debug
  docker-compose-single.yml
  docker-compose.yml
  iroha/README.md
Labels: iroha2

#996 Network timeout fix
  iroha/test_network/Cargo.toml
  iroha_network/Cargo.toml
  iroha_network/src/lib.rs
Labels: iroha2

#984 Add lock free data structures to wsv
  Cargo.lock
  iroha/Cargo.toml
  iroha/benches/sumeragi.rs
  iroha/benches/validation.rs
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/config.rs
  iroha/src/domain.rs
  iroha/src/init.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/permissions.rs
  iroha/src/query.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/src/world.rs
  iroha/src/wsv.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/tests/tests/account_with_multiple_signatories.rs
  iroha_client/tests/tests/tests/add_asset.rs
  iroha_client/tests/tests/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/tests/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/tests/tests/genesis_submission_with_offline_peers.rs
  iroha_client/tests/tests/tests/multiple_blocks_created.rs
  iroha_client/tests/tests/tests/multisignature_transaction.rs
  iroha_client/tests/tests/tests/restart_peer.rs
  iroha_client/tests/tests/tests/transfer_asset.rs
  iroha_client/tests/tests/tests/unstable_network.rs
  iroha_data_model/Cargo.toml
  iroha_data_model/src/events.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  iroha_logger/src/lib.rs
  iroha_permissions_validators/Cargo.toml
  iroha_permissions_validators/src/lib.rs
  iroha_structs/Cargo.toml
  iroha_structs/src/hashmap.rs
  iroha_structs/src/hashset.rs
  iroha_structs/src/lib.rs
  iroha_structs/src/rwlock.rs
Labels: iroha2

#968 Move blocks from kura to wsv IR-1047
  iroha/src/block.rs
  iroha/src/block_sync.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
Labels: iroha2

#998 Queries for roles and permissions
  iroha/src/account.rs
  iroha/src/query.rs
  iroha/src/world.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
Labels: iroha2
