Repository hyperledger-iroha/iroha, pull requests merged in 2021-02, with the labels that each got.

#786 Removes unnecessary full Iroha build in CI docker test
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-pr.yml
Labels: iroha2

#787 Default signature check condition for account
  iroha/src/account.rs
  iroha_data_model/src/lib.rs
Labels: iroha2

#789 add genesis for docker-compose-single.yml
  docker-compose-single.yml
Labels: iroha2

#797 Fix clippy tests and benches warnings
  .github/workflows/iroha2-dev-pr.yml
  iroha/benches/validation.rs
  iroha/src/config.rs
  iroha/src/expression.rs
  iroha/src/permissions.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/account_with_multiple_signatories.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/events.rs
  iroha_client/tests/genesis_submission_with_offline_peers.rs
  iroha_client/tests/multiple_blocks_created.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_client/tests/permissions.rs
  iroha_client/tests/restart_peer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client/tests/tx_rollback.rs
  iroha_network/tests/connect.rs
  iroha_permissions_validators/src/lib.rs
  iroha_substrate/src/lib.rs
Labels: iroha2

#798 Replaced Verify and Accept traits with TryFrom
  iroha/benches/validation.rs
  iroha/src/genesis.rs
  iroha/src/query.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
Labels: iroha2

#799 Add docs to block time and commit time parameters
  iroha_data_model/src/lib.rs
Labels: iroha2

#802 Add length for instructions and expressions
  iroha/benches/validation.rs
  iroha/src/genesis.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/permissions.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/tests/test_config.json
  iroha_client/src/client.rs
  iroha_client/src/config.rs
  iroha_data_model/src/expression.rs
  iroha_data_model/src/isi.rs
  iroha_data_model/src/lib.rs
  iroha_dsl/tests/dsl.rs
Labels: iroha2

#803 Updates contributing guide
  CONTRIBUTING.md
Labels: iroha2

#800 Gossip transactions
  iroha/src/block.rs
  iroha/src/lib.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
  iroha_client/tests/unstable_network.rs
  iroha_crypto/src/lib.rs
Labels: iroha2

#806 Add i1i1 to code owners
  .github/CODEOWNERS
Labels: iroha2

#805 Add FromVariant macro and cleanup codebase
  iroha_data_model/src/events.rs
  iroha_data_model/src/expression.rs
  iroha_data_model/src/isi.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  iroha_macro/iroha_derive/Cargo.toml
  iroha_macro/iroha_derive/src/lib.rs
Labels: iroha2

#807 Set signature condition support in CLI
  iroha_client_cli/Cargo.toml
  iroha_client_cli/signature_condition.json
  iroha_client_cli/src/main.rs
Labels: iroha2

#742 Yac: do not consider next round as Future
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_gate_impl.hpp
  irohad/main/application.cpp
  irohad/main/impl/consensus_init.cpp
  irohad/main/impl/consensus_init.hpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
Labels: 1.2.x

#808 Add other containers for FromVariant derive macro
  iroha_macro/iroha_derive/Cargo.toml
  iroha_macro/iroha_derive/src/lib.rs
  iroha_macro/iroha_derive/tests/from_variant.rs
  iroha_macro/iroha_derive/tests/from_variant/01-big-enum.rs
  iroha_macro/iroha_derive/tests/from_variant/02-double-from.rs
  iroha_macro/iroha_derive/tests/from_variant/03-container-enums.rs
  iroha_macro/iroha_derive/tests/from_variant/04-container-from.rs
  iroha_macro/iroha_derive/tests/from_variant/05-struct.rs
Labels: iroha2

#810 Topology shuffle at change view
  .github/workflows/iroha2-pr.yml
  iroha/benches/sumeragi.rs
  iroha/src/block_sync.rs
  iroha/src/genesis.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha_client/tests/multiple_blocks_created.rs
  iroha_client/tests/unstable_network.rs
Labels: iroha2

#815 Fixes commit timeout not being sent in 4 peer network
  iroha/src/sumeragi.rs
  iroha_client/Cargo.toml
  iroha_client/tests/unstable_network.rs
Labels: iroha2

#816 Simplifies register and unregister ISIs
  iroha/benches/validation.rs
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/src/query.rs
  iroha/src/world.rs
  iroha_client/benches/torii.rs
  iroha_client/tests/account_with_multiple_signatories.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/events.rs
  iroha_client/tests/multiple_blocks_created.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_client/tests/permissions.rs
  iroha_client/tests/restart_peer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client/tests/tx_rollback.rs
  iroha_client_cli/src/main.rs
  iroha_data_model/src/isi.rs
  iroha_data_model/src/query.rs
  iroha_dsl/tests/dsl.rs
  iroha_permissions_validators/src/lib.rs
Labels: api-changes, iroha2

#817 Removes outdated lines from genesis files
  iroha/genesis.json
  iroha/tests/genesis.json
  iroha_client/tests/genesis.json
  iroha_client/tests/unstable_network.rs
Labels: iroha2

#801 Add RejectionReason enum for pipeline events
  iroha/src/block.rs
  iroha/src/sumeragi.rs
  iroha/src/tx.rs
  iroha_client/src/client.rs
  iroha_client/tests/permissions.rs
  iroha_data_model/src/events.rs
Labels: api-changes, iroha2

#819 Replace timestamp with typesafe wrapper
  iroha/src/query.rs
  iroha_data_model/Cargo.toml
  iroha_data_model/src/query.rs
Labels: api-changes, iroha2

#818 Add varint encoding decoding
  docker-compose-single.yml
  docker-compose.yml
  docs/source/features/instructions.feature
  iroha/README.md
  iroha/config.json
  iroha/genesis.json
  iroha/src/config.rs
  iroha/tests/genesis.json
  iroha/tests/test_config.json
  iroha_client/config.json
  iroha_client/tests/genesis.json
  iroha_client/tests/single_config.json
  iroha_client/tests/test_client_config.json
  iroha_client/tests/test_config.json
  iroha_client_cli/config.json
  iroha_client_cli/tests/test_config.json
  iroha_crypto/src/lib.rs
  iroha_crypto/src/multihash.rs
  iroha_crypto/src/varint.rs
  iroha_dsl/tests/genesis.json
  iroha_dsl/tests/test_client_config.json
  iroha_dsl/tests/test_config.json
Labels: api-changes, iroha2

#820 Add pagination
  docker-compose.yml
  docs/source/references/api_spec.md
  iroha/src/asset.rs
  iroha/src/torii.rs
  iroha/src/world.rs
  iroha/src/wsv.rs
  iroha_client/src/client.rs
  iroha_client/src/http_client.rs
  iroha_client/tests/pagination.rs
  iroha_data_model/src/lib.rs
Labels: api-changes, iroha2

#822 Fix benchmarks
  iroha/benches/validation.rs
  iroha/test_network/src/lib.rs
  iroha_client/benches/torii.rs
Labels: iroha2
