Repository hyperledger-iroha/iroha, pull requests merged in 2021-03, with the labels that each got.

#821 Introduces container versioning primitives
  Cargo.toml
  iroha_macro/iroha_derive/Cargo.toml
  iroha_macro/iroha_derive/src/lib.rs
  iroha_version/Cargo.toml
  iroha_version/iroha_version_derive/Cargo.toml
  iroha_version/iroha_version_derive/src/lib.rs
  iroha_version/iroha_version_derive/tests/as_version.rs
  iroha_version/iroha_version_derive/tests/json.rs
  iroha_version/iroha_version_derive/tests/scale.rs
  iroha_version/iroha_version_derive/tests/ui.rs
  iroha_version/iroha_version_derive/tests/ui/fail_invalid_range_equal.rs
  iroha_version/iroha_version_derive/tests/ui/fail_invalid_range_equal.stderr
  iroha_version/iroha_version_derive/tests/ui/fail_invalid_range_less.rs
  iroha_version/iroha_version_derive/tests/ui/fail_invalid_range_less.stderr
  iroha_version/iroha_version_derive/tests/ui/ok_declare_several_vesrioned.rs
  iroha_version/iroha_version_derive/tests/ui/ok_declare_versioned.rs
  iroha_version/iroha_version_derive/tests/ui/ok_declare_versioned_json.rs
  iroha_version/iroha_version_derive/tests/ui/ok_declare_versioned_scale.rs
  iroha_version/src/lib.rs
Labels: iroha2

#837 Versioned messages
  iroha/Cargo.toml
  iroha/src/block_sync.rs
  iroha/src/event.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha_client/Cargo.toml
  iroha_client/src/client.rs
  iroha_client/src/config.rs
  iroha_data_model/Cargo.toml
  iroha_data_model/src/events.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  iroha_version/iroha_version_derive/src/lib.rs
  iroha_version/src/lib.rs
Labels: iroha2

#804 [DOPS-1289] Rename master branch
  .jenkinsci/build.groovy
  .jenkinsci/builders/x64-linux-build-steps.groovy
  .jenkinsci/text-variables.groovy
  .jenkinsci/utils/doxygen.groovy
  Jenkinsfile
Labels: 1.x

#843 Fix nightly version for iroha-dev builds
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2.yml
  iroha_network/src/lib.rs
Labels: iroha2

#844 Add derive(Error) for enums
  Cargo.toml
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/block_sync.rs
  iroha/src/domain.rs
  iroha/src/expression.rs
  iroha/src/isi.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha_client/src/client.rs
  iroha_crypto/src/lib.rs
  iroha_data_model/src/events.rs
  iroha_data_model/src/lib.rs
  iroha_error/Cargo.toml
  iroha_error/iroha_error_macro/Cargo.toml
  iroha_error/iroha_error_macro/src/display.rs
  iroha_error/iroha_error_macro/src/error.rs
  iroha_error/iroha_error_macro/src/lib.rs
  iroha_error/iroha_error_macro/tests/error/01-basic-test.rs
  iroha_error/iroha_error_macro/tests/error/02-fail-debug.rs
  iroha_error/iroha_error_macro/tests/error/03-unnamed-field-variant.rs
  iroha_error/iroha_error_macro/tests/trybuild.rs
  iroha_error/src/lib.rs
Labels: iroha2

#848 Infallible pagination
  iroha/src/torii.rs
  iroha_data_model/src/lib.rs
Labels: api-changes, iroha2

#846 Whitepaper versioning description
  docs/source/iroha_2_whitepaper.md
Labels: iroha2

#852 Upgrades SCALE version to 2
  iroha/Cargo.toml
  iroha_crypto/Cargo.toml
  iroha_data_model/Cargo.toml
  iroha_macro/Cargo.toml
  iroha_macro/iroha_derive/Cargo.toml
  iroha_network/Cargo.toml
  iroha_version/Cargo.toml
  iroha_version/iroha_version_derive/Cargo.toml
  iroha_version/iroha_version_derive/src/lib.rs
Labels: iroha2

#854 Rewrite iroha_http_server and rework torii errors
  iroha/Cargo.toml
  iroha/src/query.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
  iroha_data_model/Cargo.toml
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  iroha_http_server/Cargo.toml
  iroha_http_server/src/lib.rs
  iroha_version/Cargo.toml
  iroha_version/iroha_version_derive/src/lib.rs
  iroha_version/iroha_version_derive/tests/json.rs
  iroha_version/iroha_version_derive/tests/scale.rs
  iroha_version/src/lib.rs
Labels: iroha2

#856 Substitute Error::msg with error macro
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/domain.rs
  iroha/src/event.rs
  iroha/src/genesis.rs
  iroha/src/isi.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/world.rs
  iroha_client/src/client.rs
  iroha_client/src/http_client.rs
  iroha_crypto/src/lib.rs
  iroha_crypto/src/multihash.rs
  iroha_crypto/src/varint.rs
  iroha_data_model/src/expression.rs
  iroha_data_model/src/lib.rs
  iroha_error/src/lib.rs
  iroha_http_server/src/lib.rs
  iroha_network/src/lib.rs
  iroha_version/iroha_version_derive/src/lib.rs
Labels: iroha2

#858 Add into_v* for versioning
  iroha/src/event.rs
  iroha/src/query.rs
  iroha/src/torii.rs
  iroha_client/src/client.rs
  iroha_version/iroha_version_derive/src/lib.rs
  iroha_version/iroha_version_derive/tests/as_version.rs
Labels: iroha2

#859 Add mul,div,mod,raise_to expressions
  iroha/src/expression.rs
  iroha_data_model/src/expression.rs
Labels: iroha2

#860 Fixup ci linting repetitions.
  .github/workflows/iroha2-dev-pr.yml
Labels: iroha2

#861 Updates asset structure
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/block.rs
  iroha/src/isi.rs
  iroha/src/permissions.rs
  iroha/src/query.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
  iroha_client/tests/account_with_multiple_signatories.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/genesis_submission_with_offline_peers.rs
  iroha_client/tests/multiple_blocks_created.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_client/tests/restart_peer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client/tests/unstable_network.rs
  iroha_data_model/src/events.rs
  iroha_data_model/src/isi.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  scripts/test_docker_compose.sh
  scripts/test_genesis_docker_compose.sh
Labels: iroha2

#857 Add versioning of blocks
  iroha/benches/validation.rs
  iroha/src/block.rs
  iroha/src/block_sync.rs
  iroha/src/genesis.rs
  iroha/src/kura.rs
  iroha/src/lib.rs
  iroha/src/merkle.rs
  iroha/src/queue.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/src/tx.rs
  iroha/src/wsv.rs
  iroha_data_model/src/lib.rs
  iroha_http_server/src/lib.rs
  iroha_permissions_validators/src/lib.rs
  iroha_version/iroha_version_derive/src/lib.rs
  iroha_version/iroha_version_derive/tests/json.rs
  iroha_version/iroha_version_derive/tests/scale.rs
  iroha_version/iroha_version_derive/tests/ui/ok_declare_several_vesrioned.rs
  iroha_version/iroha_version_derive/tests/ui/ok_declare_versioned.rs
  iroha_version/iroha_version_derive/tests/ui/ok_declare_versioned_json.rs
  iroha_version/iroha_version_derive/tests/ui/ok_declare_versioned_scale.rs
  iroha_version/src/lib.rs
Labels: iroha2

#867 Introduces key-value metadata support for Account
  iroha/genesis.json
  iroha/src/account.rs
  iroha/src/isi.rs
  iroha/src/query.rs
  iroha/tests/genesis.json
  iroha_client/tests/genesis.json
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  iroha_dsl/tests/genesis.json
Labels: iroha2

#871 Fix typo in URL to Iroha 2 community in Telegram
  CONTRIBUTING.md
Labels: iroha2

#862 Separate trusted_peers from config.json
  Dockerfile
  Dockerfile.debug
  iroha/config.json
  iroha/src/config.rs
  iroha/src/lib.rs
  iroha/src/sumeragi.rs
  iroha/src/torii.rs
  iroha/test_network/src/lib.rs
  iroha/tests/test_config.json
  iroha/tests/test_trusted_peers.json
  iroha/trusted_peers.json
  iroha_client/benches/torii.rs
  iroha_client/tests/account_with_multiple_signatories.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/events.rs
  iroha_client/tests/pagination.rs
  iroha_client/tests/permissions.rs
  iroha_client/tests/restart_peer.rs
  iroha_client/tests/test_config.json
  iroha_client/tests/test_trusted_peers.json
  iroha_client/tests/transfer_asset.rs
  iroha_client/tests/tx_rollback.rs
  iroha_client/tests/unstable_network.rs
  iroha_dsl/tests/dsl.rs
  iroha_dsl/tests/test_config.json
  iroha_dsl/tests/test_trusted_peers.json
Labels: iroha2

#874 Add lints.toml and fix warnings
  .github/workflows/iroha2-dev-pr.yml
  iroha/benches/sumeragi.rs
  iroha/benches/validation.rs
  iroha/src/config.rs
  iroha/src/genesis.rs
  iroha/src/isi.rs
  iroha/src/lib.rs
  iroha/src/main.rs
  iroha/src/merkle.rs
  iroha/src/permissions.rs
  iroha/src/sumeragi.rs
  iroha/test_network/src/lib.rs
  iroha_client/benches/torii.rs
  iroha_client/src/client.rs
  iroha_client/src/http_client.rs
  iroha_client/src/lib.rs
  iroha_client/tests/account_with_multiple_signatories.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/events.rs
  iroha_client/tests/multiple_blocks_created.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_client/tests/pagination.rs
  iroha_client/tests/permissions.rs
  iroha_client/tests/restart_peer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client/tests/tx_rollback.rs
  iroha_client/tests/unstable_network.rs
  iroha_client_cli/src/main.rs
  iroha_crypto/src/lib.rs
  iroha_crypto/src/multihash.rs
  iroha_crypto/src/varint.rs
  iroha_crypto_cli/src/main.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  iroha_dsl/src/lib.rs
  iroha_dsl/tests/dsl.rs
  iroha_error/iroha_error_macro/src/display.rs
  iroha_error/iroha_error_macro/src/error.rs
  iroha_error/iroha_error_macro/src/lib.rs
  iroha_error/src/lib.rs
  iroha_http_server/src/lib.rs
  iroha_logger/src/lib.rs
  iroha_macro/iroha_derive/src/lib.rs
  iroha_macro/src/lib.rs
  iroha_network/src/lib.rs
  iroha_network/src/mock.rs
  iroha_network/tests/connect.rs
  iroha_permissions_validators/src/lib.rs
  iroha_substrate/src/lib.rs
  iroha_version/iroha_version_derive/src/lib.rs
  iroha_version/iroha_version_derive/tests/as_version.rs
  iroha_version/iroha_version_derive/tests/json.rs
  iroha_version/iroha_version_derive/tests/scale.rs
  iroha_version/src/lib.rs
  lints.toml
Labels: iroha2

#878 Add expressions inside queries
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/domain.rs
  iroha/src/expression.rs
  iroha_client/src/client.rs
  iroha_client_cli/src/main.rs
  iroha_crypto_cli/src/main.rs
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
  iroha_error/iroha_error_macro/src/error.rs
  iroha_http_server/Cargo.toml
  iroha_macro/iroha_derive/src/lib.rs
  iroha_macro/iroha_derive/tests/from_variant/02-double-from.stderr
  iroha_macro/iroha_derive/tests/from_variant/04-container-from.stderr
  iroha_macro/iroha_derive/tests/from_variant/05-struct.stderr
  iroha_macro/src/lib.rs
  iroha_version/Cargo.toml
  iroha_version/iroha_version_derive/Cargo.toml
Labels: api-changes, iroha2

#876 Introduces transaction metadata
  .dockerignore
  Dockerfile
  iroha/src/config.rs
  iroha/src/sumeragi.rs
  iroha_client/src/client.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_client_cli/src/main.rs
  iroha_data_model/src/lib.rs
  scripts/metadata.json
  scripts/setup_docker_test_env.sh
  scripts/test_docker_compose.sh
Labels: api-changes, iroha2

#885 Introduces configurable metadata limits
  iroha/src/account.rs
  iroha/src/asset.rs
  iroha/src/config.rs
  iroha/src/lib.rs
  iroha/src/query.rs
  iroha/src/wsv.rs
  iroha_client/src/client.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_client_cli/src/main.rs
  iroha_data_model/src/lib.rs
Labels: iroha2

#891 Update CODEOWNERS
  .github/CODEOWNERS
Labels: iroha2

#887 Add types for asset definition
  iroha/benches/validation.rs
  iroha/genesis.json
  iroha/src/asset.rs
  iroha/src/isi.rs
  iroha/src/query.rs
  iroha/tests/genesis.json
  iroha_client/benches/torii.rs
  iroha_client/tests/account_with_multiple_signatories.rs
  iroha_client/tests/add_asset.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/cucumber.rs
  iroha_client/tests/events.rs
  iroha_client/tests/genesis.json
  iroha_client/tests/multiple_blocks_created.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_client/tests/pagination.rs
  iroha_client/tests/permissions.rs
  iroha_client/tests/restart_peer.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client/tests/tx_rollback.rs
  iroha_client_cli/src/main.rs
  iroha_data_model/src/lib.rs
  iroha_dsl/tests/dsl.rs
  iroha_dsl/tests/genesis.json
  iroha_permissions_validators/src/lib.rs
  scripts/test_docker_compose.sh
Labels: api-changes, iroha2

#886 Add new primitive for account registration
  iroha/benches/validation.rs
  iroha/genesis.json
  iroha/src/domain.rs
  iroha/src/isi.rs
  iroha/tests/genesis.json
  iroha_client/benches/torii.rs
  iroha_client/tests/add_asset_should_propagate_to_another_peer.rs
  iroha_client/tests/asset_amount_should_be_the_same_on_a_recently_added_peer.rs
  iroha_client/tests/genesis.json
  iroha_client/tests/multiple_blocks_created.rs
  iroha_client/tests/multisignature_transaction.rs
  iroha_client/tests/permissions.rs
  iroha_client/tests/transfer_asset.rs
  iroha_client_cli/src/main.rs
  iroha_data_model/src/lib.rs
  iroha_dsl/tests/dsl.rs
  iroha_dsl/tests/genesis.json
Labels: api-changes, iroha2

#901 Fix updated clippy
  iroha_data_model/src/lib.rs
  iroha_data_model/src/query.rs
Labels: iroha2

#894 Add validation of permissions for store and restructure of permission validators
  iroha/src/permissions.rs
  iroha_permissions_validators/src/lib.rs
Labels: iroha2
