Repository hyperledger-iroha/iroha, pull requests merged in 2021-11, with the labels that each got.

#1566 CI improvements
  .github/workflows/iroha2-dev-pr-heavy.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-unstable.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-push-ci.yml
  Dockerfile.ci
Labels: iroha2

#1570 Detect future timestamp on queue push
  core/src/block.rs
  core/src/queue.rs
  core/src/sumeragi/mod.rs
  core/src/tx.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  docs/source/references/config.md
Labels: iroha2

#1580 upgrade dependabot
  .dependabot/config.yml
  .github/dependabot.yml
Labels: iroha2

#1579 CODEOWNER update and minor fixes
  .github/CODEOWNERS
  CONTRIBUTING.md
  Dockerfile
  Dockerfile.ci
  hooks/README.md
  lints.toml
Labels: iroha2

#1586 add commit-msg git hook to include signoff
  hooks/README.md
  hooks/commit-msg.sample
Labels: iroha2, Documentation

#1584 fix dependabot config
  .github/dependabot.yml
Labels: iroha2

#1573 [refactor] `iroha_p2p`
  client/tests/tests/unregister_peer.rs
  core/genesis.json
  data_model/src/lib.rs
  data_model/tests/data_model.rs
  logger/src/lib.rs
  p2p/src/lib.rs
  p2p/src/network.rs
  p2p/src/peer.rs
  p2p/tests/p2p.rs
Labels: iroha2, refactor

#1574 Reconnect telemetry
  Cargo.lock
  docs/source/references/config.md
  telemetry/Cargo.toml
  telemetry/src/config.rs
  telemetry/src/lib.rs
  telemetry/src/retry_period.rs
  telemetry/src/ws.rs
Labels: bug, enhancement, iroha2

#1598 [Refactor] 1529: structured logging
  actor/src/lib.rs
  client_cli/src/main.rs
  core/src/block_sync.rs
  core/src/genesis.rs
  core/src/lib.rs
  core/src/sumeragi/mod.rs
  core/src/torii/mod.rs
  core/test_network/src/lib.rs
  core/test_network/tests/sumeragi_with_mock.rs
  p2p/src/network.rs
  p2p/src/peer.rs
  p2p/tests/p2p.rs
  telemetry/src/ws.rs
Labels: enhancement, iroha2, refactor

#1611 Use VersionedQueryResult vs QueryResult for /query endpoint
  client/src/client.rs
  core/src/torii/mod.rs
  data_model/src/query.rs
  macro/derive/src/lib.rs
  telemetry/src/ws.rs
Labels: iroha2

#1627 [Opt] `FuturesUnordered` instead of `join_all`
  core/src/block_sync.rs
  core/src/sumeragi/mod.rs
  core/test_network/src/lib.rs
  p2p/src/network.rs
  p2p/tests/p2p.rs
Labels: iroha2, Optimisation

#1634 Removed myself from CODEOWNERS
  .github/CODEOWNERS
Labels: iroha2

#1617 [refactor] Organisation of `json` files and readme.
  Cargo.lock
  Dockerfile
  README.md
  cli/README.md
  client/benches/torii.rs
  client/config.json
  client/src/lib.rs
  client/tests/genesis.json
  client/tests/single_config.json
  client/tests/test_client_config.json
  client/tests/test_config.json
  client/tests/test_trusted_peers.json
  client_cli/signature_condition.json
  client_cli/tests/test_config.json
  configs/client_cli/config.json
  configs/peer/config.json
  configs/peer/genesis.json
  configs/peer/trusted_peers.json
  core/Cargo.toml
  core/docs/src/main.rs
  core/src/config.rs
  core/src/genesis.rs
  core/src/lib.rs
  core/src/queue.rs
  core/src/samples.rs
  core/src/torii/mod.rs
  core/src/tx.rs
  core/src/wsv.rs
  core/test_network/Cargo.toml
  core/test_network/src/lib.rs
  core/test_network/tests/genesis.json
  core/test_network/tests/single_config.json
  core/test_network/tests/sumeragi_with_mock.rs
  core/test_network/tests/test_client_config.json
  core/test_network/tests/test_config.json
  core/test_network/tests/test_trusted_peers.json
  core/tests/genesis.json
  core/tests/test_config.json
  core/tests/test_trusted_peers.json
  crypto/Cargo.toml
  crypto/src/lib.rs
  crypto/src/signature.rs
  data_model/Cargo.toml
  data_model/tests/data_model.rs
  data_model/tests/genesis.json
  data_model/tests/test_client_config.json
  data_model/tests/test_config.json
  data_model/tests/test_trusted_peers.json
  docs/source/iroha_2_whitepaper.md
  docs/source/references/config.md
  docs/source/references/glossary.md
  scripts/metadata.json
  scripts/setup_docker_test_env.sh
Labels: iroha2, Documentation, refactor

#1631 Transaction status events tested for each of 7 peers
  client/tests/tests/events.rs
  core/src/sumeragi/mod.rs
  core/test_network/src/lib.rs
  docs/source/references/api_spec.md
  p2p/src/network.rs
Labels: iroha2

#1613 poll instead of pushing latest blocks
  core/src/block.rs
  core/src/block_sync.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  core/test_network/tests/sumeragi_with_mock.rs
  docs/source/references/config.md
Labels: iroha2

#1642 Fix mock tests - futures unordered bug
  client/tests/tests/asset_propagation.rs
  client/tests/tests/multisignature_transaction.rs
  client/tests/tests/unregister_peer.rs
  core/src/samples.rs
  core/src/sumeragi/mod.rs
  core/test_network/src/lib.rs
  core/test_network/tests/sumeragi_with_mock.rs
  data_model/src/lib.rs
  docs/source/references/config.md
Labels: iroha2

#1629 [fix] Minting issues (1593 and 1405)
  Cargo.lock
  client/tests/tests/add_asset.rs
  core/src/block.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/mod.rs
  data_model/Cargo.toml
  data_model/src/events.rs
  data_model/src/fixed.rs
  data_model/src/lib.rs
  data_model/tests/fail/fix_num_private.rs
  data_model/tests/fail/neg_one_private.rs
  data_model/tests/fail/no_conversion.rs
  data_model/tests/trybuild.rs
Labels: bug, iroha2, api-changes

#1576 [Feat] Add the number of connected peers to `Status`
  Cargo.lock
  client/tests/tests/asset_propagation.rs
  client/tests/tests/events.rs
  client/tests/tests/mod.rs
  client/tests/tests/multiple_blocks_created.rs
  client/tests/tests/multisignature_account.rs
  client/tests/tests/multisignature_transaction.rs
  client/tests/tests/restart_peer.rs
  client/tests/tests/status.rs
  client/tests/tests/unregister_peer.rs
  client_cli/src/main.rs
  core/src/block_sync.rs
  core/src/lib.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/sumeragi/mod.rs
  core/src/torii/mod.rs
  core/test_network/src/lib.rs
  data_model/src/lib.rs
  docs/source/guides/monitor-iroha-peer.md
  docs/source/references/api_spec.md
  docs/source/references/config.md
  p2p/Cargo.toml
  p2p/src/lib.rs
  p2p/src/network.rs
  p2p/src/peer.rs
  p2p/tests/p2p.rs
  scripts/setup_docker_test_env.sh
Labels: iroha2, api-changes, metrics

#1653 [feature] #1652: PR Title Formatting
  .github/workflows/iroha2-dev-pr-title.yml
Labels: iroha2
