Repository hyperledger-iroha/iroha, pull requests merged in 2021-12, with the labels that each got.

#1647 [fix] #1649: Add actor doc and minor fixes
  actor/src/broker.rs
  actor/src/lib.rs
  docs/source/guides/actor.md
  p2p/src/network.rs
Labels: enhancement, iroha2, Documentation

#1603 [feature] #1238: Run-time log-level updates
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-pr-heavy.yml
  .gitignore
  Cargo.lock
  actor/Cargo.toml
  client/src/client.rs
  client/src/config.rs
  client/tests/reload.rs
  client/tests/tests/config.rs
  client/tests/tests/unstable_network.rs
  config/Cargo.toml
  config/src/lib.rs
  config/src/runtime_upgrades.rs
  core/Cargo.toml
  core/src/config.rs
  core/src/torii/mod.rs
  core/src/torii/tests.rs
  core/test_network/Cargo.toml
  core/test_network/src/lib.rs
  docs/source/references/api_spec.md
  docs/source/references/config.md
  futures/tests/basic.rs
  logger/Cargo.toml
  logger/src/config.rs
  logger/src/lib.rs
  logger/tests/configuration.rs
  logger/tests/setting_logger.rs
  logger/tests/telemetry.rs
  p2p/tests/p2p.rs
  telemetry/src/ws.rs
Labels: enhancement, iroha2, api-changes

#1663 [fix] #0000: Update api_spec.md: fix request/response bodies
  docs/source/references/api_spec.md
Labels: iroha2

#1667 Remove i1i1 from maintainers
  .github/CODEOWNERS
Labels: iroha2

#1645 [refactor] #1650: tidy up `data_model`
  Cargo.lock
  client/Cargo.toml
  client/src/client.rs
  client/src/config.rs
  client/src/lib.rs
  client/tests/reload.rs
  config/src/lib.rs
  config/src/runtime_upgrades.rs
  core/src/block.rs
  core/src/kura.rs
  core/src/lib.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/mod.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/sumeragi/view_change.rs
  core/src/torii/mod.rs
  core/src/tx.rs
  core/src/wsv.rs
  core/test_network/Cargo.toml
  core/test_network/src/lib.rs
  core/test_network/tests/sumeragi_with_mock.rs
  data_model/src/lib.rs
  data_model/src/merkle.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  logger/src/config.rs
  logger/tests/configuration.rs
  p2p/Cargo.toml
  p2p/tests/p2p.rs
  permissions_validators/Cargo.toml
  permissions_validators/src/lib.rs
  version/derive/src/lib.rs
Labels: iroha2, refactor

#1670 [refactor] #1661: `Cargo.toml` cleanup
  Cargo.lock
  actor/Cargo.toml
  actor/derive/src/lib.rs
  cli/Cargo.toml
  client/Cargo.toml
  client/src/client.rs
  client_cli/Cargo.toml
  config/derive/Cargo.toml
  core/Cargo.toml
  core/src/block.rs
  core/src/block_sync.rs
  core/src/kura.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/view_change.rs
  core/src/tx.rs
  core/src/wsv.rs
  core/test_network/Cargo.toml
  crypto/Cargo.toml
  data_model/Cargo.toml
  data_model/src/events.rs
  data_model/src/expression.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  futures/Cargo.toml
  futures/derive/Cargo.toml
  futures/derive/src/lib.rs
  logger/Cargo.toml
  logger/src/lib.rs
  macro/Cargo.toml
  macro/README.md
  macro/derive/Cargo.toml
  macro/src/lib.rs
  p2p/Cargo.toml
  p2p/src/lib.rs
  p2p/src/network.rs
  p2p/tests/p2p.rs
  permissions_validators/Cargo.toml
  schema/Cargo.toml
  schema/derive/Cargo.toml
  telemetry/Cargo.toml
  version/Cargo.toml
  version/derive/Cargo.toml
  version/derive/src/lib.rs
  version/derive/tests/as_version.rs
  version/derive/tests/json.rs
  version/derive/tests/scale.rs
  version/derive/tests/ui/ok_declare_several_vesrioned.rs
  version/derive/tests/ui/ok_declare_versioned.rs
  version/derive/tests/ui/ok_declare_versioned_json.rs
  version/derive/tests/ui/ok_declare_versioned_scale.rs
  version/src/lib.rs
Labels: iroha2

#1656 [feature] #1216: Add Prometheus endpoint.
  Cargo.lock
  README.md
  client/src/client.rs
  configs/prometheus.yml
  core/src/block.rs
  core/src/queue.rs
  core/src/samples.rs
  core/src/sumeragi/mod.rs
  core/src/torii/mod.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  data_model/Cargo.toml
  data_model/src/lib.rs
  docs/source/references/api_spec.md
  docs/source/references/config.md
  logger/src/config.rs
  logger/src/lib.rs
  p2p/src/lib.rs
  p2p/src/network.rs
  p2p/src/peer.rs
Labels: Enhancement, iroha2, api-changes

#1669 [refactor] #1668: fix new clippy lints in the code
  .github/workflows/iroha2-dev-pr-static.yml
  Cargo.lock
  client/src/client.rs
  client/src/http_client.rs
  client/tests/tests/add_asset.rs
  core/src/block_sync.rs
  core/src/event.rs
  core/src/smartcontracts/isi/expression.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/torii/tests.rs
  core/src/torii/utils.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  core/test_network/tests/sumeragi_with_mock.rs
  crypto/src/lib.rs
  crypto/src/multihash.rs
  crypto/src/varint.rs
  data_model/src/expression.rs
  data_model/src/fixed.rs
  data_model/src/lib.rs
  data_model/src/merkle.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  futures/src/lib.rs
  futures/tests/basic.rs
  macro/derive/Cargo.toml
  macro/derive/src/lib.rs
  macro/derive/tests/serialize.rs
  p2p/src/lib.rs
  p2p/src/peer.rs
  permissions_validators/src/lib.rs
  schema/derive/src/lib.rs
  telemetry/src/futures.rs
  telemetry/src/ws.rs
  version/derive/Cargo.toml
Labels: iroha2

#1679 [feature] #1678: `try_allocate`
  core/src/kura.rs
Labels: iroha2

#1681 [refactor]: Fix linter error
  core/src/kura.rs
Labels: iroha2

#1655 [feature] #1643: Wait for peers to commit genesis in tests
  Cargo.lock
  client/tests/integration_tests/add_account.rs
  client/tests/integration_tests/add_asset.rs
  client/tests/integration_tests/add_domain.rs
  client/tests/integration_tests/asset_propagation.rs
  client/tests/integration_tests/config.rs
  client/tests/integration_tests/events.rs
  client/tests/integration_tests/multiple_blocks_created.rs
  client/tests/integration_tests/multisignature_account.rs
  client/tests/integration_tests/multisignature_transaction.rs
  client/tests/integration_tests/offline_peers.rs
  client/tests/integration_tests/pagination.rs
  client/tests/integration_tests/permissions.rs
  client/tests/integration_tests/restart_peer.rs
  client/tests/integration_tests/status.rs
  client/tests/integration_tests/transfer_asset.rs
  client/tests/integration_tests/tx_history.rs
  client/tests/integration_tests/tx_rollback.rs
  client/tests/integration_tests/unregister_peer.rs
  client/tests/integration_tests/unstable_network.rs
  core/Cargo.toml
  core/src/genesis.rs
  core/src/torii/tests.rs
  core/test_network/src/lib.rs
  core/test_network/tests/sumeragi_with_mock.rs
  docs/source/references/config.md
Labels: iroha2, Tests, Optimisation

#1682 [ci] #1630: Move back to self-hosted runners.
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-unstable.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-pr-heavy.yml
Labels: iroha2

#1677 [refactor]: #1687 bump dependencies
  Cargo.lock
  actor/Cargo.toml
  client/Cargo.toml
  client/src/http_client.rs
  client_cli/Cargo.toml
  core/Cargo.toml
  core/src/queue.rs
  core/test_network/Cargo.toml
  lints.toml
  p2p/Cargo.toml
  p2p/src/peer.rs
  telemetry/Cargo.toml
Labels: iroha2

#1684 [documentation] #1641: keypair doc
  docs/source/references/keypairs.md
Labels: iroha2

#1665 [feature] #1675: use type instead of wrapper struct for versioned items
  client/src/client.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/event.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/mod.rs
  core/src/torii/mod.rs
  core/src/torii/tests.rs
  core/src/tx.rs
  core/src/wsv.rs
  core/test_network/tests/sumeragi_with_mock.rs
  data_model/src/events.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  version/derive/src/lib.rs
  version/derive/tests/as_version.rs
  version/derive/tests/json.rs
  version/derive/tests/scale.rs
  version/derive/tests/ui/fail_invalid_range_equal.stderr
  version/derive/tests/ui/fail_invalid_range_less.stderr
  version/derive/tests/ui/ok_declare_several_versioned.rs
  version/derive/tests/ui/ok_declare_versioned.rs
  version/derive/tests/ui/ok_declare_versioned_json.rs
  version/derive/tests/ui/ok_declare_versioned_scale.rs
Labels: iroha2

#1690 [CI] Enable PR CI in branch
  .github/workflows/iroha2-add-label.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-title.yml
  .github/workflows/iroha2-dev-pr-unstable.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-pre1-rc1.yml
Labels: iroha2

#1688 [feature] #1689: Fix feature dependencies.
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-unstable.yml
  cli/Cargo.toml
Labels: iroha2

#1691 [refactor] #1693: remove Io derive
  Cargo.lock
  client/benches/torii.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/view_change.rs
  core/src/torii/tests.rs
  core/src/tx.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  macro/README.md
  macro/derive/Cargo.toml
  macro/derive/src/lib.rs
  macro/derive/tests/serialize.rs
  schema/derive/src/lib.rs
  version/derive/src/lib.rs
  version/derive/tests/ui/fail_invalid_range_equal.rs
  version/derive/tests/ui/fail_invalid_range_less.rs
  version/derive/tests/ui/ok_declare_versioned.rs
  version/derive/tests/ui/ok_declare_versioned_json.rs
  version/derive/tests/ui/ok_declare_versioned_scale.rs
  version/src/lib.rs
Labels: iroha2

#1697 [documentation] #1695: Clarify different ports for endpoints
  docs/source/references/api_spec.md
Labels: iroha2, Documentation

#1696 [documentation] #1695: Clarify different ports for endpoints
  docs/source/references/api_spec.md
Labels: iroha2, Documentation

#1700 [fix] #1698: Fixed `client_cli` public keys, documentation and error messages.
  client_cli/src/main.rs
  configs/client_cli/config.json
  configs/peer/genesis.json
  docs/source/references/keypairs.md
Labels: iroha2

#1704 [fix] #1698: Ensure client_cli is working and add documentation.
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-unstable.yml
  cli/Cargo.toml
  client_cli/src/main.rs
  configs/client_cli/config.json
  configs/peer/genesis.json
  docs/source/references/keypairs.md
Labels: iroha2

#1705 [documentation] #1685, #1694: Update [Contributing.md].
  .github/issue_template.md
  .rustfmt.toml
  CONTRIBUTING.md
  Cargo.lock
  actor/Cargo.toml
  actor/derive/Cargo.toml
  cli/Cargo.toml
  client/Cargo.toml
  client/README.md
  client_cli/Cargo.toml
  config/Cargo.toml
  config/derive/Cargo.toml
  core/Cargo.toml
  core/docs/Cargo.toml
  core/test_network/Cargo.toml
  crypto/Cargo.toml
  crypto_cli/Cargo.toml
  data_model/Cargo.toml
  futures/Cargo.toml
  futures/derive/Cargo.toml
  logger/Cargo.toml
  macro/Cargo.toml
  macro/derive/Cargo.toml
  p2p/Cargo.toml
  permissions_validators/Cargo.toml
  schema/Cargo.toml
  schema/bin/Cargo.toml
  schema/derive/Cargo.toml
  substrate/Cargo.toml
  telemetry/Cargo.toml
  version/Cargo.toml
  version/derive/Cargo.toml
Labels: iroha2

#1710 [fix] #1706: Update `max_faults` with Topology update
  CONTRIBUTING.md
  README.md
  cli/README.md
  client/README.md
  client/tests/integration_tests/connected_peers.rs
  client/tests/integration_tests/mod.rs
  client/tests/integration_tests/status.rs
  client_cli/README.md
  config/src/lib.rs
  core/src/block_sync.rs
  core/src/genesis.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/sumeragi/view_change.rs
  core/src/wsv.rs
  docs/source/references/api_spec.md
  macro/README.md
Labels: iroha2

#1709 [documentation]: Update [CONTRIBUTING.md]
  .github/issue_template.md
  .rustfmt.toml
  CONTRIBUTING.md
  Cargo.lock
  actor/Cargo.toml
  actor/derive/Cargo.toml
  cli/Cargo.toml
  client/Cargo.toml
  client/README.md
  client_cli/Cargo.toml
  config/Cargo.toml
  config/derive/Cargo.toml
  core/Cargo.toml
  core/docs/Cargo.toml
  core/test_network/Cargo.toml
  crypto/Cargo.toml
  crypto_cli/Cargo.toml
  data_model/Cargo.toml
  docs/source/references/keypairs.md
  futures/Cargo.toml
  futures/derive/Cargo.toml
  logger/Cargo.toml
  macro/Cargo.toml
  macro/derive/Cargo.toml
  p2p/Cargo.toml
  permissions_validators/Cargo.toml
  schema/Cargo.toml
  schema/bin/Cargo.toml
  schema/derive/Cargo.toml
  substrate/Cargo.toml
  telemetry/Cargo.toml
  version/Cargo.toml
  version/derive/Cargo.toml
Labels: iroha2

#1727 [fix] #0000: Move rc-branch containers to rc-branch docker-compose.
  docker-compose.yml
Labels: iroha2

#1723 [fix] #0000: allow only known fields in version attribute
  core/src/block.rs
  version/derive/src/lib.rs
  version/derive/tests/ui_fail/unknown_field_in_version_attribute.rs
  version/derive/tests/ui_fail/unknown_field_in_version_attribute.stderr
Labels: iroha2

#1732 [fix] #666: Fixed a problematic typo in previous PR.
  docker-compose.yml
Labels: iroha2

#1721 [refactor] #1725: Remove global state in Torii
  core/src/torii/mod.rs
  core/src/torii/tests.rs
  core/src/torii/utils.rs
  core/test_network/src/lib.rs
  docs/source/references/config.md
Labels: iroha2

#1720 [feature] #1331: Implement more `Prometheus` metrics
  Cargo.lock
  Dockerfile.ci
  client/Cargo.toml
  client/src/client.rs
  config/src/runtime_upgrades.rs
  core/Cargo.toml
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/permissions.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/smartcontracts/isi/world.rs
  core/src/torii/mod.rs
  core/src/wsv.rs
  data_model/Cargo.toml
  data_model/src/fixed.rs
  data_model/src/lib.rs
  telemetry/Cargo.toml
  telemetry/derive/Cargo.toml
  telemetry/derive/src/lib.rs
  telemetry/derive/tests/ui.rs
  telemetry/derive/tests/ui_fail/args_no_wsv.rs
  telemetry/derive/tests/ui_fail/args_no_wsv.stderr
  telemetry/derive/tests/ui_fail/bare_spec.rs
  telemetry/derive/tests/ui_fail/bare_spec.stderr
  telemetry/derive/tests/ui_fail/doubled_plus.rs
  telemetry/derive/tests/ui_fail/doubled_plus.stderr
  telemetry/derive/tests/ui_fail/no_args.rs
  telemetry/derive/tests/ui_fail/no_args.stderr
  telemetry/derive/tests/ui_fail/non_snake_case_name.rs
  telemetry/derive/tests/ui_fail/non_snake_case_name.stderr
  telemetry/derive/tests/ui_fail/not_execute.rs
  telemetry/derive/tests/ui_fail/not_execute.stderr
  telemetry/derive/tests/ui_fail/not_return_result.rs
  telemetry/derive/tests/ui_fail/not_return_result.stderr
  telemetry/derive/tests/ui_fail/return_nothing.rs
  telemetry/derive/tests/ui_fail/return_nothing.stderr
  telemetry/derive/tests/ui_fail/trailing_plus.rs
  telemetry/derive/tests/ui_fail/trailing_plus.stderr
  telemetry/src/lib.rs
  telemetry/src/metrics.rs
Labels: Enhancement, iroha2, metrics

#1722 [refactor]: iroha_crypto dependencies
  Cargo.lock
  crypto/Cargo.toml
  crypto/src/lib.rs
  crypto/src/multihash.rs
  crypto/src/varint.rs
Labels: iroha2

#1729 [refactor] #1210: Split event stream
  client/src/client.rs
  core/src/event.rs
  core/src/tx.rs
  data_model/src/events.rs
  data_model/src/transaction.rs
  schema/bin/src/main.rs
Labels: iroha2

#1736 [ci]: Update Mold 1.0
  .github/workflows/iroha2-dev.yml
  Dockerfile.ci
Labels: iroha2

#1724 [feature] #1210 Block streaming - server side
  core/src/block.rs
  core/src/block_sync.rs
  core/src/event.rs
  core/src/lib.rs
  core/src/stream.rs
  core/src/torii/mod.rs
  core/src/torii/tests.rs
  core/src/wsv.rs
  data_model/src/lib.rs
  data_model/src/transaction.rs
  docs/source/references/api_spec.md
  schema/bin/src/main.rs
Labels: iroha2

#1738 [feature] #1144: Add metadata nesting
  data_model/src/lib.rs
  data_model/src/metadata.rs
Labels: Enhancement, iroha2

#1743 [feature] #1734: Validate `Name` to exclude whitespaces
  Cargo.lock
  client/benches/torii.rs
  client/src/client.rs
  client/src/config.rs
  client/src/lib.rs
  client/tests/integration_tests/add_account.rs
  client/tests/integration_tests/add_asset.rs
  client/tests/integration_tests/add_domain.rs
  client/tests/integration_tests/asset_propagation.rs
  client/tests/integration_tests/multiple_blocks_created.rs
  client/tests/integration_tests/multisignature_account.rs
  client/tests/integration_tests/multisignature_transaction.rs
  client/tests/integration_tests/offline_peers.rs
  client/tests/integration_tests/pagination.rs
  client/tests/integration_tests/permissions.rs
  client/tests/integration_tests/transfer_asset.rs
  client/tests/integration_tests/tx_history.rs
  client/tests/integration_tests/tx_rollback.rs
  client/tests/integration_tests/unregister_peer.rs
  client/tests/integration_tests/unstable_network.rs
  client_cli/src/main.rs
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/genesis.rs
  core/src/init.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/torii/mod.rs
  core/src/torii/tests.rs
  core/src/tx.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  core/test_network/tests/sumeragi_with_mock.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/query.rs
  data_model/tests/data_model.rs
  permissions_validators/Cargo.toml
  permissions_validators/src/lib.rs
Labels: iroha2

#1745 [fix] #1404: Verify fixed.
  client/tests/integration_tests/add_asset.rs
  client/tests/integration_tests/asset_propagation.rs
  core/test_network/src/lib.rs
Labels: iroha2

#1746 [fix] #1715: Consensus fixes to handle high load
  configs/peer/config.json
  core/src/genesis.rs
  core/src/queue.rs
  core/src/samples.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/view_change.rs
  core/src/wsv.rs
  core/test_network/tests/sumeragi_with_mock.rs
  docs/source/references/config.md
  p2p/src/peer.rs
Labels: iroha2

#1744 [fix] #1742: Concrete errors returned in `core` instructions.
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/expression.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/mod.rs
  core/src/torii/mod.rs
  core/src/tx.rs
  core/src/wsv.rs
  data_model/src/fixed.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/transaction.rs
Labels: iroha2, Refactor

#1752 [fix] #1751: Sumeragi awaits wsv block commit
  core/src/kura.rs
  core/src/sumeragi/mod.rs
Labels: iroha2

#1756 [fix] #1734: Update genesis to fit the new Domain validation.
  configs/peer/genesis.json
Labels: iroha2

#1757 [fix] #1751, #1715: Consensus fixes
  configs/peer/config.json
  core/src/genesis.rs
  core/src/kura.rs
  core/src/queue.rs
  core/src/samples.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/view_change.rs
  core/src/wsv.rs
  core/test_network/tests/sumeragi_with_mock.rs
  docs/source/references/config.md
  p2p/src/peer.rs
Labels: iroha2

#1760 [fix] #1755: Minor fixes for #1743, #1725
  client/src/client.rs
  client/src/config.rs
  client/tests/integration_tests/asset_propagation.rs
  client/tests/integration_tests/connected_peers.rs
  client/tests/integration_tests/events.rs
  client/tests/integration_tests/multiple_blocks_created.rs
  client/tests/integration_tests/multisignature_account.rs
  client/tests/integration_tests/multisignature_transaction.rs
  client/tests/integration_tests/restart_peer.rs
  client/tests/integration_tests/unstable_network.rs
  configs/client_cli/config.json
  core/src/torii/mod.rs
  core/test_network/src/lib.rs
  docker-compose-local.yml
  docker-compose-single.yml
  docker-compose.yml
  docs/source/references/api_spec.md
Labels: iroha2

#1764 [feature] #1172: Implement instruction events
  actor/src/broker.rs
  actor/src/lib.rs
  client/tests/integration_tests/events/data.rs
  client/tests/integration_tests/events/mod.rs
  client/tests/integration_tests/events/pipeline.rs
  client_cli/src/main.rs
  core/src/block_sync.rs
  core/src/kura.rs
  core/src/lib.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/mod.rs
  core/src/sumeragi/mod.rs
  core/src/wsv.rs
  crypto/src/varint.rs
  data_model/src/events.rs
  data_model/src/events/data.rs
  data_model/src/events/mod.rs
  data_model/src/events/pipeline.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  p2p/src/network.rs
Labels: Enhancement, iroha2

#1759 [feature] #1425: add wasm runtime
  Cargo.lock
  client/src/client.rs
  client/tests/integration_tests/add_asset.rs
  client/tests/integration_tests/events/pipeline.rs
  client/tests/integration_tests/multisignature_transaction.rs
  client/tests/integration_tests/tx_history.rs
  client_cli/src/main.rs
  core/Cargo.toml
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/genesis.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/mod.rs
  core/src/smartcontracts/wasm.rs
  core/src/tx.rs
  core/src/wsv.rs
  core/test_network/tests/sumeragi_with_mock.rs
  data_model/src/transaction.rs
Labels: iroha2

#1773 [fix] #1772: Fix after #1764
  core/src/lib.rs
  core/src/wsv.rs
Labels: iroha2

#1775 [fix] #1714: Compare PeerId only by key
  data_model/src/lib.rs
Labels: iroha2

#1662 Replaces in sample config files deprecated max_rounds_delay into proposal_creation_timeout and deprecated DB connection string
  example/config.docker
  example/config.postgres.sample
  example/config.sample
Labels: 1.x, config-changes
