Repository hyperledger-iroha/iroha, pull requests merged in 2022-07, with the labels that each got.

#2417 [refactor] #2307: Make `events_sender` in `WorldStateView` non-optional
  cli/src/lib.rs
  core/src/wsv.rs
Labels: iroha2

#2428 [feature] #2228: Add Unauthorized variant to smartcontracts query error
  cli/src/torii/mod.rs
  cli/src/torii/tests.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/query.rs
  core/src/wsv.rs
Labels: iroha2, api-changes

#2397 [fix] #2376: Simplified Kura, no async, two files
  Cargo.lock
  actor/src/broker.rs
  actor/src/lib.rs
  cli/src/lib.rs
  core/Cargo.toml
  core/benches/kura.rs
  core/src/genesis.rs
  core/src/kura.rs
  core/src/sumeragi/fault.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/mod.rs
  core/test_network/src/lib.rs
  tools/kura_inspector/Cargo.toml
  tools/kura_inspector/src/lib.rs
  tools/kura_inspector/src/main.rs
  tools/kura_inspector/src/print.rs
Labels: iroha2

#2445 [fix] #1480: Shut down on panic
  cli/Cargo.toml
  cli/src/lib.rs
Labels: iroha2

#2326 [feature] #2301: Add transaction's block hash when querying it
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/query.rs
  core/src/wsv.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: help wanted, iroha2

#2470 [feature] #2467: Add account grant subcommand into iroha_client_cli
  client_cli/src/main.rs
Labels: Enhancement, iroha2, CLI

#2479 [fix] #2473: parse rustc --version instead of RUSTUP_TOOLCHAIN
  client/build.rs
Labels: iroha2

#2474 [fix] #2457: Fix tests flakiness related to shut down on panic
  Cargo.lock
  cli/Cargo.toml
  cli/src/config.rs
  cli/src/lib.rs
  docs/source/references/config.md
Labels: Bug, iroha2

#2452 [fix] #2416: Fix lints on macOS arm
  core/src/smartcontracts/isi/block.rs
  data_model/Cargo.toml
  data_model/src/lib.rs
  data_model/src/query.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: Bug, iroha2

#2475 Many documentation changes, corrections etc.
  CONTRIBUTING.rst
  docs/README.md
  docs/source/configure/torii-tls.rst
  docs/source/develop/index.rst
  docs/source/getting_started/python-guide.rst
  docs/source/integrations/burrow.rst
  docs/source/maintenance/add_peer.rst
Labels: Enhancement, 1.x, Documentation

#2497 [refactor]: impl `HasOrigin` instead of `Identifiable` for the data events
  data_model/derive/src/lib.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/filters.rs
  data_model/src/lib.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2453 [feature] #2098: Block header queries
  client/src/client.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/query.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  permissions_validators/src/private_blockchain/query.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2493 [fix] #2492: Fixes not all triggers being executed that match an event
  client/tests/integration/triggers/data_trigger.rs
  data_model/src/trigger/set.rs
Labels: Bug, iroha2

#2433 [ci]: Update Dockerfiles & Codecov reports reuse & Concurrency
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-unstable.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-lts-pr.yml
  .github/workflows/iroha2-lts.yml
  .github/workflows/iroha2-pr.yml
  .github/workflows/iroha2-push-nightly.yml
  .github/workflows/iroha2.yml
  Cargo.toml
  Dockerfile
  Dockerfile.base
  Dockerfile.build
  Dockerfile.ci
  docker-compose-local.yml
  docker-compose-single.yml
  docker-compose.yml
  rust-toolchain.toml
Labels: iroha2

#2503 [refactor] #2253: Add `Registrable` trait to `data_model`
  client/tests/integration/queries/role.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/lib.rs
  data_model/src/role.rs
Labels: iroha2

#2495 [fix] #2492: Fixes not all triggers being executed that match an event (lts)
  client/tests/integration/triggers/data_trigger.rs
  client/tests/integration/triggers/mod.rs
  data_model/src/trigger/set.rs
Labels: Bug, iroha2

#2476 [feature] #1988, #2437: Derive macros for Identifiable, Eq, Hash, Ord
  data_model/derive/src/filter.rs
  data_model/derive/src/id.rs
  data_model/derive/src/lib.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/peer.rs
  data_model/src/role.rs
Labels: iroha2

#2516 [feature] #1891: Validate trigger execution
  client/tests/integration/asset.rs
  client/tests/integration/triggers/by_call_trigger.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/triggers.rs
Labels: Enhancement, iroha2

#2535 [refactor] #2419: Remove explicit `drop`s
  actor/src/broker.rs
  actor/src/lib.rs
  client/tests/integration/restart_peer.rs
  client/tests/integration/unstable_network.rs
  core/src/lib.rs
  core/src/sumeragi/fault.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/mod.rs
  core/src/wsv.rs
  data_model/src/trigger/set.rs
  p2p/tests/integration/p2p.rs
  telemetry/src/ws.rs
Labels: iroha2, Refactor

#2523 [refactor] #2468: Remove debug supertrait from permission validators
  Cargo.lock
  core/src/smartcontracts/isi/permissions/combinators.rs
  core/src/smartcontracts/isi/permissions/has_token.rs
  core/src/smartcontracts/isi/permissions/judge.rs
  core/src/smartcontracts/isi/permissions/mod.rs
  core/src/smartcontracts/isi/permissions/roles.rs
  core/src/smartcontracts/wasm.rs
  data_model/src/expression.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/permissions.rs
  data_model/src/query.rs
  permissions_validators/Cargo.toml
  permissions_validators/src/lib.rs
  permissions_validators/src/private_blockchain/mod.rs
  permissions_validators/src/private_blockchain/query.rs
  permissions_validators/src/private_blockchain/register.rs
  permissions_validators/src/public_blockchain/burn.rs
  permissions_validators/src/public_blockchain/key_value.rs
  permissions_validators/src/public_blockchain/mint.rs
  permissions_validators/src/public_blockchain/mod.rs
  permissions_validators/src/public_blockchain/transfer.rs
  permissions_validators/src/public_blockchain/unregister.rs
Labels: iroha2, Refactor, Security

#2550 [ci]: Remove the version specification of `archlinux:base-devel`
  Dockerfile.base
Labels: iroha2

#2469 [documentation]: Update test flakyness
  flakyness.org
Labels: iroha2

#2552 [ci] #2461: Reverse docker login ver
  .github/workflows/iroha2-dev.yml
Labels: iroha2, CI

#2538 [feature] #2490: Implement ffi_export for freestanding functions
  ffi/derive/src/derive.rs
  ffi/derive/src/export.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/src/lib.rs
  ffi/derive/tests/ui_pass/valid.rs
Labels: Enhancement, iroha2

#2293 [documentation]: Update the git branch reference from "master" to "main"
  docs/source/getting_started/index.rst
  irohad/ordering/impl/on_demand_os_client_grpc.cpp
Labels: 1.x, Documentation

#2565 [ci] #2461: Move coverage uploading to a new workflow
  .github/workflows/iroha2-dev-upload-coverage.yml
  .github/workflows/iroha2-dev.yml
Labels: iroha2, CI
