Repository hyperledger-iroha/iroha, pull requests merged in 2022-09, with the labels that each got.

#2683 [fix] #0: Remove `/iroha/rust-toolchain.toml` from the builder image
  Dockerfile
Labels: Bug

#2661 [feature] #2626, #2588: `Combine` derive, split `config` macros
  config/base/derive/src/documented.rs
  config/base/derive/src/lib.rs
  config/base/derive/src/proxy.rs
  config/base/derive/src/utils.rs
  config/base/derive/src/view.rs
  config/base/src/lib.rs
  config/base/tests/simple.rs
  config/src/block_sync.rs
  config/src/client.rs
  config/src/genesis.rs
  config/src/iroha.rs
  config/src/kura.rs
  config/src/logger.rs
  config/src/network.rs
  config/src/queue.rs
  config/src/sumeragi.rs
  config/src/telemetry.rs
  config/src/torii.rs
  config/src/wasm.rs
  config/src/wsv.rs
Labels: iroha2

#2687 [feature] #2677: WASM base64 (de-)serialization
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  Cargo.lock
  Dockerfile.base
  client/Cargo.toml
  client/build.rs
  client/tests/integration/smartcontracts/README.md
  client/tests/integration/smartcontracts/create_nft_for_every_user_smartcontract/Cargo.toml
  client/tests/integration/smartcontracts/create_nft_for_every_user_smartcontract/src/lib.rs
  client/tests/integration/smartcontracts/mint_rose/Cargo.toml
  client/tests/integration/smartcontracts/mint_rose/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  data_model/Cargo.toml
  data_model/src/transaction.rs
Labels: Enhancement, iroha2, api-changes, Yellow

#2693 [refactor] #2650: Add `ThreadHandler` to shutdown iroha submodules
  cli/src/lib.rs
  core/src/kura.rs
  core/src/lib.rs
  core/test_network/src/lib.rs
Labels: iroha2

#2708 [ci]: Auto-label `api-changes` and `config-changes`
  .github/workflows/iroha2-dev-pr-label.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-ui.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
Labels: iroha2, CI

#2695 [fix] #2678: Fix tests on staging branch.
  client/tests/integration/triggers/time_trigger.rs
  config/src/client.rs
  config/src/sumeragi.rs
  core/src/block.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/triggers.rs
  core/src/smartcontracts/isi/world.rs
Labels: iroha2

#2717 [fix] #2716: Make Duration in Uptime public
  telemetry/src/metrics.rs
Labels: iroha2

#2720 Fix/transfer asset permitions in 1 6
  irohad/ametsuchi/impl/rocksdb_command_executor.cpp
  test/integration/acceptance/transfer_asset_test.cpp
Labels: 1.5

#2699 [documentation]: Fix doc comment in schema/src
  schema/src/lib.rs
Labels: iroha2

#2707 [refactor] #2649: Remove `byteorder` crate from `Kura`
  Cargo.lock
  core/Cargo.toml
  core/src/kura.rs
Labels: iroha2

#2673 [feature] #2672: Add `ipv4Addr` , `ipv6Addr` variants and predicates.
  .gitignore
  data_model/src/lib.rs
  data_model/src/predicate.rs
  docs/source/references/schema.json
  primitives/src/addr.rs
  primitives/src/lib.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2680 [ci]: Enable sequential publish of images, after #2662
  .github/workflows/iroha2-base.yml
  .github/workflows/iroha2-dev-pr-label.yml
  .github/workflows/iroha2-dev-pr-ui.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
Labels: Bug, iroha2, CI

#2724 [fix] #2703: Fix orillion dev env bugs (dev)
  Cargo.lock
  cli/src/torii/routing.rs
  client/Cargo.toml
  client/src/client.rs
Labels: Bug, iroha2, Dev defect

#2735 [fix] #2734: Remove logger config from client config
  client/src/lib.rs
  config/src/client.rs
  configs/client_cli/config.json
Labels: iroha2, UI

#2733 [ci]: First-aids for non-functioning `tj-actions/changed-files`
  .github/workflows/iroha2-dev-pr-label-api.yml
  .github/workflows/iroha2-dev-pr-label-config.yml
  .github/workflows/iroha2-dev-pr-label.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
Labels: Bug, iroha2, CI

#2736 [ci]: Version bump to RC.8
  Cargo.lock
  actor/Cargo.toml
  actor/derive/Cargo.toml
  cli/Cargo.toml
  cli/derive/Cargo.toml
  client/Cargo.toml
  client/tests/integration/smartcontracts/create_nft_for_every_user_smartcontract/Cargo.toml
  client/tests/integration/smartcontracts/mint_rose/Cargo.toml
  client_cli/Cargo.toml
  config/Cargo.toml
  config/base/Cargo.toml
  config/base/derive/Cargo.toml
  core/Cargo.toml
  core/test_network/Cargo.toml
  crypto/Cargo.toml
  data_model/Cargo.toml
  data_model/derive/Cargo.toml
  ffi/Cargo.toml
  ffi/derive/Cargo.toml
  futures/Cargo.toml
  futures/derive/Cargo.toml
  logger/Cargo.toml
  macro/Cargo.toml
  macro/derive/Cargo.toml
  p2p/Cargo.toml
  permissions_validators/Cargo.toml
  primitives/Cargo.toml
  schema/Cargo.toml
  schema/derive/Cargo.toml
  schema/gen/Cargo.toml
  substrate/Cargo.toml
  telemetry/Cargo.toml
  telemetry/derive/Cargo.toml
  tools/kagami/Cargo.toml
  tools/kura_inspector/Cargo.toml
  tools/parity_scale_decoder/Cargo.toml
  version/Cargo.toml
  version/derive/Cargo.toml
  wasm/Cargo.toml
Labels: iroha2

#2740 [ci]: Fix `buildx` error with `docker/build-push-action`
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
Labels: Bug, iroha2, CI

#2719 [fix] #2638: Update white paper.
  docs/source/iroha_2_whitepaper.md
Labels: iroha2, Documentation

#2715 [feature] #2502: Store GIT hash of build
  Cargo.lock
  cli/Cargo.toml
  cli/build.rs
  cli/src/main.rs
  client_cli/Cargo.toml
  client_cli/build.rs
  client_cli/src/main.rs
Labels: iroha2

#2752 [ci]: Fix iroha2:dev-nightly image build
  .github/workflows/iroha2-dev-nightly.yml
Labels: iroha2, CI

#2694 [feature] #2689: Add permission token definition parameters
  Cargo.lock
  client/Cargo.toml
  client/tests/integration/permissions/mod.rs
  configs/peer/genesis.json
  core/Cargo.toml
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/permissions/checks.rs
  core/src/smartcontracts/isi/world.rs
  data_model/Cargo.toml
  data_model/src/lib.rs
  data_model/src/name.rs
  data_model/src/permission/mod.rs
  data_model/src/permission/token.rs
  docs/source/references/schema.json
  permissions_validators/src/lib.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: Enhancement, iroha2, api-changes

#2763 [feature] #2698: Fix unclear error message in `iroha_client`
  client/src/client.rs
Labels: Enhancement, iroha2, UI

#2766 [fix]: #2571: Better Kura Inspector UX.
  tools/kura_inspector/src/main.rs
Labels: iroha2

#2769 [fix] #2764: Remove limit on max message size
  p2p/src/peer.rs
Labels: iroha2

#2771 [feature] #2765: Generate synthetic genesis in `kagami`
  tools/kagami/README.md
  tools/kagami/src/main.rs
Labels: iroha2

#2743 [ci] #2732: Add a conditions to update iroha2-base images and add PR labels
  .github/workflows/iroha2-dev-pr-label-api.yml
  .github/workflows/iroha2-dev-pr-label-config.yml
  .github/workflows/iroha2-dev-pr-label.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
Labels: iroha2, CI

#2777 [feature] #2774, #2775: `kagami` genesis improvments
  tools/kagami/src/main.rs
Labels: iroha2

#2782 [ci] #2778: Client config check
  .github/workflows/iroha2-dev-pr.yml
  Cargo.lock
  config/src/iroha.rs
  configs/client_cli/config.json
  scripts/check.sh
  tools/kagami/Cargo.toml
  tools/kagami/src/main.rs
Labels: Bug, iroha2, CI

#2788 [fix] #2787: Notify every listener to shutdown on panic
  cli/src/lib.rs
Labels: Bug, iroha2

#2805 [fix] #2802: Fix env loading for configuration
  config/base/derive/src/proxy.rs
  config/base/tests/simple.rs
  docker-compose-local.yml
  docker-compose-single.yml
  docker-compose.yml
  scripts/test_env.sh
Labels: Bug, iroha2
