Repository hyperledger-iroha/iroha, pull requests merged in 2022-11, with the labels that each got.

#2930 [refactor]: move parametrization into traits and remove FFI IR types
  ffi/derive/src/convert.rs
  ffi/derive/tests/ui_fail/fallible_transmute_mut_ref.stderr
  ffi/derive/tests/ui_fail/nested_owned_structure.stderr
  ffi/src/ir.rs
  ffi/src/lib.rs
  ffi/src/option.rs
  ffi/src/primitives.rs
  ffi/src/repr_c.rs
  ffi/src/std_impls.rs
  ffi/tests/ffi_export.rs
  primitives/src/conststr.rs
Labels: iroha2

#2916 [refactor] #2909: Hardcode ports for nextest
  client/benches/tps/lib.rs
  client/tests/integration/add_account.rs
  client/tests/integration/add_domain.rs
  client/tests/integration/asset.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/connected_peers.rs
  client/tests/integration/events/data.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/multiple_blocks_created.rs
  client/tests/integration/multisignature_account.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/non_mintable.rs
  client/tests/integration/offline_peers.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/query_errors.rs
  client/tests/integration/restart_peer.rs
  client/tests/integration/roles.rs
  client/tests/integration/sorting.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/data_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/unregister_peer.rs
  client/tests/integration/unstable_network.rs
  core/test_network/src/lib.rs
  data_model/tests/data_model.rs
  p2p/tests/integration/p2p.rs
Labels: iroha2, Tests

#2934 [ci]: Switсh dev tests to Equinix self-hosted runners
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
Labels: iroha2, CI

#2912 [documentation]: Extend tutorial with asset-related docs
  client/examples/tutorial.rs
Labels: iroha2, Documentation, Tests

#2915 [feature] #2096: Query for total amount of asset
  Cargo.lock
  cli/src/torii/routing.rs
  client/benches/torii.rs
  client/benches/tps/lib.rs
  client/examples/tutorial.rs
  client/tests/integration/asset.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/multiple_blocks_created.rs
  client/tests/integration/multisignature_account.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/non_mintable.rs
  client/tests/integration/permissions/mod.rs
  client/tests/integration/queries/asset.rs
  client/tests/integration/queries/mod.rs
  client/tests/integration/restart_peer.rs
  client/tests/integration/roles.rs
  client/tests/integration/sorting.rs
  client/tests/integration/transfer_asset.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/tx_history.rs
  client/tests/integration/tx_rollback.rs
  client/tests/integration/unregister_peer.rs
  client/tests/integration/unstable_network.rs
  client_cli/src/main.rs
  configs/peer/genesis.json
  core/benches/kura.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/expression.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  data_model/derive/Cargo.toml
  data_model/derive/src/lib.rs
  data_model/derive/src/partially_tagged.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/events/data/events.rs
  data_model/src/expression.rs
  data_model/src/lib.rs
  data_model/src/permission/token.rs
  data_model/src/predicate.rs
  data_model/src/query.rs
  data_model/tests/data_model.rs
  docs/source/references/schema.json
  permissions_validators/src/private_blockchain/query.rs
  permissions_validators/src/public_blockchain/mod.rs
  permissions_validators/src/public_blockchain/transfer.rs
  tools/kagami/src/main.rs
  tools/parity_scale_decoder/samples/account.bin
  tools/parity_scale_decoder/samples/domain.bin
  tools/parity_scale_decoder/samples/domain.json
  tools/parity_scale_decoder/samples/trigger.bin
  tools/parity_scale_decoder/samples/trigger.json
  tools/parity_scale_decoder/src/generate_map.rs
  wasm/src/lib.rs
Labels: iroha2, macros, queries

#2935 Added more descriptive Readme file.
  iroha-lib/README.md
  iroha-lib/model/generators/CommandGenerator.hpp
  iroha-lib/model/generators/QueryGenerator.hpp
Labels: Documentation, 1.5

#2929 [feature] #2905: Extend arithmetic operations to support `NumericValue`
  core/src/smartcontracts/isi/expression.rs
  core/src/smartcontracts/isi/mod.rs
  data_model/src/expression.rs
  docs/source/references/schema.json
  primitives/src/fixed.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2951 [fix] #2850: Fix deserialization/decoding of `Fixed`
  primitives/src/fixed.rs
Labels: iroha2

#2953 [refactor]: Add `storage` folder into gitignore
  .gitignore
Labels: iroha2

#2907 [refactor] #2458: implement generic combinator API
  core/src/smartcontracts/isi/permissions/combinators.rs
  core/src/smartcontracts/isi/permissions/has_token.rs
  core/src/smartcontracts/isi/permissions/judge.rs
  core/src/smartcontracts/isi/permissions/mod.rs
  data_model/src/lib.rs
  data_model/src/predicate.rs
  docs/source/references/schema.json
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2956 [refactor] #1868: Prevent validated transactions from being sent between peers
  core/benches/kura.rs
  core/src/block.rs
  core/src/lib.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/tx.rs
  data_model/src/transaction.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2965 [fix] #2858: Introduce parking_lot::Mutex instead of std.
  Cargo.lock
  core/Cargo.toml
  core/src/kura.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
Labels: iroha2

#2970 [fix] #0000: Hotfix for performance regression
  cli/src/event.rs
  cli/src/lib.rs
  client/tests/integration/unstable_network.rs
  core/src/block_sync.rs
  core/src/p2p.rs
Labels: iroha2
