Repository hyperledger-iroha/iroha, pull requests merged in 2022-04, with the labels that each got.

#2049 [feature] #2048: Add toolchain file
  rust-toolchain.toml
Labels: iroha2

#2054 [fix] #1917: Added easy_from_str_impl macro for use with AssetValueType
  CONTRIBUTING.md
  data_model/src/asset.rs
Labels: iroha2

#2057 [refactor]: Remove unnecessary `&mut` from the API.
  client/src/client.rs
  client/tests/integration/events/data.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/offline_peers.rs
  client_cli/src/main.rs
Labels: iroha2

#2051 [feature] #2040: Add integration test with transaction execution limit
  client/tests/integration/mod.rs
  client/tests/integration/roles.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/wsv.rs
  data_model/src/role.rs
  permissions_validators/src/public_blockchain/transfer.rs
Labels: iroha2

#1963 [feature] #1952: Add a TPS benchmark as a standard for optimizations
  cli/src/torii/tests.rs
  client/Cargo.toml
  client/benches/tps/README.md
  client/benches/tps/config.json
  client/benches/tps/dev.rs
  client/benches/tps/lib.rs
  client/benches/tps/oneshot.rs
  client/src/client.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/triggers/time_trigger.rs
  client_cli/src/main.rs
  core/src/block.rs
  data_model/src/events/pipeline.rs
  docs/source/references/api_spec.md
  docs/source/references/keypairs.md
  scripts/analyze_telemetry.sh
  telemetry/derive/src/lib.rs
  telemetry/derive/tests/ui_fail/args_no_wsv.rs
  telemetry/derive/tests/ui_fail/bare_spec.rs
  telemetry/derive/tests/ui_fail/doubled_plus.rs
  telemetry/derive/tests/ui_fail/no_args.rs
  telemetry/derive/tests/ui_fail/non_snake_case_name.rs
  telemetry/derive/tests/ui_fail/not_execute.rs
  telemetry/derive/tests/ui_fail/not_return_result.rs
  telemetry/derive/tests/ui_fail/return_nothing.rs
  telemetry/derive/tests/ui_fail/trailing_plus.rs
  telemetry/src/metrics.rs
Labels: iroha2

#2076 [fix] #1623: Create a RawGenesisBlockBuilder
  client/examples/million_accounts_genesis.rs
  core/src/genesis.rs
Labels: iroha2

#2071 DOPS-1722: CI for iroha2-longevity-load-rs
  .github/workflows/iroha2.yml
Labels: iroha2

#2070 DOPS-1722: CI for iroha2-longevity-load-rs
  .github/workflows/iroha2-dev.yml
Labels: iroha2

#2080 [feature] #2003: Introduce Parity Scale Decoder tool (stable implementation)
  Cargo.lock
  Cargo.toml
  data_model/src/events/data/filters.rs
  data_model/tests/data_model.rs
  tools/parity_scale_decoder/Cargo.toml
  tools/parity_scale_decoder/README.md
  tools/parity_scale_decoder/samples/account.bin
  tools/parity_scale_decoder/samples/domain.bin
  tools/parity_scale_decoder/samples/trigger.bin
  tools/parity_scale_decoder/src/generate_map.rs
  tools/parity_scale_decoder/src/main.rs
Labels: iroha2

#2110 [refactor] #2109: Make `integration::events::pipeline` test stable
  client/tests/integration/events/pipeline.rs
  core/test_network/src/lib.rs
Labels: iroha2

#2107 [schema] #2108: Add pagination
  .github/workflows/iroha2.yml
  cli/src/torii/routing.rs
  cli/src/torii/tests.rs
  client/src/client.rs
  config/derive/src/lib.rs
  config/src/lib.rs
  config/src/runtime_upgrades.rs
  core/src/block.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/network_topology.rs
  core/src/triggers.rs
  crypto/src/merkle.rs
  crypto/src/signature.rs
  data_model/src/lib.rs
  data_model/src/pagination.rs
  data_model/src/query.rs
  docs/source/references/api_spec.md
  schema/bin/src/lib.rs
  schema/derive/src/lib.rs
  tools/parity_scale_decoder/src/generate_map.rs
  version/src/lib.rs
Labels: iroha2, api-changes

#2115 [schema] #2114: Sorted collections support in schemas
  crypto/src/hash.rs
  crypto/src/lib.rs
  crypto/src/merkle.rs
  crypto/src/signature.rs
  data_model/Cargo.toml
  data_model/src/expression.rs
  data_model/src/role.rs
  schema/bin/src/lib.rs
  schema/derive/src/lib.rs
  schema/src/lib.rs
  schema/tests/struct_with_named_fields.rs
  schema/tests/struct_with_unnamed_fields.rs
  tools/parity_scale_decoder/src/generate_map.rs
  wasm/src/lib.rs
Labels: iroha2, api-changes

#2129 [ci]: Bump rust, mold and nightly to 1.60, 1.2.0 and 1.62 respectively.
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2.yml
  Dockerfile.ci
  rust-toolchain.toml
Labels: iroha2

#2131 [documentation] Add samhsmith to codeowners file
  .github/CODEOWNERS
Labels: iroha2

#2134 [fix] #2111: Remove `roles` feature
  cli/Cargo.toml
  cli/README.md
  client/Cargo.toml
  core/Cargo.toml
  core/docs/Cargo.toml
  core/src/lib.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/wsv.rs
  data_model/Cargo.toml
  data_model/src/account.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/filters.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  permissions_validators/Cargo.toml
  permissions_validators/src/private_blockchain/query.rs
  schema/bin/Cargo.toml
  tools/parity_scale_decoder/Cargo.toml
Labels: iroha2

#2124 [fix] #1716: Fix consensus failure with f=0 cases
  Cargo.lock
  client/tests/integration/connected_peers.rs
  client/tests/integration/unstable_network.rs
  config/src/lib.rs
  core/src/block.rs
  core/src/genesis.rs
  core/src/sumeragi/config.rs
  core/src/sumeragi/fault.rs
  core/src/sumeragi/network_topology.rs
  core/test_network/src/lib.rs
  docs/source/references/api_spec.md
  docs/source/references/config.md
  telemetry/src/metrics.rs
  tools/kura_inspector/Cargo.toml
  tools/kura_inspector/src/main.rs
Labels: iroha2

#2138 [documentation]: Add QuentinI to codeowners file
  .github/CODEOWNERS
Labels: iroha2

#2122 [feature] #2099: Add WASM integration test based on Orillion use-case
  .github/workflows/iroha2-dev-pr-static.yml
  Dockerfile.ci
  cli/src/samples.rs
  cli/src/stream.rs
  client/Cargo.toml
  client/build.rs
  client/tests/integration/create_nft_for_every_user_smartcontract/Cargo.toml
  client/tests/integration/create_nft_for_every_user_smartcontract/src/lib.rs
  client/tests/integration/triggers/time_trigger.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/fault.rs
  core/src/sumeragi/network_topology.rs
  core/src/wsv.rs
  docs/source/references/config.md
  futures/src/lib.rs
  wasm/Cargo.toml
  wasm/derive/src/lib.rs
  wasm/src/debug.rs
  wasm/src/lib.rs
Labels: iroha2, Tests

#2130 [feature] #2121: Check keypair is valid when constructed
  cli/src/config.rs
  cli/src/samples.rs
  client/benches/torii.rs
  client/src/client.rs
  client/src/config.rs
  client/tests/integration/multisignature_transaction.rs
  client_cli/src/main.rs
  core/src/genesis.rs
  core/src/sumeragi/config.rs
  core/test_network/src/lib.rs
  crypto/src/lib.rs
  crypto/src/signature.rs
  data_model/tests/data_model.rs
Labels: iroha2

#2147 [refactor] #2144: redesign client's http workflow, expose internal api
  client/src/client.rs
  client/src/http.rs
  client/src/http_client.rs
  client/src/http_default.rs
  client/src/lib.rs
  client/tests/integration/pagination.rs
  client/tests/integration/tx_history.rs
Labels: iroha2, Refactor

#2162 [documentation] #1991: Add readme to Kura inspector
  tools/kura_inspector/README.md
Labels: iroha2

#2168 [ci]: Fix deploy pipeline.
  Dockerfile
Labels: iroha2
