Repository hyperledger-iroha/iroha, pull requests merged in 2022-05, with the labels that each got.

#2171 [documentation]: Add Ekaterina to the list of codeowners
  .github/CODEOWNERS
Labels: iroha2

#2156 [feature]: #1572: Specialized permission tokens
  Cargo.lock
  client/tests/integration/roles.rs
  data_model/src/role.rs
  permissions_validators/Cargo.toml
  permissions_validators/src/lib.rs
  permissions_validators/src/public_blockchain/burn.rs
  permissions_validators/src/public_blockchain/key_value.rs
  permissions_validators/src/public_blockchain/mint.rs
  permissions_validators/src/public_blockchain/mod.rs
  permissions_validators/src/public_blockchain/transfer.rs
  permissions_validators/src/public_blockchain/unregister.rs
  tools/kagami/Cargo.toml
  tools/kagami/src/main.rs
Labels: iroha2

#2174 [ci]: Version bump all of the crates.
  Cargo.lock
  actor/Cargo.toml
  actor/derive/Cargo.toml
  cli/Cargo.toml
  client/Cargo.toml
  client_cli/Cargo.toml
  config/Cargo.toml
  config/derive/Cargo.toml
  core/Cargo.toml
  core/test_network/Cargo.toml
  crypto/Cargo.toml
  data_model/Cargo.toml
  data_model/primitives/Cargo.toml
  futures/Cargo.toml
  futures/derive/Cargo.toml
  logger/Cargo.toml
  macro/Cargo.toml
  macro/derive/Cargo.toml
  p2p/Cargo.toml
  permissions_validators/Cargo.toml
  schema/Cargo.toml
  schema/derive/Cargo.toml
  schema/gen/Cargo.toml
  substrate/Cargo.toml
  telemetry/Cargo.toml
  telemetry/derive/Cargo.toml
  tools/kagami/Cargo.toml
  tools/kura_inspector/Cargo.toml
  tools/parity_scale_decoder/Cargo.toml
  version/Cargo.toml
  version/derive/Cargo.toml
  wasm/Cargo.toml
Labels: iroha2

#2178 [documentation] #2177: Clean up gitchangelog output
  .gitchangelog.rc
  CHANGELOG.rst
  gitchangelog-clean.py
Labels: iroha2, Documentation

#2166 [ci] #2153: Fix #2154
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2.yml
Labels: iroha2

#2126 [feature] #2050: Add role-related queries.
  CHANGELOG.rst
  cli/src/torii/routing.rs
  client/src/client.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/triggers.rs
  core/src/smartcontracts/isi/world.rs
  core/src/triggers.rs
  data_model/src/query.rs
  data_model/src/trigger.rs
  permissions_validators/src/private_blockchain/query.rs
  tools/kagami/Cargo.toml
  tools/parity_scale_decoder/src/generate_map.rs
  tools/parity_scale_decoder/src/main.rs
Labels: iroha2

#2160 [feature] #2105: handle query errors in client
  Cargo.lock
  client/Cargo.toml
  client/src/client.rs
  client/tests/integration/mod.rs
  client/tests/integration/query_errors.rs
Labels: Enhancement, iroha2

#2173 [feature] #2004: Forbid `isize` and `usize` from becoming `IntoSchema`.
  Cargo.lock
  schema/Cargo.toml
  schema/tests/architecture-dependent.rs
Labels: iroha2

#2183 [feature] #1883: Remove embedded configuration files.
  Dockerfile
  docker-compose-local.yml
  docker-compose-single.yml
  docker-compose.yml
Labels: iroha2

#2187 [fix] #2150: Use `rustfmt` instead of `cargo fmt` in `client/build.rs`
  client/build.rs
Labels: iroha2, build

#2184 [fix] #2159: Improve `parity_scale_decoder` tests
  tools/parity_scale_decoder/src/main.rs
Labels: iroha2, Refactor, Tests

#2190 [documentation] #2181: Review README
  README.md
Labels: iroha2

#2157 [feature] #2179: Optimise trigger execution
  Cargo.lock
  cli/src/event.rs
  cli/src/torii/mod.rs
  cli/src/torii/routing.rs
  cli/src/torii/tests.rs
  client/src/client.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/event_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client_cli/src/main.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/triggers.rs
  core/src/triggers.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  data_model/primitives/src/atomic.rs
  data_model/primitives/src/lib.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/filters.rs
  data_model/src/events/data/mod.rs
  data_model/src/events/execute_trigger.rs
  data_model/src/events/mod.rs
  data_model/src/events/pipeline.rs
  data_model/src/events/time.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  data_model/src/trigger.rs
  permissions_validators/src/private_blockchain/query.rs
  tools/parity_scale_decoder/Cargo.toml
  tools/parity_scale_decoder/src/generate_map.rs
  tools/parity_scale_decoder/src/main.rs
Labels: iroha2, api-changes, Optimization

#2196 [documentation] #2119: Add guidance on how to hot reload Iroha in a Docker container
  docs/source/guides/hot-reload.md
Labels: iroha2, Documentation

#2197 [feature] #2100: Add query to find all accounts with asset
  .github/workflows/iroha2-dev-pr.yml
  client/build.rs
  client/src/client.rs
  client/tests/integration/mod.rs
  client/tests/integration/queries/account.rs
  client/tests/integration/queries/mod.rs
  client/tests/integration/triggers/time_trigger.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/fault.rs
  data_model/src/query.rs
  permissions_validators/src/private_blockchain/query.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: Enhancement, iroha2

#2209 I2 dco
  client_cli/src/main.rs
Labels: iroha2

#2217 [fix] #2215: Make nightly optional for building Iroha.
  .github/workflows/iroha2-dev-pr-unstable.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  client/build.rs
Labels: iroha2

#2195 [documentation] #1280: Document Iroha metrics
  docs/source/guides/metrics.md
  docs/source/references/api_spec.md
Labels: iroha2, Documentation

#2219 [documentation] #2192: Review contributing guidelines
  CONTRIBUTING.md
Labels: iroha2, Documentation

#2230 [documentation] #2193: Update benchmarks documentation
  client/benches/tps/README.md
Labels: iroha2, Documentation

#2146 [refactor] #2145: refactor client's `WebSocket` side, extract pure data logic
  client/benches/torii.rs
  client/benches/tps/lib.rs
  client/examples/million_accounts_tx.rs
  client/examples/ten_million_accounts.rs
  client/src/client.rs
  client/src/http.rs
  client/src/http_default.rs
  client/tests/integration/add_account.rs
  client/tests/integration/add_asset.rs
  client/tests/integration/add_domain.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/connected_peers.rs
  client/tests/integration/events/data.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/multiple_blocks_created.rs
  client/tests/integration/multisignature_account.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/pagination.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/account.rs
  client/tests/integration/roles.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/tx_history.rs
  client/tests/integration/tx_rollback.rs
  client/tests/integration/unregister_peer.rs
  client_cli/src/main.rs
  core/test_network/src/lib.rs
  data_model/tests/data_model.rs
Labels: iroha2, Refactor

#2220 [documentation] #2193: Update Kagami documentation
  tools/kagami/README.md
  tools/kagami/src/main.rs
Labels: iroha2, Documentation

#2237 [fix] #2170: Fixes build in docker container on M1 machines
  Dockerfile
Labels: iroha2

#2210 [feature] #2103: support querying for blocks and transactions
  client/src/client.rs
  core/src/block.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/wsv.rs
  data_model/src/block_value.rs
  data_model/src/events/execute_trigger.rs
  data_model/src/events/mod.rs
  data_model/src/events/pipeline.rs
  data_model/src/events/time.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  permissions_validators/src/private_blockchain/query.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2235 [feature] #1413: Add API version endpoint
  cli/src/torii/routing.rs
  data_model/src/uri.rs
  docs/source/references/api_spec.md
Labels: iroha2

#2229 [refactor]: Move `TriggerSet` to `data_model`
  Cargo.lock
  core/src/lib.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/triggers.rs
  core/src/wsv.rs
  data_model/Cargo.toml
  data_model/src/trigger/mod.rs
  data_model/src/trigger/set.rs
  permissions_validators/src/private_blockchain/query.rs
Labels: iroha2, Refactor

#2224 [documentation] #2193: Update Parity Scale Decoder Tool documentation
  tools/parity_scale_decoder/README.md
Labels: iroha2, Documentation

#2239 [fix] #2232: Make Iroha print meaningful message when genesis has too many isi
  cli/src/lib.rs
  cli/src/torii/tests.rs
  client/tests/integration/restart_peer.rs
  core/src/genesis.rs
  core/src/sumeragi/fault.rs
  core/src/tx.rs
  core/test_network/src/lib.rs
  data_model/src/transaction.rs
Labels: Enhancement, iroha2, UI

#2194 [feature] #1149: Restrict block number to 1 million per dir
  core/src/kura.rs
Labels: iroha2, Optimization

#2240 [documentation] #2193: Update README for wasm crate
  wasm/README.md
  wasm/src/lib.rs
Labels: iroha2, Documentation

#2236 [documentation] #2193: Update README for macro crate
  macro/README.md
Labels: iroha2, Documentation

#2248 [fix] #1149: Remove nocheckin code
  core/src/kura.rs
Labels: iroha2

#2244 [documentation] #2193: Update Iroha CLI documentation
  cli/README.md
Labels: iroha2, Documentation

#2234 [documentation] #2193: Update Iroha Client and Iroha CLI Client documentation
  client/README.md
  client_cli/README.md
Labels: iroha2, Documentation

#2246 [documentation]: Flakyness report
  flakyness.org
Labels: iroha2, Documentation, Tests

#2254 [documentation]: Update information on git hooks
  CONTRIBUTING.md
  hooks/README.md
Labels: iroha2, Documentation

#2265 [feature] #2125: Add FindAssetDefinitionById query
  client/src/client.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/query.rs
  data_model/src/query.rs
  permissions_validators/src/private_blockchain/query.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2273 [test] #2272: Add tests for 'FindAssetDefinitionById' query
  cli/src/torii/tests.rs
  client/tests/integration/queries/account.rs
Labels: iroha2

#2264 [feature] #2257: Revoke<Role> emits RoleRevoked event
  core/src/smartcontracts/isi/account.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/filters.rs
Labels: iroha2

#2271 [ci]: Remove unnecessary coverage reporting.
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2.yml
Labels: iroha2, CI, Optimization
