Repository hyperledger-iroha/iroha, pull requests merged in 2022-01, with the labels that each got.

#1765 Iroha 1 compile errors when compiling with g++11
  irohad/ordering/impl/batches_cache.cpp
  irohad/pending_txs_storage/impl/pending_txs_storage_impl.cpp
  libs/common/common.hpp
  libs/common/radix_tree.hpp
Labels: 1.x, build, 1.4

#1784 [fix] #1783: Fixed torii benchmark.
  client/Cargo.toml
  client/benches/torii.rs
  client/tests/million_accounts.rs
Labels: iroha2

#1799 [fix] #1794: Sign block by leader in single node deployment
  core/src/sumeragi/mod.rs
Labels: iroha2

#1781 [feature] #1749: no_std support for version, schema and macro libraries
  Cargo.lock
  client/src/client.rs
  core/src/kura.rs
  core/src/stream.rs
  core/src/torii/tests.rs
  data_model/src/transaction.rs
  macro/Cargo.toml
  macro/derive/Cargo.toml
  macro/derive/src/lib.rs
  macro/src/lib.rs
  schema/Cargo.toml
  schema/bin/Cargo.toml
  schema/derive/src/lib.rs
  schema/src/lib.rs
  version/Cargo.toml
  version/derive/Cargo.toml
  version/derive/src/lib.rs
  version/derive/tests/scale.rs
  version/src/lib.rs
Labels: iroha2

#1803 [fix] #1802: Logging readability improvements
  core/src/sumeragi/mod.rs
  docs/source/references/config.md
  logger/src/config.rs
  logger/src/lib.rs
  logger/tests/configuration.rs
Labels: iroha2

#1806 [fix] #1802: Logging readability improvements
  core/src/sumeragi/mod.rs
  docs/source/references/config.md
  logger/src/config.rs
  logger/src/lib.rs
  logger/tests/configuration.rs
Labels: iroha2

#1782 [feature] #1749: no_std support for iroha_crypto
  Cargo.lock
  core/src/block.rs
  core/src/queue.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/view_change.rs
  core/src/tx.rs
  crypto/Cargo.toml
  crypto/src/hash.rs
  crypto/src/lib.rs
  crypto/src/multihash.rs
  crypto/src/signature.rs
  crypto/src/varint.rs
  crypto_cli/src/main.rs
  data_model/src/transaction.rs
  schema/derive/src/lib.rs
Labels: iroha2

#1804 [fix] #1801: fix schema generation for HashOf, SignatureOf
  crypto/src/hash.rs
  crypto/src/signature.rs
  data_model/src/expression.rs
  data_model/src/isi.rs
  schema/bin/src/main.rs
  schema/src/lib.rs
Labels: iroha2

#1748 [feature] #1179: Add revoke-permission-or-role instruction
  config/src/lib.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions.rs
  core/src/wsv.rs
  data_model/src/events/data.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  permissions_validators/src/lib.rs
  permissions_validators/src/private_blockchain/mod.rs
  permissions_validators/src/private_blockchain/query.rs
  permissions_validators/src/private_blockchain/register.rs
  permissions_validators/src/public_blockchain/burn.rs
  permissions_validators/src/public_blockchain/key_value.rs
  permissions_validators/src/public_blockchain/mint.rs
  permissions_validators/src/public_blockchain/mod.rs
  permissions_validators/src/public_blockchain/transfer.rs
  permissions_validators/src/public_blockchain/unregister.rs
  telemetry/derive/src/lib.rs
Labels: Enhancement, iroha2, api-changes

#1807 [fix] #1788: Reduce memory footprint of `Value`.
  .github/workflows/iroha2-dev-pr-static.yml
  client/examples/million_accounts_genesis.rs
  client/examples/million_accounts_tx.rs
  client/examples/ten_million_accounts.rs
  client/src/lib.rs
  client/tests/million_accounts.rs
  core/src/wsv.rs
  data_model/src/transaction.rs
Labels: Enhancement, iroha2, Optimization

#1779 [feature] #1749: `no_std` in `data_model`
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr.yml
  Cargo.lock
  Dockerfile
  Dockerfile.ci
  client/src/client.rs
  config/Cargo.toml
  core/Cargo.toml
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/genesis.rs
  core/src/kura.rs
  core/src/lib.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/expression.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/network_topology.rs
  core/src/tx.rs
  core/src/wsv.rs
  core/test_network/tests/sumeragi_with_mock.rs
  crypto/Cargo.toml
  crypto/src/lib.rs
  crypto/src/multihash.rs
  crypto/src/signature.rs
  data_model/Cargo.toml
  data_model/src/events/data.rs
  data_model/src/events/mod.rs
  data_model/src/events/pipeline.rs
  data_model/src/expression.rs
  data_model/src/fixed.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/merkle.rs
  data_model/src/metadata.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  telemetry/derive/src/lib.rs
  version/Cargo.toml
  version/derive/Cargo.toml
Labels: iroha2

#1818 [feature] #1805: Optional terminal colors for panic errors
  Cargo.lock
  cli/src/main.rs
  core/Cargo.toml
  core/src/config.rs
  core/src/lib.rs
  core/test_network/src/lib.rs
  docs/source/references/config.md
Labels: iroha2

#1820 [fix] #1819: Remove traceback from error report in validation.
  core/src/sumeragi/mod.rs
Labels: iroha2

#1823 [feature] #1805: Optional terminal colors for panic errors
  Cargo.lock
  cli/src/main.rs
  core/Cargo.toml
  core/src/config.rs
  core/src/lib.rs
  core/test_network/src/lib.rs
  docs/source/references/config.md
Labels: iroha2

#1821 [fix] #1801: add schema for `MerkleTree` / `VersionedValidBlock`, fix `HashOf` / `SignatureOf` schemas
  crypto/src/hash.rs
  crypto/src/signature.rs
  data_model/src/expression.rs
  data_model/src/merkle.rs
  schema/bin/src/main.rs
  schema/src/lib.rs
Labels: iroha2

#1828 [feature] #1425: add limits to wasm execution
  Cargo.lock
  client/benches/torii.rs
  client/examples/million_accounts_genesis.rs
  client/src/client.rs
  client/src/config.rs
  core/Cargo.toml
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/genesis.rs
  core/src/lib.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/mod.rs
  core/src/torii/mod.rs
  core/src/tx.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  core/test_network/tests/sumeragi_with_mock.rs
  data_model/src/transaction.rs
  data_model/tests/data_model.rs
  docs/source/references/config.md
Labels: iroha2

#1843 [documentation]: Updates codeowners file
  .github/CODEOWNERS
Labels: iroha2

#1816 [feature] #1425: Wasm helper crate
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-unstable.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-pr-heavy.yml
  .gitignore
  Dockerfile.ci
  core/src/smartcontracts/wasm.rs
  crypto/src/hash.rs
  crypto/src/signature.rs
  data_model/src/lib.rs
  data_model/src/merkle.rs
  data_model/src/metadata.rs
  data_model/src/query.rs
  wasm/.cargo/config.toml
  wasm/Cargo.toml
  wasm/derive/Cargo.toml
  wasm/derive/src/lib.rs
  wasm/src/lib.rs
Labels: iroha2

#1844 [fix] #1811: added tests and checks to dedup trusted peer keys.
  Cargo.lock
  core/src/config.rs
  core/src/sumeragi/mod.rs
  crypto/src/lib.rs
Labels: iroha2

#1849 [refactor]: add wsv reference to queue
  core/src/lib.rs
  core/src/queue.rs
  core/src/sumeragi/mod.rs
  core/src/torii/mod.rs
  core/src/torii/tests.rs
  core/test_network/tests/sumeragi_with_mock.rs
Labels: iroha2

#1824 Fix/Iroha v1.4-rc.2 fixes
  CMakeLists.txt
  irohad/ametsuchi/impl/rocksdb_command_executor.cpp
  irohad/ametsuchi/impl/rocksdb_common.hpp
  irohad/ametsuchi/impl/rocksdb_db_transaction.hpp
  irohad/ametsuchi/impl/rocksdb_settings_query.cpp
  irohad/ametsuchi/impl/rocksdb_specific_query_executor.cpp
  irohad/ametsuchi/impl/rocksdb_wsv_query.cpp
  irohad/iroha_wsv_diff/iroha_wsv_diff.cpp
  irohad/main/impl/pg_connection_init.cpp
  irohad/main/impl/pg_connection_init.hpp
  test/module/irohad/ametsuchi/rocksdb_common_test.cpp
  test/module/irohad/ametsuchi/rocksdb_executor_test.cpp
  test/module/irohad/ametsuchi/rocksdb_indexer_test.cpp
Labels: 1.4

#1817 [feature] #1754: Add Kura inspector CLI
  Cargo.lock
  Cargo.toml
  core/src/block.rs
  tools/kura_inspector/Cargo.toml
  tools/kura_inspector/src/lib.rs
  tools/kura_inspector/src/main.rs
  tools/kura_inspector/src/print.rs
Labels: Enhancement, iroha2
