Repository hyperledger-iroha/iroha, pull requests merged in 2022-08, with the labels that each got.

#2568 [documentation] #2564: Kagami algorithm options
  tools/kagami/src/main.rs
Labels: iroha2

#2557 [feature] #2536: Introduce `ffi_import` for FFI clients
  Cargo.lock
  crypto/Cargo.toml
  crypto/build.rs
  crypto/src/lib.rs
  data_model/Cargo.toml
  data_model/build.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/name.rs
  data_model/src/permissions.rs
  data_model/src/role.rs
  ffi/derive/src/convert.rs
  ffi/derive/src/derive.rs
  ffi/derive/src/export.rs
  ffi/derive/src/ffi_fn.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/src/lib.rs
  ffi/derive/src/util.rs
  ffi/derive/src/wrapper.rs
  ffi/derive/tests/ui_fail/derive_skip_field.rs
  ffi/derive/tests/ui_fail/derive_skip_field.stderr
  ffi/derive/tests/ui_fail/derive_skip_struct.rs
  ffi/derive/tests/ui_fail/derive_skip_struct.stderr
  ffi/derive/tests/ui_pass/shared_fns.rs
  ffi/derive/tests/ui_pass/valid.rs
  ffi/src/handle.rs
  ffi/src/lib.rs
  ffi/src/option.rs
  ffi/src/owned.rs
  ffi/src/primitives.rs
  ffi/src/slice.rs
  ffi/tests/ffi_export.rs
  ffi/tests/gen_shared_fns.rs
  ffi/tests/getset.rs
  primitives/src/conststr.rs
  primitives/tests/ui.rs
Labels: iroha2

#2593 [documentation]: Fix incorrect doc comment in permission validators
  permissions_validators/src/public_blockchain/key_value.rs
Labels: iroha2

#2569 [feature] #2407: Parametrise triggers
  client/build.rs
  client/tests/integration/create_nft_for_every_user_smartcontract/src/lib.rs
  client/tests/integration/events/data.rs
  client/tests/wasm/utils.rs
  core/src/smartcontracts/wasm.rs
  core/src/wsv.rs
  data_model/derive/src/filter.rs
  data_model/src/events/data/filters.rs
  data_model/src/events/execute_trigger.rs
  data_model/src/events/mod.rs
  data_model/src/events/pipeline.rs
  data_model/src/events/time.rs
  data_model/src/trigger/set.rs
  wasm/README.md
  wasm/derive/Cargo.toml
  wasm/derive/src/lib.rs
  wasm/src/debug.rs
  wasm/src/lib.rs
Labels: Enhancement, iroha2, api-changes

#2576 [ci] #2461: Improve iroha2 CI
  .github/workflows/iroha2-deploy-base-image.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-unstable.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev-upload-coverage.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-lts-pr.yml
  .github/workflows/iroha2-lts.yml
  .github/workflows/iroha2-push-nightly.yml
  .github/workflows/iroha2-stable-pr.yml
  .github/workflows/iroha2-stable.yml
  Dockerfile.build
Labels: iroha2, CI

#2610 [ci]: Fix `iroha2:build` image build
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-lts.yml
  .github/workflows/iroha2-stable.yml
Labels: iroha2, CI

#2613 [ci]: Updates an expected error in ui_fail tests
  primitives/tests/ui_fail/no_conversion.stderr
Labels: iroha2

#2517 [refactor] #2052: make permission tokens registrable with definition
  client/src/client.rs
  client/tests/integration/permissions.rs
  configs/peer/genesis.json
  core/src/lib.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions/has_token.rs
  core/src/smartcontracts/isi/permissions/mod.rs
  core/src/smartcontracts/isi/permissions/roles.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  data_model/src/events/data/events.rs
  data_model/src/lib.rs
  data_model/src/permissions.rs
  data_model/src/predicate.rs
  data_model/src/query.rs
  data_model/src/role.rs
  macro/derive/src/lib.rs
  macro/derive/tests/ui_pass/variant_count.rs
  permissions_validators/src/lib.rs
  permissions_validators/src/private_blockchain/mod.rs
  permissions_validators/src/private_blockchain/query.rs
  permissions_validators/src/private_blockchain/tests/revoke_and_grant.rs
  permissions_validators/src/public_blockchain/mod.rs
  permissions_validators/src/public_blockchain/transfer.rs
  tools/kagami/src/main.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2590 [feature] #2511: Restrict FFI types on wasm
  ffi/Cargo.toml
  ffi/derive/src/convert.rs
  ffi/src/handle.rs
  ffi/src/lib.rs
  ffi/src/owned.rs
  ffi/src/primitives.rs
  ffi/tests/ffi_export.rs
  ffi/tests/gen_shared_fns.rs
Labels: iroha2

#2575 [feature] #2553: Add sorting to queries
  cli/src/torii/routing.rs
  cli/src/torii/tests.rs
  cli/src/torii/utils.rs
  client/src/client.rs
  client/tests/integration/mod.rs
  client/tests/integration/pagination.rs
  client/tests/integration/sorting.rs
  client/tests/integration/tx_history.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  data_model/src/sorting.rs
Labels: iroha2

#2601 [feature] #2488: Add support for trait impls in `ffi_export`
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/metadata.rs
  data_model/src/name.rs
  data_model/src/role.rs
  ffi/derive/src/ffi_fn.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/src/lib.rs
  ffi/derive/src/util.rs
  ffi/derive/tests/ui_fail/private_method_inside_impl_are_skipped.rs
  ffi/derive/tests/ui_fail/private_method_inside_impl_are_skipped.stderr
  ffi/tests/ffi_export.rs
  ffi/tests/unambiguous.rs
Labels: iroha2

#2582 [refactor] #2001: `EvaluatesTo` static type checking
  cli/src/torii/mod.rs
  client/benches/tps/lib.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/permissions.rs
  client_cli/src/main.rs
  core/src/genesis.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/expression.rs
  core/src/smartcontracts/isi/permissions/mod.rs
  core/src/sumeragi/fault.rs
  core/src/tx.rs
  data_model/src/account.rs
  data_model/src/expression.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/tests/data_model.rs
  data_model/tests/ui.rs
  data_model/tests/ui_fail/evaluates_to.rs
  data_model/tests/ui_fail/evaluates_to.stderr
  permissions_validators/src/private_blockchain/tests/queries/account.rs
  permissions_validators/src/private_blockchain/tests/queries/asset.rs
  permissions_validators/src/private_blockchain/tests/queries/domain.rs
  permissions_validators/src/private_blockchain/tests/queries/role.rs
  permissions_validators/src/private_blockchain/tests/queries/trigger.rs
  permissions_validators/src/public_blockchain/mod.rs
  primitives/Cargo.toml
  primitives/src/lib.rs
  primitives/src/must_use.rs
  primitives/tests/ui_fail/must_use_not_used.rs
  primitives/tests/ui_fail/must_use_not_used.stderr
Labels: Bug, iroha2, Refactor, Security

#2631 [fix] #2623: fix doctest for VariantCount
  macro/derive/src/lib.rs
Labels: iroha2

#2602 [feature] #2587: Split `Configurable` into two traits
  cli/src/torii/routing.rs
  config/base/derive/src/documented.rs
  config/base/derive/src/lib.rs
  config/base/derive/src/proxy.rs
  config/base/derive/src/utils.rs
  config/base/derive/src/view.rs
  config/base/src/lib.rs
  config/base/src/runtime_upgrades.rs
  config/base/tests/simple.rs
  config/src/block_sync.rs
  config/src/client.rs
  config/src/genesis.rs
  config/src/iroha.rs
  config/src/kura.rs
  config/src/logger.rs
  config/src/network.rs
  config/src/queue.rs
  config/src/sumeragi.rs
  config/src/telemetry.rs
  config/src/torii.rs
  config/src/wasm.rs
  config/src/wsv.rs
  data_model/derive/src/lib.rs
  scripts/test_env.sh
  tools/kagami/src/main.rs
Labels: iroha2

#2634 [feature] #2611: Derive `TryFromReprC` and `IntoFfi` for generic opaque structs
  ffi/derive/src/convert.rs
  ffi/derive/src/ffi_fn.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/src/util.rs
  ffi/derive/tests/ui_fail/generics_are_forbiden_in_ffi.rs
  ffi/derive/tests/ui_fail/generics_are_forbiden_in_ffi.stderr
  ffi/tests/generics.rs
Labels: iroha2

#2639 [feature] #2586, #2616: `Builder` and `LoadFromEnv` for proxy structs
  config/base/derive/src/lib.rs
  config/base/derive/src/proxy.rs
  config/base/derive/src/view.rs
  config/base/src/lib.rs
Labels: iroha2

#2427 [ci] hyperledger#2309: Re-enable doc tests in CI
  .github/workflows/iroha2-base.yml
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-title.yml
  .github/workflows/iroha2-dev-pr-unstable.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev-update_base_coverage.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-label.yml
  .github/workflows/iroha2-push-nightly.yml
  .github/workflows/iroha2-release-pr.yml
  .github/workflows/iroha2-release.yml
  .github/workflows/iroha2-stable-pr.yml
  .github/workflows/iroha2-stable.yml
  Cargo.lock
  Dockerfile
  Dockerfile.base
  Dockerfile.build
  cli/derive/src/lib.rs
  client/README.md
  client/src/client.rs
  config/base/src/runtime_upgrades.rs
  config/src/lib.rs
  core/src/smartcontracts/isi/permissions/mod.rs
  data_model/derive/Cargo.toml
  data_model/derive/src/filter.rs
  data_model/derive/src/id.rs
  data_model/derive/src/lib.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/lib.rs
  docs/source/guides/actor.md
  ffi/derive/tests/ui_fail/generics_are_forbiden_in_ffi.stderr
  macro/README.md
  macro/derive/src/lib.rs
  telemetry/derive/src/lib.rs
  telemetry/src/ws.rs
  version/Cargo.toml
  version/derive/src/lib.rs
  version/derive/tests/ui_pass/declare_versioned_scale.rs
  version/src/lib.rs
  wasm/derive/src/lib.rs
Labels: iroha2

#2630 [fix] #2457: Forcibly shut down kura in tests
  cli/src/lib.rs
  config/src/iroha.rs
  core/src/kura.rs
  core/test_network/src/lib.rs
  docs/source/references/config.md
Labels: Bug, iroha2

#2655 [fix] #0: Modify `test_env.sh` to allocate storage for each peer
  scripts/test_env.sh
Labels: iroha2

#2656 [fix] #2554: Raise error if `secp256k1` seed shorter than 32 bytes
  tools/kagami/src/main.rs
Labels: iroha2

#2652 [fix] #0: Fix `docker-compose-single.yml`
  docker-compose-single.yml
Labels: iroha2

#2658 [refactor] #2482: Store `Account` permission tokens in `Wsv`
  core/src/lib.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/permissions/mod.rs
  core/src/smartcontracts/isi/world.rs
  core/src/wsv.rs
  data_model/src/account.rs
  permissions_validators/src/private_blockchain/tests/revoke_and_grant.rs
  permissions_validators/src/public_blockchain/mod.rs
  tools/parity_scale_decoder/samples/account.bin
Labels: iroha2

#2670 [fix] #2667: Refactor &Option<T> to Option<&T>
  cli/src/lib.rs
  client/benches/torii.rs
  client/examples/million_accounts_genesis.rs
  core/src/genesis.rs
  core/test_network/src/lib.rs
  crypto/src/merkle.rs
  data_model/src/events/pipeline.rs
  data_model/tests/data_model.rs
Labels: iroha2

#2644 [feature] #2628: Add support for `repr(transparent)` in FFI
  data_model/src/name.rs
  ffi/derive/src/convert.rs
  ffi/derive/src/ffi_fn.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/src/lib.rs
  ffi/derive/tests/ui_pass/valid.rs
  ffi/src/lib.rs
  ffi/tests/ffi_export.rs
  ffi/tests/transparent.rs
Labels: iroha2

#2662 [ci]: Fix: Make publishing workflows sequential, and complements to #2427
  .github/workflows/iroha2-base.yml
  .github/workflows/iroha2-dev-base_coverage.yml
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-title.yml
  .github/workflows/iroha2-dev-pr-unstable.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-label.yml
  .github/workflows/iroha2-release-pr.yml
  .github/workflows/iroha2-release.yml
  Cargo.lock
  telemetry/Cargo.toml
  telemetry/src/ws.rs
Labels: iroha2, CI

#2663 [ci]: Feature: commit hash in image, toolchain file again, UI isolation, schema tracking
  .github/workflows/iroha2-base.yml
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr-ui.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
  Dockerfile
  Dockerfile.base
  actor/derive/tests/ui.rs
  data_model/tests/ui.rs
  docs/source/references/schema.json
  ffi/derive/tests/ui.rs
  hooks/pre-commit.sample
  macro/derive/tests/ui.rs
  primitives/tests/ui.rs
  rust-toolchain.toml
  schema/derive/tests/ui.rs
  scripts/check.sh
  telemetry/derive/tests/ui.rs
  version/derive/tests/ui.rs
Labels: iroha2, CI
