Repository hyperledger-iroha/iroha, pull requests merged in 2022-02, with the labels that each got.

#1863 [fix] #0000: Fix build error in Iroha JavaScript.
  crypto/src/lib.rs
  crypto/src/signature.rs
Labels: iroha2

#1860 [fix] #1848: Prevent public keys from being burned to nothing
  client/tests/integration_tests/burn_public_keys.rs
  client/tests/integration_tests/mod.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/mod.rs
  data_model/src/expression.rs
  data_model/src/lib.rs
Labels: iroha2

#1865 [fix] #0000: Wasm no std fix
  .github/workflows/iroha2-dev-pr.yml
  Cargo.lock
  README.md
  actor/Cargo.toml
  cli/README.md
  client/Cargo.toml
  core/Cargo.toml
  crypto/src/lib.rs
  data_model/Cargo.toml
  data_model/primitives/Cargo.toml
  data_model/primitives/src/lib.rs
  data_model/primitives/src/small.rs
  data_model/src/fixed.rs
  data_model/src/lib.rs
Labels: iroha2

#1861 [feature] #1766: Wasm permission validation
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/kura.rs
  core/src/lib.rs
  core/src/smartcontracts/isi/permissions.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/mod.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/mod.rs
  core/src/torii/config.rs
  core/src/torii/routing.rs
  core/src/torii/tests.rs
  core/src/tx.rs
  core/src/wsv.rs
  crypto/src/signature.rs
  data_model/src/transaction.rs
  docs/source/references/config.md
Labels: iroha2

#1880 [documentation]: Add arjentix into codeowners file
  .github/CODEOWNERS
Labels: iroha2

#1879 [feature] #1767: Wasm limit memory
  core/src/smartcontracts/wasm.rs
Labels: iroha2

#1886 [feature] #1606: Add ipfs link to domain logo in Domain structure
  core/benches/validation.rs
  data_model/src/lib.rs
  permissions_validators/src/public_blockchain/mod.rs
Labels: iroha2

#1895 [refactor] #1892: remove `type Diff` in Execute
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/mod.rs
  data_model/src/events/data.rs
Labels: iroha2, Refactor

#1899 [feature] #1195: Close a websocket connection cleanly
  core/src/event.rs
  core/src/stream.rs
  core/src/torii/routing.rs
  core/src/torii/tests.rs
Labels: iroha2

#1906 [fix] #1908: fix zero value handling for telemetry analysis script
  scripts/analyze_telemetry.sh
Labels: iroha2

#1874 [feature] #1619: Introduce event-based triggers
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/kura.rs
  core/src/lib.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/triggers.rs
  core/src/sumeragi/mod.rs
  core/src/triggers.rs
  core/src/tx.rs
  core/src/wsv.rs
  data_model/src/events/data.rs
  data_model/src/events/mod.rs
  data_model/src/events/pipeline.rs
  data_model/src/lib.rs
  data_model/src/transaction.rs
  tools/kura_inspector/src/print.rs
Labels: Enhancement, iroha2

#1923 [feature] #1902: Bare metal 4-peer setup script.
  .gitignore
  scripts/API/java.sh
  scripts/cleanup_docker_test_env.sh
  scripts/cleanup_iroha2_java_api.sh
  scripts/setup_docker_test_env.sh
  scripts/setup_test_env.sh
  scripts/test_docker_compose.sh
  scripts/test_genesis_docker_compose.sh
  scripts/test_iroha2_java_api.sh
  scripts/tests/genesis.sh
  scripts/tests/register_mint_quantity.sh
  test_js/config.json
  test_js/genesis.json
Labels: Enhancement, iroha2, CI

#1930 [feature] #1928: implement changelog generation using `gitchangelog`
  .gitchangelog.rc
  CHANGELOG.rst
Labels: iroha2

#1867 [feature] #1815: Make query responses more type-structured
  config/src/runtime_upgrades.rs
  core/src/config.rs
  core/src/genesis.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/expression.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/torii/mod.rs
  core/src/torii/routing.rs
  core/src/torii/tests.rs
  core/src/torii/utils.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  docs/source/references/api_spec.md
  version/src/lib.rs
Labels: Enhancement, iroha2, api-changes

#1932 [ci] #1726: Re-introduce API tests
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-pr-heavy.yml
  core/benches/kura.rs
  scripts/API/java.sh
  scripts/test_env.sh
  scripts/tests/genesis.sh
  scripts/tests/register_mint_quantity.sh
Labels: iroha2, CI

#1919 [documentation]: add wasm README
  wasm/README.md
Labels: iroha2

#1931 [refactor] #1903: move event emission to `modify_*` methods
  client/tests/integration/events/data.rs
  client_cli/src/main.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/triggers.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/mod.rs
  core/src/smartcontracts/wasm.rs
  core/src/wsv.rs
  data_model/src/events/data.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/filters.rs
  data_model/src/events/data/mod.rs
  data_model/src/events/mod.rs
  data_model/src/lib.rs
  version/src/lib.rs
Labels: iroha2
