Repository hyperledger-iroha/iroha, pull requests merged in 2022-03, with the labels that each got.

#1940 [fix] #1939: Proper features for `iroha_config_derive`.
  config/derive/Cargo.toml
  core/src/lib.rs
  version/src/lib.rs
Labels: iroha2

#1941 [documentation]: Added missing docs to `api_spec.md`.
  docs/source/references/api_spec.md
Labels: iroha2

#1938 [ci]: fix failing tests.
  .github/workflows/iroha2-add-label.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-pr-heavy.yml
  .github/workflows/iroha2-pr.yml
  .github/workflows/iroha2-push-nightly.yml
  .github/workflows/iroha2.yml
  Cargo.lock
  actor/Cargo.toml
  actor/derive/Cargo.toml
  cli/Cargo.toml
  client/Cargo.toml
  client_cli/Cargo.toml
  config/Cargo.toml
  config/derive/Cargo.toml
  core/Cargo.toml
  core/docs/Cargo.toml
  core/test_network/Cargo.toml
  crypto/Cargo.toml
  crypto/src/signature.rs
  crypto_cli/Cargo.toml
  data_model/Cargo.toml
  data_model/primitives/Cargo.toml
  data_model/src/account.rs
  futures/Cargo.toml
  futures/derive/Cargo.toml
  logger/Cargo.toml
  macro/Cargo.toml
  macro/derive/Cargo.toml
  p2p/Cargo.toml
  permissions_validators/Cargo.toml
  permissions_validators/src/private_blockchain/query.rs
  schema/Cargo.toml
  schema/bin/Cargo.toml
  schema/derive/Cargo.toml
  substrate/Cargo.toml
  telemetry/Cargo.toml
  telemetry/derive/Cargo.toml
  tools/kura_inspector/Cargo.toml
  version/Cargo.toml
  version/derive/Cargo.toml
  wasm/Cargo.toml
Labels: iroha2, CI

#1950 [fix] #1943: Add query errors to the schema
  Cargo.lock
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  docs/source/references/api_spec.md
  schema/bin/src/main.rs
  version/Cargo.toml
  version/src/lib.rs
Labels: iroha2

#1956 [fix] #1955: Fix possibility to pass `:` inside `web_login`
  client/src/config.rs
Labels: iroha2

#1954 [fix] #1953: fix return value for QueryBox execution in wasm
  wasm/src/lib.rs
Labels: iroha2

#1951 [ci]: add proper tag to push workflow on main.
  .github/workflows/iroha2.yml
Labels: iroha2

#1959 update the environment variables to fix coverage
  .github/workflows/iroha2.yml
Labels: iroha2

#1869 Feature/proposal request optimization
  irohad/ordering/impl/batches_cache.hpp
  irohad/ordering/impl/on_demand_connection_manager.cpp
  irohad/ordering/impl/on_demand_connection_manager.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
  irohad/ordering/impl/on_demand_os_client_grpc.cpp
  irohad/ordering/impl/on_demand_os_client_grpc.hpp
  irohad/ordering/impl/on_demand_os_server_grpc.cpp
  irohad/ordering/on_demand_ordering_service.hpp
  irohad/ordering/on_demand_os_transport.hpp
  schema/ordering.proto
  shared_model/interfaces/iroha_internal/transaction_batch.cpp
  shared_model/interfaces/iroha_internal/transaction_batch.hpp
  test/framework/integration_framework/fake_peer/network/on_demand_os_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/on_demand_os_network_notifier.hpp
  test/integration/acceptance/fake_peer_example_test.cpp
  test/module/irohad/ordering/mock_on_demand_os_notification.hpp
  test/module/irohad/ordering/on_demand_connection_manager_test.cpp
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
  test/module/irohad/ordering/on_demand_os_client_grpc_test.cpp
  test/module/irohad/ordering/on_demand_os_server_grpc_test.cpp
  test/module/irohad/ordering/ordering_mocks.hpp
Labels: 1.4.1

#1847 Remove proposal_delay timeout (#1831)
  docs/source/configure/index.rst
  example/config-win.sample
  example/config.docker
  example/config.postgres.sample
  example/config.sample
  irohad/main/application.cpp
  irohad/main/iroha_conf_literals.cpp
  irohad/main/iroha_conf_literals.hpp
  irohad/main/iroha_conf_loader.cpp
  irohad/main/iroha_conf_loader.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/system/config.sample
  test/system/irohad_test.cpp
  test/tool/irohad.restore_wsv.config
Labels: 1.4.1

#1961 [feature] #1620: Introduce time based triggers
  Cargo.lock
  cli/src/torii/tests.rs
  client/tests/integration/mod.rs
  client/tests/integration/time_trigger.rs
  core/src/block.rs
  core/src/event.rs
  core/src/lib.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/triggers.rs
  core/src/sumeragi/config.rs
  core/src/sumeragi/fault.rs
  core/src/triggers.rs
  core/src/wsv.rs
  data_model/Cargo.toml
  data_model/benches/time_event_filter.rs
  data_model/src/events/data/events.rs
  data_model/src/events/mod.rs
  data_model/src/events/pipeline.rs
  data_model/src/events/time.rs
  data_model/src/lib.rs
  data_model/src/trigger.rs
  tools/kura_inspector/src/print.rs
Labels: iroha2

#2002 [feature] #1970: Add optional schema endpoint
  Cargo.lock
  cli/Cargo.toml
  cli/src/torii/mod.rs
  cli/src/torii/routing.rs
  cli/src/torii/tests.rs
  data_model/src/uri.rs
  schema/bin/src/lib.rs
  schema/bin/src/main.rs
Labels: iroha2

#2006 [feature] #1621: Introduce By Call Triggers
  client/tests/integration/mod.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/mod.rs
  client/tests/integration/triggers/time_trigger.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions.rs
  core/src/smartcontracts/isi/triggers.rs
  core/src/wsv.rs
  data_model/src/events/execute_trigger.rs
  data_model/src/events/mod.rs
  data_model/src/isi.rs
  data_model/src/transaction.rs
Labels: Enhancement, iroha2

#1989 [fix] #1897: Removed usize/isize from serialization
  actor/src/lib.rs
  cli/src/config.rs
  cli/src/torii/config.rs
  cli/src/torii/routing.rs
  core/src/block_sync.rs
  core/src/kura.rs
  core/src/queue.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/config.rs
  core/src/sumeragi/fault.rs
  data_model/src/lib.rs
  data_model/src/pagination.rs
  docs/source/references/config.md
  logger/src/config.rs
  logger/src/lib.rs
  p2p/src/network.rs
  schema/src/lib.rs
Labels: iroha2

#2018 [fix] #1922: Move crypto_cli into tools
  Cargo.toml
  tools/crypto_cli/Cargo.toml
  tools/crypto_cli/README.md
  tools/crypto_cli/src/main.rs
Labels: iroha2

#2041 [feature] #2037: Introduce Pre-commit Triggers
  client/tests/integration/triggers/time_trigger.rs
  core/src/smartcontracts/isi/triggers.rs
  data_model/benches/time_event_filter.rs
  data_model/src/events/data/filters.rs
  data_model/src/events/execute_trigger.rs
  data_model/src/events/time.rs
  data_model/src/isi.rs
  data_model/src/merkle.rs
  tools/kura_inspector/src/print.rs
Labels: iroha2
