Repository hyperledger-iroha/iroha, pull requests merged in 2022-06, with the labels that each got.

#2258 [feature] #2132: Add `endpointN` proc macro
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/derive/Cargo.toml
  cli/derive/src/lib.rs
  cli/src/torii/utils.rs
Labels: Enhancement, iroha2

#2283 [fix] #2282: improve FFI derives from getset implementation
  ffi/derive/src/bindgen.rs
  ffi/derive/src/derive.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/src/lib.rs
  ffi/derive/tests/ui_fail/derive_skip_field.rs
  ffi/derive/tests/ui_fail/derive_skip_field.stderr
  ffi/derive/tests/ui_fail/derive_skip_struct.rs
  ffi/derive/tests/ui_fail/derive_skip_struct.stderr
  ffi/tests/bindgen_derive.rs
  ffi/tests/ffi_bindgen.rs
Labels: iroha2

#2291 [feature] #1638: `configuration` return doc subtree
  config/derive/src/lib.rs
  config/src/lib.rs
  config/tests/simple.rs
  docs/source/references/api_spec.md
  tools/kagami/src/main.rs
Labels: iroha2

#2297 [fix] #2295: Fix unregister trigger bug
  client/tests/integration/triggers/by_call_trigger.rs
  core/src/smartcontracts/isi/mod.rs
  data_model/src/trigger/mod.rs
  data_model/src/trigger/set.rs
Labels: Bug, iroha2

#2305 [refactor] #1896: Simplify `produce_event` implementation
  core/src/wsv.rs
Labels: iroha2

#2313 [fix] #2017: Fix role unregistration
  client/src/client.rs
  client/tests/integration/queries/mod.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/roles.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/world.rs
  data_model/src/query.rs
Labels: iroha2

#2312 [fix] #2081: Fix the test case to grant the role
  client/tests/integration/queries/role.rs
  client/tests/integration/roles.rs
Labels: iroha2

#2319 [refactor] #2011: More descriptive config params
  actor/src/lib.rs
  cli/src/config.rs
  cli/src/lib.rs
  cli/src/samples.rs
  cli/src/torii/tests.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/genesis.rs
  core/src/kura.rs
  core/src/sumeragi/config.rs
  core/src/sumeragi/fault.rs
  docs/source/references/config.md
  p2p/src/network.rs
  telemetry/src/config.rs
  telemetry/src/retry_period.rs
  telemetry/src/ws.rs
Labels: iroha2

#2285 [feature] #2276: Include current Block hash into BlockHeaderValue
  core/src/block.rs
  data_model/src/block_value.rs
Labels: help wanted, iroha2

#2331 [ci]: Version bump of crates and remove unused dependencies
  Cargo.lock
  actor/Cargo.toml
  actor/derive/Cargo.toml
  cli/Cargo.toml
  cli/derive/Cargo.toml
  client/Cargo.toml
  client_cli/Cargo.toml
  config/Cargo.toml
  config/derive/Cargo.toml
  core/Cargo.toml
  core/test_network/Cargo.toml
  crypto/Cargo.toml
  data_model/Cargo.toml
  data_model/primitives/Cargo.toml
  ffi/Cargo.toml
  ffi/derive/Cargo.toml
  futures/Cargo.toml
  futures/derive/Cargo.toml
  logger/Cargo.toml
  macro/Cargo.toml
  macro/derive/Cargo.toml
  p2p/Cargo.toml
  permissions_validators/Cargo.toml
  schema/Cargo.toml
  schema/derive/Cargo.toml
  schema/gen/Cargo.toml
  substrate/Cargo.toml
  telemetry/Cargo.toml
  telemetry/derive/Cargo.toml
  tools/kagami/Cargo.toml
  tools/kura_inspector/Cargo.toml
  tools/parity_scale_decoder/Cargo.toml
  version/Cargo.toml
  version/derive/Cargo.toml
  wasm/Cargo.toml
Labels: iroha2

#2337 [documentation]: Add links to the tutorial
  README.md
  cli/README.md
Labels: iroha2, Documentation

#2341 [documentation]: Updates codeowners
  .github/CODEOWNERS
Labels: iroha2

#2348 [documentation]: Add @Erigara to CODEOWNERS
  .github/CODEOWNERS
Labels: iroha2

#2346 [fix] #2202: Fix total field in query response
  cli/src/torii/routing.rs
  cli/src/torii/tests.rs
Labels: iroha2

#2342 [feature] #2302: Add 'FindTriggersByDomainId' stub-query
  client/src/client.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/triggers.rs
  data_model/src/query.rs
  permissions_validators/src/private_blockchain/query.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2324 [fix] #2294: Add flamegraph generation to oneshot.rs
  Cargo.lock
  client/Cargo.toml
  client/benches/tps/oneshot.rs
  logger/src/lib.rs
Labels: iroha2

#2349 [documentation] #2344: Generate CHANGELOG for 2.0.0-pre-rc.5-lts
  CHANGELOG.rst
Labels: iroha2

#2328 [refactor] #2204: Make Asset-related operations generic
  core/src/smartcontracts/isi/asset.rs
  data_model/primitives/src/lib.rs
  data_model/src/lib.rs
Labels: iroha2, Refactor

#2359 [fix] #2358: Add release with debug profile
  Cargo.toml
Labels: iroha2

#2354 [refactor]: add permission token wrappers for private_blockchain
  client/tests/integration/permissions.rs
  permissions_validators/src/lib.rs
  permissions_validators/src/private_blockchain/register.rs
  tools/kagami/src/main.rs
Labels: iroha2

#2367 [ci] #1658: Add documentation check
  .github/workflows/iroha2-dev-pr-static.yml
  client/src/client.rs
  client/src/http.rs
  core/src/smartcontracts/isi/permissions/builder.rs
  ffi/src/lib.rs
Labels: iroha2

#2374 [feature] #2053: Add tests to the asset-related queries in private blockchain
  data_model/src/query.rs
  permissions_validators/src/private_blockchain/mod.rs
Labels: iroha2, 2.0.0-pre-rc.5-lts

#2383 [feature] #2053: Add tests to all remaining queries in private blockchain
  permissions_validators/src/private_blockchain/mod.rs
Labels: iroha2

#2365 [refactor] #1985: Reduce size of `Name` struct
  data_model/primitives/src/conststr.rs
  data_model/primitives/src/lib.rs
  data_model/src/lib.rs
  data_model/src/name.rs
Labels: iroha2, Optimization, Unsafe

#2363 [fix] #2137: Prepare tests for multiprocess context
  Cargo.lock
  cli/Cargo.toml
  cli/src/torii/tests.rs
  client/tests/integration/add_account.rs
  client/tests/integration/add_domain.rs
  client/tests/integration/asset.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/connected_peers.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/offline_peers.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/restart_peer.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/reload.rs
  core/Cargo.toml
  core/test_network/Cargo.toml
  core/test_network/src/lib.rs
  data_model/tests/data_model.rs
  p2p/Cargo.toml
  p2p/tests/integration/p2p.rs
Labels: iroha2

#2390 [feature] #2360: Make `genesis.json` optional again
  cli/src/lib.rs
  cli/src/main.rs
  client/benches/torii.rs
  client/examples/million_accounts_genesis.rs
  core/src/genesis.rs
  core/test_network/src/lib.rs
  data_model/tests/data_model.rs
Labels: iroha2

#2318 [fix] #2128: Fix `MerkleTree` construction and iteration
  core/src/block.rs
  core/src/kura.rs
  core/src/sumeragi/fault.rs
  core/src/sumeragi/message.rs
  core/test_network/src/lib.rs
  crypto/src/merkle.rs
Labels: iroha2, 2.0.0-pre-rc.5-lts

#2394 [ci] #2393: Bump the version of the Docker base image
  Cargo.lock
  Dockerfile
Labels: iroha2

#2378 [feature] #2127: Add sanity check to ensure that all data decoded by `parity_scale_codec` is consumed
  cli/src/stream.rs
  cli/src/torii/utils.rs
  client/Cargo.toml
  client/src/client.rs
  core/src/kura.rs
  data_model/src/events/mod.rs
  data_model/src/query.rs
  p2p/src/peer.rs
  version/derive/src/lib.rs
  version/src/lib.rs
Labels: Enhancement, iroha2, Security

#2269 Fix/add patches from support branches
  irohad/synchronizer/impl/synchronizer_impl.cpp
Labels: 1.6

#2401 [fix] #1649: remove `spawn` from `do_send`
  actor/src/lib.rs
Labels: iroha2

#2403 [feature] #2000: Disallow empty names
  client/tests/integration/permissions.rs
  client/tests/integration/query_errors.rs
  core/src/smartcontracts/isi/query.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/name.rs
  permissions_validators/src/public_blockchain/mod.rs
  tools/parity_scale_decoder/src/main.rs
Labels: iroha2
