Repository hyperledger-iroha/iroha, pull requests merged in 2022-10, with the labels that each got.

#2810 [fix] #2548: Warn on large genesis file
  core/src/genesis.rs
Labels: iroha2

#2785 [ci]: move jobs to github runners
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-release-pr.yml
Labels: iroha2, CI

#2798 [ci] #2781: add codecov commit parent feature
  .github/workflows/iroha2-dev-base_coverage.yml
  .github/workflows/iroha2-dev-pr.yml
Labels: iroha2, CI

#2809 [ci]: Replace base image with docker cache
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
  Dockerfile
  Dockerfile.base
Labels: iroha2, CI

#2832 [fix] #2758: Add Sorting structure to the schema
  cli/src/torii/routing.rs
  client/src/client.rs
  data_model/src/query.rs
  data_model/src/sorting.rs
  docs/source/references/schema.json
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#2823 [fix] #2379: Ability to dump new kura blocks to blocks.txt.
  config/src/kura.rs
  configs/peer/config.json
  core/src/block.rs
  core/src/kura.rs
  core/src/sumeragi/network_topology.rs
  core/src/tx.rs
  docs/source/references/config.md
Labels: iroha2

#2806 [feature] #2521: `Identifiable` derive improvement
  Cargo.lock
  data_model/derive/Cargo.toml
  data_model/derive/src/id.rs
  data_model/derive/src/lib.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/lib.rs
  data_model/src/peer.rs
  data_model/src/permission/mod.rs
  data_model/src/permission/token.rs
  data_model/src/permission/validator.rs
  data_model/src/role.rs
  data_model/src/trigger/mod.rs
  p2p/Cargo.toml
  p2p/src/handshake.rs
Labels: iroha2, macros

#2848 [ci]: Disable slow integration tests
  .github/workflows/iroha2-dev-pr.yml
  Cargo.lock
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/connected_peers.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/permissions/mod.rs
  client/tests/integration/roles.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/tx_history.rs
  client/tests/integration/unregister_peer.rs
  client/tests/integration/unstable_network.rs
  data_model/derive/Cargo.toml
  data_model/derive/src/lib.rs
Labels: iroha2

#2770 [feature] #2712: Config proptests
  Cargo.lock
  client/src/client.rs
  client/src/lib.rs
  config/Cargo.toml
  config/base/src/lib.rs
  config/iroha_test_config.json
  config/src/block_sync.rs
  config/src/client.rs
  config/src/genesis.rs
  config/src/iroha.rs
  config/src/kura.rs
  config/src/logger.rs
  config/src/network.rs
  config/src/queue.rs
  config/src/sumeragi.rs
  config/src/telemetry.rs
  config/src/torii.rs
  config/src/wsv.rs
  core/test_network/src/lib.rs
  crypto/src/lib.rs
  primitives/src/small.rs
  tools/kagami/src/main.rs
Labels: iroha2, config-changes

#2749 Fix/gRPC drop stream bugfix
  irohad/consensus/yac/transport/impl/consensus_service_impl.cpp
  irohad/consensus/yac/transport/impl/consensus_service_impl.hpp
  irohad/consensus/yac/transport/impl/network_impl.cpp
  irohad/consensus/yac/transport/impl/network_impl.hpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_os_server_grpc.cpp
  schema/yac.proto
  test/framework/integration_framework/integration_test_framework.cpp
  test/module/irohad/consensus/yac/network_test.cpp
  test/module/irohad/ordering/on_demand_os_test.cpp
Labels: 1.5

#2839 [feature] #2725: Reintroduce timeout into `submit_transaction_blocking`
  Cargo.lock
  client/Cargo.toml
  client/src/client.rs
  client/src/http_default.rs
  client/tests/integration/events/pipeline.rs
  config/iroha_test_config.json
Labels: iroha2, Optimization

#2842 [ci] #2781: add coverage offsets
  .github/workflows/iroha2-dev.yml
  codecov.yml
Labels: iroha2, CI

#2846 [documentation]: Add tutorial samples as a separate example file
  client/examples/tutorial.rs
Labels: iroha2, Documentation, UI

#2837 [feature] #2645: Unions in FFI
  Cargo.lock
  config/src/sumeragi.rs
  core/src/genesis.rs
  crypto/src/hash.rs
  data_model/src/events/time.rs
  data_model/src/expression.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/name.rs
  data_model/src/role.rs
  data_model/src/transaction.rs
  docker-compose-local.yml
  docker-compose-single.yml
  ffi/Cargo.toml
  ffi/derive/src/convert.rs
  ffi/derive/src/ffi_fn.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/src/lib.rs
  ffi/derive/src/util.rs
  ffi/derive/tests/ui_fail/fallible_transmute_mut_ref.rs
  ffi/derive/tests/ui_fail/fallible_transmute_mut_ref.stderr
  ffi/derive/tests/ui_fail/fieldless_enum_with_one_variant.rs
  ffi/derive/tests/ui_fail/fieldless_enum_with_one_variant.stderr
  ffi/derive/tests/ui_fail/nested_owned_structure.stderr
  ffi/derive/tests/ui_fail/uninhabited_enum.rs
  ffi/derive/tests/ui_fail/uninhabited_enum.stderr
  ffi/src/handle.rs
  ffi/src/ir.rs
  ffi/src/lib.rs
  ffi/src/option.rs
  ffi/src/primitives.rs
  ffi/src/repr_c.rs
  ffi/src/slice.rs
  ffi/src/std_impls.rs
  ffi/tests/ffi_export.rs
  ffi/tests/gen_shared_fns.rs
  ffi/tests/transparent.rs
  primitives/Cargo.toml
  primitives/src/conststr.rs
  primitives/src/fixed.rs
  schema/Cargo.toml
Labels: iroha2, macros

#2843 [fix] #2819: Move non-essential members out of WSV.
  cli/src/lib.rs
  cli/src/torii/routing.rs
  client/benches/tps/config.json
  core/src/lib.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/world.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/wsv.rs
  data_model/src/trigger/set.rs
Labels: iroha2, Refactor

#2822 [feature] #2797: Enrich events
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/triggers.rs
  core/src/smartcontracts/isi/world.rs
  crypto/src/signature.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/block_value.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/mod.rs
  data_model/src/events/execute_trigger.rs
  data_model/src/events/mod.rs
  data_model/src/events/pipeline.rs
  data_model/src/events/time.rs
  data_model/src/expression.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/permission/token.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  docs/source/references/schema.json
  primitives/src/addr.rs
  primitives/src/fixed.rs
  tools/parity_scale_decoder/src/generate_map.rs
  wasm/src/lib.rs
Labels: iroha2, api-changes

#2866 [ci] #2865: Remove usage of tmp file from `scripts/check.sh`
  scripts/check.sh
Labels: iroha2, CI

#2871 [feature] #2280: Produce permission events when role is granted/revoked
  client/tests/integration/events/data.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/world.rs
  core/src/wsv.rs
  data_model/src/events/data/events.rs
Labels: iroha2

#2879 [documentation]: Move some docs to the tutorial repository
  README.md
  docs/source/guides/metrics.md
  docs/source/iroha_2_whitepaper.md
  docs/source/references/api_spec.md
  docs/source/references/glossary.md
  docs/source/references/isi.md
  docs/source/references/keypairs.md
Labels: iroha2

#2886 [fix] #2804, #2863: `iroha_client_cli` submit transaction blocking
  client_cli/src/main.rs
Labels: iroha2

#2892 [refactor]: improve error messages on configuration failure.
  config/src/client.rs
  config/src/iroha.rs
Labels: iroha2, UI

#1776 Allow configuring max past time of transaction `created_time`
  .github/build-iroha1-fork.src.yml
  .github/workflows/build-iroha1-fork.yml
  docs/source/configure/index.rst
  docs/source/develop/api/queries.rst
  irohad/main/application.cpp
  irohad/main/iroha_conf_literals.cpp
  irohad/main/iroha_conf_literals.hpp
  irohad/main/iroha_conf_loader.cpp
  irohad/main/iroha_conf_loader.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  shared_model/validators/validators_common.cpp
  shared_model/validators/validators_common.hpp
  test/framework/integration_framework/integration_test_framework.cpp
Labels: Enhancement, help wanted, question, 1.x

#2887 [fix] #2870: Reduce amount of ConnectPeer messages sent to p2p (lts)
  core/src/block_sync.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  p2p/src/network.rs
Labels: iroha2

#2891 [fix] #2880: Fix block streaming (lts)
  cli/src/torii/routing.rs
Labels: iroha2

#2895 [documentation]: Remove outdated doc files
  README.md
  docs/README.md
  docs/image_assets/icons/contributing.png
  docs/image_assets/icons/docs.png
  docs/image_assets/icons/how-to.png
  docs/image_assets/iroha_header.png
  docs/image_assets/iroha_logo.png
  docs/image_assets/iroha_logo_doxygen.png
  docs/source/Makefile
  docs/source/_extra/googlecdeea2ebc420b97a.html
  docs/source/_static/theme_overrides.css
  docs/source/common.yaml
  docs/source/community/CONTRIBUTING.md
  docs/source/conf.py
  docs/source/features/bridge.feature
  docs/source/features/exchange.feature
  docs/source/features/instructions.feature
  docs/source/features/queries.feature
  docs/source/guides/actor.md
  docs/source/guides/index.rst
  docs/source/index.rst
  docs/source/locale.yaml
  docs/source/make.bat
  docs/source/references/index.rst
  docs/source/requirements.txt
  docs/source/tutorials/index.rst
  docs/source/tutorials/mint-your-first-asset.md
Labels: iroha2

#2901 Follow-up: #1776: Configurable max past created hours - changed type
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
Labels: 1.x, 1.5

#2898 [feature] #2508: Add a new client CLI subcommand that accepts wasm
  client_cli/README.md
  client_cli/src/main.rs
  config/src/client.rs
  data_model/src/transaction.rs
Labels: iroha2

#2902 Repaired building iroha according to instruction: Added patch file to make sure abseil library is building without changes
  vcpkg/patches/0007-repaired-ambiguous-template-usage.patch
Labels: Bug, 1.x, build, 1.5, Dev defect

#2660 Implement iroha-lib separate module for Hyperledger Iroha 1
  CMakeLists.txt
  iroha-lib/CMakeLists.txt
  iroha-lib/README.md
  iroha-lib/examples/BatchExample.cpp
  iroha-lib/examples/CMakeLists.txt
  iroha-lib/examples/QueryExample.cpp
  iroha-lib/examples/TxExample.cpp
  iroha-lib/grpc_client/CMakeLists.txt
  iroha-lib/grpc_client/GrpcClient.cpp
  iroha-lib/grpc_client/GrpcClient.hpp
  iroha-lib/model/CMakeLists.txt
  iroha-lib/model/ClassDeclarations.h
  iroha-lib/model/LibsAndClassDeclarations.h
  iroha-lib/model/Query.cpp
  iroha-lib/model/Query.hpp
  iroha-lib/model/Tx.cpp
  iroha-lib/model/Tx.hpp
  iroha-lib/model/TxBatch.cpp
  iroha-lib/model/TxBatch.hpp
  iroha-lib/model/generators/CommandGenerator.cpp
  iroha-lib/model/generators/CommandGenerator.hpp
  iroha-lib/model/generators/QueryGenerator.cpp
  iroha-lib/model/generators/QueryGenerator.hpp
  iroha-lib/model/utils/Utils.cpp
  iroha-lib/model/utils/Utils.h
Labels: 1.x, 1.5

#2900 [refactor] #2747: Change `LoadFromEnv` API
  Cargo.lock
  cli/src/lib.rs
  cli/src/samples.rs
  config/base/derive/Cargo.toml
  config/base/derive/src/lib.rs
  config/base/derive/src/proxy.rs
  config/base/derive/src/utils.rs
  config/base/derive/src/view.rs
  config/base/src/lib.rs
  config/base/tests/simple.rs
  config/src/block_sync.rs
  config/src/client.rs
  config/src/genesis.rs
  config/src/iroha.rs
  config/src/kura.rs
  config/src/logger.rs
  config/src/network.rs
  config/src/queue.rs
  config/src/sumeragi.rs
  config/src/telemetry.rs
  config/src/torii.rs
  config/src/wasm.rs
  config/src/wsv.rs
  core/test_network/src/lib.rs
Labels: iroha2

#2918 [feature] #2899: Add multi-instructions subcommand into `client_cli`
  client_cli/README.md
  client_cli/src/main.rs
Labels: iroha2

#2924 [fix] #2923: Return `FindError` when `AssetDefinition` does not exist
  permissions_validators/src/public_blockchain/mint.rs
Labels: iroha2
