Repository hyperledger-iroha/iroha, pull requests merged in 2022-12, with the labels that each got.

#2983 [documentation]: Update links to documentation
  README.md
  wasm/README.md
Labels: iroha2

#2989 [fix] #2980: fix block value ffi type backport to lts
  data_model/src/lib.rs
Labels: iroha2

#2988 [fix] #2980: fix block value ffi type
  data_model/src/lib.rs
Labels: iroha2

#2986 [refactor] #2974: Prevent block spoofing without full revalidation
  core/benches/kura.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/lib.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/mod.rs
  core/src/tx.rs
  core/src/wsv.rs
  data_model/src/events/mod.rs
  data_model/src/transaction.rs
  primitives/src/small.rs
Labels: iroha2

#2996 [feature] #2995: Soft fork detection
  core/benches/validation.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/wsv.rs
  docs/source/references/schema.json
Labels: iroha2, Consensus

#2992 [fix] #1967: Replace ValueName with Name
  client/tests/integration/multisignature_transaction.rs
  core/src/smartcontracts/isi/expression.rs
  core/src/tx.rs
  data_model/src/account.rs
  data_model/src/expression.rs
  data_model/src/isi.rs
  docs/source/references/schema.json
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#3004 [refactor] #2675: Validate item names/ids without allocating Vec
  config/src/client.rs
  data_model/src/account.rs
  data_model/tests/data_model.rs
Labels: iroha2

#2990 [fix] #2384: Replace decode with decode_all.
  cli/src/stream.rs
  cli/src/torii/utils.rs
  client/src/client.rs
  core/src/kura.rs
  core/src/smartcontracts/isi/expression.rs
  core/src/smartcontracts/wasm.rs
  crypto/src/signature.rs
  data_model/src/domain.rs
  data_model/src/name.rs
  p2p/src/handshake.rs
  p2p/src/peer.rs
  primitives/src/fixed.rs
  tools/kura_inspector/src/main.rs
  tools/parity_scale_decoder/src/main.rs
  version/derive/src/lib.rs
  version/derive/tests/scale.rs
  version/src/lib.rs
  wasm/src/lib.rs
Labels: iroha2

#2981 [fix] #2816: Move responsibility of access to blocks to kura.
  cli/src/lib.rs
  cli/src/torii/mod.rs
  cli/src/torii/routing.rs
  client/benches/tps/lib.rs
  core/Cargo.toml
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block_sync.rs
  core/src/kura.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/expression.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/wsv.rs
  permissions_validators/src/private_blockchain/tests/mod.rs
  permissions_validators/src/private_blockchain/tests/revoke_and_grant.rs
  permissions_validators/src/public_blockchain/mod.rs
  permissions_validators/src/public_blockchain/transfer.rs
  telemetry/derive/tests/ui_fail/args_no_wsv.rs
  telemetry/derive/tests/ui_fail/bare_spec.rs
  telemetry/derive/tests/ui_fail/doubled_plus.rs
  telemetry/derive/tests/ui_fail/no_args.rs
  telemetry/derive/tests/ui_fail/not_execute.rs
  telemetry/derive/tests/ui_fail/not_return_result.rs
  telemetry/derive/tests/ui_fail/return_nothing.rs
  telemetry/derive/tests/ui_fail/trailing_plus.rs
Labels: iroha2

#3014 [fix] #2998: Delete unused Chain code.
  core/src/block.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
Labels: iroha2

#3012 [refactor] #3008: Add niche value into `Hash`
  core/benches/sumeragi.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/kura.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/sumeragi/view_change.rs
  core/src/wsv.rs
  crypto/src/hash.rs
  data_model/src/block_value.rs
  docs/source/references/schema.json
  schema/src/lib.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2, Refactor

#3023 [refactor] #3022: Remove `Option` in `transaction_cache`
  core/src/sumeragi/main_loop.rs
Labels: iroha2, Refactor

#2994 [feature] #2993: enable all references in FFI
  Cargo.lock
  crypto/src/hash.rs
  ffi/.cargo/config.toml
  ffi/Cargo.toml
  ffi/derive/src/convert.rs
  ffi/src/ir.rs
  ffi/src/lib.rs
  ffi/src/primitives.rs
  ffi/src/repr_c.rs
  ffi/src/std_impls.rs
  ffi/tests/ffi_export.rs
  ffi/tests/gen_shared_fns.rs
  ffi/tests/generics.rs
  ffi/tests/getset.rs
  ffi/tests/transparent.rs
  ffi/tests/unambiguous.rs
  primitives/src/conststr.rs
Labels: iroha2

#3026 [fix] #3013: properly chain burn validators: backport for LTS
  permissions_validators/src/public_blockchain/mod.rs
Labels: iroha2

#3025 [fix] #3013: properly chain burn validators
  permissions_validators/src/public_blockchain/mod.rs
Labels: iroha2

#2949 [fix] #2506: Fix the block validation
  cli/src/lib.rs
  core/src/block.rs
  core/src/tx.rs
Labels: iroha2

#2978 [feature]: #2231 Generate FFI wrapper API
  data_model/src/lib.rs
  ffi/derive/src/convert.rs
  ffi/derive/src/ffi_fn.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/src/lib.rs
  ffi/derive/src/util.rs
  ffi/derive/src/wrapper.rs
  ffi/derive/tests/ui_fail/nested_owned_structure.rs
  ffi/derive/tests/ui_fail/nested_owned_structure.stderr
  ffi/src/handle.rs
  ffi/src/ir.rs
  ffi/src/lib.rs
  ffi/src/option.rs
  ffi/src/primitives.rs
  ffi/src/repr_c.rs
  ffi/src/slice.rs
  ffi/src/std_impls.rs
  ffi/tests/ffi_export.rs
  ffi/tests/ffi_import.rs
  ffi/tests/gen_shared_fns.rs
  ffi/tests/transparent.rs
  ffi/tests/unambiguous.rs
Labels: iroha2

#3028 [feature] #2813: Kagami generate default peer config
  .github/workflows/iroha2-dev-pr.yml
  configs/peer/config.json
  core/src/kura.rs
  core/src/wsv.rs
  crypto/src/hash.rs
  scripts/check.sh
  tools/kagami/README.md
  tools/kagami/src/main.rs
Labels: iroha2

#3032 [test] #2506: Add more tests on block validation
  core/src/block.rs
Labels: iroha2

#3041 [fix] #2803: Return correct status code for signature errors
  cli/src/torii/routing.rs
  cli/src/torii/utils.rs
  version/src/lib.rs
Labels: Bug, iroha2
