Repository hyperledger-iroha/iroha, pull requests merged in 2023-08, with the labels that each got.

#3770 [refactor] #3752: Replace `MockValidator` with `Initial`
  configs/peer/validator.wasm
  core/src/smartcontracts/isi/world.rs
  core/src/validator.rs
  core/src/wsv.rs
Labels: iroha2, Refactor

#3778 [fix] #3777: Validate role registration
  client/tests/integration/permissions.rs
  client/tests/integration/roles.rs
  configs/peer/validator.wasm
  data_model/src/role.rs
  data_model/src/visit.rs
  wasm/validator/derive/src/token.rs
  wasm/validator/src/default.rs
  wasm/validator/src/permission.rs
Labels: Bug, iroha2

#3784 [feature] #3781: Validate genesis transactions
  client/tests/integration/permissions.rs
  client/tests/integration/smartcontracts/validator_with_admin/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_custom_token/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_migration_fail/src/lib.rs
  configs/peer/validator.wasm
  core/benches/validation.rs
  core/src/block.rs
  core/src/smartcontracts/wasm.rs
  core/src/tx.rs
  default_validator/src/lib.rs
  wasm/src/lib.rs
  wasm/validator/Cargo.toml
  wasm/validator/derive/src/entrypoint.rs
  wasm/validator/derive/src/lib.rs
  wasm/validator/derive/src/validate.rs
  wasm/validator/src/default.rs
  wasm/validator/src/lib.rs
  wasm/validator/src/permission.rs
Labels: Enhancement, iroha2, Executor

#3775 [feature] #3641: Human-readable permission token payload
  Cargo.lock
  client/benches/tps/utils.rs
  client/tests/integration/asset.rs
  client/tests/integration/events/data.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/roles.rs
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/validator_with_custom_token/Cargo.toml
  client/tests/integration/smartcontracts/validator_with_custom_token/src/lib.rs
  client/tests/integration/upgrade.rs
  configs/peer/genesis.json
  configs/peer/validator.wasm
  core/test_network/Cargo.toml
  core/test_network/src/lib.rs
  data_model/src/isi.rs
  data_model/src/permission.rs
  docs/source/references/schema.json
  genesis/src/lib.rs
  schema/gen/src/lib.rs
  tools/kagami/src/genesis.rs
  tools/parity_scale_decoder/src/main.rs
  wasm/validator/Cargo.toml
  wasm/validator/derive/src/token.rs
  wasm/validator/src/default.rs
  wasm/validator/src/permission.rs
Labels: Enhancement, iroha2

#3790 [ci]: Fix I2:Release job & Remove badge and load-rs job & Update i2 …
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
  Dockerfile
  README.md
  scripts/update_configs.sh
Labels: iroha2, CI

#3710 [feature] #3688: Implement basic arithmetic as proc macro
  Cargo.lock
  Cargo.toml
  dsl/Cargo.toml
  dsl/src/lib.rs
Labels: iroha2

#3748 [fix] #3741: Fix tempfile error in `kagami validator`
  tools/kagami/src/genesis.rs
  tools/kagami/src/swarm.rs
  tools/kagami/src/validator.rs
Labels: iroha2

#3663 [feature] #3309: Bump `wasmtime`
  Cargo.lock
  Cargo.toml
  core/src/smartcontracts/wasm.rs
  wasm_codec/Cargo.toml
  wasm_codec/derive/src/lib.rs
  wasm_codec/src/lib.rs
Labels: iroha2

#3803 [documentation] #3802: Unicode "kagami crypto" seed
  tools/kagami/src/crypto.rs
Labels: iroha2

#3806 [fix] #3805: Fix iroha graceful shutdown
  cli/src/torii/mod.rs
  cli/src/torii/routing.rs
Labels: Bug, iroha2

#3724 [feature] #3651: WSV snapshots
  Cargo.lock
  cli/src/lib.rs
  core/src/kura.rs
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/validator.rs
  core/src/wsv.rs
  data_model/src/events/mod.rs
Labels: iroha2

#3816 [fix] #3709: Correct how tx_amounts histogram is calculated.
  core/src/smartcontracts/isi/asset.rs
  core/src/sumeragi/mod.rs
  core/src/validator.rs
  core/src/wsv.rs
Labels: iroha2

#3821 [documentation] #3802: Unicode "kagami swarm" seed
  tools/kagami/src/swarm.rs
Labels: iroha2

#3827 [refactor] #3674: Elide `.cloned()` in `data_model/src/block.rs`
  data_model/src/block.rs
Labels: iroha2

#3831 [fix] #3059: Simplify kura lock file code
  core/benches/kura.rs
  core/src/kura.rs
  tools/kura_inspector/src/main.rs
Labels: iroha2

#3824 [refactor] #3761: Rewrite `scripts/test-env.sh`
  .github/workflows/iroha2-release-pr.yml
  scripts/test_env.py
  scripts/test_env.sh
Labels: iroha2

#3807 [documentation]: Formalise the release process
  docs/source/lts_selection.org
  docs/source/release_procedure.org
Labels: iroha2

#3844 [fix] #3843: Fix genesis validation
  wasm/validator/src/permission.rs
Labels: iroha2

#3846 BACKPORT [fix] #3843: Treat genesis account as owner during validation
  wasm/validator/src/permission.rs
Labels: iroha2

#3850 [fix] #3843: Allow genesis to execute any ISI
  client/tests/integration/smartcontracts/validator_with_custom_token/src/lib.rs
  configs/peer/validator.wasm
  wasm/validator/src/default.rs
  wasm/validator/src/permission.rs
Labels: iroha2

#3851 BACKPORT [fix] #3843: Allow genesis to execute any ISI
  client/tests/integration/smartcontracts/validator_with_custom_token/src/lib.rs
  configs/peer/validator.wasm
  wasm/validator/src/default.rs
  wasm/validator/src/permission.rs
Labels: iroha2
