Repository hyperledger-iroha/iroha, pull requests merged in 2023-06, with the labels that each got.

#3553 [fix] #3552: Fix validator path schema repr
  configs/peer/genesis.json
  docs/source/references/schema.json
  genesis/src/lib.rs
  tools/kagami/src/main.rs
Labels: iroha2

#3556 [feature] #2622: `u128/i128` support in FFI
  configs/peer/validator.wasm
  ffi/src/lib.rs
  ffi/src/primitives.rs
  ffi/tests/ffi_export_import_u128_i128.rs
Labels: Enhancement, iroha2

#3557 [refactor]: Refactor in `u128/i128` ffi
  configs/peer/validator.wasm
  ffi/src/primitives.rs
Labels: iroha2

#3477 [fix] #3233: Refactor error types
  Cargo.lock
  Cargo.toml
  cli/src/torii/mod.rs
  cli/src/torii/routing.rs
  client/src/client.rs
  client/tests/integration/events/data.rs
  client/tests/integration/offline_peers.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/asset.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/query_errors.rs
  client/tests/integration/smartcontracts/create_nft_for_every_user_trigger/src/lib.rs
  client/tests/integration/smartcontracts/mint_rose/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_admin/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/wasm/utils.rs
  configs/peer/validator.wasm
  core/Cargo.toml
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/mod.rs
  core/src/smartcontracts/wasm.rs
  core/src/tx.rs
  core/src/validator.rs
  core/src/wsv.rs
  data_model/src/asset.rs
  data_model/src/evaluate.rs
  data_model/src/events/pipeline.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/name.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  data_model/src/validator.rs
  default_validator/src/lib.rs
  docs/source/references/schema.json
  ffi/derive/tests/ui_fail/fallible_transmute_mut_ref.stderr
  ffi/derive/tests/ui_fail/non_robust_repr_c.stderr
  schema/gen/src/lib.rs
  schema/src/lib.rs
  wasm/src/debug.rs
  wasm/src/lib.rs
  wasm/src/log.rs
  wasm/validator/derive/src/entrypoint.rs
  wasm/validator/derive/src/lib.rs
  wasm/validator/derive/src/token.rs
  wasm/validator/derive/src/validate.rs
  wasm/validator/src/default.rs
  wasm/validator/src/lib.rs
  wasm/validator/src/permission.rs
  wasm_codec/Cargo.toml
  wasm_codec/derive/Cargo.toml
  wasm_codec/derive/src/lib.rs
  wasm_codec/src/lib.rs
Labels: Bug, iroha2, UI

#3563 [feature] #3088: Introduce queue throttling
  config/iroha_test_config.json
  config/src/queue.rs
  configs/peer/config.json
  configs/peer/validator.wasm
  core/src/queue.rs
  docs/source/references/config.md
Labels: iroha2

#3571 [fix] #3546: Fix time trigger tests get stuck
  client/tests/integration/triggers/time_trigger.rs
Labels: Bug, iroha2

#3572 [fix] #3162: Forbid 0 height in block streaming request
  cli/src/torii/routing.rs
  client/src/client.rs
  client_cli/src/main.rs
  configs/peer/validator.wasm
  data_model/src/block.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  schema/src/lib.rs
  tools/parity_scale_decoder/src/main.rs
Labels: iroha2

#3475 [feature] #2373: `kagami swarm`
  Cargo.lock
  cli/src/lib.rs
  cli/src/main.rs
  config/base/Cargo.toml
  config/base/derive/src/documented.rs
  config/base/derive/src/proxy.rs
  config/base/src/lib.rs
  config/base/tests/simple.rs
  config/src/genesis.rs
  config/src/iroha.rs
  config/src/sumeragi.rs
  core/test_network/src/lib.rs
  crypto/src/lib.rs
  tools/kagami/Cargo.toml
  tools/kagami/build.rs
  tools/kagami/src/main.rs
  tools/kagami/src/swarm.rs
Labels: iroha2

#3589 [fix] #0000: configuration macro test
  config/base/tests/simple.rs
Labels: iroha2

#3575 [ci] #3562: Fix PR-generator Jenkinsfile & Add Coverall badge & Set up JDK 11
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release-pr.yml
  Jenkinsfile
  README.md
Labels: iroha2, CI

#3593 [fix] #3592: fix config files updating on release
  .github/workflows/iroha2-release.yml
  configs/client/lts/config.json
  configs/client/stable/config.json
  scripts/update_configs.sh
Labels: iroha2

#3588 [feature] #3587: Allow different states in wasm::Runtime & link-time …
  Cargo.lock
  configs/peer/validator.wasm
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/smartcontracts/wasm.rs
  core/src/tx.rs
  core/src/validator.rs
  core/src/wsv.rs
  crypto/src/lib.rs
  crypto/src/merkle.rs
  data_model/src/transaction.rs
  wasm/derive/src/entrypoint.rs
  wasm/src/lib.rs
  wasm_codec/derive/Cargo.toml
  wasm_codec/derive/src/lib.rs
Labels: Enhancement, iroha2, Refactor

#3609 [refactor] #3063: Map transaction hash to block height in wsv
  client/benches/tps/utils.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/query.rs
  core/src/wsv.rs
Labels: iroha2

#3608 [fix] #3596: `iroha_client_cli` show blocks/events
  client_cli/src/main.rs
Labels: Bug, iroha2

#3600 [fix] #3246: Don't involve observing peer without fault.
  core/src/sumeragi/main_loop.rs
Labels: iroha2

#3599 [feature] #3597: Permisison Token Analysis (Iroha side)
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/tx.rs
  core/src/validator.rs
  wasm_codec/derive/src/lib.rs
  wasm_codec/src/lib.rs
Labels: Enhancement, iroha2

#3614 [refactor] #3353: Remove eyre from block.rs
  core/src/block.rs
  core/src/sumeragi/main_loop.rs
Labels: iroha2, Refactor

#3618 [refactor]: strong type hash in Value
  client/src/client.rs
  client/tests/integration/burn_public_keys.rs
  configs/peer/validator.wasm
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/wsv.rs
  data_model/src/lib.rs
  data_model/src/predicate.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  tools/parity_scale_decoder/samples/trigger.bin
Labels: iroha2

#3619 #3318: Interleave rejected and accepted transactions in block
  client/benches/tps/utils.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/connected_peers.rs
  core/benches/apply_blocks/apply_blocks.rs
  core/src/block.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/wsv.rs
  data_model/src/block.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
Labels: iroha2

#3635 [feature] #3628: Implement `iroha_wasm_builder` optimization
  Cargo.lock
  cli/src/samples.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/upgrade.rs
  configs/peer/validator.wasm
  tools/kagami/src/main.rs
  wasm_builder/Cargo.toml
  wasm_builder/src/lib.rs
Labels: Enhancement, iroha2, Optimization

#3643 [fix] #3195: Also panic when receiving rejected genesis.
  core/src/sumeragi/main_loop.rs
Labels: iroha2

#3646 [fix] #3042: Fix bad request message.
  version/src/lib.rs
Labels: iroha2

#3650 [ci]: Update rustup toolchain & add musl-x86_64 component
  Dockerfile.build
Labels: iroha2, CI

#3655 [ci]: Update rust toolchain in the Dockerfile
  Dockerfile
Labels: iroha2, CI

#3659 [fix] #3543: Increment quantity change, not total
  core/src/smartcontracts/isi/asset.rs
Labels: iroha2
