Repository hyperledger-iroha/iroha, pull requests merged in 2023-02, with the labels that each got.

#3097 [fix] #3087: Collect votes from observing peers after view change.
  client/tests/integration/unstable_network.rs
  core/src/sumeragi/main_loop.rs
Labels: iroha2

#3098 [fix] #2599: Remove nursery lints
  lints.toml
Labels: iroha2

#3104 [refactor]: Remove adt_const_generics nightly feature
  cli/src/torii/routing.rs
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/genesis.rs
  core/src/lib.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/tx.rs
Labels: iroha2

#3096 [feature] #3094: Generate network with `n` peers
  .github/workflows/iroha2-release-pr.yml
  scripts/test_env.sh
  tools/kagami/README.md
  tools/kagami/src/main.rs
Labels: iroha2

#3058 [ci]: Adding five more self-hosted runners
  .github/workflows/iroha2-dev.yml
Labels: iroha2, CI

#2973 [feature] #2399: Config parameters as ISI
  Cargo.lock
  client/src/client.rs
  client/tests/integration/mod.rs
  client/tests/integration/set_parameter.rs
  configs/peer/genesis.json
  core/src/lib.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions/checks.rs
  core/src/smartcontracts/isi/permissions/combinators.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  data_model/Cargo.toml
  data_model/derive/src/lib.rs
  data_model/src/events/data/events.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/predicate.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  docs/source/references/schema.json
  permissions_validators/src/private_blockchain/query.rs
  permissions_validators/src/public_blockchain/mod.rs
  permissions_validators/src/public_blockchain/set_parameter.rs
  tools/kagami/src/main.rs
  tools/parity_scale_decoder/samples/trigger.bin
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#3131 [fix] #3129: Fix `Parameter` de/serialization
  configs/peer/genesis.json
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/transaction.rs
  permissions_validators/src/public_blockchain/mod.rs
Labels: Bug, iroha2

#3118 [feature] #3116: Add sorting of any values (not only u128)
  cli/src/torii/routing.rs
  client/src/client.rs
  client/tests/integration/sorting.rs
Labels: iroha2

#3140 [documentation]: Generate CHANGELOG for pre-rc.13
  CHANGELOG.rst
Labels: iroha2, Documentation

#3142 [ci]: Upload i2-dev image tag to Soramitsu Harbor
  .github/workflows/iroha2-dev.yml
Labels: iroha2, CI

#3149 [fix] #3141: Manually implement `IntoSchema` for `Hash`
  crypto/src/hash.rs
  docs/source/references/schema.json
  tools/parity_scale_decoder/src/generate_map.rs
Labels: Bug, iroha2

#3156 [fix] #3155: Fix panic-hook for tests
  Cargo.lock
  cli/Cargo.toml
  cli/src/lib.rs
Labels: Bug, iroha2, Tests, high-priority

#3167 [fix] #3166: don't do view changes when system is idle
  core/src/sumeragi/main_loop.rs
Labels: iroha2

#3125 [fix] #3113: Revise unstable network tests.
  cli/src/lib.rs
  client/tests/integration/unstable_network.rs
  core/test_network/src/lib.rs
Labels: iroha2

#3222 [fix]: Add missing `#[cfg(debug_assertions)]`
  cli/src/lib.rs
  core/test_network/src/lib.rs
Labels: iroha2

#3208 [feature] #3105: Implement Transfer for AssetDefinition
  core/src/smartcontracts/isi/asset.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/events/data/events.rs
  docs/source/references/schema.json
  permissions_validators/src/public_blockchain/burn.rs
  permissions_validators/src/public_blockchain/key_value.rs
  permissions_validators/src/public_blockchain/mint.rs
  permissions_validators/src/public_blockchain/mod.rs
  permissions_validators/src/public_blockchain/transfer.rs
  permissions_validators/src/public_blockchain/unregister.rs
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2
