Repository hyperledger-iroha/iroha, pull requests merged in 2023-04, with the labels that each got.

#3351 [refactor] #3349: Remove `EvaluateOnHost` from smart contracts
  cli/src/torii/mod.rs
  client/tests/integration/smartcontracts/deny_new_validators_validator/src/lib.rs
  config/src/wasm.rs
  configs/peer/config.json
  configs/peer/genesis.json
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/expression.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions.rs
  core/src/smartcontracts/isi/triggers.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/mod.rs
  core/src/smartcontracts/wasm.rs
  core/src/tx.rs
  data_model/src/evaluate.rs
  data_model/src/events/data/filters.rs
  data_model/src/expression.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  data_model/tests/data_model.rs
  docs/source/references/config.md
  docs/source/references/schema.json
  macro/derive/src/lib.rs
  permission_validators/account/remove_key_value/src/lib.rs
  permission_validators/account/set_key_value/src/lib.rs
  permission_validators/asset/burn/src/lib.rs
  permission_validators/asset/mint/src/lib.rs
  permission_validators/asset/remove_key_value/src/lib.rs
  permission_validators/asset/set_key_value/src/lib.rs
  permission_validators/asset/transfer/src/lib.rs
  permission_validators/asset/unregister/src/lib.rs
  permission_validators/asset_definition/remove_key_value/src/lib.rs
  permission_validators/asset_definition/set_key_value/src/lib.rs
  permission_validators/asset_definition/transfer/src/lib.rs
  permission_validators/asset_definition/unregister/src/lib.rs
  version/derive/src/lib.rs
  wasm/src/lib.rs
  wasm/validator/src/lib.rs
Labels: iroha2

#3346 [refactor] #3362: Migrate to tokio actors
  Cargo.lock
  Cargo.toml
  actor/Cargo.toml
  actor/derive/Cargo.toml
  actor/derive/src/lib.rs
  actor/derive/tests/ui.rs
  actor/derive/tests/ui_pass/generics.rs
  actor/derive/tests/ui_pass/simple.rs
  actor/derive/tests/ui_pass/simple_result.rs
  actor/src/actor_id.rs
  actor/src/broker.rs
  actor/src/deadlock.rs
  actor/src/envelope.rs
  actor/src/lib.rs
  actor/tests/deadlock.rs
  cli/Cargo.toml
  cli/src/lib.rs
  configs/peer/genesis.json
  core/Cargo.toml
  core/src/block_sync.rs
  core/src/lib.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/mod.rs
  core/test_network/Cargo.toml
  core/test_network/src/lib.rs
  p2p/Cargo.toml
  p2p/src/handshake.rs
  p2p/src/lib.rs
  p2p/src/network.rs
  p2p/src/peer.rs
  p2p/tests/integration/p2p.rs
Labels: iroha2, Refactor

#3301 [refactor] #3254: Refactor `commit_block()` and `replace_top_block()`
  core/src/sumeragi/main_loop.rs
Labels: iroha2, Refactor

#3323 [fix] #3247: Removed fault injection from sumeragi.
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/mod.rs
  core/src/wsv.rs
Labels: iroha2

#3328 Develop2master 3081 corrections
  iroha-lib/grpc_client/GrpcClient.hpp
  iroha-lib/model/CMakeLists.txt
  iroha-lib/model/ClassDeclarations.h
  iroha-lib/model/LibsAndClassDeclarations.h
  iroha-lib/model/Query.cpp
  iroha-lib/model/Query.hpp
  iroha-lib/model/Tx.hpp
  iroha-lib/model/TxBatch.hpp
  iroha-lib/model/generators/QueryGenerator.hpp
  shared_model/validators/validators_common.hpp
Labels: 1.x, 1.5

#3336 [feature] #3015: Support for niche optimization in FFI
  configs/peer/genesis.json
  crypto/src/hash.rs
  data_model/src/block.rs
  ffi/derive/src/convert.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/src/lib.rs
  ffi/derive/src/wrapper.rs
  ffi/derive/tests/ui_fail/fallible_transmute_mut_ref.rs
  ffi/derive/tests/ui_fail/fallible_transmute_mut_ref.stderr
  ffi/derive/tests/ui_fail/fieldless_enum_with_expicit_discriminant.stderr
  ffi/derive/tests/ui_fail/fieldless_enum_with_explicit_discriminant.rs
  ffi/derive/tests/ui_fail/fieldless_enum_with_explicit_discriminant.stderr
  ffi/derive/tests/ui_fail/fieldless_enum_with_one_variant.stderr
  ffi/derive/tests/ui_fail/fieldless_enum_without_repr.rs
  ffi/derive/tests/ui_fail/fieldless_enum_without_repr.stderr
  ffi/derive/tests/ui_fail/non_robust_repr_c.rs
  ffi/derive/tests/ui_fail/non_robust_repr_c.stderr
  ffi/derive/tests/ui_fail/raw_pointer_type.rs
  ffi/derive/tests/ui_fail/raw_pointer_type.stderr
  ffi/derive/tests/ui_fail/uninhabited_enum.rs
  ffi/derive/tests/ui_fail/uninhabited_enum.stderr
  ffi/src/ir.rs
  ffi/src/lib.rs
  ffi/src/option.rs
  ffi/src/primitives.rs
  ffi/src/repr_c.rs
  ffi/src/std_impls.rs
  ffi/tests/ffi_export.rs
  ffi/tests/transparent.rs
  primitives/src/addr.rs
  primitives/src/fixed.rs
Labels: iroha2

#3401 [refactor]: Disable wasmtime cache
  core/src/smartcontracts/wasm.rs
Labels: iroha2

#3406 [refactor]: Revert disable caching
  core/src/smartcontracts/wasm.rs
Labels: iroha2

#3404 [fix] #3402: Fix nightly build
  data_model/Cargo.toml
  data_model/src/account.rs
  data_model/src/domain.rs
  data_model/src/events/data/mod.rs
  data_model/src/expression.rs
  data_model/src/lib.rs
Labels: Bug, iroha2, build, LTS

#3389 [feature] #2547: Add logo to `AssetDefinition`
  configs/peer/genesis.json
  core/src/smartcontracts/isi/asset.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/ipfs.rs
  data_model/src/lib.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  tools/parity_scale_decoder/src/main.rs
Labels: Enhancement, iroha2

#3409 [refactor]: rename permission validator into validator
  README.md
  cli/build.rs
  cli/src/samples.rs
  client/src/client.rs
  client/tests/integration/smartcontracts/validator_with_admin/src/lib.rs
  client/tests/integration/upgrade.rs
  configs/peer/genesis.json
  core/src/lib.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/tx.rs
  core/src/validator.rs
  core/src/wsv.rs
  data_model/src/domain.rs
  data_model/src/events/data/events.rs
  data_model/src/lib.rs
  data_model/src/permission.rs
  data_model/src/permission/mod.rs
  data_model/src/query.rs
  data_model/src/validator.rs
  default_validator/src/isi/permission_token.rs
  default_validator/src/isi/role.rs
  default_validator/src/lib.rs
  docs/source/references/schema.json
  genesis/src/lib.rs
  schema/gen/src/lib.rs
  tools/kagami/src/main.rs
  tools/parity_scale_decoder/src/main.rs
  wasm/src/lib.rs
  wasm/validator/derive/src/entrypoint.rs
  wasm/validator/derive/src/lib.rs
  wasm/validator/derive/src/token.rs
  wasm/validator/derive/src/validate.rs
  wasm/validator/src/lib.rs
  wasm_builder/src/lib.rs
Labels: iroha2

#3419 [refactor] #3388: Make`model!` a module-level attribute macro
  configs/peer/genesis.json
  crypto/src/hash.rs
  data_model/derive/Cargo.toml
  data_model/derive/src/filter.rs
  data_model/derive/src/lib.rs
  data_model/derive/src/model.rs
  data_model/derive/tests/ui_fail/transparent_api_private_item.stderr
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/block.rs
  data_model/src/domain.rs
  data_model/src/evaluate.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/filters.rs
  data_model/src/events/execute_trigger.rs
  data_model/src/events/mod.rs
  data_model/src/events/pipeline.rs
  data_model/src/events/time.rs
  data_model/src/expression.rs
  data_model/src/ipfs.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/name.rs
  data_model/src/pagination.rs
  data_model/src/peer.rs
  data_model/src/permission.rs
  data_model/src/query.rs
  data_model/src/role.rs
  data_model/src/sorting.rs
  data_model/src/transaction.rs
  data_model/src/trigger.rs
  data_model/src/validator.rs
  p2p/tests/integration/p2p.rs
  version/derive/src/lib.rs
Labels: iroha2, Refactor, macros
