Repository hyperledger-iroha/iroha, pull requests merged in 2023-12, with the labels that each got.

#4081 [refactor] #4080: Export data model through iroha_client
  Cargo.lock
  client/benches/torii.rs
  client/benches/tps/utils.rs
  client/examples/million_accounts_genesis.rs
  client/examples/tutorial.rs
  client/src/client.rs
  client/src/http.rs
  client/src/lib.rs
  client/src/query_builder.rs
  client/tests/integration/add_account.rs
  client/tests/integration/add_domain.rs
  client/tests/integration/asset.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/connected_peers.rs
  client/tests/integration/domain_owner.rs
  client/tests/integration/events/data.rs
  client/tests/integration/events/notification.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/multiple_blocks_created.rs
  client/tests/integration/multisignature_account.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/non_mintable.rs
  client/tests/integration/offline_peers.rs
  client/tests/integration/pagination.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/account.rs
  client/tests/integration/queries/asset.rs
  client/tests/integration/queries/mod.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/query_errors.rs
  client/tests/integration/restart_peer.rs
  client/tests/integration/roles.rs
  client/tests/integration/set_parameter.rs
  client/tests/integration/sorting.rs
  client/tests/integration/transfer_asset.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/data_trigger.rs
  client/tests/integration/triggers/event_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/tx_history.rs
  client/tests/integration/tx_rollback.rs
  client/tests/integration/unregister_peer.rs
  client/tests/integration/unstable_network.rs
  client/tests/integration/upgrade.rs
  client_cli/Cargo.toml
  client_cli/README.md
  client_cli/src/main.rs
  core/test_network/src/lib.rs
  data_model/Cargo.toml
  smart_contract/executor/Cargo.toml
  smart_contract/executor/derive/Cargo.toml
  smart_contract/executor/derive/src/lib.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/lib.rs
  smart_contract/trigger/Cargo.toml
  smart_contract/trigger/src/lib.rs
Labels: iroha2

#4108 [BACKPORT]: replace test_env.sh with test_env.py in CI
  .github/workflows/iroha2-release-pr.yml
Labels: iroha2

#4114 [fix] #4099: Fix of the websocket request builder
  client/src/http_default.rs
Labels: iroha2

#4113 [BACKPORT] #4099: Fix of the websocket request builder
  client/src/http_default.rs
Labels: iroha2

#4122 [fix] #4120: Do not use the `tungstenite` re-exported from `tokio_tungstenite`
  Cargo.lock
  Cargo.toml
  client/Cargo.toml
  client/src/http_default.rs
Labels: iroha2

#4129 [refactor]: apply most recent clippy suggestions
  cli/src/lib.rs
  client/tests/integration/transfer_asset.rs
  config/base/derive/src/utils.rs
  config/base/tests/simple.rs
  config/src/iroha.rs
  configs/peer/executor.wasm
  core/benches/blocks/apply_blocks.rs
  core/src/block_sync.rs
  core/src/gossiper.rs
  core/src/kura.rs
  core/src/query/cursor.rs
  core/src/query/store.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/smartcontracts/wasm.rs
  core/src/snapshot.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  crypto/src/lib.rs
  crypto/src/signature/bls/implementation.rs
  crypto/src/signature/ed25519.rs
  crypto/src/signature/secp256k1.rs
  data_model/derive/tests/partial_tagged_serde_self.rs
  data_model/src/events/pipeline.rs
  data_model/src/lib.rs
  data_model/src/predicate.rs
  data_model/src/smart_contract.rs
  ffi/src/lib.rs
  ffi/src/repr_c.rs
  ffi/src/slice.rs
  genesis/src/lib.rs
  primitives/src/cmpext.rs
  primitives/src/unique_vec.rs
  smart_contract/executor/derive/src/entrypoint.rs
  smart_contract/executor/src/lib.rs
  smart_contract/src/lib.rs
  telemetry/src/ws.rs
  tools/kagami/src/genesis.rs
  tools/wasm_test_runner/src/main.rs
Labels: iroha2

#4096 [fix] #4090 #3858: Fix having to pass IROHA_SKIP_WASM_CHECKS env variable with true
  .github/workflows/iroha2-dev-pr-static.yml
  cli/build.rs
  client/build.rs
  flake.nix
  tools/wasm_builder_cli/src/main.rs
  wasm_builder/src/lib.rs
Labels: iroha2

#4100 [fix] #4030, #4063, #4064, #4079: re-architect logger and dynamic configuration
  CONTRIBUTING.md
  Cargo.lock
  README.md
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/style.rs
  cli/src/torii/mod.rs
  cli/src/torii/routing.rs
  client/benches/torii.rs
  client/benches/tps/oneshot.rs
  client/src/client.rs
  client/tests/integration/config.rs
  client/tests/integration/unstable_network.rs
  config/Cargo.toml
  config/base/src/lib.rs
  config/base/src/runtime_upgrades.rs
  config/iroha_test_config.json
  config/src/client_api.rs
  config/src/iroha.rs
  config/src/kura.rs
  config/src/lib.rs
  config/src/logger.rs
  config/src/telemetry.rs
  configs/peer/config.json
  core/benches/blocks/apply_blocks_oneshot.rs
  core/benches/blocks/validate_blocks_oneshot.rs
  core/benches/kura.rs
  core/src/kiso.rs
  core/src/kura.rs
  core/src/lib.rs
  core/test_network/src/lib.rs
  docs/source/references/config.md
  futures/src/lib.rs
  futures/tests/basic.rs
  logger/Cargo.toml
  logger/src/actor.rs
  logger/src/layer.rs
  logger/src/lib.rs
  logger/src/telemetry.rs
  logger/tests/configuration.rs
  logger/tests/setting_logger.rs
  logger/tests/telemetry.rs
  p2p/tests/integration/p2p.rs
  scripts/test_env.py
  telemetry/Cargo.toml
  telemetry/src/dev.rs
  telemetry/src/futures.rs
  telemetry/src/ws.rs
Labels: Enhancement, iroha2, api-changes, config-changes, Refactor

#4135 [BACKPORT] #4090 #3858: Fix having to pass IROHA_SKIP_WASM_CHECKS env variable with true
  .github/workflows/iroha2-dev-pr-static.yml
  cli/build.rs
  client/build.rs
  flake.nix
  tools/wasm_builder_cli/src/main.rs
  wasm_builder/src/lib.rs
Labels: iroha2

#4138 [BACKPORT] #0000: On-chain predictable iteration order
  Cargo.lock
  core/Cargo.toml
  core/clippy.toml
  core/src/block_sync.rs
  core/src/lib.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/sumeragi/view_change.rs
  core/src/wsv.rs
  data_model/clippy.toml
Labels: iroha2

#4127 [documentation]: remove auto-generated configuration reference
  .github/workflows/iroha2-dev-pr-label.yml
  .github/workflows/iroha2-dev-pr.yml
  CONTRIBUTING.md
  README.md
  cli/README.md
  config/base/derive/src/documented.rs
  config/base/derive/src/lib.rs
  config/base/derive/src/proxy.rs
  config/base/src/lib.rs
  config/base/tests/simple.rs
  config/src/block_sync.rs
  config/src/client.rs
  config/src/genesis.rs
  config/src/iroha.rs
  config/src/kura.rs
  config/src/live_query_store.rs
  config/src/logger.rs
  config/src/network.rs
  config/src/queue.rs
  config/src/snapshot.rs
  config/src/sumeragi.rs
  config/src/telemetry.rs
  config/src/torii.rs
  config/src/wasm.rs
  config/src/wsv.rs
  docs/README.md
  docs/source/references/config.md
  hooks/pre-commit.sample
  scripts/tests/consistency.sh
  tools/kagami/src/docs.rs
  tools/kagami/src/main.rs
Labels: iroha2, Documentation, config-changes

#4149 [refactor]: Export iroha_crypto through iroha_client
  Cargo.lock
  client/benches/torii.rs
  client/benches/tps/utils.rs
  client/examples/tutorial.rs
  client/src/client.rs
  client/src/lib.rs
  client/tests/integration/asset.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/domain_owner.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/multiple_blocks_created.rs
  client/tests/integration/multisignature_account.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/asset.rs
  client/tests/integration/roles.rs
  client/tests/integration/transfer_asset.rs
  client/tests/integration/unregister_peer.rs
  client/tests/integration/upgrade.rs
  client_cli/Cargo.toml
  smart_contract/executor/derive/src/validate.rs
Labels: iroha2

#4147 [refactor]: Export iroha_config through iroha_client
  Cargo.lock
  client/examples/tutorial.rs
  client/src/client.rs
  client/src/lib.rs
  client/tests/integration/add_account.rs
  client/tests/integration/add_domain.rs
  client/tests/integration/asset.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/connected_peers.rs
  client/tests/integration/events/mod.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/mod.rs
  client/tests/integration/multiple_blocks_created.rs
  client/tests/integration/multisignature_account.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/restart_peer.rs
  client/tests/integration/tx_history.rs
  client/tests/integration/unregister_peer.rs
  client/tests/integration/unstable_network.rs
  client_cli/Cargo.toml
  client_cli/src/main.rs
Labels: iroha2

#4142 [fix] #4140: Fix registration of new peer
  client/benches/tps/utils.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/config.rs
  client/tests/integration/connected_peers.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/multiple_blocks_created.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/offline_peers.rs
  client/tests/integration/restart_peer.rs
  client/tests/integration/triggers/trigger_rollback.rs
  client/tests/integration/unregister_peer.rs
  client/tests/integration/unstable_network.rs
  config/src/iroha.rs
  config/src/sumeragi.rs
  core/src/block.rs
  core/src/gossiper.rs
  core/src/kiso.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  docker-compose.dev.local.yml
  docker-compose.dev.single.yml
  docker-compose.dev.yml
  docker-compose.single.yml
  docker-compose.stable.single.yml
  docker-compose.stable.yml
  docker-compose.yml
  p2p/src/network.rs
  smart_contract/executor/derive/src/validate.rs
  smart_contract/src/lib.rs
  telemetry/src/metrics.rs
  tools/swarm/src/compose.rs
Labels: iroha2

#4146 [BACKPORT] #4080: Export iroha_data_model, iroha_config, iroha_crypto through iroha_client (#4081)
  Cargo.lock
  client/benches/torii.rs
  client/benches/tps/utils.rs
  client/examples/million_accounts_genesis.rs
  client/examples/tutorial.rs
  client/src/client.rs
  client/src/http.rs
  client/src/lib.rs
  client/tests/integration/add_account.rs
  client/tests/integration/add_domain.rs
  client/tests/integration/asset.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/config.rs
  client/tests/integration/connected_peers.rs
  client/tests/integration/domain_owner.rs
  client/tests/integration/events/data.rs
  client/tests/integration/events/mod.rs
  client/tests/integration/events/notification.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/mod.rs
  client/tests/integration/multiple_blocks_created.rs
  client/tests/integration/multisignature_account.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/non_mintable.rs
  client/tests/integration/offline_peers.rs
  client/tests/integration/pagination.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/account.rs
  client/tests/integration/queries/asset.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/query_errors.rs
  client/tests/integration/restart_peer.rs
  client/tests/integration/roles.rs
  client/tests/integration/set_parameter.rs
  client/tests/integration/sorting.rs
  client/tests/integration/transfer_asset.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/data_trigger.rs
  client/tests/integration/triggers/event_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/triggers/trigger_rollback.rs
  client/tests/integration/tx_history.rs
  client/tests/integration/tx_rollback.rs
  client/tests/integration/unregister_peer.rs
  client/tests/integration/unstable_network.rs
  client/tests/integration/upgrade.rs
  client_cli/Cargo.toml
  client_cli/README.md
  client_cli/src/main.rs
  core/test_network/src/lib.rs
  data_model/Cargo.toml
  smart_contract/executor/Cargo.toml
  smart_contract/executor/derive/Cargo.toml
  smart_contract/executor/derive/src/lib.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/lib.rs
  smart_contract/src/lib.rs
  smart_contract/trigger/Cargo.toml
  smart_contract/trigger/src/lib.rs
Labels: iroha2

#4139 [refactor]: split `iroha_torii` from `iroha`
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/lib.rs
  cli/src/torii/mod.rs
  torii/Cargo.toml
  torii/macro/Cargo.toml
  torii/macro/src/lib.rs
  torii/src/event.rs
  torii/src/lib.rs
  torii/src/routing.rs
  torii/src/stream.rs
  torii/src/utils.rs
Labels: iroha2, Refactor, Chore

#4148 [ci]: Use default settings for Coveralls action
  .github/workflows/iroha2-dev-pr.yml
Labels: iroha2, CI

#4153 [refactor] #4029, #4105, #4136: refactor CLIs
  Cargo.lock
  README.md
  cli/Cargo.toml
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/samples.rs
  cli/src/style.rs
  client/benches/torii.rs
  client/examples/million_accounts_genesis.rs
  client/tests/integration/permissions.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client_cli/Cargo.toml
  client_cli/pytests/common/consts.py
  client_cli/src/main.rs
  config/Cargo.toml
  config/iroha_test_config.json
  config/src/genesis.rs
  config/src/iroha.rs
  config/src/kura.rs
  config/src/path.rs
  config/src/snapshot.rs
  configs/peer/config.json
  core/src/snapshot.rs
  core/src/sumeragi/main_loop.rs
  core/test_network/src/lib.rs
  docker-compose.dev.local.yml
  docker-compose.dev.single.yml
  docker-compose.dev.yml
  genesis/Cargo.toml
  genesis/src/lib.rs
  scripts/test_env.py
  tools/kagami/src/config.rs
  tools/swarm/src/cli.rs
  tools/swarm/src/compose.rs
  torii/src/lib.rs
Labels: iroha2, Documentation, api-changes, config-changes, Refactor, UI

#4165 [fix] #4164: Fix topology update on restart
  core/src/sumeragi/mod.rs
Labels: iroha2

#4169 [BACKPORT] #4164: Fix topology update on restart
  client/tests/integration/offline_peers.rs
  core/src/sumeragi/mod.rs
Labels: Bug, iroha2

#4160 [BACKPORT] #4133: Count identical wasm for triggers
  client/tests/integration/triggers/by_call_trigger.rs
  core/src/smartcontracts/isi/triggers/set.rs
Labels: Bug, iroha2

#4159 [fix] #4133: Count identical wasm for triggers
  client/tests/integration/triggers/by_call_trigger.rs
  core/src/smartcontracts/isi/triggers/set.rs
Labels: Bug, iroha2

#4171 [fix] #4155: ensure the secp256k1 signatures coming out of OpenSSL are normalized
  crypto/src/signature/secp256k1.rs
Labels: iroha2

#4170 [refactor] #3068: remove flattened events
  client/tests/integration/events/data.rs
  client/tests/integration/triggers/data_trigger.rs
  client/tests/integration/triggers/event_trigger.rs
  configs/peer/executor.wasm
  core/src/smartcontracts/isi/domain.rs
  core/src/wsv.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/filters.rs
  docs/source/references/schema.json
  tools/parity_scale_decoder/build.rs
  tools/parity_scale_decoder/samples/trigger.bin
  tools/parity_scale_decoder/samples/trigger.json
  tools/parity_scale_decoder/src/main.rs
Labels: iroha2

#4172 [fix] #0000: Use free port in test
  client/tests/integration/restart_peer.rs
Labels: iroha2

#4178 [fix] #0000: Fix smart contract debug print
  smart_contract/Cargo.toml
  smart_contract/src/lib.rs
  smart_contract/utils/Cargo.toml
  smart_contract/utils/src/debug.rs
Labels: Bug, iroha2

#4179 [BACKPORT]: Fix smart contract debug print
  smart_contract/Cargo.toml
  smart_contract/utils/Cargo.toml
  smart_contract/utils/src/debug.rs
Labels: Bug, iroha2
