Repository hyperledger-iroha/iroha, pull requests merged in 2023-10, with the labels that each got.

#3938 [fix] #3939: Fix the usage of `Span::join`
  ffi/derive/src/attr_parse/getset.rs
  ffi/derive/src/attr_parse/repr.rs
  ffi/derive/src/convert.rs
Labels: iroha2

#3818 [ci] #3768: add client cli tests into CI
  .github/workflows/iroha2-dev-pr.yml
  Dockerfile.build
  scripts/tests/consistency.sh
Labels: iroha2

#3949 [refactor]: move expression len out of public API into core
  core/src/tx.rs
  data_model/src/evaluate.rs
Labels: iroha2

#3957 [BACKPORT] #3995: Fix wasm cache directory permission bug in docker image
  Dockerfile
  Dockerfile.glibc
  docker-compose.stable.yml
Labels: Bug, iroha2

#3956 [refactor] #3950: Merge API and Telemetry endpoints into a single server
  cli/src/samples.rs
  cli/src/torii/routing.rs
  client/src/client.rs
  client/src/lib.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/connected_peers.rs
  client/tests/integration/multiple_blocks_created.rs
  client/tests/integration/multisignature_account.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/restart_peer.rs
  client/tests/integration/unstable_network.rs
  config/iroha_test_config.json
  config/src/client.rs
  config/src/torii.rs
  configs/client/config.json
  configs/peer/config.json
  core/test_network/src/lib.rs
  docker-compose.dev.local.yml
  docker-compose.dev.single.yml
  docker-compose.dev.yml
  docs/source/references/config.md
  scripts/test_env.py
  scripts/tests/panic_on_invalid_genesis.sh
  tools/kagami/src/config.rs
  tools/kagami/src/docs.rs
  tools/swarm/src/compose.rs
Labels: iroha2

#3979 [refactor] #3874: Remove `IsAssetDefinitionOwner`
  configs/peer/validator.wasm
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/query.rs
  data_model/derive/src/filter.rs
  data_model/derive/src/has_origin.rs
  data_model/derive/src/lib.rs
  data_model/src/lib.rs
  data_model/src/query/mod.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  ffi/derive/src/attr_parse/derive.rs
  ffi/derive/src/attr_parse/getset.rs
  ffi/derive/src/attr_parse/repr.rs
  ffi/derive/src/convert.rs
  schema/gen/src/lib.rs
Labels: iroha2

#3968 [docs]: Remove `api_spec.md`
  .github/workflows/iroha2-dev-pr-label.yml
  README.md
  docs/README.md
  docs/source/iroha_2_whitepaper.md
  docs/source/references/api_spec.md
Labels: iroha2

#3990 [fix] #0000: Fix executor downloading in update_configs.sh
  scripts/update_configs.sh
Labels: Bug, iroha2, CI

#3989 [BACKPORT] #3966: Copy validator.wasm for stable and fix bin path
  Dockerfile
  configs/peer/stable/validator.wasm
  scripts/update_configs.sh
Labels: Bug, iroha2

#3993 [bump]: Bump Iroha version to RC20
  CHANGELOG.rst
  Cargo.toml
  client/tests/integration/smartcontracts/Cargo.toml
  default_executor/Cargo.toml
  wasm_codec/Cargo.toml
Labels: iroha2

#4010 [fix]: #3898: Make `scripts/test_env.py` stop peers when aborting
  Cargo.lock
  scripts/test_env.py
Labels: iroha2

#4007 [feature] #3237: Expose cargo's output in wasm_builder_cli to have build progress information
  tools/wasm_builder_cli/Cargo.toml
  tools/wasm_builder_cli/src/main.rs
  wasm_builder/src/lib.rs
Labels: iroha2

#3977 Repairing MacOs build on develop
  .github/build-iroha1.src.yml
  .github/chatops-gen-matrix.sh
  .github/workflows/build-iroha1.yml
  iroha-lib/examples/CMakeLists.txt
  vcpkg/patches/0014-gtest-remove-werror-compile-flag.patch
Labels: 1.x, build, 1.5

#3998 [ci] #3578: Add client cli tests into stable workflow
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-release-pr.yml
  Dockerfile.build
  Dockerfile.build.glibc
  scripts/tests/genesis.sh
  scripts/tests/register_mint_quantity.sh
Labels: iroha2

#4011 [fix] #3995: Fix topology mismatch
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
Labels: Bug, iroha2, Consensus

#4015 [fix] #4014: Use method(not field) access in client
  client/src/client.rs
  client_cli/src/main.rs
  data_model/src/query/mod.rs
  tools/kagami/src/main.rs
Labels: iroha2

#3940 [refactor] #3640: place permission tokens in a separate module
  client/tests/integration/smartcontracts/executor_with_custom_token/src/lib.rs
  configs/peer/executor.wasm
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/default/tokens.rs
  smart_contract/executor/src/lib.rs
Labels: iroha2

#4013 [refactor]: Optimize executor
  client/tests/integration/smartcontracts/executor_with_admin/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_custom_token/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_migration_fail/src/lib.rs
  configs/peer/executor.wasm
  core/benches/blocks/apply_blocks.rs
  core/benches/blocks/apply_blocks_benchmark.rs
  core/benches/blocks/apply_blocks_oneshot.rs
  core/benches/blocks/common.rs
  core/benches/blocks/validate_blocks.rs
  core/src/query/store.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/wsv.rs
  default_executor/src/lib.rs
  smart_contract/derive/src/entrypoint.rs
  smart_contract/executor/derive/src/entrypoint.rs
  smart_contract/trigger/derive/src/entrypoint.rs
Labels: iroha2, Refactor, Optimization
