Repository hyperledger-iroha/iroha, pull requests merged in 2023-05, with the labels that each got.

#3434 [feature] #3168: Provide genesis validator in separate file
  Cargo.lock
  cli/src/samples.rs
  client/tests/integration/events/data.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/upgrade.rs
  client_cli/src/main.rs
  configs/peer/genesis.json
  configs/peer/validator.wasm
  core/test_network/Cargo.toml
  core/test_network/src/lib.rs
  data_model/src/transaction.rs
  docs/source/references/schema.json
  genesis/src/lib.rs
  scripts/check.sh
  scripts/test_env.sh
  tools/kagami/README.md
  tools/kagami/src/main.rs
Labels: iroha2

#3449 [fix] #3408: Fix `public_keys_cannot_be_burned_to_nothing` test
  client/tests/integration/burn_public_keys.rs
  core/src/queue.rs
  core/src/sumeragi/main_loop.rs
  primitives/src/riffle_iter.rs
Labels: iroha2, Tests

#3442 [refactor]: Remove `AssetDefinitionEntry`
  cli/src/lib.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/wsv.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
Labels: iroha2, Refactor

#3425 [fix] #3411: Properly handle peers simultaneous connection
  p2p/src/lib.rs
  p2p/src/network.rs
  p2p/src/peer.rs
  p2p/tests/integration/p2p.rs
Labels: Bug, iroha2

#3459 [refactor]: Rename 'configs/client_cli' into 'configs/client'
  .github/workflows/iroha2-dev-pr.yml
  README.md
  client/examples/tutorial.rs
  config/src/client.rs
  configs/client/config.json
  scripts/check.sh
  scripts/test_env.sh
Labels: iroha2

#3426 [feature] #3415: Nix flake
  Cargo.lock
  cli/Cargo.toml
  cli/build.rs
  client/Cargo.toml
  client/build.rs
  client_cli/Cargo.toml
  client_cli/build.rs
  flake.lock
  flake.nix
  telemetry/Cargo.toml
  telemetry/build.rs
  telemetry/src/ws.rs
Labels: iroha2

#3306 [fix] #3249: Split block hashes into partial and complete versions.
  core/src/block.rs
  core/src/block_sync.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  crypto/src/signature.rs
  data_model/src/block.rs
  data_model/src/peer.rs
Labels: iroha2

#3373 [feature] #1786: Add iroha-native types for socket addresses
  Cargo.lock
  cli/src/samples.rs
  client/Cargo.toml
  client/benches/torii.rs
  client/src/client.rs
  client/src/http.rs
  client/src/http_default.rs
  client/src/lib.rs
  client/tests/integration/multisignature_transaction.rs
  client_cli/Cargo.toml
  client_cli/src/main.rs
  config/src/client.rs
  config/src/torii.rs
  configs/client/config.json
  configs/peer/validator.wasm
  core/test_network/src/lib.rs
  crypto/Cargo.toml
  data_model/Cargo.toml
  data_model/src/peer.rs
  data_model/src/predicate.rs
  docs/source/references/config.md
  docs/source/references/schema.json
  p2p/Cargo.toml
  p2p/src/network.rs
  p2p/src/peer.rs
  p2p/tests/integration/p2p.rs
  primitives/Cargo.toml
  primitives/src/addr.rs
  tools/kagami/src/main.rs
Labels: iroha2

#3455 [feature] #3454: make LTS the default
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
  cli/src/main.rs
  configs/peer/legacy_stable/genesis.json
  configs/peer/lts/config.json
  configs/peer/lts/genesis.json
  configs/peer/stable/config.json
  configs/peer/stable/genesis.json
  configs/peer/update_legacy_configs.sh
  docker-compose.dev.local.yml
  docker-compose.dev.yml
  docker-compose.single.yml
  docker-compose.stable.single.yml
  docker-compose.stable.yml
  docker-compose.yml
  scripts/update_configs.sh
Labels: iroha2

#3486 [refactor] #3363: Genesis API
  Cargo.lock
  cli/src/torii/routing.rs
  core/Cargo.toml
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/gossiper.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  data_model/Cargo.toml
  data_model/src/transaction.rs
  genesis/src/lib.rs
Labels: iroha2

#3489 [fix] #3487: Return missing types into the schema
  configs/peer/validator.wasm
  crypto/src/merkle.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
Labels: Bug, iroha2

#3497 [fix] #3496: Fix `SocketAddr` field parsing
  config/src/torii.rs
  primitives/src/addr.rs
Labels: Bug, iroha2

#3493 [refactor]: Refactor and add tests for topology
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/network_topology.rs
  primitives/src/addr.rs
Labels: iroha2, Refactor

#3513 [ci]: Switch from Codecov to Coveralls coverage
  .github/workflows/iroha2-dev-pr.yml
  codecov.yml
Labels: iroha2, CI

#3534 [feature] #3533: Rename `Bool` to `bool` in schema
  docs/source/references/schema.json
  schema/src/lib.rs
  schema/tests/enum_with_default_discriminants.rs
  schema/tests/struct_with_generic_bounds.rs
Labels: iroha2

#3538 [fix] #3075: Panic on invalid tx in genesis.
  core/src/sumeragi/main_loop.rs
Labels: iroha2

#3537 [ci]: Bump to RC16
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  client/Cargo.toml
  client/tests/integration/smartcontracts/Cargo.toml
  client_cli/Cargo.toml
  config/Cargo.toml
  config/base/Cargo.toml
  config/base/derive/Cargo.toml
  core/Cargo.toml
  core/test_network/Cargo.toml
  crypto/Cargo.toml
  data_model/Cargo.toml
  data_model/derive/Cargo.toml
  default_validator/Cargo.toml
  derive_primitives/Cargo.toml
  ffi/Cargo.toml
  ffi/derive/Cargo.toml
  futures/Cargo.toml
  genesis/Cargo.toml
  logger/Cargo.toml
  macro/Cargo.toml
  macro/derive/Cargo.toml
  p2p/Cargo.toml
  primitives/Cargo.toml
  schema/Cargo.toml
  schema/derive/Cargo.toml
  schema/gen/Cargo.toml
  telemetry/Cargo.toml
  telemetry/derive/Cargo.toml
  tools/kagami/Cargo.toml
  tools/parity_scale_decoder/Cargo.toml
  version/Cargo.toml
  version/derive/Cargo.toml
  wasm/Cargo.toml
  wasm/validator/Cargo.toml
Labels: iroha2

#3549 [fix] #3548: Fix IntoSchema transparent attribute
  configs/peer/validator.wasm
  crypto/src/signature.rs
  data_model/src/lib.rs
  docs/source/references/schema.json
  genesis/src/lib.rs
  schema/derive/src/lib.rs
Labels: Bug, iroha2, api-changes
