Repository hyperledger-iroha/iroha, pull requests merged in 2023-07, with the labels that each got.

#3667 [refactor]: reject incorrect config topology early
  cli/src/main.rs
  core/src/sumeragi/main_loop.rs
Labels: iroha2

#3661 [feature] #3236: Enhance iroha_wasm_builder with cache, better errors and minor API changes
  Cargo.lock
  cli/src/samples.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/upgrade.rs
  configs/peer/validator.wasm
  data_model/src/block.rs
  tools/kagami/Cargo.toml
  tools/kagami/src/main.rs
  wasm_builder/Cargo.toml
  wasm_builder/src/lib.rs
Labels: iroha2, Optimization

#3683 [refactor] #3672: Replace HashMap with FxHashMap in derive macros
  Cargo.lock
  ffi/derive/Cargo.toml
  ffi/derive/src/util.rs
  version/derive/Cargo.toml
  version/derive/src/lib.rs
Labels: iroha2

#3678 [chore]: add @DCNick3 to the CODEOWNERS
  .github/CODEOWNERS
Labels: iroha2

#3676 [ci]: update dependabot
  .github/dependabot.yml
Labels: iroha2

#3684 [ci]: add non-workspace projects to dependabot
  .github/dependabot.yml
Labels: iroha2

#3669 [ci] #3648: include `docker-compose.*.yml` check
  .github/workflows/iroha2-dev-pr.yml
  docker-compose.dev.local.yml
  docker-compose.dev.single.yml
  docker-compose.dev.yml
  scripts/check.sh
Labels: Enhancement, iroha2, CI

#3652 [fix] #3352: Split up control flow and data messages
  core/src/block_sync.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/mod.rs
Labels: iroha2

#3689 [refactor]: Include the actual error message in InternalError
  core/src/validator.rs
Labels: iroha2

#3694 [bump]: Rust toolchain and CI container to `nightly-2023-06-25`
  .github/workflows/iroha2-ci-image.yml
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-ui.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release-pr.yml
  .github/workflows/iroha2-release.yml
  Dockerfile
  Dockerfile.build
  wasm_builder/src/lib.rs
Labels: iroha2

#3691 [fix] #3690: Fix C++ musl docker build
  .dockerignore
  Cargo.lock
  Dockerfile
  client/benches/tps/utils.rs
  configs/peer/validator.wasm
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/tx.rs
  core/src/wsv.rs
  crypto/src/merkle.rs
  crypto/src/signature.rs
  data_model/src/expression.rs
  data_model/src/lib.rs
  data_model/src/query.rs
  lints.toml
  macro/src/lib.rs
  primitives/src/conststr.rs
  wasm/src/lib.rs
  wasm/validator/src/permission.rs
  wasm_builder/Cargo.toml
Labels: Bug, iroha2, build, high-priority

#3699 [ci]: Remove i2 PR-build trigger
  .github/workflows/iroha2-dev.yml
  Dockerfile.build
Labels: iroha2, CI

#3610 [fix] #3473: Make `kagami validator` runnable from outside `iroha` dir
  Cargo.lock
  tools/kagami/Cargo.toml
  tools/kagami/src/config.rs
  tools/kagami/src/crypto.rs
  tools/kagami/src/docs.rs
  tools/kagami/src/genesis.rs
  tools/kagami/src/main.rs
  tools/kagami/src/schema.rs
  tools/kagami/src/swarm.rs
  tools/kagami/src/validator.rs
  wasm_builder/Cargo.toml
  wasm_builder/src/lib.rs
Labels: Bug, iroha2

#3703 [fix] #3613: Do not tolerate invalid signatures on transactions
  data_model/src/transaction.rs
Labels: iroha2

#3706 [ci]: Trigger iroha2 PR-build only for PR-generator case
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
Labels: iroha2, CI

#3711 [ci] #3654: Add Dockerfiles to build iroha2 on GNU libc
  Dockerfile.build.glibc
  Dockerfile.glibc
Labels: iroha2, CI

#3708 [refactor] #3289: Use workspace inheritance
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  client/Cargo.toml
  client_cli/Cargo.toml
  config/Cargo.toml
  config/base/Cargo.toml
  config/base/derive/Cargo.toml
  core/Cargo.toml
  core/test_network/Cargo.toml
  crypto/Cargo.toml
  data_model/Cargo.toml
  data_model/derive/Cargo.toml
  derive_primitives/Cargo.toml
  ffi/Cargo.toml
  ffi/derive/Cargo.toml
  futures/Cargo.toml
  futures/derive/Cargo.toml
  genesis/Cargo.toml
  logger/Cargo.toml
  macro/Cargo.toml
  macro/derive/Cargo.toml
  macro/utils/Cargo.toml
  p2p/Cargo.toml
  primitives/Cargo.toml
  primitives/derive/Cargo.toml
  schema/Cargo.toml
  schema/derive/Cargo.toml
  schema/gen/Cargo.toml
  telemetry/Cargo.toml
  telemetry/derive/Cargo.toml
  tools/kagami/Cargo.toml
  tools/kura_inspector/Cargo.toml
  tools/parity_scale_decoder/Cargo.toml
  version/Cargo.toml
  version/derive/Cargo.toml
  wasm_builder/Cargo.toml
  wasm_codec/Cargo.toml
  wasm_codec/derive/Cargo.toml
Labels: iroha2

#3685 [refactor]: move instruction len from data_model into core
  client/src/client.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/query_errors.rs
  client/tests/integration/triggers/by_call_trigger.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/world.rs
  core/src/tx.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  data_model/derive/src/model.rs
  data_model/src/isi.rs
  data_model/src/name.rs
  data_model/src/query.rs
  data_model/src/transaction.rs
  data_model/src/visit.rs
  wasm/src/lib.rs
  wasm_codec/derive/src/lib.rs
Labels: iroha2

#3735 [fix] #3445: make `POST configuration` work again
  cli/src/torii/routing.rs
Labels: iroha2

#3625 [feature] #3624: General purpose permission tokens
  Cargo.lock
  cli/src/torii/routing.rs
  client/benches/tps/utils.rs
  client/src/client.rs
  client/tests/integration/asset.rs
  client/tests/integration/events/data.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/roles.rs
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/mint_rose/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_admin/Cargo.toml
  client/tests/integration/smartcontracts/validator_with_admin/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_custom_token/Cargo.toml
  client/tests/integration/smartcontracts/validator_with_custom_token/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/upgrade.rs
  configs/peer/genesis.json
  configs/peer/validator.wasm
  core/src/lib.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/permissions.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/validator.rs
  core/src/wsv.rs
  core/test_network/Cargo.toml
  core/test_network/src/lib.rs
  data_model/derive/src/lib.rs
  data_model/derive/src/variant_discriminant.rs
  data_model/src/events/data/events.rs
  data_model/src/lib.rs
  data_model/src/permission.rs
  data_model/src/predicate.rs
  data_model/src/query.rs
  data_model/src/role.rs
  data_model/src/visit.rs
  default_validator/src/lib.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  schema/src/lib.rs
  tools/kagami/Cargo.toml
  tools/kagami/src/docs.rs
  tools/kagami/src/genesis.rs
  tools/parity_scale_decoder/samples/trigger.bin
  tools/parity_scale_decoder/src/main.rs
  wasm/derive/src/lib.rs
  wasm/src/lib.rs
  wasm/validator/Cargo.toml
  wasm/validator/derive/Cargo.toml
  wasm/validator/derive/src/entrypoint.rs
  wasm/validator/derive/src/lib.rs
  wasm/validator/derive/src/token.rs
  wasm/validator/derive/src/validate.rs
  wasm/validator/src/default.rs
  wasm/validator/src/lib.rs
  wasm/validator/src/permission.rs
Labels: iroha2

#3739 [ci] #3654: Fix iroha2 glibc-based Dockerfiles to be deployed
  Dockerfile
  Dockerfile.build.glibc
  Dockerfile.glibc
Labels: iroha2, CI

#3760 [fix] #3758: Individual crates build without errors
  client/src/client.rs
  configs/peer/validator.wasm
  data_model/src/lib.rs
  schema/gen/Cargo.toml
Labels: Bug, iroha2

#3747 [fix] #3451: Fix docker build on M1
  Dockerfile
  docker-compose.dev.local.yml
  docker-compose.dev.single.yml
  docker-compose.dev.yml
  tools/kagami/src/genesis.rs
  tools/kagami/src/swarm.rs
Labels: iroha2

#3723 [feature] #3371: Split validator entrypoint
  cli/src/torii/routing.rs
  client/tests/integration/smartcontracts/validator_with_admin/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_custom_token/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_migration_fail/src/lib.rs
  configs/peer/validator.wasm
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/tx.rs
  core/src/validator.rs
  core/src/wsv.rs
  data_model/src/lib.rs
  data_model/src/validator.rs
  default_validator/src/lib.rs
  wasm/derive/src/entrypoint.rs
  wasm/src/lib.rs
  wasm/validator/derive/src/entrypoint.rs
  wasm/validator/derive/src/lib.rs
Labels: Enhancement, iroha2
