Repository hyperledger-iroha/iroha, pull requests merged in 2023-09, with the labels that each got.

#3847 [fix] #3762: Fix `irrefutable_let_patterns` in the `#[model]` macro
  data_model/src/events/notification.rs
  macro/derive/src/lib.rs
Labels: iroha2

#3855 [fix] #3853: Compare permission token payload as JSON
  client/tests/integration/permissions.rs
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/validator_with_admin/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_custom_token/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_migration_fail/src/lib.rs
  client/tests/integration/upgrade.rs
  configs/peer/validator.wasm
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  data_model/derive/src/lib.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/permission.rs
  data_model/src/query/mod.rs
  data_model/src/visit.rs
  default_validator/Cargo.toml
  default_validator/src/lib.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  wasm/validator/Cargo.toml
  wasm/validator/derive/src/entrypoint.rs
  wasm/validator/derive/src/token.rs
  wasm/validator/src/default.rs
  wasm/validator/src/lib.rs
  wasm/validator/src/permission.rs
Labels: iroha2

#3852 Trying to fix sfinae problems by reverting vcpkg upgrade (Iroha 1)
  iroha-cli/main.cpp
  irohad/ametsuchi/impl/flat_file/flat_file.cpp
  irohad/ametsuchi/impl/rocksdb_common.hpp
  irohad/ametsuchi/impl/rocksdb_wsv_command.cpp
  irohad/iroha_wsv_diff/iroha_wsv_diff.cpp
  irohad/util/shepherd.cpp
  libs/common/to_string.hpp
  shared_model/backend/protobuf/impl/proto_block_json_converter.cpp
  shared_model/converters/protobuf/json_proto_converter.hpp
  test/tool/test_tool_iroha_wsv_diff.sh
  vcpkg/VCPKG_COMMIT_SHA
  vcpkg/patches/0002-Added-patch-to-enable-building-on-MacOS.patch
  vcpkg/patches/0002-rxcpp-from-master-2020-08-22.patch
  vcpkg/patches/0005-disable-prometheus-logs.patch
  vcpkg/patches/0006-prometheus-remove-self-metrics.patch
  vcpkg/patches/0007-repaired-ambiguous-template-usage.patch
  vcpkg/patches/0008-added-missing-standard-header-to-benchmark-library.patch
Labels: version bump, 1.x, build, config-changes, CI, 1.5, Dev defect

#3859 BACKPORT [fix] #3853: Compare permission token payload as JSON
  client/tests/integration/permissions.rs
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/validator_with_admin/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_custom_token/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_migration_fail/src/lib.rs
  client/tests/integration/upgrade.rs
  configs/peer/validator.wasm
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  data_model/derive/src/lib.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/permission.rs
  data_model/src/query/mod.rs
  data_model/src/visit.rs
  default_validator/Cargo.toml
  default_validator/src/lib.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  wasm/validator/Cargo.toml
  wasm/validator/derive/src/entrypoint.rs
  wasm/validator/derive/src/token.rs
  wasm/validator/src/default.rs
  wasm/validator/src/lib.rs
  wasm/validator/src/permission.rs
Labels: iroha2

#3841 [refactor] #3833, #2373, #3601: Split off Kagami
  Cargo.lock
  Cargo.toml
  default_validator/README.md
  scripts/check.sh
  tools/kagami/Cargo.toml
  tools/kagami/build.rs
  tools/kagami/src/genesis.rs
  tools/kagami/src/main.rs
  tools/kagami/src/swarm.rs
  tools/kagami/src/validator.rs
  tools/swarm/Cargo.toml
  tools/swarm/README.md
  tools/swarm/src/cli.rs
  tools/swarm/src/compose.rs
  tools/swarm/src/main.rs
  tools/swarm/src/ui.rs
  tools/swarm/src/util.rs
  tools/wasm_builder_cli/Cargo.toml
  tools/wasm_builder_cli/README.md
  tools/wasm_builder_cli/src/main.rs
  wasm_builder/src/lib.rs
Labels: iroha2

#3837 [refactor] #3574: make all numeric values serialize as string literals
  configs/peer/genesis.json
  configs/peer/validator.wasm
  data_model/Cargo.toml
  data_model/src/isi.rs
  data_model/src/numeric.rs
  tools/parity_scale_decoder/samples/trigger.json
Labels: iroha2

#3866 [fix] #3337: Better error message for query find error
  client/tests/integration/triggers/by_call_trigger.rs
  data_model/src/query/mod.rs
Labels: Bug, iroha2

#3876 [refactor] #3875: Fix authentication/authorization docstring
  client/src/client.rs
Labels: iroha2

#3872 [feature] #3868: Add iroha_swarm disclaimer header
  Cargo.lock
  docker-compose.dev.local.yml
  docker-compose.dev.single.yml
  docker-compose.dev.yml
  scripts/check.sh
  tools/swarm/src/cli.rs
  tools/swarm/src/compose.rs
  tools/swarm/src/main.rs
Labels: Enhancement, iroha2

#3894 [ci] #3849: Fix stable/lts configs pushing job
  .github/workflows/iroha2-release.yml
Labels: iroha2, CI

#3904 [ci] #3622: Use cargo manifest lints instead of unmaintained cargo-lints
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  Cargo.toml
  Dockerfile.build
  Dockerfile.build.glibc
  cli/Cargo.toml
  cli/derive/Cargo.toml
  client/Cargo.toml
  client_cli/Cargo.toml
  config/Cargo.toml
  config/base/Cargo.toml
  config/base/derive/Cargo.toml
  core/Cargo.toml
  crypto/Cargo.toml
  crypto/src/lib.rs
  data_model/Cargo.toml
  data_model/derive/Cargo.toml
  data_model/src/lib.rs
  dsl/Cargo.toml
  dsl/src/lib.rs
  ffi/Cargo.toml
  ffi/derive/Cargo.toml
  futures/Cargo.toml
  futures/derive/Cargo.toml
  genesis/Cargo.toml
  lints.toml
  logger/Cargo.toml
  macro/Cargo.toml
  macro/derive/Cargo.toml
  p2p/Cargo.toml
  primitives/Cargo.toml
  schema/Cargo.toml
  schema/derive/Cargo.toml
  schema/gen/Cargo.toml
  substrate/Cargo.toml
  telemetry/Cargo.toml
  telemetry/derive/Cargo.toml
  tools/kagami/Cargo.toml
  tools/kagami/src/main.rs
  tools/kura_inspector/Cargo.toml
  tools/parity_scale_decoder/Cargo.toml
  tools/swarm/Cargo.toml
  tools/swarm/src/main.rs
  tools/wasm_builder_cli/Cargo.toml
  tools/wasm_builder_cli/src/main.rs
  version/Cargo.toml
  version/derive/Cargo.toml
  wasm/Cargo.toml
  wasm/derive/Cargo.toml
  wasm/lints.toml
  wasm/trigger/Cargo.toml
  wasm/trigger/derive/Cargo.toml
  wasm/validator/Cargo.toml
  wasm/validator/derive/Cargo.toml
  wasm/validator/src/permission.rs
  wasm_builder/Cargo.toml
  wasm_codec/Cargo.toml
  wasm_codec/derive/Cargo.toml
Labels: iroha2

#3908 [fix]: `mkdir -r` with store path, not lock path
  core/src/kura.rs
Labels: Bug, iroha2

#3925 [refactor]: Replace Registered with Identifiable in ISI bounds
  data_model/src/isi.rs
Labels: iroha2

#3923 [feature]: parse filter as JSON5 in `iroha_client_cli`
  client_cli/README.md
  client_cli/src/main.rs
Labels: iroha2

#3907 [documentation]: Remove the develop-iroha-module guide
  docs/README.md
  docs/source/guides/develop-iroha-module.md
Labels: iroha2

#3903 [fix] #3899: Fix topology mismatch bug
  Cargo.lock
  cli/Cargo.toml
  cli/src/samples.rs
  client/benches/torii.rs
  client/examples/million_accounts_genesis.rs
  client/tests/integration/restart_peer.rs
  config/src/sumeragi.rs
  configs/peer/validator.wasm
  core/benches/blocks/common.rs
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/lib.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  crypto/src/signature.rs
  data_model/src/block.rs
  docs/source/references/schema.json
  primitives/src/lib.rs
  primitives/src/unique_vec.rs
  scripts/test_env.py
Labels: Bug, iroha2

#3915 [refactor] #3911: Migrate `iroha_futures_derive` to syn 2.0
  Cargo.lock
  crypto/src/lib.rs
  futures/derive/Cargo.toml
  futures/derive/src/lib.rs
Labels: iroha2

#3902 [ci] #3825: Clean default runner free space
  .github/workflows/iroha2-dev-pr-ui.yml
  .github/workflows/iroha2-release-pr.yml
Labels: iroha2, CI

#3916 [refactor] #3895: move `commit_topology` into block payload
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  data_model/src/block.rs
  docs/source/references/schema.json
Labels: iroha2

#3913 [refactor] #3886: Remove 'Versioned' prefix from versioned containers
  cli/src/torii/routing.rs
  client/src/client.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/permissions.rs
  client/tests/integration/smartcontracts/validator_with_admin/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_custom_token/src/lib.rs
  client/tests/integration/smartcontracts/validator_with_migration_fail/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/gossiper.rs
  core/src/kura.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/smartcontracts/wasm.rs
  core/src/snapshot.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/network_topology.rs
  core/src/sumeragi/view_change.rs
  core/src/tx.rs
  core/src/validator.rs
  core/src/wsv.rs
  data_model/src/block.rs
  data_model/src/events/pipeline.rs
  data_model/src/lib.rs
  data_model/src/predicate.rs
  data_model/src/query/mod.rs
  data_model/src/transaction.rs
  data_model/src/visit.rs
  data_model/src/wasm.rs
  default_validator/src/lib.rs
  docs/source/references/api_spec.md
  docs/source/references/schema.json
  genesis/src/lib.rs
  schema/gen/src/lib.rs
  tools/kura_inspector/src/main.rs
  tools/parity_scale_decoder/src/main.rs
  wasm/validator/derive/src/lib.rs
  wasm/validator/src/default.rs
Labels: iroha2

#3862 Trying to upgrade libraries in VCPKG
  shared_model/backend/protobuf/impl/proto_block_json_converter.cpp
  shared_model/converters/protobuf/json_proto_converter.hpp
  vcpkg/patches/0002-rxcpp-from-master-2020-08-22.patch
  vcpkg/patches/0002-upgrade_rxcpp_to_4.1.1.patch
  vcpkg/patches/0007-repaired-ambiguous-template-usage.patch
  vcpkg/patches/0007-upgrade_abseil_to_20230125.patch
  vcpkg/patches/0008-added-missing-standard-header-to-benchmark-library.patch
  vcpkg/patches/0008-upgrade_benchmark_to_1.7.1.patch
  vcpkg/patches/0009-upgrade_protobuf_to_3.21.patch
  vcpkg/patches/0010-upgrade_gflags_to_2.2.2.patch
  vcpkg/patches/0011-upgrade_nlohmann-json_to_3.11.2.patch
  vcpkg/patches/0012-upgrade_rapidjson_to_2022-06-28.patch
  vcpkg/patches/0013-upgrade_rocksdb_to_7.9.2.patch
Labels: version bump, 1.x, 1.5
