Repository hyperledger-iroha/iroha, pull requests merged in 2023-03, with the labels that each got.

#3122 [refactor] #2123: use Algorithm for storing digest function
  config/iroha_test_config.json
  config/src/iroha.rs
  configs/client_cli/config.json
  configs/peer/genesis.json
  core/src/sumeragi/main_loop.rs
  crypto/src/lib.rs
  docs/source/references/schema.json
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2, Refactor, UI, Chore

#3280 [fix] #2123: Return to `PublicKey` de/serialization from multihash
  Cargo.lock
  config/iroha_test_config.json
  configs/client_cli/config.json
  configs/peer/genesis.json
  core/src/sumeragi/main_loop.rs
  crypto/Cargo.toml
  crypto/src/lib.rs
Labels: iroha2

#3258 [feature] #3010: Add transaction expire pipeline event
  configs/peer/genesis.json
  core/src/queue.rs
  core/src/sumeragi/main_loop.rs
  data_model/src/transaction.rs
  docs/source/references/schema.json
  tools/parity_scale_decoder/src/generate_map.rs
Labels: iroha2

#3250 [fix] #2133: Rewrite topology to be closer the whitepaper.
  core/Cargo.toml
  core/benches/sumeragi.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/genesis.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  crypto/src/signature.rs
  docs/source/references/schema.json
Labels: iroha2

#3288 [ci]: Add Jenkinsfile for i2-PR-image k8s deployment generator
  Jenkinsfile
Labels: iroha2, CI

#3291 [ci]: Use pull_request_target trigger for I2::Dev::Publish workflow
  .github/workflows/iroha2-dev.yml
Labels: iroha2, CI

#3303 [refactor]: Use stable default allocator handler
  wasm/Cargo.toml
  wasm/src/lib.rs
Labels: iroha2

#3163 [documentation]: Actualise `api_spec.md` and fix doc comments
  core/src/block.rs
  data_model/src/events/mod.rs
  docs/source/references/api_spec.md
Labels: iroha2

#3338 BACKPORT [fix] #3330: Fix `untagged` enum de-serialization with `u128` leaves
  Cargo.lock
  cli/Cargo.toml
  client/Cargo.toml
  client_cli/Cargo.toml
  config/Cargo.toml
  config/base/Cargo.toml
  core/Cargo.toml
  crypto/Cargo.toml
  data_model/Cargo.toml
  data_model/derive/Cargo.toml
  data_model/src/events/data/filters.rs
  data_model/src/expression.rs
  data_model/src/lib.rs
  futures/Cargo.toml
  logger/Cargo.toml
  p2p/Cargo.toml
  permissions_validators/Cargo.toml
  primitives/Cargo.toml
  schema/Cargo.toml
  telemetry/Cargo.toml
  tools/kagami/Cargo.toml
  tools/parity_scale_decoder/Cargo.toml
  version/Cargo.toml
  version/derive/Cargo.toml
Labels: iroha2

#3340 [fix] #2581: reduce noise in logs
  cli/src/torii/routing.rs
  data_model/src/transaction.rs
Labels: iroha2
