Repository hyperledger-iroha/iroha, pull requests merged in 2023-01, with the labels that each got.

#3034 [documentation] #2579: mention Iroha 2 in Iroha docs
  docs/source/faq/index.rst
  docs/source/index.rst
Labels: iroha2, Documentation, 1.5

#3060 [refactor]: simplify sumeragi
  cli/src/torii/routing.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/sumeragi/view_change.rs
  core/src/tx.rs
  core/src/wsv.rs
  crypto/src/signature.rs
  docs/source/references/schema.json
Labels: iroha2

#3066 [fix] #2894: Fix `LOG_FILE_PATH` env variable deserialization
  config/src/logger.rs
Labels: Bug, iroha2

#3062 [feature] #2794: Reject Fieldless enums with explicit discriminants in FFI
  ffi/derive/src/convert.rs
  ffi/derive/src/lib.rs
  ffi/derive/tests/ui_fail/fieldless_enum_with_expicit_discriminant.rs
  ffi/derive/tests/ui_fail/fieldless_enum_with_expicit_discriminant.stderr
Labels: iroha2

#3050 [documentation]: Update tutorial snippets
  client/examples/tutorial.rs
Labels: iroha2, Documentation

#3074 [fix] #2456: Make genesis block unlimited
  cli/src/torii/routing.rs
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/genesis.rs
  core/src/lib.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/tx.rs
Labels: Bug, iroha2

#3080 [documentation] #3079: reintroduce m2r2 dependency
  docs/source/requirements.txt
Labels: 1.5

#3052 [documentation]: Update Iroha Client CLI readme
  client_cli/README.md
  client_cli/src/main.rs
Labels: iroha2, Documentation

#3044 [feature] #3021: Opaque pointer import
  Cargo.lock
  ffi/Cargo.toml
  ffi/derive/src/convert.rs
  ffi/derive/src/ffi_fn.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/src/lib.rs
  ffi/derive/src/util.rs
  ffi/derive/src/wrapper.rs
  ffi/derive/tests/ui_fail/array_as_ptr.stderr
  ffi/derive/tests/ui_fail/fallible_transmute_mut_ref.stderr
  ffi/src/handle.rs
  ffi/src/ir.rs
  ffi/src/lib.rs
  ffi/src/option.rs
  ffi/src/primitives.rs
  ffi/src/repr_c.rs
  ffi/src/std_impls.rs
  ffi/tests/ffi_export.rs
  ffi/tests/ffi_import.rs
  ffi/tests/ffi_import_opaque.rs
  ffi/tests/gen_shared_fns.rs
  ffi/tests/transparent.rs
  ffi/tests/unambiguous.rs
  hooks/pre-commit.sample
  lints.toml
Labels: iroha2

#3064 [fix] #1170: Implement cloning-wsv-style soft-fork handling.
  Cargo.lock
  Cargo.toml
  cli/src/lib.rs
  client/tests/integration/unstable_network.rs
  config/Cargo.toml
  config/iroha_test_config.json
  config/src/sumeragi.rs
  core/src/kura.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/wsv.rs
  scripts/check.sh
Labels: iroha2

#3083 [feature] #3082: Provide full data in `Created` event
  client/tests/integration/events/data.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/world.rs
  core/src/wsv.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/filters.rs
  docs/source/references/schema.json
Labels: iroha2

#3091 [fix] #3056: Fix `tps-dev` benchmark hanging
  client/benches/tps/utils.rs
  core/src/smartcontracts/isi/permissions/combinators.rs
Labels: Bug, iroha2
