Repository hyperledger-iroha/iroha, pull requests merged in 2023-11, with the labels that each got.

#4018 [refactor] #3124: Introduced Query request builder into Client API
  client/src/client.rs
  client/src/lib.rs
  client/src/query_builder.rs
  client/tests/integration/pagination.rs
  client/tests/integration/sorting.rs
  client/tests/integration/tx_history.rs
  client_cli/src/main.rs
Labels: iroha2

#4022 [BACKPORT] #4014: Fix build of client_cli
  client_cli/src/main.rs
  tools/kagami/src/main.rs
Labels: iroha2

#4033 [documentation]: Fixes the pytests README
  .gitignore
  client_cli/pytests/README.md
Labels: iroha2, Documentation

#4023 [refactor] #3740: Replace impl From<Pagination> for Vec<...> with a method
  client/src/client.rs
  data_model/src/query/pagination.rs
  data_model/src/query/sorting.rs
Labels: good first issue, iroha2, Refactor

#4037 [fix] #0000: update stable config files
  configs/client/stable/config.json
  configs/peer/stable/config.json
  configs/peer/stable/genesis.json
Labels: iroha2

#4038 [BACKPORT] #0000: add executor.wasm to stable configs
  configs/peer/stable/executor.wasm
Labels: iroha2

#3896 [refactor] #3856: Proc macro for default validator boilerplate
  Cargo.lock
  client/tests/integration/smartcontracts/executor_with_admin/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_custom_token/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_migration_fail/src/lib.rs
  default_executor/src/lib.rs
  smart_contract/executor/derive/Cargo.toml
  smart_contract/executor/derive/src/default.rs
  smart_contract/executor/derive/src/lib.rs
  smart_contract/executor/derive/src/validate.rs
  smart_contract/executor/src/lib.rs
Labels: iroha2

#4042 [feature] #4041: Add git commit SHA to client_cli
  client_cli/src/main.rs
Labels: iroha2

#4043 [BACKPORT] #4041: Add git commit SHA to client_cli
  client_cli/src/main.rs
Labels: iroha2

#4016 [feature] #3900: `fetch_size` query parameter
  Cargo.lock
  cli/Cargo.toml
  cli/src/torii/mod.rs
  cli/src/torii/routing.rs
  client/src/client.rs
  client/src/query_builder.rs
  client/tests/integration/pagination.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/mod.rs
  client/tests/integration/sorting.rs
  config/iroha_test_config.json
  config/src/torii.rs
  configs/peer/config.json
  configs/peer/executor.wasm
  core/src/query/cursor.rs
  core/src/query/store.rs
  core/src/smartcontracts/wasm.rs
  data_model/Cargo.toml
  data_model/src/query/mod.rs
  data_model/src/smart_contract.rs
  docs/source/references/config.md
  docs/source/references/schema.json
  smart_contract/src/lib.rs
Labels: Enhancement, iroha2, api-changes

#4044 [ci]: Add iroha2 stable tag only publishing
  .github/workflows/iroha2-ci-image.yml
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr-label.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-ui.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release-pr.yml
  .github/workflows/iroha2-release.yml
Labels: iroha2, CI

#4048 [BACKPORT]: Add iroha2 stable tag only publishing (#4044)
  .github/workflows/iroha2-ci-image.yml
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr-label.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-ui.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release-pr.yml
  .github/workflows/iroha2-release.yml
Labels: iroha2

#4050 [BACKPORT] #3826: Fix benchmarks build
  client/src/client.rs
  client/tests/integration/permissions.rs
  client/tests/integration/triggers/by_call_trigger.rs
  configs/peer/executor.wasm
  core/src/queue.rs
  core/src/wsv.rs
  data_model/src/block.rs
  data_model/src/lib.rs
  data_model/src/transaction.rs
Labels: iroha2

#4058 [fix] #4057: Fix query store message ordering issue
  configs/peer/executor.wasm
  core/src/query/store.rs
Labels: Bug, iroha2

#4052 [ci]: Get more free space on the runner for release's long tests
  .github/workflows/iroha2-release-pr.yml
Labels: iroha2, CI

#4024 [refactor] #3982: Clear live queries after smart contract end
  client/src/client.rs
  client/tests/integration/queries/mod.rs
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/executor_with_custom_token/src/lib.rs
  client/tests/integration/smartcontracts/query_assets_and_save_cursor/Cargo.toml
  client/tests/integration/smartcontracts/query_assets_and_save_cursor/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/upgrade.rs
  configs/peer/executor.wasm
  core/src/query/store.rs
  core/src/smartcontracts/wasm.rs
  data_model/src/query/cursor.rs
  data_model/src/query/mod.rs
  ffi/derive/src/convert.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/lib.rs
  smart_contract/executor/src/permission.rs
  smart_contract/src/lib.rs
  wasm_codec/derive/src/lib.rs
Labels: iroha2, Refactor, Optimization

#4066 [fix] #0000: fix stable client config
  Cargo.lock
  Cargo.toml
  configs/client/stable/config.json
  core/src/smartcontracts/wasm.rs
  logger/Cargo.toml
  smart_contract/executor/derive/src/default.rs
  wasm_builder/Cargo.toml
Labels: iroha2

#4071 [fix] #4070: Enable `tls-rustls-native-roots` `iroha_client` feature by default
  client/Cargo.toml
  client_cli/Cargo.toml
Labels: iroha2

#4073 [BACKPORT] #4065: Prevent pub key spoofing in p2p
  cli/src/lib.rs
  p2p/src/lib.rs
  p2p/src/network.rs
  p2p/src/peer.rs
  p2p/tests/integration/p2p.rs
Labels: iroha2

#4088 [fix] #4084: NumericValue suffix is mandatory
  configs/peer/executor.wasm
  data_model/src/numeric.rs
Labels: iroha2

#4098 [fix] #4097: Fix warp noise in logs
  cli/src/torii/routing.rs
  core/src/queue.rs
Labels: Bug, iroha2

#4095 [BACKPORT] #0000: Fix trigger atomicity
  client/tests/integration/triggers/mod.rs
  client/tests/integration/triggers/trigger_rollback.rs
  configs/peer/executor.wasm
  core/src/wsv.rs
Labels: Bug, iroha2

#4107 [fix] #4106: Fix trigger atomicity
  client/tests/integration/triggers/mod.rs
  client/tests/integration/triggers/trigger_rollback.rs
  core/src/wsv.rs
Labels: Bug, iroha2
