Repository hyperledger-iroha/iroha, pull requests merged in 2024-08, with the labels that each got.

#4932 refactor!: remove `event_recommendations` from block
  core/benches/blocks/common.rs
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/main_loop.rs
  data_model/src/block.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
Labels: api-changes

#4960 refactor: Simplify /health and /api_version
  torii/src/routing.rs
Labels: api-changes

#4947 fix: Improve queue transactions handling
  core/src/queue.rs
  core/src/sumeragi/main_loop.rs
  defaults/executor.wasm
Labels: config-changes

#4990 fix(torii): use `GET` for blocks stream
  torii/src/lib.rs
Labels: Bug, api-changes, Chore

#4992 fix(data-model,crypto,primitives)!: misc chores
  crypto/src/signature/mod.rs
  data_model/src/block.rs
  data_model/src/transaction.rs
  primitives/numeric/src/lib.rs
Labels: api-changes, Chore

#4995 perf: Don't validate transactions inside WASM
  data_model/src/block.rs
  data_model/src/lib.rs
  data_model/src/name.rs
  data_model/src/query/mod.rs
  data_model/src/transaction.rs
  defaults/executor.wasm
Labels: config-changes

#4998 refactor: use `HashOf<BlockHeader>` as the type of the block hash
  client/src/client.rs
  client/tests/integration/pagination.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/kura.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/mod.rs
  core/src/snapshot.rs
  core/src/state.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/view_change.rs
  data_model/src/block.rs
  data_model/src/events/pipeline.rs
  data_model/src/query/mod.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  torii/src/lib.rs
Labels: api-changes

#5000 refactor: sign only block's header, not the whole payload
  core/src/block.rs
  data_model/src/block.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
Labels: api-changes

#4978 fix(data-model)!: more consistent query parameters
  client/tests/integration/pagination.rs
  client/tests/integration/sorting.rs
  client/tests/integration/tx_history.rs
  core/src/query/cursor.rs
  core/src/query/pagination.rs
  core/src/query/store.rs
  data_model/src/query/parameters.rs
  defaults/executor.wasm
  docs/source/references/schema.json
  wasm_samples/query_assets_and_save_cursor/src/lib.rs
Labels: api-changes, config-changes, Chore

#4931 ci: Build executor.wasm in CI
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-profiling-image.yml
  .github/workflows/iroha2-release.yml
  .gitignore
  Dockerfile
  Dockerfile.build.glibc
  Dockerfile.glibc
  defaults/docker-compose.local.yml
  defaults/docker-compose.single.yml
  defaults/docker-compose.yml
  defaults/executor.wasm
  tools/swarm/src/lib.rs
  tools/swarm/src/schema.rs
  tools/swarm/src/schema/serde_impls.rs
Labels: config-changes

#5009 fix: Serialize WASM code for snapshots
  core/Cargo.toml
  core/src/executor.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  data_model/src/transaction.rs
Labels: config-changes

#4928 feat: bounded discrete time
  cli/src/lib.rs
  client/benches/torii.rs
  client/examples/million_accounts_genesis.rs
  client/examples/register_1000_triggers.rs
  client/tests/integration/triggers/time_trigger.rs
  config/src/parameters/actual.rs
  config/src/parameters/defaults.rs
  config/src/parameters/user.rs
  config/tests/fixtures.rs
  config/tests/fixtures/full.toml
  core/benches/blocks/common.rs
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/gossiper.rs
  core/src/kura.rs
  core/src/metrics.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/state.rs
  core/src/sumeragi/main_loop.rs
  core/src/tx.rs
  crypto/src/lib.rs
  data_model/src/block.rs
  data_model/src/parameter.rs
  data_model/src/transaction.rs
  defaults/executor.wasm
  defaults/genesis.json
  docs/source/references/peer.template.toml
  docs/source/references/schema.json
  genesis/src/lib.rs
  primitives/src/time.rs
  telemetry/derive/src/lib.rs
  torii/src/routing.rs
Labels: api-changes, config-changes
