Repository hyperledger-iroha/iroha, pull requests merged in 2024-10, with the labels that each got.

#5111 fix(block_sync): check that next block has height +1
  crates/iroha_core/src/block_sync.rs
Labels: Bug

#5123 build(wasm_samples): pre-compiled `wasm_samples`
  .github/workflows/iroha2-dev-pr.yml
  .gitignore
  Cargo.lock
  crates/iroha/Cargo.toml
  crates/iroha/benches/torii.rs
  crates/iroha/examples/million_accounts_genesis.rs
  crates/iroha/examples/register_1000_triggers.rs
  crates/iroha/tests/integration/multisig.rs
  crates/iroha/tests/integration/queries/smart_contract.rs
  crates/iroha/tests/integration/triggers/by_call_trigger.rs
  crates/iroha/tests/integration/triggers/time_trigger.rs
  crates/iroha/tests/integration/upgrade.rs
  crates/iroha_test_network/src/lib.rs
  crates/iroha_test_samples/src/lib.rs
  crates/iroha_wasm_builder/src/lib.rs
  scripts/build_wasm_samples.sh
  scripts/generate_wasm.sh
  wasm_samples/multisig/Cargo.toml
Labels: CI, Refactor

#5116 feat: remove consensus estimation
  crates/iroha/tests/integration/triggers/time_trigger.rs
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/smartcontracts/isi/triggers/mod.rs
  crates/iroha_core/src/state.rs
  crates/iroha_data_model/benches/time_event_filter.rs
  crates/iroha_data_model/src/block.rs
  crates/iroha_data_model/src/events/pipeline.rs
  crates/iroha_data_model/src/events/time.rs
  crates/iroha_data_model/src/parameter.rs
  crates/iroha_schema_gen/src/lib.rs
  docs/source/references/schema.json
Labels: api-changes

#5121 fix(iroha_config): broken trusted peers check
  crates/iroha_config/Cargo.toml
  crates/iroha_config/src/parameters/actual.rs
  crates/irohad/src/lib.rs
Labels: Bug, Chore

#5122 refactor(iroha_torii): spawn a single server task with only one `TcpListener`
  crates/iroha_torii/Cargo.toml
  crates/iroha_torii/src/lib.rs
  crates/irohad/src/lib.rs
Labels: api-changes, Refactor, Chore

#4957 feat(sumeragi): dynamic commit time based on view change index
  crates/iroha/tests/integration/triggers/time_trigger.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
  crates/iroha_core/src/sumeragi/mod.rs
  crates/iroha_data_model/src/parameter.rs
Labels: Consensus

#5073 refactor: add client entity to smart contracts
  crates/iroha/benches/torii.rs
  crates/iroha/examples/register_1000_triggers.rs
  crates/iroha/examples/tutorial.rs
  crates/iroha/src/client.rs
  crates/iroha/tests/integration/multisig.rs
  crates/iroha/tests/integration/triggers/by_call_trigger.rs
  crates/iroha/tests/integration/triggers/orphans.rs
  crates/iroha_cli/src/main.rs
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/executor.rs
  crates/iroha_core/src/smartcontracts/wasm.rs
  crates/iroha_core/src/tx.rs
  crates/iroha_data_model/src/block.rs
  crates/iroha_data_model/src/events/execute_trigger.rs
  crates/iroha_data_model/src/isi.rs
  crates/iroha_data_model/src/smart_contract.rs
  crates/iroha_data_model/src/visit.rs
  crates/iroha_executor/src/default.rs
  crates/iroha_executor/src/lib.rs
  crates/iroha_executor/src/permission.rs
  crates/iroha_executor_data_model/src/permission.rs
  crates/iroha_executor_derive/src/default.rs
  crates/iroha_executor_derive/src/entrypoint.rs
  crates/iroha_executor_derive/src/lib.rs
  crates/iroha_genesis/src/lib.rs
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_smart_contract/src/lib.rs
  crates/iroha_smart_contract_derive/src/entrypoint.rs
  crates/iroha_smart_contract_derive/src/lib.rs
  crates/iroha_test_network/src/lib.rs
  crates/iroha_trigger/src/lib.rs
  crates/iroha_trigger_derive/src/entrypoint.rs
  crates/iroha_trigger_derive/src/lib.rs
  docs/source/references/schema.json
  wasm_samples/create_nft_for_every_user_trigger/src/lib.rs
  wasm_samples/default_executor/src/lib.rs
  wasm_samples/executor_custom_data_model/src/mint_rose_args.rs
  wasm_samples/executor_custom_data_model/src/multisig.rs
  wasm_samples/executor_custom_instructions_complex/src/lib.rs
  wasm_samples/executor_custom_instructions_simple/src/lib.rs
  wasm_samples/executor_remove_permission/src/lib.rs
  wasm_samples/executor_with_admin/src/lib.rs
  wasm_samples/executor_with_custom_parameter/src/lib.rs
  wasm_samples/executor_with_custom_permission/src/lib.rs
  wasm_samples/executor_with_migration_fail/src/lib.rs
  wasm_samples/mint_rose_trigger/src/lib.rs
  wasm_samples/mint_rose_trigger_args/src/lib.rs
  wasm_samples/multisig/src/lib.rs
  wasm_samples/multisig_register/src/lib.rs
  wasm_samples/query_assets_and_save_cursor/src/lib.rs
  wasm_samples/smart_contract_can_filter_queries/src/lib.rs
Labels: api-changes

#5101 fix(torii): close ws properly in blocks/events stream
  Cargo.lock
  crates/iroha/src/client.rs
  crates/iroha_torii/Cargo.toml
  crates/iroha_torii/src/block.rs
  crates/iroha_torii/src/event.rs
  crates/iroha_torii/src/lib.rs
  crates/iroha_torii/src/routing.rs
  crates/iroha_torii/src/stream.rs
Labels: Bug, api-changes

#5135 fix: address `check-cfg` warnings + chores
  Cargo.toml
  crates/iroha_crypto/src/lib.rs
  crates/iroha_data_model/src/lib.rs
  crates/iroha_telemetry/Cargo.toml
  crates/iroha_telemetry_derive/Cargo.toml
  crates/iroha_telemetry_derive/src/lib.rs
  wasm_samples/default_executor/src/lib.rs
  wasm_samples/executor_with_migration_fail/src/lib.rs
  wasm_samples/query_assets_and_save_cursor/src/lib.rs
Labels: Chore

#5143 refactor!: rename JsonString to JsonValue
  crates/iroha/tests/integration/permissions.rs
  crates/iroha/tests/integration/queries/smart_contract.rs
  crates/iroha/tests/integration/roles.rs
  crates/iroha/tests/integration/transfer_domain.rs
  crates/iroha/tests/integration/triggers/time_trigger.rs
  crates/iroha_cli/src/main.rs
  crates/iroha_codec/src/main.rs
  crates/iroha_core/src/query/store.rs
  crates/iroha_core/src/smartcontracts/isi/account.rs
  crates/iroha_core/src/smartcontracts/isi/asset.rs
  crates/iroha_core/src/smartcontracts/isi/domain.rs
  crates/iroha_core/src/smartcontracts/isi/query.rs
  crates/iroha_core/src/smartcontracts/isi/triggers/mod.rs
  crates/iroha_core/src/smartcontracts/isi/world.rs
  crates/iroha_data_model/src/events/data/events.rs
  crates/iroha_data_model/src/events/execute_trigger.rs
  crates/iroha_data_model/src/executor.rs
  crates/iroha_data_model/src/isi.rs
  crates/iroha_data_model/src/metadata.rs
  crates/iroha_data_model/src/parameter.rs
  crates/iroha_data_model/src/permission.rs
  crates/iroha_data_model/src/query/mod.rs
  crates/iroha_kagami/src/genesis/generate.rs
  crates/iroha_primitives/src/json.rs
  crates/iroha_schema_gen/src/lib.rs
  docs/source/references/schema.json
  wasm_samples/executor_custom_data_model/src/complex_isi.rs
  wasm_samples/executor_custom_data_model/src/mint_rose_args.rs
  wasm_samples/executor_custom_data_model/src/multisig.rs
  wasm_samples/executor_custom_data_model/src/simple_isi.rs
  wasm_samples/multisig/src/lib.rs
  wasm_samples/multisig_register/src/lib.rs
  wasm_samples/query_assets_and_save_cursor/src/lib.rs
Labels: api-changes

#5145 refactor!: remove `max` prefix from `blocks_in_memory`
  crates/iroha_config/src/parameters/actual.rs
  crates/iroha_config/src/parameters/defaults.rs
  crates/iroha_config/src/parameters/user.rs
  crates/iroha_config/tests/fixtures.rs
  crates/iroha_config/tests/fixtures/full.env
  crates/iroha_config/tests/fixtures/full.toml
  crates/iroha_core/benches/kura.rs
  crates/iroha_core/src/kura.rs
  docs/source/references/peer.template.toml
Labels: config-changes

#5154 refactor: rename JsonValue to Json
  crates/iroha/tests/integration/permissions.rs
  crates/iroha/tests/integration/queries/smart_contract.rs
  crates/iroha/tests/integration/roles.rs
  crates/iroha/tests/integration/transfer_domain.rs
  crates/iroha/tests/integration/triggers/time_trigger.rs
  crates/iroha_cli/src/main.rs
  crates/iroha_codec/src/main.rs
  crates/iroha_core/src/query/store.rs
  crates/iroha_core/src/smartcontracts/isi/account.rs
  crates/iroha_core/src/smartcontracts/isi/asset.rs
  crates/iroha_core/src/smartcontracts/isi/domain.rs
  crates/iroha_core/src/smartcontracts/isi/query.rs
  crates/iroha_core/src/smartcontracts/isi/triggers/mod.rs
  crates/iroha_core/src/smartcontracts/isi/world.rs
  crates/iroha_data_model/src/events/data/events.rs
  crates/iroha_data_model/src/events/execute_trigger.rs
  crates/iroha_data_model/src/executor.rs
  crates/iroha_data_model/src/isi.rs
  crates/iroha_data_model/src/metadata.rs
  crates/iroha_data_model/src/parameter.rs
  crates/iroha_data_model/src/permission.rs
  crates/iroha_data_model/src/query/mod.rs
  crates/iroha_kagami/src/genesis/generate.rs
  crates/iroha_primitives/src/json.rs
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_torii/src/routing.rs
  docs/source/references/schema.json
  wasm_samples/executor_custom_data_model/src/complex_isi.rs
  wasm_samples/executor_custom_data_model/src/mint_rose_args.rs
  wasm_samples/executor_custom_data_model/src/multisig.rs
  wasm_samples/executor_custom_data_model/src/simple_isi.rs
  wasm_samples/multisig/src/lib.rs
  wasm_samples/multisig_register/src/lib.rs
  wasm_samples/query_assets_and_save_cursor/src/lib.rs
Labels: api-changes

#5118 refactor!: move transaction error out of block payload
  crates/iroha/tests/queries/mod.rs
  crates/iroha/tests/tx_history.rs
  crates/iroha_core/benches/blocks/common.rs
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/metrics.rs
  crates/iroha_core/src/smartcontracts/isi/query.rs
  crates/iroha_core/src/smartcontracts/isi/tx.rs
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
  crates/iroha_data_model/src/block.rs
  crates/iroha_data_model/src/query/mod.rs
  crates/iroha_data_model/src/query/predicate/predicate_atoms/block.rs
  crates/iroha_data_model/src/query/predicate/projectors.rs
  crates/iroha_data_model/src/query/predicate/prototypes/block.rs
  crates/iroha_data_model/src/transaction.rs
  crates/iroha_genesis/src/lib.rs
  crates/iroha_schema_derive/src/lib.rs
  crates/iroha_schema_derive/src/trait_bounds.rs
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_telemetry_derive/src/lib.rs
  docs/source/references/schema.json
Labels: api-changes

#5200 fix: test environments inherit and modify local `genesis.json`
  crates/iroha_genesis/src/lib.rs
  crates/iroha_swarm/src/lib.rs
  crates/iroha_swarm/src/schema.rs
  defaults/docker-compose.local.yml
  defaults/docker-compose.single.yml
  defaults/docker-compose.yml
  scripts/build_wasm.sh
  scripts/test_env.py
Labels: config-changes
