Repository hyperledger-iroha/iroha, pull requests merged in 2024-07, with the labels that each got.

#4718 refactor: migrate to axum
  Cargo.lock
  Cargo.toml
  cli/src/lib.rs
  client/Cargo.toml
  configs/swarm/executor.wasm
  data_model/Cargo.toml
  genesis/Cargo.toml
  torii/Cargo.toml
  torii/const/src/lib.rs
  torii/derive/Cargo.toml
  torii/derive/src/lib.rs
  torii/pytests/test/configuration/test_post_configuration.py
  torii/pytests/test/general/test_200_status_codes.py
  torii/pytests/test/general/test_400_status_codes.py
  torii/src/event.rs
  torii/src/lib.rs
  torii/src/routing.rs
  torii/src/stream.rs
  torii/src/utils.rs
  version/Cargo.toml
  version/src/lib.rs
Labels: api-changes

#4788 feat!: reimplement multisignature transactions
  client/tests/integration/mod.rs
  client/tests/integration/multisig.rs
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/executor_custom_data_model/src/lib.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/mint_rose_args.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/multisig.rs
  client/tests/integration/smartcontracts/mint_rose_trigger_args/Cargo.toml
  client/tests/integration/smartcontracts/mint_rose_trigger_args/src/lib.rs
  client/tests/integration/smartcontracts/multisig/Cargo.toml
  client/tests/integration/smartcontracts/multisig/src/lib.rs
  client/tests/integration/smartcontracts/multisig_register/Cargo.toml
  client/tests/integration/smartcontracts/multisig_register/build.rs
  client/tests/integration/smartcontracts/multisig_register/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  configs/swarm/executor.wasm
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/state.rs
  data_model/src/events/execute_trigger.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  docs/source/references/schema.json
Labels: api-changes

#4812 feat!: speicfy on-chain parameters explicitly in genesis
  configs/swarm/executor.wasm
  configs/swarm/genesis.json
  data_model/src/block.rs
  data_model/src/parameter.rs
  docs/source/references/schema.json
  genesis/src/lib.rs
  tools/kagami/src/genesis/generate.rs
Labels: api-changes

#4792 fix: flatten asset definitions and assets in data model
  cli/src/lib.rs
  configs/swarm/executor.wasm
  core/benches/blocks/common.rs
  core/src/block.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/state.rs
  core/src/sumeragi/main_loop.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/events/data/filters.rs
  docs/source/references/schema.json
  tools/parity_scale_cli/samples/trigger.bin
Labels: api-changes

#4837 feat(logger): use RUST_LOG-like EnvFilter for logging
  cli/src/lib.rs
  client/benches/torii.rs
  client/src/client.rs
  config/Cargo.toml
  config/src/client_api.rs
  config/src/logger.rs
  config/src/parameters/user.rs
  config/tests/fixtures.rs
  core/src/kiso.rs
  genesis/src/lib.rs
  logger/Cargo.toml
  logger/src/actor.rs
  logger/src/lib.rs
  logger/tests/setting_logger.rs
  schema/gen/src/lib.rs
  torii/pytests/common/schemas/get_configuration_response_schema.json
  torii/pytests/test/configuration/test_get_configuration.py
  torii/pytests/test/configuration/test_post_configuration.py
Labels: config-changes

#4841 fix: replace `Duration` with `u64` in schema
  client/tests/integration/smartcontracts/mint_rose_trigger_args/src/lib.rs
  configs/swarm/executor.wasm
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/state.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  data_model/src/block.rs
  data_model/src/events/time.rs
  data_model/src/transaction.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  schema/src/lib.rs
  tools/parity_scale_cli/src/main.rs
Labels: api-changes

#4855 fix(schema): rename `type_` to `type` in schema
  client_cli/pytests/src/client_cli/iroha.py
  configs/swarm/genesis.json
  core/src/block.rs
  data_model/derive/src/id.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/parameter.rs
  data_model/src/peer.rs
  data_model/src/role.rs
  data_model/src/trigger.rs
  docs/source/references/schema.json
  schema/derive/src/lib.rs
Labels: api-changes

#4857 refactor: replace `lol_alloc` with `dlmalloc`
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/create_nft_for_every_user_trigger/Cargo.toml
  client/tests/integration/smartcontracts/create_nft_for_every_user_trigger/src/lib.rs
  client/tests/integration/smartcontracts/executor_custom_instructions_complex/Cargo.toml
  client/tests/integration/smartcontracts/executor_custom_instructions_complex/src/lib.rs
  client/tests/integration/smartcontracts/executor_custom_instructions_simple/Cargo.toml
  client/tests/integration/smartcontracts/executor_custom_instructions_simple/src/lib.rs
  client/tests/integration/smartcontracts/executor_remove_permission/Cargo.toml
  client/tests/integration/smartcontracts/executor_remove_permission/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_admin/Cargo.toml
  client/tests/integration/smartcontracts/executor_with_admin/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_custom_parameter/Cargo.toml
  client/tests/integration/smartcontracts/executor_with_custom_parameter/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_custom_permission/Cargo.toml
  client/tests/integration/smartcontracts/executor_with_custom_permission/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_migration_fail/Cargo.toml
  client/tests/integration/smartcontracts/executor_with_migration_fail/src/lib.rs
  client/tests/integration/smartcontracts/mint_rose_trigger/Cargo.toml
  client/tests/integration/smartcontracts/mint_rose_trigger/src/lib.rs
  client/tests/integration/smartcontracts/mint_rose_trigger_args/Cargo.toml
  client/tests/integration/smartcontracts/mint_rose_trigger_args/src/lib.rs
  client/tests/integration/smartcontracts/multisig/Cargo.toml
  client/tests/integration/smartcontracts/multisig/src/lib.rs
  client/tests/integration/smartcontracts/multisig_register/Cargo.toml
  client/tests/integration/smartcontracts/multisig_register/src/lib.rs
  client/tests/integration/smartcontracts/query_assets_and_save_cursor/Cargo.toml
  client/tests/integration/smartcontracts/query_assets_and_save_cursor/src/lib.rs
  client/tests/integration/smartcontracts/smart_contract_can_filter_queries/Cargo.toml
  client/tests/integration/smartcontracts/smart_contract_can_filter_queries/src/lib.rs
  configs/swarm/executor.wasm
  default_executor/Cargo.toml
  default_executor/src/lib.rs
Labels: Refactor

#4853 refactor: preserve voting block during block sync
  core/src/block.rs
  core/src/state.rs
  core/src/sumeragi/main_loop.rs
Labels: Refactor, Security

#4867 fix(state): use rw lock to prevent inconsitent state view
  core/src/state.rs
Labels: Bug

#4866 refactor: remove `TriggeringEventFilterBox`
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/smartcontracts/isi/triggers/specialized.rs
  data_model/src/events/mod.rs
  data_model/src/isi.rs
  data_model/src/query/mod.rs
  data_model/src/trigger.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
Labels: api-changes

#4889 refactor(p2p): remove `garbage`
  p2p/src/peer.rs
Labels: Refactor

#4886 fix(schema): make `Role` transparent
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/metadata.rs
  data_model/src/role.rs
  docs/source/references/schema.json
Labels: api-changes

#4890 refactor: derive block hash from header
  configs/swarm/executor.wasm
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  data_model/src/block.rs
Labels: Refactor

#4893 fix: Add limits to LiveQueryStore to prevent high memory usage
  cli/src/lib.rs
  config/src/parameters/actual.rs
  config/src/parameters/defaults.rs
  config/src/parameters/user.rs
  config/tests/fixtures.rs
  config/tests/fixtures/full.toml
  configs/peer.template.toml
  configs/swarm/executor.wasm
  core/src/query/store.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/wasm.rs
  data_model/src/query/mod.rs
  docs/source/references/schema.json
  torii/src/lib.rs
  torii/src/routing.rs
Labels: api-changes, config-changes

#4903 fix(client): Fix torii url with path
  client/src/client.rs
  client/src/config.rs
  client/src/config/user.rs
  defaults/executor.wasm
Labels: config-changes

#4922 fix(sumeragi): remove expired transaction from cache
  core/src/gossiper.rs
  core/src/queue.rs
  core/src/sumeragi/main_loop.rs
  core/src/tx.rs
Labels: Bug
