Repository hyperledger-iroha/iroha, pull requests merged in 2024-06, with the labels that each got.

#4692 fix: Correct default value for `JsonString`
  configs/swarm/executor.wasm
  data_model/src/lib.rs
Labels: Bug

#4640 refactor: remove domain from trigger identity
  client/examples/register_1000_triggers.rs
  client/src/client.rs
  client/tests/integration/domain_owner_permissions.rs
  client/tests/integration/triggers/data_trigger.rs
  client/tests/integration/triggers/mod.rs
  client/tests/integration/triggers/orphans.rs
  client/tests/integration/triggers/time_trigger.rs
  client_cli/pytests/common/consts.py
  configs/swarm/executor.wasm
  core/src/query/store.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/smartcontracts/isi/world.rs
  data_model/src/events/data/events.rs
  data_model/src/lib.rs
  data_model/src/name.rs
  data_model/src/query/mod.rs
  data_model/src/trigger.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/permission.rs
  tools/parity_scale_cli/samples/trigger.bin
Labels: api-changes, Refactor

#4666 fix: avoid early drop of `ConfigReader` in `iroha_client`
  Cargo.lock
  client/Cargo.toml
  client/src/config.rs
Labels: Bug

#4701 refactor: remove index Assets in AssetsMap by AssetDefinitionId
  configs/swarm/executor.wasm
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/state.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  docs/source/references/schema.json
Labels: api-changes

#4705 fix: add missing getters for data model structs
  configs/peer/executor.wasm
  data_model/src/asset.rs
  data_model/src/events/data/events.rs
  data_model/src/events/time.rs
  data_model/src/peer.rs
Labels: Bug, iroha2

#4707 fix: add missing getters for data model structs
  configs/swarm/executor.wasm
  data_model/src/asset.rs
  data_model/src/events/data/events.rs
  data_model/src/events/time.rs
  data_model/src/peer.rs
Labels: Bug

#4699 refactor(irohad): always start torii as task
  cli/src/lib.rs
  cli/src/main.rs
  client/tests/integration/triggers/time_trigger.rs
  core/test_network/src/lib.rs
Labels: Refactor

#4645 feat: Custom instructions in executor
  Cargo.lock
  client/Cargo.toml
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/executor_custom_data_model/Cargo.toml
  client/tests/integration/smartcontracts/executor_custom_data_model/src/complex.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/lib.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/simple.rs
  client/tests/integration/smartcontracts/executor_custom_instructions_complex/Cargo.toml
  client/tests/integration/smartcontracts/executor_custom_instructions_complex/src/lib.rs
  client/tests/integration/smartcontracts/executor_custom_instructions_simple/Cargo.toml
  client/tests/integration/smartcontracts/executor_custom_instructions_simple/src/lib.rs
  client/tests/integration/upgrade.rs
  configs/swarm/executor.wasm
  core/src/smartcontracts/isi/mod.rs
  core/test_network/src/lib.rs
  data_model/src/executor.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/transaction.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  smart_contract/executor/derive/src/default.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/lib.rs
Labels: api-changes

#4647 refactor: replace u64 with usize internally
  client/tests/integration/events/pipeline.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/complex.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/simple.rs
  client_cli/pytests/README.md
  core/src/block.rs
  core/src/block_sync.rs
  core/src/kura.rs
  core/src/metrics.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/wasm.rs
  core/src/snapshot.rs
  core/src/state.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/sumeragi/view_change.rs
  core/test_network/src/lib.rs
  data_model/src/block.rs
  data_model/src/events/pipeline.rs
  data_model/src/lib.rs
  docs/source/references/schema.json
  smart_contract/executor/derive/src/permission.rs
  smart_contract/executor/src/lib.rs
  telemetry/src/metrics.rs
  tools/parity_scale_cli/src/main.rs
  torii/src/routing.rs
Labels: api-changes

#4728 fix: Introduce p2p idle timeout
  p2p/src/network.rs
  p2p/src/peer.rs
Labels: iroha2

#4667 refactor!: revert `_ms` and `_bytes` suffixes in config
  cli/src/samples.rs
  client/examples/register_1000_triggers.rs
  client/src/config.rs
  client/src/config/user.rs
  config/base/src/util.rs
  config/base/tests/misc.rs
  config/src/parameters/actual.rs
  config/src/parameters/defaults.rs
  config/src/parameters/user.rs
  config/tests/fixtures.rs
  config/tests/fixtures/full.toml
  configs/client.template.toml
  configs/peer.template.toml
  core/benches/blocks/common.rs
  core/src/smartcontracts/wasm.rs
  core/src/snapshot.rs
  core/src/state.rs
  tools/kagami/src/genesis/generate.rs
  torii/src/lib.rs
Labels: api-changes, config-changes, Refactor

#4730 fix: update schema.json
  docs/source/references/schema.json
Labels: iroha2

#4744 fix(sumeragi): early exit from handle_block_sync
  core/src/sumeragi/main_loop.rs
Labels: iroha2

#4740 fix: fix unit tests
  cli/src/lib.rs
  config/base/tests/misc.rs
  core/src/block.rs
  core/src/kura.rs
  core/src/smartcontracts/isi/query.rs
  core/src/state.rs
  core/src/sumeragi/network_topology.rs
  core/src/tx.rs
  crypto/src/signature/mod.rs
  schema/gen/src/lib.rs
  tools/parity_scale_cli/src/main.rs
Labels: Bug

#4765 fix: restore RawGenesisTransaction schema
  Cargo.lock
  configs/swarm/genesis.json
  data_model/src/block.rs
  data_model/src/query/mod.rs
  data_model/src/transaction.rs
  docs/source/references/schema.json
  genesis/Cargo.toml
  genesis/src/lib.rs
  schema/gen/src/lib.rs
  tools/kagami/src/genesis/generate.rs
Labels: api-changes

#4732 refactor: Make the metadata dynamic via implementing JsonString
  client/src/client.rs
  client/tests/integration/domain_owner_permissions.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/smart_contract.rs
  client/tests/integration/roles.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/complex.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/simple.rs
  client/tests/integration/smartcontracts/mint_rose_trigger/src/lib.rs
  client/tests/integration/smartcontracts/query_assets_and_save_cursor/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client_cli/src/main.rs
  configs/swarm/executor.wasm
  configs/swarm/genesis.json
  core/benches/blocks/common.rs
  core/src/query/store.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  data_model/src/events/data/events.rs
  data_model/src/executor.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/permission.rs
  data_model/src/query/mod.rs
  data_model/src/query/predicate.rs
  docs/source/references/schema.json
  primitives/Cargo.toml
  primitives/src/json.rs
  primitives/src/lib.rs
  schema/gen/src/lib.rs
  smart_contract/executor/src/permission.rs
  tools/kagami/src/genesis/generate.rs
  tools/parity_scale_cli/samples/account.bin
  tools/parity_scale_cli/samples/domain.bin
  tools/parity_scale_cli/src/main.rs
Labels: api-changes

#4778 refactor: improve custom instruction usage
  client/tests/integration/events/notification.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/complex_isi.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/lib.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/parameters.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/simple_isi.rs
  client/tests/integration/smartcontracts/executor_custom_instructions_complex/src/lib.rs
  client/tests/integration/smartcontracts/executor_custom_instructions_simple/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/orphans.rs
  client/tests/integration/triggers/trigger_rollback.rs
  client/tests/integration/upgrade.rs
  configs/swarm/executor.wasm
  core/src/block.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/transaction.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  smart_contract/executor/derive/src/default.rs
  smart_contract/executor/src/default.rs
  smart_contract/src/lib.rs
Labels: api-changes

#4741 refactor!: fix naming convention for assets and permissions
  cli/README.md
  client/examples/million_accounts_genesis.rs
  client/tests/integration/asset.rs
  client/tests/integration/events/data.rs
  client/tests/integration/queries/account.rs
  client/tests/integration/queries/asset.rs
  client/tests/integration/smartcontracts/executor_custom_data_model/src/complex_isi.rs
  client/tests/integration/smartcontracts/executor_with_custom_permission/src/lib.rs
  client/tests/integration/smartcontracts/smart_contract_can_filter_queries/src/lib.rs
  client/tests/integration/upgrade.rs
  client_cli/README.md
  client_cli/pytests/common/consts.py
  client_cli/pytests/models/asset.py
  client_cli/pytests/src/client_cli/client_cli.py
  client_cli/pytests/src/client_cli/iroha.py
  client_cli/pytests/test/__init__.py
  client_cli/pytests/test/accounts/test_set_key_value_pair.py
  client_cli/pytests/test/assets/conftest.py
  client_cli/pytests/test/assets/test_burn_assets.py
  client_cli/pytests/test/assets/test_mint_assets.py
  client_cli/pytests/test/assets/test_register_asset_definitions.py
  client_cli/pytests/test/conftest.py
  client_cli/pytests/test/roles/test_register_roles.py
  client_cli/src/main.rs
  configs/swarm/executor.wasm
  configs/swarm/genesis.json
  core/src/block.rs
  core/src/query/store.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/state.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/block.rs
  data_model/src/events/data/events.rs
  data_model/src/events/pipeline.rs
  data_model/src/executor.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/permission.rs
  data_model/src/query/cursor.rs
  data_model/src/query/mod.rs
  data_model/src/query/pagination.rs
  data_model/src/query/predicate.rs
  data_model/src/query/sorting.rs
  docs/source/references/schema.json
  genesis/src/lib.rs
  schema/gen/src/lib.rs
  schema/src/lib.rs
  smart_contract/executor/derive/src/permission.rs
  smart_contract/executor/src/default/permissions.rs
  smart_contract/executor/src/lib.rs
  smart_contract/executor/src/permission.rs
  tools/kagami/src/genesis/generate.rs
  tools/swarm/src/schema.rs
Labels: api-changes, config-changes
