Repository hyperledger-iroha/iroha, pull requests merged in 2024-04, with the labels that each got.

#4401 [refactor] #4290: Replace `parse_display` crate with `strum`
  Cargo.lock
  ffi/derive/Cargo.toml
  ffi/derive/src/attr_parse/getset.rs
  ffi/derive/src/attr_parse/repr.rs
Labels: iroha2, Refactor

#4402 [refactor] #4289: Use `nonzero!` instead of fallible NonZero* constructors
  Cargo.lock
  Cargo.toml
  client/Cargo.toml
  client/benches/tps/utils.rs
  client/tests/integration/pagination.rs
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/query_assets_and_save_cursor/Cargo.toml
  client/tests/integration/smartcontracts/query_assets_and_save_cursor/src/lib.rs
  client/tests/integration/sorting.rs
  client/tests/integration/tx_history.rs
  core/Cargo.toml
  core/src/query/pagination.rs
  core/src/query/store.rs
  core/src/queue.rs
  data_model/Cargo.toml
  data_model/src/query/mod.rs
  torii/Cargo.toml
  torii/src/routing.rs
Labels: iroha2, api-changes, Refactor

#4404 [fix] #4307: Pad `r` and `s` to 32 bytes in `secp256k1_sign` test
  crypto/src/signature/secp256k1.rs
Labels: Bug, iroha2

#4398 [fix] #4267: Introduce p2p idle timeout
  Cargo.lock
  cli/src/lib.rs
  config/src/parameters/actual.rs
  config/src/parameters/defaults.rs
  config/src/parameters/user.rs
  config/src/parameters/user/boilerplate.rs
  configs/peer.template.toml
  configs/swarm/executor.wasm
  core/test_network/src/lib.rs
  p2p/Cargo.toml
  p2p/src/network.rs
  p2p/src/peer.rs
  p2p/tests/integration/p2p.rs
Labels: Bug, iroha2, config-changes

#4407 [fix] #4242: Remove permissions from roles on entity unregistration
  client/tests/integration/permissions.rs
  client/tests/integration/tx_chain_id.rs
  configs/swarm/executor.wasm
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/permission.rs
Labels: Bug, iroha2

#4416 [chore]: add @dima74 to the CODEOWNERS
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: iroha2

#4421 [chore]: Add Nurzhan Sakén to iroha2 MAINTAINERS
  MAINTAINERS.md
Labels: iroha2

#4427 [fix] #4226: Prevent registering genesis Domain or Account
  configs/swarm/executor.wasm
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/world.rs
Labels: Bug, iroha2

#4432 [chore]: Add @safinsaf to MAINTAINERS
  MAINTAINERS.md
Labels: iroha2

#4414 [ci]: Configure Sonarqube and Defectdojo in iroha2 CI
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-no-incorrect-image.yml
  Dockerfile.build
  Dockerfile.build.glibc
  sonar-project.properties
Labels: iroha2, CI

#4413 [fix] #4253: Check genesis pub key in genesis round
  cli/src/lib.rs
  core/src/block.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/tx.rs
Labels: Bug, iroha2

#4461 [fix] #4332: Remove corresponding triggers on `Unregister<Domain>`
  core/src/smartcontracts/isi/world.rs
Labels: Bug, iroha2

#4454 [ci]: Update iroha2 stable/lts branch workflows triggers
  .github/workflows/iroha2-dev-pr-label.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-title.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-label.yml
  .github/workflows/iroha2-pr-ui.yml
  .github/workflows/iroha2-release-pr.yml
  .github/workflows/iroha2-release.yml
Labels: iroha2, CI

#4430 [fix] #4429: Dont clear trigger execution queue (STABLE)
  client/tests/integration/triggers/data_trigger.rs
  core/src/smartcontracts/isi/triggers/set.rs
Labels: Bug, iroha2

#4477 [fix]: Fix trigger filters
  data_model/src/events/data/filters.rs
Labels: Bug, iroha2

#4457 [refactor] #3240: Guard against secrets leakage
  cli/src/lib.rs
  config/tests/fixtures.rs
  crypto/src/lib.rs
  crypto/src/secrecy.rs
  crypto/src/signature/ed25519.rs
  crypto/src/signature/mod.rs
  tools/kagami/src/crypto.rs
Labels: iroha2, Refactor

#4485 [ci] #4459: New iroha2-stable images release tags
  .github/workflows/iroha2-profiling-image.yml
  .github/workflows/iroha2-release.yml
Labels: iroha2, CI

#4484 [chore]: bump version to 2.0.0-pre-rc.21
  CHANGELOG.md
  CHANGELOG.rst
  Cargo.lock
  Cargo.toml
  client/tests/integration/smartcontracts/Cargo.toml
  default_executor/Cargo.toml
  wasm_codec/Cargo.toml
Labels: iroha2

#4490 [ci]: Configure dependabot to follow commit message format
  .github/dependabot.yml
  .github/workflows/iroha2-dev-pr-title.yml
Labels: iroha2, CI

#4493 [fix]: fix broken regex in PR title action
  .github/workflows/iroha2-dev-pr-title.yml
Labels: iroha2

#4505 [chore]: format doc comments
  .rustfmt.toml
  client/src/http.rs
  core/src/block.rs
  core/src/executor.rs
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/tx.rs
  crypto/src/encryption/mod.rs
  data_model/derive/src/lib.rs
  data_model/src/query/predicate.rs
  ffi/derive/src/lib.rs
  ffi/src/repr_c.rs
  p2p/src/network.rs
  primitives/src/unique_vec.rs
  smart_contract/derive/src/lib.rs
  smart_contract/executor/derive/src/lib.rs
  telemetry/derive/src/lib.rs
  tools/parity_scale_cli/src/main.rs
  tools/swarm/src/util.rs
  wasm_builder/src/lib.rs
Labels: iroha2, Chore

#4519 [chore]: Revert "Bump zeroize from 1.7.0 to 1.8.0 (#4506)"
  Cargo.lock
  crypto/Cargo.toml
Labels: iroha2, Chore

#4235 [documentation] #4234: Iroha 2 README YAC
  README.md
Labels: 1.x
