Repository hyperledger-iroha/iroha, pull requests merged in 2024-01, with the labels that each got.

#4173 Trying to repair dependency which stopped working (protoc for golang)
  docker/develop/Dockerfile
  docker/iroha-builder/Dockerfile
Labels: 1.x, build, dependencies

#4191 [refactor] #4152: Remove `bridge` and `dex` features
  Cargo.lock
  Cargo.toml
  README.md
  cli/Cargo.toml
  cli/README.md
  core/Cargo.toml
  core/src/lib.rs
  core/src/modules/dex.rs
  core/src/modules/mod.rs
  substrate/Cargo.toml
  substrate/src/lib.rs
Labels: iroha2

#4118 [refactor]: update `iroha_torii_macro` to use syn 2.0
  Cargo.lock
  torii/macro/Cargo.toml
  torii/macro/src/lib.rs
Labels: iroha2

#4163 [feature] #3453: Implement Store set, remove, get operations in Client CLI
  client_cli/src/main.rs
  data_model/src/asset.rs
Labels: iroha2

#4193 [fix] #4192: Fix musl archiver name in Docker
  Dockerfile
Labels: Bug, iroha2

#4180 [fix] #4177: Fixed (get|set)_config 401 HTTP.
  client/src/client.rs
Labels: iroha2

#4196 [ci] #4184: Bump to 2024-01-12 toolchain & Revert to custom Coveralls settings
  .github/workflows/iroha2-ci-image.yml
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-ui.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release-pr.yml
  .github/workflows/iroha2-release.yml
  Dockerfile
  Dockerfile.build
  Dockerfile.build.glibc
  Dockerfile.glibc
  wasm_builder/src/lib.rs
Labels: iroha2, CI

#4175 [feature] #3974: Add subcommands into iroha_client_cli to edit domain metadata
  client_cli/src/main.rs
Labels: iroha2

#4201 [refactor]: Fix CI lints after bump of toolchain version
  Cargo.toml
  cli/src/lib.rs
  client/tests/integration/events/data.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/unregister_peer.rs
  client/tests/mod.rs
  client/tests/wasm/mod.rs
  client/tests/wasm/utils.rs
  client_cli/src/main.rs
  config/src/path.rs
  core/src/block_sync.rs
  core/src/kiso.rs
  core/src/kura.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/tx.rs
  core/src/wsv.rs
  crypto/src/hash.rs
  crypto/src/lib.rs
  crypto/src/signature/bls/implementation.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  ffi/derive/src/attr_parse/derive.rs
  ffi/derive/src/impl_visitor.rs
  ffi/derive/tests/ui_fail/fallible_transmute_mut_ref.stderr
  ffi/derive/tests/ui_fail/non_robust_repr_c.stderr
  macro/derive/tests/enum_from_variant_attrs.rs
  schema/derive/src/lib.rs
  schema/tests/schema_json.rs
  smart_contract/executor/derive/src/validate.rs
  smart_contract/executor/src/default/tokens.rs
  telemetry/derive/src/lib.rs
  tools/swarm/src/compose.rs
  version/derive/tests/scale.rs
  wasm_codec/derive/src/lib.rs
  wasm_codec/src/lib.rs
Labels: iroha2

#4185 [feature] #4126: Add chain_id to prevent replay attacks
  cli/src/lib.rs
  cli/src/samples.rs
  client/benches/torii.rs
  client/benches/tps/utils.rs
  client/examples/million_accounts_genesis.rs
  client/src/client.rs
  client/src/lib.rs
  client/tests/integration/asset.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/domain_owner.rs
  client/tests/integration/permissions.rs
  client/tests/integration/roles.rs
  client/tests/integration/upgrade.rs
  client_cli/pytests/README.md
  config/iroha_test_config.json
  config/src/client.rs
  config/src/iroha.rs
  configs/client/config.json
  configs/peer/config.json
  configs/peer/executor.wasm
  core/benches/blocks/common.rs
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/gossiper.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/query.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/tx.rs
  core/test_network/src/lib.rs
  data_model/src/lib.rs
  data_model/src/transaction.rs
  docker-compose.dev.local.yml
  docker-compose.dev.single.yml
  docker-compose.dev.yml
  docs/source/references/schema.json
  ffi/derive/src/lib.rs
  ffi/derive/src/wrapper.rs
  ffi/src/ir.rs
  ffi/src/lib.rs
  ffi/src/primitives.rs
  ffi/src/repr_c.rs
  ffi/src/slice.rs
  ffi/src/std_impls.rs
  ffi/tests/export_shared_fns.rs
  ffi/tests/ffi_export.rs
  ffi/tests/ffi_import.rs
  ffi/tests/ffi_import_opaque.rs
  ffi/tests/import_getset.rs
  ffi/tests/import_shared_fns.rs
  ffi/tests/transparent.rs
  genesis/src/lib.rs
  schema/src/lib.rs
  scripts/test_env.py
  tools/kagami/src/config.rs
  tools/swarm/src/compose.rs
  torii/src/lib.rs
  torii/src/routing.rs
Labels: iroha2

#4198 [fix] #4162: SignedTransaction is immutable
  client/src/client.rs
  configs/peer/executor.wasm
  core/src/queue.rs
  data_model/src/transaction.rs
Labels: iroha2

#4188 [refactor]: update wasm_codec_derive to use syn2
  Cargo.lock
  wasm_codec/derive/Cargo.toml
  wasm_codec/derive/src/lib.rs
Labels: iroha2

#4207 [fix] #4211: Fix async blocking bug when starting Sumeragi
  cli/src/lib.rs
  core/src/query/store.rs
  core/src/sumeragi/mod.rs
Labels: Bug, iroha2

#4049 [feature] #3871: `Register<AssetDefinition>` permissions
  .github/workflows/iroha2-dev-pr-static.yml
  Cargo.lock
  Cargo.toml
  client/benches/torii.rs
  client/examples/million_accounts_genesis.rs
  client/tests/integration/asset.rs
  client/tests/integration/domain_owner.rs
  client/tests/integration/permissions.rs
  client/tests/integration/smartcontracts/create_nft_for_every_user_trigger/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_custom_token/src/lib.rs
  client_cli/pytests/common/consts.py
  client_cli/src/main.rs
  configs/peer/executor.wasm
  configs/peer/genesis.json
  core/benches/blocks/common.rs
  core/benches/validation.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/test_network/src/lib.rs
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/events/data/filters.rs
  data_model/src/isi.rs
  docs/source/references/schema.json
  genesis/src/lib.rs
  schema/gen/src/lib.rs
  smart_contract/executor/derive/src/lib.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/default/tokens.rs
  tools/kagami/src/genesis.rs
  tools/parity_scale_decoder/samples/trigger.bin
  tools/parity_scale_decoder/src/main.rs
  torii/Cargo.toml
  torii/derive/Cargo.toml
  torii/derive/src/lib.rs
  torii/src/utils.rs
Labels: iroha2

#4003 Introduce an optional title parameter to the AddAssetQuantity and SubtractAssetQuantity, enhancing functionality within Iroha Core for improved message communication. Ensure corresponding handling capabilities in Iroha CLI for seamless integration.
  iroha-cli/interactive/impl/interactive_transaction_cli.cpp
  iroha-lib/examples/DomainAssetCreation.cpp
  iroha-lib/model/Tx.cpp
  iroha-lib/model/Tx.hpp
  iroha-lib/model/generators/CommandGenerator.cpp
  iroha-lib/model/generators/CommandGenerator.hpp
  irohad/model/commands/add_asset_quantity.hpp
  irohad/model/commands/subtract_asset_quantity.hpp
  irohad/model/converters/impl/json_command_factory.cpp
  irohad/model/converters/impl/pb_command_factory.cpp
  irohad/model/generators/command_generator.hpp
  irohad/model/generators/impl/command_generator.cpp
  irohad/model/impl/model_operators.cpp
  shared_model/backend/protobuf/commands/impl/proto_add_asset_quantity.cpp
  shared_model/backend/protobuf/commands/impl/proto_subtract_asset_quantity.cpp
  shared_model/backend/protobuf/commands/proto_add_asset_quantity.hpp
  shared_model/backend/protobuf/commands/proto_subtract_asset_quantity.hpp
  shared_model/interfaces/commands/add_asset_quantity.hpp
  shared_model/interfaces/commands/impl/add_asset_quantity.cpp
  shared_model/interfaces/commands/impl/subtract_asset_quantity.cpp
  shared_model/interfaces/commands/subtract_asset_quantity.hpp
  shared_model/interfaces/common_objects/types.hpp
  shared_model/schema/commands.proto
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  test/integration/executor/add_asset_qty_test.cpp
  test/integration/executor/executor_fixture.hpp
  test/integration/executor/get_engine_receipts_test.cpp
  test/module/irohad/ametsuchi/rocksdb_executor_test.cpp
  test/module/irohad/model/converters/json_commands_test.cpp
  test/module/irohad/model/operators/model_operators_test.cpp
  test/module/shared_model/command_mocks.hpp
  test/module/shared_model/mock_objects_factories/mock_command_factory.cpp
  test/module/shared_model/mock_objects_factories/mock_command_factory.hpp
  test/module/shared_model/validators/field_validator_test.cpp
  test/module/shared_model/validators/validators_fixture.hpp
Labels: 1.x, api-changes, 1.5

#4115 [refactor] #3657: Split view changes from normal messages
  cli/src/lib.rs
  client/tests/integration/connected_peers.rs
  core/src/block_sync.rs
  core/src/lib.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/mod.rs
Labels: iroha2

#4200 [refactor] #4167: asset subcommand in client CLI to be consistent
  client_cli/pytests/src/client_cli/client_cli.py
  client_cli/src/main.rs
Labels: iroha2

#4221 [ci]: Add glibc image publishing workflow
  .github/workflows/iroha2-ci-image.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-profiling-image.yml
Labels: iroha2, CI

#4203 [feature] #4183: change endpoint to return Vec of matching transactions
  client/src/client.rs
  client/tests/integration/multisignature_transaction.rs
  client_cli/src/main.rs
  config/src/torii.rs
  torii/src/lib.rs
  torii/src/routing.rs
Labels: iroha2

#4216 [fix] #4211: Fix call blocking methods within async context
  core/benches/blocks/apply_blocks.rs
  core/benches/blocks/apply_blocks_benchmark.rs
  core/benches/blocks/apply_blocks_oneshot.rs
  core/benches/blocks/common.rs
  core/benches/blocks/validate_blocks.rs
  core/benches/blocks/validate_blocks_benchmark.rs
  core/benches/blocks/validate_blocks_oneshot.rs
Labels: Bug, iroha2

#4053 [ci]: docker image validator
  .github/scripts/ci_test/ci_image_scan.py
  .github/scripts/ci_test/git_root.py
  .github/scripts/ci_test/requirements.txt
  .github/workflows/iroha2-no-incorrect-image.yml
  docker-compose.dev.single.yml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.single.yml
  docker-compose.stable.single.yml
  docker-compose.stable.yml
  docker-compose.yml
Labels: iroha2, CI

#4020 fix variable error
  CMakeLists.txt
  docs/source/build/index.rst
  docs/source/concepts_architecture/architecture.rst
  docs/source/deploy/single.rst
  docs/source/develop/api/queries.rst
  example/burrow_integration/permissions.py
Labels: 1.x
