Repository hyperledger-iroha/iroha, pull requests merged in 2024-11, with the labels that each got.

#5176 feat!: Address agnostic p2p
  crates/iroha/tests/extra_functional/connected_peers.rs
  crates/iroha/tests/extra_functional/offline_peers.rs
  crates/iroha/tests/extra_functional/unregister_peer.rs
  crates/iroha_cli/src/main.rs
  crates/iroha_config/iroha_test_config.toml
  crates/iroha_config/src/parameters/actual.rs
  crates/iroha_config/src/parameters/user.rs
  crates/iroha_config/tests/fixtures.rs
  crates/iroha_config/tests/fixtures/bad.torii_addr_eq_p2p_addr.toml
  crates/iroha_config/tests/fixtures/base.toml
  crates/iroha_config/tests/fixtures/full.env
  crates/iroha_config/tests/fixtures/full.toml
  crates/iroha_config/tests/fixtures/minimal_file_and_env.toml
  crates/iroha_core/benches/blocks/apply_blocks.rs
  crates/iroha_core/benches/blocks/validate_blocks.rs
  crates/iroha_core/benches/kura.rs
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/block_sync.rs
  crates/iroha_core/src/kura.rs
  crates/iroha_core/src/lib.rs
  crates/iroha_core/src/peers_gossiper.rs
  crates/iroha_core/src/smartcontracts/isi/query.rs
  crates/iroha_core/src/smartcontracts/isi/world.rs
  crates/iroha_core/src/snapshot.rs
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
  crates/iroha_core/src/sumeragi/mod.rs
  crates/iroha_core/src/sumeragi/network_topology.rs
  crates/iroha_core/src/sumeragi/view_change.rs
  crates/iroha_data_model/src/isi.rs
  crates/iroha_data_model/src/peer.rs
  crates/iroha_data_model/src/query/mod.rs
  crates/iroha_data_model/src/query/predicate/predicate_atoms/peer.rs
  crates/iroha_data_model_derive/src/id.rs
  crates/iroha_genesis/src/lib.rs
  crates/iroha_p2p/src/network.rs
  crates/iroha_p2p/src/peer.rs
  crates/iroha_p2p/tests/integration/p2p.rs
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_swarm/src/lib.rs
  crates/iroha_swarm/src/peer.rs
  crates/iroha_swarm/src/schema.rs
  crates/iroha_test_network/src/lib.rs
  crates/irohad/src/main.rs
  defaults/docker-compose.local.yml
  defaults/docker-compose.single.yml
  defaults/docker-compose.yml
  docs/source/references/schema.json
  scripts/test_env.py
Labels: api-changes, config-changes

#5219 docs: Update readmes
  crates/iroha_cli/README.md
  docs/README.md
  docs/source/guides/hot-reload.md
Labels: Documentation

#5228 chore!: simplify peer id parsing
  crates/iroha/tests/extra_functional/connected_peers.rs
  crates/iroha_config/iroha_test_config.toml
  crates/iroha_config/src/parameters/actual.rs
  crates/iroha_config/src/parameters/user.rs
  crates/iroha_config/tests/fixtures.rs
  crates/iroha_config/tests/fixtures/base_trusted_peers.toml
  crates/iroha_config/tests/fixtures/full.env
  crates/iroha_config/tests/fixtures/full.toml
  crates/iroha_core/src/sumeragi/mod.rs
  crates/iroha_data_model/src/peer.rs
  crates/iroha_data_model/src/trigger.rs
  crates/iroha_derive/src/lib.rs
  crates/iroha_swarm/src/lib.rs
  crates/iroha_swarm/src/schema.rs
  crates/iroha_test_network/src/lib.rs
  crates/irohad/src/main.rs
  defaults/docker-compose.local.yml
  defaults/docker-compose.yml
  docs/source/references/peer.template.toml
  scripts/test_env.py
Labels: config-changes

#5217 refactor(multisig)!: move from triggers to custom instructions
  Cargo.lock
  Cargo.toml
  crates/iroha/Cargo.toml
  crates/iroha/src/lib.rs
  crates/iroha/tests/multisig.rs
  crates/iroha_cli/src/main.rs
  crates/iroha_data_model/src/visit.rs
  crates/iroha_executor/src/default/isi/mod.rs
  crates/iroha_executor/src/default/isi/multisig/account.rs
  crates/iroha_executor/src/default/isi/multisig/mod.rs
  crates/iroha_executor/src/default/isi/multisig/transaction.rs
  crates/iroha_executor/src/default/mod.rs
  crates/iroha_executor/src/lib.rs
  crates/iroha_executor/src/permission.rs
  crates/iroha_executor_data_model/Cargo.toml
  crates/iroha_executor_data_model/src/isi.rs
  crates/iroha_executor_data_model/src/lib.rs
  crates/iroha_executor_data_model/src/permission.rs
  crates/iroha_executor_derive/src/default.rs
  crates/iroha_genesis/src/lib.rs
  crates/iroha_kagami/src/genesis/generate.rs
  crates/iroha_schema/src/lib.rs
  crates/iroha_schema_gen/Cargo.toml
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_test_network/src/lib.rs
  data_model/libs/iroha_multisig_data_model/Cargo.toml
  data_model/libs/iroha_multisig_data_model/src/lib.rs
  defaults/genesis.json
  docs/source/references/schema.json
  scripts/build_wasm.sh
  scripts/tests/instructions.json
  scripts/tests/multisig.recursion.sh
  scripts/tests/multisig.sh
  wasm/Cargo.toml
  wasm/libs/multisig_accounts/Cargo.toml
  wasm/libs/multisig_accounts/src/lib.rs
  wasm/libs/multisig_domains/Cargo.toml
  wasm/libs/multisig_domains/src/lib.rs
  wasm/libs/multisig_transactions/Cargo.toml
  wasm/libs/multisig_transactions/src/lib.rs
  wasm/samples/executor_custom_instructions_complex/src/lib.rs
  wasm/samples/executor_custom_instructions_simple/src/lib.rs
Labels: api-changes, config-changes

#5235 feat: add /peers API endpoint to torii
  crates/iroha/tests/status_response.rs
  crates/iroha_core/src/lib.rs
  crates/iroha_core/src/metrics.rs
  crates/iroha_core/src/smartcontracts/isi/world.rs
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
  crates/iroha_core/src/sumeragi/mod.rs
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_telemetry/src/metrics.rs
  crates/iroha_torii/src/lib.rs
  crates/iroha_torii/src/routing.rs
  crates/iroha_torii_const/src/lib.rs
  docs/source/references/schema.json
  pytests/iroha_torii_tests/common/schemas/get_status_response.json
Labels: api-changes

#5249 chore(schema): export missing permissions
  crates/iroha_schema_gen/src/lib.rs
  docs/source/references/schema.json
Labels: api-changes

#5241 feat: Add listen timeouts to iroha cli
  Cargo.lock
  crates/iroha_cli/Cargo.toml
  crates/iroha_cli/src/main.rs
  pytests/iroha_cli_tests/poetry.lock
  pytests/iroha_cli_tests/test/events/__init__.py
  pytests/iroha_cli_tests/test/events/conftest.py
  pytests/iroha_cli_tests/test/events/test_listen_events.py
Labels: config-changes

#5216 test: add grant and revoke tests
  pytests/iroha_cli_tests/common/consts.py
  pytests/iroha_cli_tests/common/helpers.py
  pytests/iroha_cli_tests/common/json_isi_examples/grant_permission.json
  pytests/iroha_cli_tests/common/json_isi_examples/revoke_permission.json
  pytests/iroha_cli_tests/common/json_isi_examples/unregister_asset.json
  pytests/iroha_cli_tests/src/iroha_cli/have.py
  pytests/iroha_cli_tests/src/iroha_cli/iroha_cli.py
  pytests/iroha_cli_tests/test/conftest.py
  pytests/iroha_cli_tests/test/permissions/__init__.py
  pytests/iroha_cli_tests/test/permissions/test_grant_permissions.py
  pytests/iroha_cli_tests/test/permissions/test_revoke_permissions.py
Labels: Tests

#5252 ci: link checking
  .github/workflows/iroha2-doc-links.yml
  CONTRIBUTING.md
  crates/iroha/examples/tutorial.rs
  crates/iroha_wasm_builder/src/lib.rs
  lychee.toml
  wasm/libs/default_executor/README.md
Labels: CI

#5240 feat(multisig)!: pretty list of pending proposals
  Cargo.lock
  crates/iroha/tests/multisig.rs
  crates/iroha_cli/Cargo.toml
  crates/iroha_cli/src/main.rs
  crates/iroha_executor/src/default/isi/multisig/account.rs
  crates/iroha_executor/src/default/isi/multisig/mod.rs
  crates/iroha_executor/src/default/isi/multisig/transaction.rs
  crates/iroha_executor/src/default/mod.rs
  crates/iroha_executor_data_model/Cargo.toml
  crates/iroha_executor_data_model/src/isi.rs
  crates/iroha_schema_gen/src/lib.rs
  docs/source/references/schema.json
  scripts/tests/multisig.recursion.sh
  scripts/tests/multisig.sh
Labels: api-changes
