Repository hyperledger-iroha/iroha, pull requests merged in 2024-09, with the labels that each got.

#5028 fix: remove executor.wasm from git
  defaults/executor.wasm
Labels: config-changes

#5029 refactor: Move total asset quantity to asset definition
  client/tests/integration/queries/asset.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/state.rs
  data_model/src/asset.rs
  data_model/src/lib.rs
  data_model/src/query/mod.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  wasm_samples/executor_custom_data_model/src/complex_isi.rs
  wasm_samples/executor_custom_instructions_complex/src/lib.rs
Labels: api-changes, queries

#5016 feat(queries): Report amount of remaining items in query
  client/src/query.rs
  client/tests/integration/pagination.rs
  client_cli/src/main.rs
  core/src/query/cursor.rs
  core/src/query/pagination.rs
  core/src/query/store.rs
  data_model/src/query/builder.rs
  data_model/src/query/mod.rs
  docs/source/references/schema.json
  smart_contract/src/lib.rs
  wasm_samples/query_assets_and_save_cursor/src/lib.rs
Labels: api-changes

#5025 feat(queries): Transaction and block predicates
  client/src/client.rs
  client/tests/integration/tx_history.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/tx.rs
  data_model/src/lib.rs
  data_model/src/query/mod.rs
  data_model/src/query/predicate/predicate_atoms/block.rs
  data_model/src/query/predicate/projectors.rs
  data_model/src/query/predicate/prototypes/block.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
Labels: api-changes, queries

#5032 fix(p2p): disable sending message when not ready to prevent busy loop
  p2p/src/peer.rs
Labels: Bug

#4929 refactor(view_change): only send current and previous view change proof
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/view_change.rs
Labels: Refactor, Optimization

#5020 refactor: Change parameters format in genesis.json
  data_model/src/parameter.rs
  defaults/genesis.json
  docs/source/references/schema.json
  genesis/src/lib.rs
  schema/gen/src/lib.rs
Labels: api-changes, config-changes

#4716 refactor: supervise spawned tasks
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/lib.rs
  cli/src/main.rs
  client/tests/integration/extra_functional/restart_peer.rs
  core/Cargo.toml
  core/benches/blocks/common.rs
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/block_sync.rs
  core/src/gossiper.rs
  core/src/kiso.rs
  core/src/kura.rs
  core/src/lib.rs
  core/src/query/store.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/wasm.rs
  core/src/snapshot.rs
  core/src/state.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/test_network/Cargo.toml
  core/test_network/src/lib.rs
  futures/Cargo.toml
  futures/src/lib.rs
  futures/src/supervisor.rs
  logger/src/lib.rs
  p2p/Cargo.toml
  p2p/src/network.rs
  p2p/tests/integration/p2p.rs
  telemetry/src/dev.rs
  torii/src/lib.rs
Labels: Enhancement, api-changes, Refactor

#5039 fix(topology): dont depend on signatures for update
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
Labels: Bug, Consensus

#5040 refactor: introduce `FindTriggers` query, remove `FindTriggerById`
  client/src/client.rs
  client/tests/integration/multisig.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/orphans.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  data_model/src/lib.rs
  data_model/src/query/mod.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  smart_contract/executor/src/permission.rs
Labels: api-changes

#5070 fix(supervisor): failing tests, chores
  crates/iroha_core/src/gossiper.rs
  crates/iroha_core/src/kura.rs
  crates/iroha_core/src/query/store.rs
  crates/iroha_futures/src/supervisor.rs
Labels: Bug, Tests

#5086 refactor: make query cursor errors more specific
  crates/iroha/tests/integration/queries/smart_contract.rs
  crates/iroha_core/src/query/cursor.rs
  crates/iroha_core/src/query/store.rs
  crates/iroha_data_model/src/query/mod.rs
  crates/iroha_torii/src/lib.rs
  docs/source/references/schema.json
Labels: api-changes

#5102 ci: Switch iroha2 default image to debian-based
  .github/workflows/iroha2-custom-image.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
  crates/iroha_swarm/src/lib.rs
  crates/iroha_swarm/src/schema.rs
  defaults/docker-compose.local.yml
  defaults/docker-compose.single.yml
  defaults/docker-compose.yml
Labels: config-changes

#5075 refactor(permissions): define default permission set
  crates/iroha/tests/integration/asset.rs
  crates/iroha/tests/integration/events/data.rs
  crates/iroha/tests/integration/multisig.rs
  crates/iroha/tests/integration/permissions.rs
  crates/iroha/tests/integration/queries/role.rs
  crates/iroha/tests/integration/roles.rs
  crates/iroha/tests/integration/transfer_domain.rs
  crates/iroha/tests/integration/triggers/by_call_trigger.rs
  crates/iroha/tests/integration/upgrade.rs
  crates/iroha_core/src/kura.rs
  crates/iroha_core/src/smartcontracts/isi/account.rs
  crates/iroha_core/src/smartcontracts/isi/world.rs
  crates/iroha_core/src/state.rs
  crates/iroha_data_model/src/isi.rs
  crates/iroha_data_model/src/role.rs
  crates/iroha_executor/src/default.rs
  crates/iroha_executor/src/lib.rs
  crates/iroha_executor/src/permission.rs
  crates/iroha_executor_data_model/src/permission.rs
  crates/iroha_kagami/src/genesis/generate.rs
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_test_network/src/lib.rs
  defaults/genesis.json
  docs/source/references/schema.json
  wasm_samples/executor_with_custom_permission/src/lib.rs
  wasm_samples/multisig_register/src/lib.rs
Labels: api-changes, config-changes
