Repository hyperledger-iroha/iroha, pull requests merged in 2024-05, with the labels that each got.

#4523 [ci] #4502: Enforce Conventional Commits in PR titles
  .github/workflows/iroha2-dev-pr-title.yml
Labels: iroha2, CI

#4532 [ci] #4501: Remove `iroha2` labeler matcher
  .github/labeler.yml
Labels: iroha2, CI

#4503 [fix] #4331: Revoke removed `PermissionToken`s on `Upgrade<Executor>`
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/executor_remove_token/Cargo.toml
  client/tests/integration/smartcontracts/executor_remove_token/src/lib.rs
  client/tests/integration/upgrade.rs
  configs/swarm/executor.wasm
  core/src/smartcontracts/isi/world.rs
  data_model/src/isi.rs
Labels: Bug, iroha2

#4541 refactor!: Use multihash format for private keys
  client/src/config.rs
  config/iroha_test_config.toml
  config/src/parameters/user.rs
  config/src/parameters/user/boilerplate.rs
  config/tests/fixtures.rs
  config/tests/fixtures/absolute_paths.toml
  config/tests/fixtures/bad.multiple_bad_envs.env
  config/tests/fixtures/base.toml
  config/tests/fixtures/full.env
  config/tests/fixtures/full.toml
  config/tests/fixtures/inconsistent_genesis.toml
  config/tests/fixtures/minimal_alone_with_genesis.toml
  config/tests/fixtures/minimal_file_and_env.toml
  configs/client.template.toml
  configs/peer.template.toml
  configs/swarm/client.toml
  configs/swarm/docker-compose.local.yml
  configs/swarm/docker-compose.single.yml
  configs/swarm/docker-compose.yml
  configs/swarm/executor.wasm
  crypto/src/lib.rs
  crypto/src/multihash.rs
  tools/kagami/src/crypto.rs
  tools/swarm/src/compose.rs
Labels: config-changes

#4489 refactor: Transactional trigger set
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/smartcontracts/isi/world.rs
  core/src/state.rs
Labels: iroha2-dev, Refactor

#4573 ci: fix `with_coverage`, isolate not `unstable` but `extra_functional`
  .github/workflows/iroha2-dev-pr.yml
  client/tests/mod.rs
  p2p/tests/mod.rs
Labels: CI

#4589 fix: trigger set is correctly serialized
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/smartcontracts/isi/triggers/specialized.rs
  core/src/state.rs
Labels: Bug

#4600 [BACKPORT]: support https URL scheme in config
  config/src/client.rs
Labels: iroha2

#4610 refactor!: rename TransactionValue into CommittedTransaction
  core/src/block.rs
  core/src/smartcontracts/isi/tx.rs
  data_model/src/block.rs
  data_model/src/query/mod.rs
  data_model/src/transaction.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
Labels: api-changes

#4611 fix(kura): Inline kura initialization into constructor
  cli/src/lib.rs
  core/benches/kura.rs
  core/src/kura.rs
Labels: Bug

#4619 fix(test_network): Set myself in trusted_peers
  core/test_network/src/lib.rs
Labels: Bug

#4617 feat: support `https` for `torii_url` (#4601)
  client/src/config.rs
  client/src/config/user.rs
Labels: config-changes

#4622 fix: don't clear events buffer on wsv clone
  core/src/wsv.rs
Labels: iroha2

#4605 ci: Refactor Sonarqube & DefectDojo job
  .github/workflows/iroha2-dev-code-quality.yml
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  configs/swarm/docker-compose.yml
  scripts/tests/consistency.sh
Labels: CI

#4635 refactor: rename `PermissionToken` to `Permission`
  client/src/client.rs
  client/tests/integration/asset.rs
  client/tests/integration/domain_owner_permissions.rs
  client/tests/integration/events/data.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/roles.rs
  client/tests/integration/smartcontracts/Cargo.toml
  client/tests/integration/smartcontracts/executor_remove_permission/Cargo.toml
  client/tests/integration/smartcontracts/executor_remove_permission/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_custom_permission/Cargo.toml
  client/tests/integration/smartcontracts/executor_with_custom_permission/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/upgrade.rs
  client_cli/src/main.rs
  configs/swarm/executor.wasm
  configs/swarm/genesis.json
  core/benches/blocks/common.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/state.rs
  core/test_network/src/lib.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/filters.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/permission.rs
  data_model/src/query/mod.rs
  data_model/src/query/predicate.rs
  data_model/src/role.rs
  data_model/src/visit.rs
  default_executor/src/lib.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  smart_contract/executor/derive/src/default.rs
  smart_contract/executor/derive/src/entrypoint.rs
  smart_contract/executor/derive/src/token.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/default/tokens.rs
  smart_contract/executor/src/lib.rs
  smart_contract/executor/src/permission.rs
  tools/kagami/src/genesis.rs
Labels: api-changes, Refactor

#4333 fix: Don't prematurely execute time-triggers before their `start` timestamp
  client/tests/integration/triggers/time_trigger.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  data_model/src/account.rs
  data_model/src/events/time.rs
  data_model/src/isi.rs
  docs/source/references/schema.json
Labels: Bug, iroha2-dev, api-changes

#4612 fix(sumeragi): Use proper view_change_index on init block load
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
Labels: Bug

#4639 fix(sumeragi): Use proper view_change_index on init block load
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/mod.rs
Labels: Bug, iroha2

#4661 fix(BACKPORT): compare permission payloads as `serde_json::Value`
  client/tests/integration/permissions.rs
  data_model/src/permission.rs
  version/src/lib.rs
Labels: iroha2

#4658 feat!: generalize permissions schema to executor data model
  client/src/client.rs
  client/tests/integration/asset.rs
  client/tests/integration/domain_owner_permissions.rs
  client/tests/integration/events/data.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/roles.rs
  client/tests/integration/smartcontracts/executor_remove_permission/src/lib.rs
  client/tests/integration/smartcontracts/executor_with_custom_permission/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/upgrade.rs
  client/tests/ui_fail/cant_filter_singular_query.rs
  client/tests/ui_fail/cant_filter_singular_query.stderr
  configs/swarm/executor.wasm
  configs/swarm/genesis.json
  core/benches/blocks/common.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/world.rs
  core/src/smartcontracts/wasm.rs
  core/src/state.rs
  core/test_network/src/lib.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/filters.rs
  data_model/src/executor.rs
  data_model/src/lib.rs
  data_model/src/permission.rs
  data_model/src/query/mod.rs
  data_model/src/visit.rs
  default_executor/src/lib.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  smart_contract/executor/derive/src/entrypoint.rs
  smart_contract/executor/derive/src/lib.rs
  smart_contract/executor/derive/src/permission.rs
  smart_contract/executor/derive/src/token.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/default/permissions.rs
  smart_contract/executor/src/lib.rs
  smart_contract/executor/src/permission.rs
  smart_contract/tests/ui_fail/cant_filter_singular_query.rs
  smart_contract/tests/ui_fail/cant_filter_singular_query.stderr
  tools/kagami/src/genesis.rs
  tools/parity_scale_cli/src/main.rs
Labels: api-changes
