Repository hyperledger-iroha/iroha, pull requests merged in 2024-02, with the labels that each got.

#4032 [Confluence Documentation] Update message AddAssetQuantity and SubtractAssetQuantity with extra optional parameter
  docs/source/develop/api/commands.rst
Labels: 1.x, Documentation, api-changes

#4232 [chore] #4231: Update MAINTAINERS
  MAINTAINERS.md
Labels: 1.x

#4157 [documentation]: update Pytests README
  client_cli/pytests/.gitignore
  client_cli/pytests/README.md
Labels: iroha2, Documentation

#4233 [chore]: #4231 Update MAINTAINERS (dev branch)
  MAINTAINERS.md
Labels: iroha2

#4246 [ci] #3889: Add docker-compose files run check into iroha2 CI
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
  docker-compose.local.yml
  docker-compose.single.yml
  docker-compose.yml
  scripts/tests/consistency.sh
  tools/swarm/Cargo.toml
  tools/swarm/src/cli.rs
  tools/swarm/src/compose.rs
  tools/swarm/src/main.rs
Labels: iroha2, CI

#4263 [fix] #4256: Introduce predictable ordering after too many failed view changes
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/network_topology.rs
Labels: iroha2

#4266 [BACKPORT] #4083: Introduce predictable ordering after too many failed view changes
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/network_topology.rs
Labels: iroha2

#4251 Fixing warning in command SubtractAssetQuantity, removing unnecessarily includes, small documentation change
  CONTRIBUTING.rst
  docker/develop/Dockerfile
  docker/iroha-builder/Dockerfile
  irohad/model/commands/subtract_asset_quantity.hpp
  shared_model/backend/protobuf/impl/proto_block_factory.cpp
  test/framework/integration_framework/fake_peer/behaviour/honest.cpp
Labels: 1.x, Documentation

#4270 [feature] #3714: Signature validation in no_std
  config/src/wasm.rs
  configs/peer/config.json
  configs/peer/executor.wasm
  configs/peer/genesis.json
  data_model/src/block.rs
  data_model/src/query/mod.rs
  data_model/src/transaction.rs
  torii/src/routing.rs
Labels: Enhancement, iroha2

#4238 [fix] #3974: Update domain::metadata::Set value description
  client_cli/src/main.rs
Labels: iroha2, Documentation

#4274 [feature] #4083: Profiling support (backport)
  .dockerignore
  .github/workflows/iroha2-ci-image.yml
  .github/workflows/iroha2-profiling-image.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Dockerfile.glibc
  cli/Cargo.toml
  cli/src/torii/mod.rs
  cli/src/torii/routing.rs
  config/src/torii.rs
  configs/peer/executor.wasm
  core/Cargo.toml
  core/src/smartcontracts/wasm.rs
Labels: iroha2

#4279 [ci]: Fix pprof-rs Dockerfile and workflow
  .github/workflows/iroha2-profiling-image.yml
  Dockerfile.glibc
Labels: iroha2, CI

#4252 [refactor] #3887: Hide an internal structure of the versioned structs.
  client/benches/tps/utils.rs
  client/src/client.rs
  client/tests/integration/events/pipeline.rs
  client/tests/integration/tx_history.rs
  core/benches/blocks/common.rs
  core/src/block.rs
  core/src/gossiper.rs
  core/src/kura.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/block.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/message.rs
  core/src/sumeragi/mod.rs
  core/src/sumeragi/network_topology.rs
  core/src/tx.rs
  core/src/wsv.rs
  data_model/src/block.rs
  data_model/src/predicate.rs
  data_model/src/query/mod.rs
  data_model/src/transaction.rs
  data_model/src/visit.rs
  smart_contract/executor/src/default.rs
  torii/src/routing.rs
Labels: iroha2, Refactor

#4258 [feature] #4137: for store tranfer instruction
  client/tests/integration/transfer_asset.rs
  configs/peer/executor.wasm
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/mod.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  smart_contract/executor/derive/src/default.rs
  smart_contract/executor/src/default.rs
Labels: iroha2

#4275 [refactor] #4174: Stop encoding X25519 keys as Ed25519
  configs/peer/executor.wasm
  crypto/src/kex/mod.rs
  crypto/src/kex/x25519.rs
  crypto/src/lib.rs
  crypto/src/signature/ed25519.rs
  crypto/src/signature/secp256k1.rs
  p2p/src/peer.rs
Labels: iroha2, Refactor, crypto

#4281 Changed "some-host" to "localhost" in example/config.docker
  example/config.docker
Labels: 1.x

#4283 [refactor] #4277: Infallible key pair generation
  cli/src/lib.rs
  cli/src/samples.rs
  client/benches/torii.rs
  client/benches/tps/utils.rs
  client/examples/tutorial.rs
  client/src/client.rs
  client/tests/integration/asset.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/domain_owner.rs
  client/tests/integration/multiple_blocks_created.rs
  client/tests/integration/multisignature_account.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/offline_peers.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/asset.rs
  client/tests/integration/roles.rs
  client/tests/integration/transfer_asset.rs
  client/tests/integration/unregister_peer.rs
  client/tests/integration/upgrade.rs
  core/benches/blocks/apply_blocks.rs
  core/benches/blocks/validate_blocks.rs
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/network_topology.rs
  core/test_network/src/lib.rs
  crypto/src/lib.rs
  crypto/src/signature/mod.rs
  data_model/src/account.rs
  data_model/src/predicate.rs
  genesis/src/lib.rs
  p2p/tests/integration/p2p.rs
  tools/kagami/src/genesis.rs
  tools/swarm/src/compose.rs
Labels: iroha2, Refactor, crypto

#4286 [fix] #4190: Fix seed-based keys generation
  Cargo.lock
  configs/swarm/executor.wasm
  crypto/Cargo.toml
  crypto/src/lib.rs
  crypto/src/signature/ed25519.rs
  crypto/src/signature/mod.rs
  crypto/src/signature/secp256k1.rs
  tools/kagami/src/crypto.rs
  tools/swarm/src/compose.rs
Labels: Bug, iroha2, crypto

#4269 Codeowners 2024
  .github/CODEOWNERS
Labels: iroha2

#4302 [feature] #3354: Different fuel limit for Executor
  config/src/parameters/actual.rs
  config/src/parameters/user.rs
  config/src/parameters/user/boilerplate.rs
  config/tests/fixtures.rs
  configs/swarm/genesis.json
  core/benches/blocks/common.rs
  core/src/executor.rs
  core/src/wsv.rs
  data_model/src/lib.rs
  tools/kagami/src/genesis.rs
Labels: Enhancement, iroha2, config-changes

#4276 [ci]: Fix auto-labeling
  .github/labeler.yml
  .github/workflows/iroha2-dev-pr-label.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-title.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-label.yml
Labels: iroha2

#4304 [ci] #4303: Fix Docker Compose path for tests
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-release.yml
Labels: iroha2, CI

#4306 [ci]: Migrate to AWS spot runners CI
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-wasm.yaml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-profiling-image.yml
  .github/workflows/iroha2-release-pr.yml
Labels: iroha2, CI

#4309 [feature] #4212: Prevent account registration without signatures
  cli/src/lib.rs
  client/benches/torii.rs
  client/benches/tps/utils.rs
  client/examples/million_accounts_genesis.rs
  client/examples/tutorial.rs
  client/tests/integration/add_account.rs
  client/tests/integration/asset.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/domain_owner_permissions.rs
  client/tests/integration/extra_functional/multiple_blocks_created.rs
  client/tests/integration/extra_functional/unregister_peer.rs
  client/tests/integration/mod.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/account.rs
  client/tests/integration/queries/asset.rs
  client/tests/integration/roles.rs
  client/tests/integration/sorting.rs
  client/tests/integration/transfer_asset.rs
  client/tests/integration/triggers/data_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/upgrade.rs
  client_cli/src/main.rs
  configs/swarm/executor.wasm
  core/benches/blocks/common.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/main_loop.rs
  crypto/src/lib.rs
  data_model/src/account.rs
  data_model/src/events/data/filters.rs
  data_model/src/predicate.rs
  genesis/src/lib.rs
  smart_contract/src/lib.rs
  tools/parity_scale_decoder/Cargo.toml
  tools/parity_scale_decoder/build.rs
  tools/parity_scale_decoder/samples/account.bin
  tools/parity_scale_decoder/samples/account.json
  tools/parity_scale_decoder/src/main.rs
Labels: Enhancement, iroha2, config-changes

#4316 [ci]: Unsync auto-labels. Fix `config-changes` condition
  .github/labeler.yml
  .github/workflows/iroha2-label.yml
Labels: iroha2, CI

#4326 [fix] #4287: use `algorithm` in `PrivateKey` serialized form
  client/src/config.rs
  config/iroha_test_config.toml
  config/src/parameters/user.rs
  config/test/config.toml
  config/tests/fixtures.rs
  config/tests/fixtures/absolute_paths.toml
  config/tests/fixtures/bad.multiple_bad_envs.env
  config/tests/fixtures/base.toml
  config/tests/fixtures/full.env
  config/tests/fixtures/full.toml
  config/tests/fixtures/inconsistent_genesis.toml
  config/tests/fixtures/minimal_alone_with_genesis.toml
  config/tests/fixtures/minimal_file_and_env.toml
  configs/swarm/client.toml
  configs/swarm/docker-compose.local.yml
  configs/swarm/docker-compose.single.yml
  configs/swarm/docker-compose.yml
  crypto/src/lib.rs
  scripts/test_env.py
  tools/swarm/src/compose.rs
Labels: iroha2, config-changes, UI, crypto

#4182 [fix] #4082: Remove cloning for ISI and query execution in wasm
  client/tests/integration/smartcontracts/executor_with_custom_token/src/lib.rs
  client_cli/pytests/test/__init__.py
  client_cli/pytests/test/accounts/conftest.py
  client_cli/pytests/test/accounts/test_register_accounts.py
  client_cli/pytests/test/assets/conftest.py
  client_cli/pytests/test/assets/test_register_asset_definitions.py
  client_cli/pytests/test/conftest.py
  client_cli/pytests/test/domains/conftest.py
  client_cli/pytests/test/domains/test_register_domains.py
  config/tests/fixtures.rs
  config/tests/fixtures/full.toml
  configs/swarm/executor.wasm
  core/src/smartcontracts/wasm.rs
  data_model/derive/src/enum_ref.rs
  data_model/derive/src/lib.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/query/mod.rs
  data_model/src/smart_contract.rs
  docs/source/references/schema.json
  primitives/src/addr.rs
  smart_contract/executor/derive/src/token.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/default/tokens.rs
  smart_contract/executor/src/permission.rs
  smart_contract/src/lib.rs
Labels: iroha2, api-changes
