Repository hyperledger-iroha/iroha, pull requests merged in 2024-03, with the labels that each got.

#4318 Update CODEOWNERS: remove Kshitij Roodkee
  .github/CODEOWNERS
Labels: iroha2

#4334 [BACKPORT] #3962: Revoke associated tokens on entity unregistration
  client/tests/integration/permissions.rs
  client/tests/integration/smartcontracts/executor_with_custom_token/src/lib.rs
  configs/peer/executor.wasm
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/default/tokens.rs
  smart_contract/executor/src/lib.rs
  smart_contract/executor/src/permission.rs
Labels: iroha2

#4342 [refactor] #4126: test to prevent cross chain replay attacks
  client/tests/integration/asset.rs
  client/tests/integration/mod.rs
  client/tests/integration/tx_chain_id.rs
Labels: iroha2

#4305 [refactor]: remove `Value` enum
  client/src/client.rs
  client/src/query_builder.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/queries/asset.rs
  client/tests/integration/queries/mod.rs
  client/tests/integration/roles.rs
  client/tests/integration/smartcontracts/create_nft_for_every_user_trigger/src/lib.rs
  client/tests/integration/smartcontracts/query_assets_and_save_cursor/src/lib.rs
  client/tests/integration/sorting.rs
  client/tests/integration/transfer_asset.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/data_trigger.rs
  client/tests/integration/triggers/event_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/tx_history.rs
  client_cli/src/main.rs
  configs/swarm/executor.wasm
  core/src/query/store.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/asset.rs
  core/src/smartcontracts/isi/domain.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/tx.rs
  core/src/smartcontracts/wasm.rs
  core/src/wsv.rs
  core/test_network/src/lib.rs
  data_model/Cargo.toml
  data_model/src/account.rs
  data_model/src/asset.rs
  data_model/src/domain.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/mod.rs
  data_model/src/integer.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/metadata.rs
  data_model/src/peer.rs
  data_model/src/permission.rs
  data_model/src/query/mod.rs
  data_model/src/query/predicate.rs
  docs/source/references/schema.json
  genesis/src/lib.rs
  primitives/numeric/src/lib.rs
  primitives/src/unique_vec.rs
  schema/gen/src/lib.rs
  smart_contract/executor/src/default.rs
  smart_contract/src/lib.rs
  tools/kagami/src/genesis.rs
  tools/parity_scale_decoder/src/main.rs
  torii/src/routing.rs
Labels: iroha2, api-changes

#4341 [refactor] #4339: refactor `iroha_crypto`, update API
  cli/src/lib.rs
  cli/src/samples.rs
  client/benches/torii.rs
  client/benches/tps/utils.rs
  client/examples/million_accounts_genesis.rs
  client/examples/tutorial.rs
  client/src/client.rs
  client/tests/integration/asset.rs
  client/tests/integration/asset_propagation.rs
  client/tests/integration/burn_public_keys.rs
  client/tests/integration/domain_owner_permissions.rs
  client/tests/integration/extra_functional/multiple_blocks_created.rs
  client/tests/integration/extra_functional/offline_peers.rs
  client/tests/integration/extra_functional/unregister_peer.rs
  client/tests/integration/mod.rs
  client/tests/integration/multisignature_account.rs
  client/tests/integration/multisignature_transaction.rs
  client/tests/integration/permissions.rs
  client/tests/integration/queries/asset.rs
  client/tests/integration/roles.rs
  client/tests/integration/transfer_asset.rs
  client/tests/integration/tx_chain_id.rs
  client/tests/integration/upgrade.rs
  config/src/parameters/user.rs
  core/benches/blocks/apply_blocks.rs
  core/benches/blocks/common.rs
  core/benches/blocks/validate_blocks.rs
  core/benches/kura.rs
  core/benches/validation.rs
  core/src/block.rs
  core/src/queue.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/wasm.rs
  core/src/sumeragi/main_loop.rs
  core/src/sumeragi/network_topology.rs
  core/test_network/src/lib.rs
  crypto/Cargo.toml
  crypto/src/lib.rs
  crypto/src/multihash.rs
  crypto/src/signature/bls/implementation.rs
  crypto/src/signature/bls/mod.rs
  crypto/src/signature/ed25519.rs
  crypto/src/signature/mod.rs
  crypto/src/signature/secp256k1.rs
  data_model/src/account.rs
  data_model/src/events/data/filters.rs
  data_model/src/query/predicate.rs
  genesis/src/lib.rs
  p2p/tests/integration/p2p.rs
  tools/kagami/src/crypto.rs
  tools/kagami/src/genesis.rs
  tools/swarm/src/compose.rs
Labels: iroha2, api-changes, Refactor, crypto

#4284 [feature] #4116: Add test for plain == scale encoded verification for status request
  client/src/client.rs
  client/src/lib.rs
  client/tests/integration/mod.rs
  client/tests/integration/status_response.rs
  telemetry/src/metrics.rs
Labels: Enhancement, iroha2, Tests

#4365 [feature] #4059: snapshots "mode"
  cli/src/lib.rs
  config/src/kura.rs
  config/src/lib.rs
  config/src/parameters/actual.rs
  config/src/parameters/defaults.rs
  config/src/parameters/user.rs
  config/src/parameters/user/boilerplate.rs
  config/src/snapshot.rs
  config/tests/fixtures.rs
  config/tests/fixtures/full.env
  config/tests/fixtures/full.toml
  configs/peer.template.toml
  core/benches/kura.rs
  core/src/kura.rs
  core/src/queue.rs
  core/src/snapshot.rs
Labels: Enhancement, iroha2, config-changes

#4374 [fix] #0000: Disable snapshot read/write in tests
  cli/src/samples.rs
Labels: Bug, iroha2

#4367 [fix] #4292, #4327: Docker follow-up on configuration update
  Cargo.lock
  Dockerfile
  Dockerfile.glibc
  config/Cargo.toml
  config/base/Cargo.toml
  config/base/src/lib.rs
  config/src/parameters/user/boilerplate.rs
  config/tests/fixtures.rs
  config/tests/fixtures/full.env
  tools/swarm/src/compose.rs
Labels: Bug, iroha2, config-changes, CI

#4370 [refactor] #4291: update genesis config & schema
  cli/src/lib.rs
  client/benches/torii.rs
  client/examples/million_accounts_genesis.rs
  config/tests/fixtures/empty_ok_genesis.json
  configs/swarm/genesis.json
  core/test_network/src/lib.rs
  docs/source/references/schema.json
  genesis/Cargo.toml
  genesis/src/lib.rs
  schema/gen/src/lib.rs
  tools/kagami/src/genesis.rs
Labels: question, iroha2, api-changes, config-changes, Refactor

#4375 [refactor] #4259: Make Action and Filter non-generic types
  client/src/client.rs
  client/tests/integration/domain_owner_permissions.rs
  client/tests/integration/events/notification.rs
  client/tests/integration/triggers/by_call_trigger.rs
  client/tests/integration/triggers/data_trigger.rs
  client/tests/integration/triggers/event_trigger.rs
  client/tests/integration/triggers/time_trigger.rs
  client/tests/integration/triggers/trigger_rollback.rs
  configs/swarm/executor.wasm
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/query.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/smartcontracts/isi/triggers/specialized.rs
  core/src/wsv.rs
  data_model/src/events/data/events.rs
  data_model/src/events/mod.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/query/mod.rs
  data_model/src/trigger.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  smart_contract/executor/derive/src/default.rs
  smart_contract/executor/src/default.rs
  tools/parity_scale_decoder/build.rs
  tools/parity_scale_decoder/src/main.rs
Labels: iroha2, api-changes, Refactor

#4377 [refactor] #4323: telemetry features, tokio console, logs, and configuration
  Cargo.toml
  cli/Cargo.toml
  cli/src/lib.rs
  cli/src/main.rs
  client/Cargo.toml
  config/Cargo.toml
  config/src/parameters/actual.rs
  config/src/parameters/defaults.rs
  config/src/parameters/user.rs
  config/src/parameters/user/boilerplate.rs
  config/tests/fixtures.rs
  config/tests/fixtures/absolute_paths.toml
  config/tests/fixtures/full.toml
  configs/peer.template.toml
  core/Cargo.toml
  logger/Cargo.toml
  logger/src/lib.rs
  logger/tests/setting_logger.rs
  telemetry/src/dev.rs
  torii/src/lib.rs
  torii/src/routing.rs
Labels: Enhancement, iroha2, api-changes, config-changes, Refactor

#4381 [feature] #4350: Expose event set bitfields in schema
  data_model/derive/src/event_set.rs
  data_model/src/events/data/events.rs
  data_model/src/events/data/mod.rs
  docs/source/references/schema.json
  schema/src/lib.rs
  schema/src/serialize.rs
Labels: Enhancement, iroha2, api-changes

#4391 [feature] #4390: include trigger id in trigger entrypoint
  client/tests/integration/events/data.rs
  client/tests/integration/queries/role.rs
  client/tests/integration/roles.rs
  client/tests/integration/smartcontracts/create_nft_for_every_user_trigger/src/lib.rs
  client/tests/integration/smartcontracts/mint_rose_trigger/src/lib.rs
  client/tests/integration/smartcontracts/query_assets_and_save_cursor/Cargo.toml
  client/tests/integration/smartcontracts/query_assets_and_save_cursor/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  config/src/parameters/actual.rs
  config/src/parameters/user.rs
  config/src/parameters/user/boilerplate.rs
  config/tests/fixtures.rs
  configs/swarm/executor.wasm
  configs/swarm/genesis.json
  core/src/smartcontracts/isi/account.rs
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/triggers/specialized.rs
  core/src/smartcontracts/wasm.rs
  core/src/state.rs
  data_model/src/events/data/events.rs
  data_model/src/isi.rs
  data_model/src/lib.rs
  data_model/src/smart_contract.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  smart_contract/executor/derive/src/default.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/default/tokens.rs
  smart_contract/executor/src/permission.rs
  smart_contract/src/lib.rs
  smart_contract/trigger/derive/src/entrypoint.rs
  tools/kagami/src/genesis.rs
Labels: Enhancement, iroha2, api-changes

#4394 [BACKPORT] #4390: include trigger id in trigger entrypoint
  client/tests/integration/smartcontracts/create_nft_for_every_user_trigger/src/lib.rs
  client/tests/integration/smartcontracts/mint_rose_trigger/src/lib.rs
  client/tests/integration/triggers/by_call_trigger.rs
  config/iroha_test_config.json
  config/src/wsv.rs
  configs/peer/config.json
  configs/peer/executor.wasm
  configs/peer/genesis.json
  configs/peer/stable/config.json
  configs/peer/stable/genesis.json
  core/src/smartcontracts/isi/mod.rs
  core/src/smartcontracts/isi/triggers/mod.rs
  core/src/smartcontracts/isi/triggers/set.rs
  core/src/smartcontracts/wasm.rs
  data_model/src/events/data/events.rs
  data_model/src/lib.rs
  data_model/src/smart_contract.rs
  data_model/src/visit.rs
  docs/source/references/schema.json
  schema/gen/src/lib.rs
  smart_contract/executor/derive/src/default.rs
  smart_contract/executor/src/default.rs
  smart_contract/executor/src/default/tokens.rs
  smart_contract/trigger/derive/src/entrypoint.rs
  tools/kagami/src/genesis.rs
Labels: iroha2

#4396 [fix] #4395: Fix MinSize for ChaCha20Poly1305
  crypto/src/encryption/chacha20poly1305.rs
Labels: Bug, iroha2
