Repository hyperledger-iroha/iroha, pull requests merged in 2025-07, with the labels that each got.

#5478 chore: fix some minor issues in the comments
  crates/iroha_data_model/src/isi.rs
  crates/iroha_data_model/src/parameter.rs
  crates/iroha_ffi/src/handle.rs
  crates/iroha_smart_contract_utils/src/lib.rs
Labels: Documentation

#5479 test: add test for transfer with wrong AssetId
  integration_tests/tests/transfer_asset.rs
Labels: Tests

#5449 feat(kagami wasm): forward extra arguments to cargo
  Cargo.lock
  crates/iroha_kagami/Cargo.toml
  crates/iroha_kagami/CommandLineHelp.md
  crates/iroha_kagami/src/main.rs
  crates/iroha_kagami/src/wasm.rs
  crates/iroha_wasm_builder/src/lib.rs
  scripts/build_wasm.sh
Labels: Enhancement

#5480 feat(core): implement blocks storage pruning
  crates/iroha_core/src/kura.rs
Labels: Enhancement, Refactor

#5492 feat(core): add a constructor for `LiveQueryStoreHandle`
  crates/iroha_core/src/query/store.rs
Labels: Chore

#5484 refactor(data-model, core): extend prelude & re-exports
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/tx.rs
  crates/iroha_data_model/src/block.rs
  crates/iroha_data_model/src/lib.rs
  crates/iroha_schema_gen/src/lib.rs
Labels: Refactor, Chore

#5489 refactor: redefine signatures as named-field structs
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
  crates/iroha_core/src/sumeragi/message.rs
  crates/iroha_core/src/sumeragi/network_topology.rs
  crates/iroha_core/src/sumeragi/view_change.rs
  crates/iroha_data_model/src/block.rs
  crates/iroha_kagami/src/wasm.rs
  docs/source/references/schema.json
Labels: api-changes, Refactor

#5483 refactor(core, kura): `Kura::blocks_count`; change some Kura signatures & docs
  crates/iroha_core/src/kura.rs
  crates/iroha_core/src/snapshot.rs
Labels: Refactor, Chore

#5471 feat(transactions)!: integrate trigger executions into the transaction model
  crates/iroha_cli/src/main.rs
  crates/iroha_core/benches/validation.rs
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/kura.rs
  crates/iroha_core/src/smartcontracts/isi/query.rs
  crates/iroha_core/src/smartcontracts/isi/triggers/mod.rs
  crates/iroha_core/src/smartcontracts/isi/tx.rs
  crates/iroha_core/src/smartcontracts/wasm.rs
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
  crates/iroha_core/src/telemetry.rs
  crates/iroha_core/src/tx.rs
  crates/iroha_core/tests/fixtures/data_trigger/commits_on_depleting_lives-time.json
  crates/iroha_core/tests/fixtures/data_trigger/commits_on_regular_success-time.json
  crates/iroha_core/tests/fixtures/time_trigger/fires_after_external_transactions.json
  crates/iroha_crypto/src/merkle.rs
  crates/iroha_data_model/Cargo.toml
  crates/iroha_data_model/src/block.rs
  crates/iroha_data_model/src/events/pipeline.rs
  crates/iroha_data_model/src/query/dsl/predicates.rs
  crates/iroha_data_model/src/query/dsl/type_descriptions.rs
  crates/iroha_data_model/src/query/mod.rs
  crates/iroha_data_model/src/transaction.rs
  crates/iroha_genesis/src/lib.rs
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_test_network/src/lib.rs
  docs/source/references/schema.json
  integration_tests/Cargo.toml
  integration_tests/tests/queries/mod.rs
  integration_tests/tests/triggers/execution_log.rs
  integration_tests/tests/triggers/mod.rs
  integration_tests/tests/tx_history.rs
Labels: Enhancement, api-changes

#5499 chore: fix some minor issues in comments
  crates/iroha/src/http.rs
  crates/iroha_core/src/lib.rs
  crates/iroha_core/src/queue.rs
  crates/iroha_ffi/src/repr_c.rs
  crates/iroha_schema_derive/src/trait_bounds.rs
  crates/iroha_test_network/src/lib.rs
Labels: Documentation
