Repository hyperledger-iroha/iroha, pull requests merged in 2025-02, with the labels that each got.

#5299 docs(testnet): update instructions for running a client-only container
  defaults/README.md
  defaults/docker-compose.volunteer.client.yml
  defaults/docker-compose.volunteer.yml
Labels: Documentation, testnet/2.0.0-rc.1

#5289 feat(cli): add `iroha transaction get` and other important commands
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-no-incorrect-image.yml
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/iroha_cli/Cargo.toml
  crates/iroha_cli/CommandLineHelp.md
  crates/iroha_cli/README.md
  crates/iroha_cli/docs/multisig.md
  crates/iroha_cli/samples/instructions.json
  crates/iroha_cli/samples/parameter.json
  crates/iroha_cli/samples/query.json
  crates/iroha_cli/src/main.rs
  crates/iroha_core/src/smartcontracts/wasm/cache.rs
  crates/iroha_data_model/src/isi.rs
  crates/iroha_smart_contract_utils/src/lib.rs
  hooks/pre-commit.sample
  pytests/iroha_cli_tests/src/iroha_cli/iroha_cli.py
  pytests/iroha_cli_tests/test/events/test_listen_events.py
  scripts/tests/consistency.sh
  scripts/tests/multisig.instructions.json
  scripts/tests/multisig.recursion.sh
  scripts/tests/multisig.sh
  scripts/tests/tick.json
Labels: Enhancement, CLI

#5290 feat(cli, 2.0.0-rc.1): add `iroha transaction get` and other important commands
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-no-incorrect-image.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/iroha_cli/Cargo.toml
  crates/iroha_cli/CommandLineHelp.md
  crates/iroha_cli/README.md
  crates/iroha_cli/docs/multisig.md
  crates/iroha_cli/samples/instructions.json
  crates/iroha_cli/samples/parameter.json
  crates/iroha_cli/samples/query.json
  crates/iroha_cli/src/main.rs
  crates/iroha_core/src/smartcontracts/wasm/cache.rs
  crates/iroha_data_model/src/isi.rs
  crates/iroha_smart_contract_utils/src/lib.rs
  hooks/pre-commit.sample
  pytests/iroha_cli_tests/src/iroha_cli/iroha_cli.py
  pytests/iroha_cli_tests/test/events/test_listen_events.py
  scripts/tests/consistency.sh
  scripts/tests/multisig.instructions.json
  scripts/tests/multisig.recursion.sh
  scripts/tests/multisig.sh
  scripts/tests/tick.json
  wasm/Cargo.toml
  wasm/samples/mint_rose_trigger/Cargo.toml
Labels: Enhancement, CLI, 2.0.0-rc.1

#5316 docs(cli, testnet/2.0.0-rc.1): fixup #5291
  .github/workflows/iroha2-dev-pr.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/iroha_cli/CommandLineHelp.md
  crates/iroha_cli/README.md
  crates/iroha_cli/docs/multisig.md
  crates/iroha_cli/samples/parameter.json
  crates/iroha_cli/samples/query.json
  crates/iroha_cli/src/main.rs
  crates/iroha_core/src/smartcontracts/wasm/cache.rs
  crates/iroha_data_model/src/parameter.rs
  crates/iroha_smart_contract_utils/src/lib.rs
  scripts/tests/tick.json
  wasm/Cargo.toml
  wasm/samples/mint_rose_trigger/Cargo.toml
Labels: Documentation, CLI, testnet/2.0.0-rc.1

#5310 fix(crypto): expose `Signature::payload` getter (#5302)
  crates/iroha_crypto/src/signature/mod.rs
Labels: crypto

#5321 docs: add `network.public_address` to `peer.template.toml`
  docs/source/references/peer.template.toml
Labels: Documentation, config-changes

#5322 chore: remove redundant consts from `iroha_torii_const`
  crates/iroha_torii_const/src/lib.rs
Labels: api-changes, Chore

#5282 refactor: Umbrella Iroha CLI
  .github/workflows/iroha2-dev-pr-wasm.yml
  CONTRIBUTING.md
  Cargo.lock
  crates/iroha_codec/Cargo.toml
  crates/iroha_kagami/Cargo.toml
  crates/iroha_kagami/CommandLineHelp.md
  crates/iroha_kagami/README.md
  crates/iroha_kagami/build.rs
  crates/iroha_kagami/docs/codec.md
  crates/iroha_kagami/docs/kura.md
  crates/iroha_kagami/docs/swarm.md
  crates/iroha_kagami/docs/wasm.md
  crates/iroha_kagami/samples/codec/account.bin
  crates/iroha_kagami/samples/codec/account.json
  crates/iroha_kagami/samples/codec/domain.bin
  crates/iroha_kagami/samples/codec/domain.json
  crates/iroha_kagami/samples/codec/trigger.bin
  crates/iroha_kagami/samples/codec/trigger.json
  crates/iroha_kagami/src/codec.rs
  crates/iroha_kagami/src/kura.rs
  crates/iroha_kagami/src/main.rs
  crates/iroha_kagami/src/swarm.rs
  crates/iroha_kagami/src/wasm.rs
  crates/iroha_swarm/Cargo.toml
  crates/iroha_wasm_builder/Cargo.toml
  crates/iroha_wasm_builder/src/main.rs
  crates/kura_inspector/Cargo.toml
  defaults/docker-compose.local.yml
  defaults/docker-compose.single.yml
  defaults/docker-compose.yml
  docs/README.md
  flake.nix
  hooks/pre-commit.sample
  scripts/build_wasm.sh
  scripts/tests/consistency.sh
  wasm/libs/default_executor/README.md
Labels: CLI, config-changes

#5308 feat!: Separate fungible and non-fungible assets
  crates/iroha/tests/asset.rs
  crates/iroha/tests/asset_propagation.rs
  crates/iroha/tests/extra_functional/multiple_blocks_created.rs
  crates/iroha/tests/extra_functional/offline_peers.rs
  crates/iroha/tests/extra_functional/restart_peer.rs
  crates/iroha/tests/extra_functional/unregister_peer.rs
  crates/iroha/tests/nft.rs
  crates/iroha/tests/non_mintable.rs
  crates/iroha/tests/permissions.rs
  crates/iroha/tests/queries/account.rs
  crates/iroha/tests/queries/asset.rs
  crates/iroha/tests/sorting.rs
  crates/iroha/tests/transfer_asset.rs
  crates/iroha/tests/transfer_domain.rs
  crates/iroha/tests/triggers/data_trigger.rs
  crates/iroha/tests/triggers/mod.rs
  crates/iroha/tests/triggers/time_trigger.rs
  crates/iroha/tests/tx_chain_id.rs
  crates/iroha/tests/upgrade.rs
  crates/iroha_cli/CommandLineHelp.md
  crates/iroha_cli/README.md
  crates/iroha_cli/src/main.rs
  crates/iroha_core/src/smartcontracts/isi/account.rs
  crates/iroha_core/src/smartcontracts/isi/asset.rs
  crates/iroha_core/src/smartcontracts/isi/mod.rs
  crates/iroha_core/src/smartcontracts/isi/nft.rs
  crates/iroha_core/src/smartcontracts/isi/query.rs
  crates/iroha_core/src/smartcontracts/isi/world.rs
  crates/iroha_core/src/state.rs
  crates/iroha_data_model/src/asset.rs
  crates/iroha_data_model/src/events/data/events.rs
  crates/iroha_data_model/src/events/data/filters.rs
  crates/iroha_data_model/src/events/mod.rs
  crates/iroha_data_model/src/isi.rs
  crates/iroha_data_model/src/lib.rs
  crates/iroha_data_model/src/name.rs
  crates/iroha_data_model/src/nft.rs
  crates/iroha_data_model/src/query/dsl/predicates.rs
  crates/iroha_data_model/src/query/dsl/type_descriptions.rs
  crates/iroha_data_model/src/query/mod.rs
  crates/iroha_data_model/src/visit.rs
  crates/iroha_executor/src/default/mod.rs
  crates/iroha_executor/src/permission.rs
  crates/iroha_executor_data_model/src/permission.rs
  crates/iroha_executor_derive/src/default.rs
  crates/iroha_genesis/src/lib.rs
  crates/iroha_kagami/samples/codec/trigger.bin
  crates/iroha_kagami/src/genesis/generate.rs
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_smart_contract/src/lib.rs
  defaults/genesis.json
  docs/source/references/schema.json
  pytests/iroha_cli_tests/common/consts.py
  wasm/samples/create_nft_for_every_user_trigger/src/lib.rs
  wasm/samples/executor_custom_instructions_complex/src/lib.rs
  wasm/samples/smart_contract_can_filter_queries/src/lib.rs
Labels: api-changes, config-changes
