Repository hyperledger-iroha/iroha, pull requests merged in 2025-05, with the labels that each got.

#5380 feat: add commit time metrics
  .config/nextest.toml
  Cargo.lock
  crates/iroha/Cargo.toml
  crates/iroha_core/benches/blocks/common.rs
  crates/iroha_core/benches/kura.rs
  crates/iroha_core/benches/validation.rs
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/lib.rs
  crates/iroha_core/src/metrics.rs
  crates/iroha_core/src/smartcontracts/isi/asset.rs
  crates/iroha_core/src/snapshot.rs
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
  crates/iroha_core/src/sumeragi/mod.rs
  crates/iroha_core/src/telemetry.rs
  crates/iroha_data_model/src/transaction.rs
  crates/iroha_p2p/src/network.rs
  crates/iroha_primitives/src/time.rs
  crates/iroha_telemetry/src/metrics.rs
  crates/iroha_test_network/Cargo.toml
  crates/iroha_test_network/src/lib.rs
  crates/iroha_torii/src/lib.rs
  crates/iroha_torii/src/routing.rs
  crates/irohad/src/main.rs
  docs/source/references/schema.json
  integration_tests/Cargo.toml
  integration_tests/tests/queries/mod.rs
  integration_tests/tests/roles.rs
  integration_tests/tests/telemetry.rs
  integration_tests/tests/triggers/by_call_trigger.rs
  integration_tests/tests/triggers/time_trigger.rs
Labels: api-changes

#5415 chore: do not run Pull Request CI on push to main
  .github/workflows/pr.yml
Labels: CI, Chore

#5405 perf: Implemented custom storage for transactions hashes
  Cargo.lock
  Cargo.toml
  crates/iroha_core/Cargo.toml
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/queue.rs
  crates/iroha_core/src/snapshot.rs
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/state/storage_transactions.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
Labels: Performance

#5400 feat(testnet): add default roles with modifiable permissions
  crates/iroha_cli/samples/permission.json
  crates/iroha_executor/src/default/mod.rs
  crates/iroha_kagami/src/genesis/generate.rs
  defaults/genesis.json
  scripts/build_wasm.sh
  wasm/libs/default_executor/src/lib.rs
  wasm/libs/trigger_default_roles/Cargo.toml
  wasm/libs/trigger_default_roles/src/lib.rs
Labels: Enhancement, testnet/2.0.0-rc.1

#5417 chore(release): bump version to v2.0.0-rc.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cliff.toml
  wasm/Cargo.toml
  wasm/samples/mint_rose_trigger/Cargo.toml
Labels: Release

#5418 ci: fix Docker image build and push by upgrading to latest buildx
  .github/workflows/publish.yml
Labels: CI

#5419 chore(rust): bump Rust toolchain to nightly-2025-05-08
  .github/workflows/ci_image.yml
  .github/workflows/pr.yml
  .github/workflows/pr_docker_compose.yml
  .github/workflows/pr_python_static.yml
  .github/workflows/publish.yml
  .github/workflows/publish_custom.yml
  .github/workflows/publish_dev.yml
  Dockerfile
  Dockerfile.build
  crates/iroha_wasm_builder/src/lib.rs
  hooks/pre-commit.sample
  rust-toolchain.toml
Labels: version bump

#5426 ci: fix labeler
  .github/workflows/pr.yml
  .github/workflows/pr_labels.yml
Labels: Bug, config-changes, CI

#5394 feat: could run `iroha` with envs only; add `iroha` tests
  .github/workflows/pr.yml
  Cargo.lock
  crates/iroha/Cargo.toml
  crates/iroha/examples/tutorial.rs
  crates/iroha/src/config.rs
  crates/iroha/src/config/user.rs
  crates/iroha_cli/CommandLineHelp.md
  crates/iroha_cli/src/main.rs
  crates/iroha_config_base/src/env.rs
  crates/iroha_data_model/src/lib.rs
  crates/iroha_test_network/Cargo.toml
  crates/iroha_test_network/src/lib.rs
  crates/iroha_test_samples/src/lib.rs
  integration_tests/Cargo.toml
  integration_tests/tests/iroha_cli.rs
  integration_tests/tests/upgrade.rs
Labels: config-changes, Tests

#5436 feat: enhance `consistency.sh`
  .github/workflows/pr.yml
  scripts/tests/consistency.sh
Labels: Enhancement, Refactor, Tests

#5424 refactor: further enhance modularity of test network
  .github/workflows/pr.yml
  Cargo.lock
  crates/iroha/src/client.rs
  crates/iroha_test_network/src/config.rs
  crates/iroha_test_network/src/fslock_ports.rs
  crates/iroha_test_network/src/lib.rs
  integration_tests/Cargo.toml
  integration_tests/tests/config.rs
  integration_tests/tests/extra_functional/connected_peers.rs
  integration_tests/tests/extra_functional/genesis.rs
  integration_tests/tests/extra_functional/offline_peers.rs
  integration_tests/tests/extra_functional/restart_peer.rs
  integration_tests/tests/extra_functional/unregister_peer.rs
  integration_tests/tests/iroha_cli.rs
  integration_tests/tests/permissions.rs
  integration_tests/tests/roles.rs
  integration_tests/tests/telemetry.rs
Labels: Enhancement, Refactor, Tests

#5445 perf: Store public keys in compact format
  crates/iroha_crypto/src/lib.rs
  crates/iroha_crypto/src/signature/ed25519.rs
  crates/iroha_crypto/src/signature/mod.rs
Labels: Optimization

#5430 fix(triggers)!: switch to per-transaction execution with depth limit
  Cargo.lock
  crates/iroha_core/Cargo.toml
  crates/iroha_core/benches/blocks/apply_blocks.rs
  crates/iroha_core/benches/blocks/apply_blocks_benchmark.rs
  crates/iroha_core/benches/blocks/apply_blocks_oneshot.rs
  crates/iroha_core/benches/blocks/common.rs
  crates/iroha_core/benches/blocks/common/mod.rs
  crates/iroha_core/benches/kura.rs
  crates/iroha_core/benches/validation.rs
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/kura.rs
  crates/iroha_core/src/smartcontracts/isi/query.rs
  crates/iroha_core/src/smartcontracts/isi/triggers/mod.rs
  crates/iroha_core/src/smartcontracts/isi/triggers/set.rs
  crates/iroha_core/src/smartcontracts/isi/triggers/specialized.rs
  crates/iroha_core/src/smartcontracts/isi/world.rs
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
  crates/iroha_core/src/telemetry.rs
  crates/iroha_core/src/tx.rs
  crates/iroha_core/tests/fixtures/data_trigger/aborts_on_exceeding_depth-time.json
  crates/iroha_core/tests/fixtures/data_trigger/aborts_on_exceeding_depth-txn.json
  crates/iroha_core/tests/fixtures/data_trigger/aborts_on_execution_error-time.json
  crates/iroha_core/tests/fixtures/data_trigger/aborts_on_execution_error-txn.json
  crates/iroha_core/tests/fixtures/data_trigger/chains_in_depth_first_order.json
  crates/iroha_core/tests/fixtures/data_trigger/commits_on_depleting_lives-time.json
  crates/iroha_core/tests/fixtures/data_trigger/commits_on_depleting_lives-txn.json
  crates/iroha_core/tests/fixtures/data_trigger/commits_on_regular_success-time.json
  crates/iroha_core/tests/fixtures/data_trigger/commits_on_regular_success-txn.json
  crates/iroha_core/tests/fixtures/data_trigger/each_branch_is_assigned_depth.json
  crates/iroha_core/tests/fixtures/data_trigger/fires_at_most_once_per_step.json
  crates/iroha_core/tests/fixtures/data_trigger/fires_for_each_transaction.json
  crates/iroha_core/tests/fixtures/time_trigger/fires_after_external_transactions.json
  crates/iroha_data_model/src/parameter.rs
  crates/iroha_data_model/src/transaction.rs
  crates/iroha_data_model/src/trigger.rs
  crates/iroha_schema_gen/src/lib.rs
  defaults/genesis.json
  docs/source/references/schema.json
  integration_tests/Cargo.toml
  integration_tests/tests/events/notification.rs
  integration_tests/tests/triggers/by_call_trigger.rs
  integration_tests/tests/triggers/data_trigger.rs
  integration_tests/tests/triggers/event_trigger.rs
  integration_tests/tests/triggers/mod.rs
  integration_tests/tests/triggers/orphans.rs
  integration_tests/tests/triggers/time_trigger.rs
  integration_tests/tests/triggers/trigger_rollback.rs
  wasm/samples/trigger_cat_and_mouse/Cargo.toml
  wasm/samples/trigger_cat_and_mouse/src/lib.rs
Labels: Bug, api-changes, config-changes
