Repository hyperledger-iroha/iroha, pull requests merged in 2025-06, with the labels that each got.

#5460 feat(testnet): cherry-pick testnet-specific features from RC1
  .github/workflows/pr.yml
  .github/workflows/pr_docker_compose.yml
  .github/workflows/pr_python_static.yml
  .github/workflows/publish_dev.yml
  Cargo.lock
  crates/iroha/src/config.rs
  crates/iroha/src/config/user.rs
  crates/iroha/src/secrecy.rs
  crates/iroha_cli/samples/permission.json
  crates/iroha_config_base/Cargo.toml
  crates/iroha_config_base/src/util.rs
  crates/iroha_data_model/src/lib.rs
  crates/iroha_executor/src/default/mod.rs
  crates/iroha_kagami/src/genesis/generate.rs
  crates/iroha_swarm/src/lib.rs
  crates/iroha_test_network/src/config.rs
  defaults/README.md
  defaults/docker-compose.volunteer.client.yml
  defaults/docker-compose.volunteer.yml
  defaults/docker-compose.yml
  defaults/genesis.json
  docs/source/references/client.template.toml
  hooks/pre-commit.sample
  integration_tests/tests/triggers/data_trigger.rs
  scripts/build_wasm.sh
  scripts/tests/consistency.sh
  wasm/Cargo.lock
  wasm/libs/default_executor/src/lib.rs
  wasm/libs/trigger_airdrop/Cargo.toml
  wasm/libs/trigger_airdrop/src/lib.rs
  wasm/libs/trigger_default_roles/Cargo.toml
  wasm/libs/trigger_default_roles/src/lib.rs
Labels: testnet/2.0.0-rc.2

#5456 ci(xx): add buildx setup step
  .github/workflows/publish_xx.yml
Labels: Bug, CI

#5468 ci(xx): do not push to Soramitsu Harbor (auth problems)
  .github/workflows/publish_xx.yml
Labels: CI

#5457 test(executor): describe error behavior in trigger context
  crates/iroha_core/src/state.rs
  integration_tests/tests/upgrade.rs
  wasm/Cargo.lock
  wasm/samples/executor_with_fuel/Cargo.toml
  wasm/samples/executor_with_fuel/src/lib.rs
Labels: Bug, Tests, Executor

#5463 perf: Reduce memory usage of `World::accounts` and similar maps
  crates/iroha_core/examples/memory.rs
  crates/iroha_core/src/smartcontracts/isi/account.rs
  crates/iroha_core/src/smartcontracts/isi/asset.rs
  crates/iroha_core/src/smartcontracts/isi/domain.rs
  crates/iroha_core/src/smartcontracts/isi/mod.rs
  crates/iroha_core/src/smartcontracts/isi/nft.rs
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/tx.rs
  crates/iroha_data_model/src/account.rs
  crates/iroha_data_model/src/asset.rs
  crates/iroha_data_model/src/lib.rs
  crates/iroha_data_model/src/nft.rs
  crates/iroha_data_model/src/query/dsl/compound_predicate.rs
Labels: Optimization

#5470 refactor(iroha_core, iroha_data_model): move `trait Registrable` to the data model
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/queue.rs
  crates/iroha_core/src/smartcontracts/isi/account.rs
  crates/iroha_core/src/smartcontracts/isi/asset.rs
  crates/iroha_core/src/smartcontracts/isi/domain.rs
  crates/iroha_core/src/smartcontracts/isi/mod.rs
  crates/iroha_core/src/smartcontracts/isi/nft.rs
  crates/iroha_core/src/smartcontracts/isi/query.rs
  crates/iroha_core/src/smartcontracts/isi/world.rs
  crates/iroha_core/src/smartcontracts/wasm.rs
  crates/iroha_data_model/src/account.rs
  crates/iroha_data_model/src/asset.rs
  crates/iroha_data_model/src/domain.rs
  crates/iroha_data_model/src/lib.rs
  crates/iroha_data_model/src/nft.rs
  crates/iroha_data_model/src/role.rs
Labels: Refactor, Chore

#5475 fix: inherit trigger authority from entrypoint authority
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/tx.rs
Labels: Bug

#5467 feat(merkle): implement inclusion proof generation and verification
  crates/iroha_core/src/block.rs
  crates/iroha_crypto/src/lib.rs
  crates/iroha_crypto/src/merkle.rs
  crates/iroha_data_model/src/block.rs
Labels: Bug, Enhancement

#5472 refactor(iroha_core): refactor & document block validation
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/state.rs
  crates/iroha_core/src/sumeragi/mod.rs
  crates/iroha_core/src/tx.rs
  crates/iroha_data_model/src/block.rs
Labels: Refactor

#5461 feat: implement server version endpoint and sub command
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  crates/iroha/Cargo.toml
  crates/iroha/src/client.rs
  crates/iroha/src/query.rs
  crates/iroha_cli/Cargo.toml
  crates/iroha_cli/CommandLineHelp.md
  crates/iroha_cli/src/main.rs
  crates/iroha_torii/Cargo.toml
  crates/iroha_torii/build.rs
  crates/iroha_torii/src/lib.rs
  crates/iroha_torii/src/routing.rs
  crates/iroha_torii_shared/Cargo.toml
  crates/iroha_torii_shared/src/lib.rs
  integration_tests/tests/misc.rs
  pytests/iroha_cli_tests/src/iroha_cli/have.py
  pytests/iroha_cli_tests/src/iroha_cli/iroha_cli.py
  pytests/iroha_cli_tests/test/version/__init__.py
  pytests/iroha_cli_tests/test/version/conftest.py
  pytests/iroha_cli_tests/test/version/test_version.py
  pytests/iroha_torii_tests/common/schemas/get_server_version_response.json
  pytests/iroha_torii_tests/test/server_version/__init__.py
  pytests/iroha_torii_tests/test/server_version/conftest.py
  pytests/iroha_torii_tests/test/server_version/test_server_version.py
Labels: Enhancement, api-changes
