Repository hyperledger-iroha/iroha, pull requests merged in 2025-04, with the labels that each got.

#5384 refactor: revert `logger.level`, add `logger.filter`, extend config routes
  crates/iroha/src/client.rs
  crates/iroha/tests/config.rs
  crates/iroha_config/src/client_api.rs
  crates/iroha_config/src/logger.rs
  crates/iroha_config/src/parameters/user.rs
  crates/iroha_config/tests/fixtures.rs
  crates/iroha_config/tests/fixtures/full.env
  crates/iroha_core/src/kiso.rs
  crates/iroha_logger/src/lib.rs
  crates/iroha_torii/src/routing.rs
  crates/irohad/src/main.rs
  pytests/iroha_torii_tests/common/schemas/get_configuration_response_schema.json
  pytests/iroha_torii_tests/test/configuration/test_get_configuration.py
  pytests/iroha_torii_tests/test/configuration/test_post_configuration.py
Labels: api-changes, config-changes

#5387 feat: expose telemetry types in schema and client
  Cargo.lock
  crates/iroha/src/client.rs
  crates/iroha_schema_gen/Cargo.toml
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_telemetry/Cargo.toml
  crates/iroha_telemetry/src/metrics.rs
  docs/source/references/schema.json
Labels: api-changes

#5385 feat(iroha_torii): stubs for feature-gated endpoints
  crates/iroha_torii/src/lib.rs
  crates/iroha_torii/src/routing.rs
  crates/irohad/Cargo.toml
Labels: api-changes

#5397 chore: fix some comments
  crates/iroha_ffi_derive/src/lib.rs
Labels: Documentation, Chore

#5393 chore: move integrations tests out from `iroha` crate
  Cargo.lock
  Cargo.toml
  crates/iroha/Cargo.toml
  integration_tests/Cargo.toml
  integration_tests/tests/asset.rs
  integration_tests/tests/asset_propagation.rs
  integration_tests/tests/config.rs
  integration_tests/tests/events/data.rs
  integration_tests/tests/events/mod.rs
  integration_tests/tests/events/notification.rs
  integration_tests/tests/events/pipeline.rs
  integration_tests/tests/extra_functional/connected_peers.rs
  integration_tests/tests/extra_functional/genesis.rs
  integration_tests/tests/extra_functional/mod.rs
  integration_tests/tests/extra_functional/multiple_blocks_created.rs
  integration_tests/tests/extra_functional/normal.rs
  integration_tests/tests/extra_functional/offline_peers.rs
  integration_tests/tests/extra_functional/restart_peer.rs
  integration_tests/tests/extra_functional/unregister_peer.rs
  integration_tests/tests/mod.rs
  integration_tests/tests/multisig.rs
  integration_tests/tests/nft.rs
  integration_tests/tests/non_mintable.rs
  integration_tests/tests/pagination.rs
  integration_tests/tests/permissions.rs
  integration_tests/tests/queries/account.rs
  integration_tests/tests/queries/asset.rs
  integration_tests/tests/queries/metadata.rs
  integration_tests/tests/queries/mod.rs
  integration_tests/tests/queries/query_errors.rs
  integration_tests/tests/queries/role.rs
  integration_tests/tests/queries/smart_contract.rs
  integration_tests/tests/roles.rs
  integration_tests/tests/set_parameter.rs
  integration_tests/tests/sorting.rs
  integration_tests/tests/status_response.rs
  integration_tests/tests/transfer_asset.rs
  integration_tests/tests/transfer_domain.rs
  integration_tests/tests/triggers/by_call_trigger.rs
  integration_tests/tests/triggers/data_trigger.rs
  integration_tests/tests/triggers/event_trigger.rs
  integration_tests/tests/triggers/mod.rs
  integration_tests/tests/triggers/orphans.rs
  integration_tests/tests/triggers/time_trigger.rs
  integration_tests/tests/triggers/trigger_rollback.rs
  integration_tests/tests/tx_chain_id.rs
  integration_tests/tests/tx_history.rs
  integration_tests/tests/tx_rollback.rs
  integration_tests/tests/upgrade.rs
Labels: Tests
