Repository hyperledger-iroha/iroha, pull requests merged in 2025-01, with the labels that each got.

#5283 feat(testnet): test-genesis as a default, env vars for client config
  .github/workflows/iroha2-dev-nightly.yml
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr-title.yml
  .github/workflows/iroha2-dev-pr-wasm.yml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-dev.yml
  .github/workflows/iroha2-doc-links.yml
  .github/workflows/iroha2-no-incorrect-image.yml
  .github/workflows/iroha2-pr-ui.yml
  Cargo.lock
  README.md
  crates/iroha/src/config.rs
  crates/iroha/src/config/user.rs
  crates/iroha/src/secrecy.rs
  crates/iroha_config_base/Cargo.toml
  crates/iroha_config_base/src/util.rs
  crates/iroha_data_model/src/lib.rs
  crates/iroha_kagami/src/genesis/generate.rs
  crates/iroha_test_network/src/config.rs
  defaults/genesis.json
  docs/source/references/client.template.toml
Labels: config-changes

#5284 chore(testnet): replace Alice in `genesis.json`
  defaults/genesis.json
Labels: config-changes

#5278 fix: revise NonZeros
  crates/iroha_cli/src/main.rs
  crates/iroha_executor/src/default/isi/multisig/transaction.rs
  crates/iroha_executor_data_model/src/isi.rs
  docs/source/references/schema.json
Labels: api-changes

#5291 feat(cli, testnet/2.0.0-rc.1): add `iroha transaction get` and other important commands
  .github/workflows/iroha2-dev-pr.yml
  Cargo.lock
  crates/iroha_cli/Cargo.toml
  crates/iroha_cli/CommandLineHelp.md
  crates/iroha_cli/README.md
  crates/iroha_cli/samples/instructions.json
  crates/iroha_cli/samples/parameter.json
  crates/iroha_cli/samples/query.json
  crates/iroha_cli/src/main.rs
  crates/iroha_data_model/src/isi.rs
  crates/iroha_data_model/src/parameter.rs
  hooks/pre-commit.sample
  pytests/iroha_cli_tests/src/iroha_cli/iroha_cli.py
  pytests/iroha_cli_tests/test/events/test_listen_events.py
  scripts/tests/consistency.sh
  scripts/tests/multisig.instructions.json
  scripts/tests/multisig.recursion.sh
  scripts/tests/multisig.sh
  scripts/tests/tick.json
Labels: Enhancement, testnet/2.0.0-rc.1

#5288 docs(testnet): guide to launch peers and operate accounts
  crates/iroha/tests/triggers/data_trigger.rs
  crates/iroha_kagami/src/genesis/generate.rs
  defaults/README.md
  defaults/docker-compose.volunteer.yml
  defaults/docker-compose.yml
  defaults/genesis.json
  scripts/build_wasm.sh
  wasm/libs/trigger_airdrop/Cargo.toml
  wasm/libs/trigger_airdrop/src/lib.rs
Labels: Documentation, testnet/2.0.0-rc.1

#5285 ci: fix poetry usage
  .github/workflows/iroha2-dev-pr-static.yml
  .github/workflows/iroha2-dev-pr.yml
  crates/iroha_core/src/smartcontracts/wasm/cache.rs
  pytests/iroha_cli_tests/README.md
  pytests/iroha_torii_tests/README.md
Labels: CI, Tests, python

#5209 feat: Add `--release` flag to wasm_builder
  .config/nextest.toml
  .github/workflows/iroha2-dev-pr.yml
  .github/workflows/iroha2-release.yml
  Cargo.lock
  crates/iroha/tests/extra_functional/connected_peers.rs
  crates/iroha/tests/upgrade.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
  crates/iroha_test_network/src/lib.rs
  crates/iroha_test_samples/Cargo.toml
  crates/iroha_test_samples/src/lib.rs
  crates/iroha_wasm_builder/Cargo.toml
  crates/iroha_wasm_builder/src/lib.rs
  crates/iroha_wasm_builder/src/main.rs
  scripts/build_wasm.sh
  wasm/Cargo.toml
  wasm/README.md
Labels: config-changes
