Repository hyperledger-iroha/iroha, pull requests merged in 2025-03, with the labels that each got.

#5339 chore: remove unused `AssetEvent::Metadata*`
  crates/iroha_data_model/src/events/data/events.rs
  docs/source/references/schema.json
Labels: api-changes, Chore

#5337 ci: Bump Sonarqube Action version
  .github/workflows/iroha2-dev-sonar-dojo.yml
Labels: CI

#5340 refactor!: Simplify serialization of `NumericSpec` in `genesis.json`
  crates/iroha_cli/CommandLineHelp.md
  crates/iroha_cli/src/main.rs
  crates/iroha_numeric/src/lib.rs
  defaults/genesis.json
Labels: config-changes

#5320 feat!: Finalize non-empty blocks by allowing empty blocks after them
  CHANGELOG.md
  crates/iroha/tests/extra_functional/connected_peers.rs
  crates/iroha/tests/queries/mod.rs
  crates/iroha/tests/status_response.rs
  crates/iroha/tests/triggers/by_call_trigger.rs
  crates/iroha/tests/triggers/time_trigger.rs
  crates/iroha_core/src/block.rs
  crates/iroha_core/src/metrics.rs
  crates/iroha_core/src/sumeragi/main_loop.rs
  crates/iroha_data_model/src/block.rs
  crates/iroha_data_model/src/events/pipeline.rs
  crates/iroha_data_model/src/query/dsl/predicates.rs
  crates/iroha_schema_gen/src/lib.rs
  crates/iroha_telemetry/src/metrics.rs
  crates/iroha_test_network/src/lib.rs
  docs/source/references/schema.json
Labels: api-changes

#5346 chore: remove unused permissions
  crates/iroha_executor/src/default/mod.rs
  crates/iroha_executor/src/permission.rs
  crates/iroha_executor_data_model/src/permission.rs
  crates/iroha_schema_gen/src/lib.rs
  docs/source/references/schema.json
Labels: api-changes, Chore
